*~
*.la
*.lo
*.o
*.pc
.deps/
.libs/
Makefile
Makefile.in

*.o.cmd
*.ko
*.ko.cmd
*.mod.c
*.mod.o.cmd
.tmp_versions
Module.symvers
modules.order
kernel/include/linux/netfilter/ipset/ip_set_compat.h

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1

/libltdl/
