config IP_NF_SET
	tristate "IP set support"
	depends on INET && NETFILTER
	help
	  This option adds IP set support to the kernel.
	  In order to define and use sets, you need the userspace utility
	  ipset(8).

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_MAX
	int "Maximum number of IP sets"
	default 256
	range 2 65534
	depends on IP_NF_SET
	help
	  You can define here default value of the maximum number 
	  of IP sets for the kernel.

	  The value can be overriden by the 'max_sets' module
	  parameter of the 'ip_set' module.

config IP_NF_SET_HASHSIZE
	int "Hash size for bindings of IP sets"
	default 1024
	depends on IP_NF_SET
	help
	  You can define here default value of the hash size for
	  bindings of IP sets.

	  The value can be overriden by the 'hash_size' module
	  parameter of the 'ip_set' module.

config IP_NF_SET_IPMAP
	tristate "ipmap set support"
	depends on IP_NF_SET
	help
	  This option adds the ipmap set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_MACIPMAP
	tristate "macipmap set support"
	depends on IP_NF_SET
	help
	  This option adds the macipmap set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_PORTMAP
	tristate "portmap set support"
	depends on IP_NF_SET
	help
	  This option adds the portmap set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_IPHASH
	tristate "iphash set support"
	depends on IP_NF_SET
	help
	  This option adds the iphash set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_NETHASH
	tristate "nethash set support"
	depends on IP_NF_SET
	help
	  This option adds the nethash set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_IPPORTHASH
	tristate "ipporthash set support"
	depends on IP_NF_SET
	help
	  This option adds the ipporthash set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_IPPORTIPHASH
	tristate "ipportiphash set support"
	depends on IP_NF_SET
	help
	  This option adds the ipportiphash set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_IPPORTNETHASH
	tristate "ipportnethash set support"
	depends on IP_NF_SET
	help
	  This option adds the ipportnethash set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_IPTREE
	tristate "iptree set support"
	depends on IP_NF_SET
	help
	  This option adds the iptree set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_IPTREEMAP
	tristate "iptreemap set support"
	depends on IP_NF_SET
	help
	  This option adds the iptreemap set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_SET_SETLIST
	tristate "setlist set support"
	depends on IP_NF_SET
	help
	  This option adds the setlist set type support.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_MATCH_SET
	tristate "set match support"
	depends on IP_NF_SET
	help
	  Set matching matches against given IP sets.
	  You need the ipset utility to create and set up the sets.

	  To compile it as a module, choose M here.  If unsure, say N.

config IP_NF_TARGET_SET
	tristate "SET target support"
	depends on IP_NF_SET
	help
	  The SET target makes possible to add/delete entries
	  in IP sets.
	  You need the ipset utility to create and set up the sets.

	  To compile it as a module, choose M here.  If unsure, say N.

