*.o
*.a
*.la
*.libs
*.so
*.lo
config.h
libcharset.so*
lib/charset.alias
lib/libcharset.h
lib/localcharset.h
libcharset/lib/charset.alias
libcharset/lib/ref-add.sed
libcharset/lib/ref-del.sed
libtool
Makefile
po/Makefile.in
src/iconv_no_i18n
srclib/alloca.h
srclib/arg-nonnull.h
srclib/c++defs.h
srclib/fcntl.h
srclib/signal.h
srclib/stdint.h
srclib/stdio.h
srclib/stdlib.h
srclib/string.h
srclib/sys/
srclib/time.h
srclib/unistd.h
srclib/unitypes.h
srclib/uniwidth.h
srclib/warn-on-use.h

