ABOUT-NLS
INSTALL
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.rpath
config.sub
config.status
config.log
config.h
confdefs.h
conftest.*
depcomp
install-sh
m4/
missing
mkinstalldirs
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/Makefile
po/POTFILES
po/*.gmo
po/stamp-po
stamp-h1
.deps/
*.o
minidlna
osver.h
minidlnad
tagutils/.dirstamp
linux/minidlna.init.d.script
configure
