Package: inotify
Architecture: mipsel
Priority: optional
Section: net
Version: 1.0.0.7.0.g0808190
Maintainer: ASUS
Source: http://127.0.0.1/
URL:
Description: watch dirs
Depends: 
Suggests: 
Conflicts: 
Enabled: yes
