<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.filesystems.ufs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ufs</string>
	<key>CFBundlePackageType</key>
	<string>fs  </string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>7.1</string>
	<key>CFBundleShortVersionString</key>
	<string>7.1</string>
	<key>FSMediaTypes</key>
	<dict>
		<key>55465300-0000-11AA-AA11-00306543ECAC</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>55465300-0000-11AA-AA11-00306543ECAC</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ufs.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>Apple_UFS</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Apple_UFS</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ufs.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>Whole</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Leaf</key>
				<true/>
				<key>Whole</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ufs.util</string>
			<key>FSProbeOrder</key>
			<integer>5000</integer>
		</dict>
	</dict>
	<key>FSPersonalities</key>
	<dict>
		<key>UFS</key>
		<dict>
			<key>FSFormatArguments</key>
			<string></string>
			<key>FSFormatContentMask</key>
			<string>Apple_UFS</string>
			<key>FSFormatExecutable</key>
			<string>../../../../../../sbin/newfs</string>
			<key>FSFormatMinimumSize</key>
			<integer>0</integer>
			<key>FSFormatMaximumSize</key>
			<integer>1099511627264</integer>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>../../../../../../sbin/mount</string>
			<key>FSName</key>
			<string>UNIX File System</string>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSRepairExecutable</key>
			<string>../../../../../../sbin/fsck</string>
			<key>FSVerificationArguments</key>
			<string>-n</string>
			<key>FSVerificationExecutable</key>
			<string>../../../../../../sbin/fsck</string>
		</dict>
	</dict>
</dict>
</plist>
