/* CSS Document */
.buttonok {width:52px; font-family:Verdana; font-size:11px; line-height:25px; text-align:center;}
.buttonok a {height:28px; text-decoration: none;}
.buttonok a:link, .buttonok a:visited {
	color: #002157;	display: block;
	background: url(images/button-ok.gif);}	
.buttonok a:hover,.buttonok a:active {	color:#ffffff;	background:url(images/button-ok.gif) 0 -28px;}

.buttonquit {width:100px; font-family:Verdana; font-size:11px; line-height:20px; text-align:center;  }
.buttonquit a { height:31px; text-decoration:none; }
.buttonquit a:link, .buttonquit a:visited {
	color:#002157; display:block; background:url(images/button-quit.gif) no-repeat; text-decoration:none;}
.buttonquit a:hover,.buttonquit a:active {	color: #ffffff;	background: url(images/button-quit.gif) no-repeat 0 -31px; text-decoration:none;}

.top-message {
	font-family:Arial, Verdana;
	font-size:11px;
	color:#000000;
	border-left:2px dotted #97A9B2;
	padding-left:10px;
	padding-right:0px;
	background: #c5d2d6;
}
.top-message a:link, .top-message a:visited{
	text-decoration:underline;
}
	
.top-messagebold {
	font-family:Verdana;
	font-size:11px;
	color:#FFF;
	line-height:180%;
	font-weight:bold;
}

.top-input {
	font-family:Verdana;
	font-size:11px;
	color:#FFFFFF;
	line-height:200%;
	border: 1px solid  #1F2D35;
	background-color:#1F2D35;
	width:150px;
	height:30px;
	margin-top:0px;
}

#top-logo {
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-stretch:wider;
	color:#FFFFFF;
	letter-spacing:1px;
	background:url(images/top-02.gif) #c5d2d6 no-repeat;
	padding:20px 0 0 50px; /* Control the position of product name */
}

/*=================Form Style===================*/
.FormTitle{
	line-height:160%;
	font-size:12px;
	font-family:Arial, Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #4D595D;
	color:white;
	position:relative;
	*margin-top:-1px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	behavior: url(/PIE.htc);
	border-radius: 0 0 3px 3px;
}
.FormTitle thead{
	color:#FFF;
	font-size:13px;
	text-align:center;	
	font-weight:bold;
	background-color:#4D595D;
}
.FormTitle tbody{
	line-height:180%;
}

.FormTitle_firefox{
	margin-top:-100px;
	line-height:160%;
	font-size:12px;
	font-family:Arial, Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #4D595D;
	color:white;
}
.FormTitle_firefox thead{
	color:#FFF;
	font-size:13px;
	text-align:center;	
	font-weight:bold;
	background-color:#4D595D;
}
.FormTitle_firefox tbody{
	line-height:180%;
}
.FormTable{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border: 1px solid #000000;
	border-collapse: collapse;
}
.FormTable th{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#1F2D35;
	color:#FFFFFF	;	/*Viz add*/
	font-weight:normal;
	line-height:15px;
	height: 30px;
	text-align:left;
	font-size:12px;
	width:35%;	/*Viz add*/
	padding-left: 10px;
	border: 1px solid #222;
	border-collapse: collapse;
	background:#2F3A3E;
}
.FormTable thead td{
	color: #FFF;
	font-size:12px;
	background-color:#4D595D;
	text-align:left;
	font-weight:bolder;
	border: 1px solid #222;
	padding: 3px;
	padding-left: 10px;
	border-collapse: collapse;
 	background: #92A0A5; /* Old browsers */
	background: -moz-linear-gradient(top, #92A0A5  0%, #66757C 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92A0A5 ), color-stop(100%,#66757C)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #92A0A5  0%, #66757C 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #92A0A5 0%, #66757C 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #92A0A5  0%, #66757C 100%); /* IE10+ */
	background: linear-gradient(to bottom, #92A0A5  0%, #66757C 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92A0A5', endColorstr='#66757C',GradientType=0 ); /* IE6-9 */
}
.FormTable thead th{
	color: #000000;
	font-size:12px;	
	text-align: center;
	font-weight:normal;
	border: 1px solid #222;
	border-collapse: collapse;
}
.FormTable td{
	padding-left: 10px;
	background-color:#475A5F;
	border: 1px solid #222;
	border-collapse: collapse;
}
.FormTable td span{
	background-color:#475a5f;
	color:#FFCC00;
}
.FormTable td span#wl_nmode_x_hint{
	margin-top:3px;
}

/* for Table (for Add List) */
.FormTable_table{
	margin-top:10px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border: 1px solid #222;
	border-collapse: collapse;
}
.FormTable_table th{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#1f2d35;
	font-weight:normal;
	text-align:center;
	font-size:12px;
	height:25px;
	border: 1px solid #222;
	border-collapse: collapse;
	background:#2F3A3E;
}
.FormTable_table th.select_table{
	width:100px;
	text-align:center;	
}
.FormTable_table td.select_table{
	width:150px;
	text-align:left;
}
.FormTable_table th.edit_table{
	width:110px;
	text-align:center;
}
.FormTable_table td{
	background-color:#475a5f;
	text-align:center;
	border: 1px solid #222;
	border-collapse: collapse;	
}
.FormTable_table td span{
	color:#FFCC00;
}
.FormTable_table thead td{
	color: #FFF;
	font-size:12px;
	background-color:#4D595D;
	text-align:left;
	font-weight:bolder;
	border: 1px solid #222;
	padding: 3px;
	border-collapse: collapse;
	padding-left: 10px;
	background: #92A0A5; /* Old browsers */
	background: -moz-linear-gradient(top, #92A0A5  0%, #66757C 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92A0A5 ), color-stop(100%,#66757C)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #92A0A5  0%, #66757C 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #92A0A5 0%, #66757C 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #92A0A5  0%, #66757C 100%); /* IE10+ */
	background: linear-gradient(to bottom, #92A0A5  0%, #66757C 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92A0A5', endColorstr='#66757C',GradientType=0 ); /* IE6-9 */
}
.FormTable_table thead th{
	width: 98px;
	color: #000000;
	font-size:12px;	
	background-color:#1F2D35;
	text-align: center;
	font-weight:normal;
	border: 1px solid #222;
	border-collapse: collapse;	
}

/* for NWM */
.FormTable_NWM{
	/*margin-top:10px;*/
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border: 1px solid #222;
	border-collapse: collapse;
}
.FormTable_NWM th{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#1f2d35;
	font-weight:normal;
	text-align:center;
	font-size:12px;
	height:25px;
	border: 1px solid #222;
	border-collapse: collapse;
 	background: #92A0A5; /* Old browsers */
	background: -moz-linear-gradient(top, #92A0A5  0%, #66757C 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92A0A5 ), color-stop(100%,#66757C)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #92A0A5  0%, #66757C 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #92A0A5 0%, #66757C 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #92A0A5  0%, #66757C 100%); /* IE10+ */
	background: linear-gradient(to bottom, #92A0A5  0%, #66757C 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92A0A5', endColorstr='#66757C',GradientType=0 ); /* IE6-9 */
}
.FormTable_NWM th.select_table{
	width:100px;
	text-align:center;	
}
.FormTable_NWM td.select_table{
	width:150px;
	text-align:left;
}
.FormTable_NWM th.edit_table{
	width:110px;
	text-align:center;
}
.FormTable_NWM td{
	background-color:#475a5f;
	text-align:center;
	border: 1px solid #222;
	border-collapse: collapse;	
	height:35px;
}
.FormTable_NWM td span{
	/*background-color:#475a5f;*/
	/*color:#FF3300; */
	color:#569AC7;
}
.FormTable_NWM thead td{
	color: #FFF;
	font-size:12px;
	background-color:#4D595D;
	text-align:left;
	font-weight:bolder;
	border: 1px solid #222;
	padding: 2px;
	border-collapse: collapse;
 	background:#2F3A3E;
}
.FormTable_NWM thead th{
	width: 98px;
	color: #000000;
	font-size:12px;	
	background-color:#1F2D35;
	text-align: center;
	font-weight:normal;
	border: 1px solid #222;
	border-collapse: collapse;	
}

 .table_text{
 	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif; 	
	text-decoration:none;
 }
/* for Table */
.input{
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:2px;
}

.input_option{
	height:25px;
	background-color:#576D73;
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-color:#888;	
	color:#FFFFFF;
	font-family: Lucida Console;
	font-size:13px;
}

.input_option_lang{
	margin-top:15px;
	margin-left:280px;
	height:25px;
	background-color:#222;
	*background-color:#FFF;
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-color:#888;
	color:#FFFFFF;
	*color:#000;
	font-size:13px;
	font-family: Lucida Console;
}
.input_option_left{
	float: right;
	height:25px;
	/*background-image:url(/images/New_ui/inputbg.png);   Ban by Viz, cuz my Chrome show out white color*/
	background-color:#576D73;
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-color:#888;
	color:#FFFFFF;
	margin:8px 10px 0 0;
	font-family: Lucida Console;
	font-size:13px;
}

.input_32_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:345px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_30_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:315px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_25_table{
	margin-left:2px;	
	padding-left:0.4em;
	height:23px;
	width:235px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_22_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:202px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_20_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:180px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_18_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:160px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_15_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:120px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_12_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:90px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_6_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:50px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_3_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:28px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}
.input_macaddr_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:125px;
	line-height:23px \9;	/*IE*/
	font-size:12px;
	font-family: Lucida Console;
	background-image:url(images/New_ui/inputbg.png);
	border-width:0;
	color:#FFFFFF;
}

/*	Viz add	start */
.titledownbutton{
	text-shadow: 1px 1px 0px black;
	font-weight: bolder;
 	background: transparent url(images/New_ui/contentbt_normal.png) no-repeat scroll center top;
 	border:0;
 	color: #FFFFFF;
	height:34px;
	font-family:Verdana;
	font-size:12px;
	/*margin-right:5px;
	margin-left:5px;*/
 	padding:0 .70em 0 .70em;  
 	width:122px;
 	overflow:visible;
}
.titledownbutton:hover		/*, .button:active*/{
	background:url(images/New_ui/contentbt_over.png) no-repeat;
	height:34px;
  width:122px;
	/*margin-right:5px;
	margin-left:5px;*/
  padding:0 .70em 0 .70em;  
  background-position: 7px;
	cursor:pointer;
}

.button_gen{
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
  background: transparent url(images/New_ui/contentbt_normal.png) no-repeat scroll center top;
  _background: transparent url(images/New_ui/contentbt_normal_ie6.png) no-repeat scroll center top;
  border:0;
  color: #FFFFFF;
	height:33px;
	font-family:Verdana;
	font-size:12px;
  padding:0 .70em 0 .70em;  
 	width:122px;
  overflow:visible;
	cursor:pointer;
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
 	white-space:normal;
}
.button_gen:hover{
	font-weight: bolder;
	background:url(images/New_ui/contentbt_over.png) no-repeat;
	height:33px;
 	width:122px;
 	padding:0 .70em 0 .70em;  
 	background-position:0px;
	cursor:pointer;
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
}
.button_gen_dis{
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
  background: transparent url(images/New_ui/contentbt_normal.png) no-repeat scroll center top;
  _background: transparent url(images/New_ui/contentbt_normal_ie6.png) no-repeat scroll center top;
  border:0;
  color: #333333;
	height:33px;
	font-family:Verdana,Bold;
	font-size:12px;
  padding:0 .70em 0 .70em;  
 	width:122px;
  overflow:visible;  
	/*cursor:pointer;*/
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
}
.button_gen_dis:hover{
	background:url(images/New_ui/contentbt_over.png) no-repeat;
	height:33px;
 	width:122px;
 	padding:0 .70em 0 .70em;  
 	background-position:0px; 	
	/*cursor:pointer;*/
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
}
.button_gen_touch{
  color: #FFFFFF;
	background:url(images/New_ui/contentbt_over.png) no-repeat;
	height:33px;
 	width:122px;
 	padding:0 .70em 0 .70em;  
 	background-position:0px;
	cursor:pointer;
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
}
.button_gen_long{
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
  background: transparent url(images/New_ui/logout_bt.png) no-repeat scroll center top;
  border:0;
  color: #FFFFFF;
	height:34px;
	font-family:Verdana;
	font-size:12px;
 	width:155px;
  overflow:visible;
	cursor:pointer;
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
 	white-space:normal;
}
.button_gen_long:hover	/*, .button:active*/{
  background: transparent url(images/New_ui/logout_btover.png) no-repeat scroll center top;
  border:0;
  color: #FFFFFF;
	height:34px;
	font-family:Verdana;
	font-size:12px;
 	width:155px;
  overflow:visible;
	cursor:pointer;
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
 	white-space:normal;
}
.button_gen_long_dis{
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
  background: transparent url(images/New_ui/logout_bt.png) no-repeat scroll center top;
  border:0;
  color: #333333;
	height:34px;
	font-family:Verdana;
	font-size:12px;
 	width:155px; 	
  overflow:visible;
	/*cursor:pointer;*/
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
 	white-space:normal;
}
.button_gen_long_dis:hover	/*, .button:active*/{
  background: transparent url(images/New_ui/logout_btover.png) no-repeat scroll center top;
  border:0;
  color: #333333;
	height:34px;
	font-family:Verdana;
	font-size:12px;
 	width:155px;
  overflow:visible;
	/*cursor:pointer;*/
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
 	white-space:normal;
}
.button_gen_long_touch{
  color: #FFFFFF;
	background:url(images/New_ui/contentbt_over.png) no-repeat;
	height:33px;
 	width:155px;
 	padding:0 .70em 0 .70em;  
 	background-position:0px;
	cursor:pointer;
}

.button_gen_short{
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
  background: transparent url(images/New_ui/flowbt_normal.png) no-repeat scroll center top;
  border:0;
  color: #FFFFFF;
	height:33px;
	font-family:Verdana;
	font-size:12px;
  padding:0 .70em 0 .70em;  
 	width:91px;
  overflow:visible;
	cursor:pointer;
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
}
.button_gen_short:hover{
	font-weight: bolder;
	background:url(images/New_ui/flowbt_over.png) no-repeat;
	height:33px;
 	width:91px;
 	padding:0 .70em 0 .70em;  
 	background-position:0px;
	cursor:pointer;
	outline: none; /* for Firefox */
 	hlbr:expression(this.onFocus=this.blur()); /* for IE */
}

.sbtn{  /*Lock 1206 modified*/
	border: 1px outset #333;
	background:url(images/sbtn0.gif) #FFCC66;
	height:20px;
	font-family:Verdana;
	font-size:12px;
	margin-right:5px;
	margin-left:5px;	
  padding:0 .70em 0 .70em;
  width:auto;
  overflow:visible;
	cursor:pointer;
}
.sbtn:hover{
	background:url(images/sbtn.gif) #FFCC66;
	color:#FFFFFF;
}

form{ 
	margin:0px;
}

textarea{
	width:99%;	
}

.hint_word{
	color: #FF0000;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;
	padding:5px 5px 5px 0px;
}

.short_btn {
	width: 105px;
	font-family:Verdana ;
	font-size : 13px;
	text-align:center;
	line-height:25px;
}
	
.short_btn a { height: 31px;	text-decoration: none;	}
.short_btn a:link, .short_btn a:visited {
	color: #002157;	display: block;	background: url(../images/button-next.gif);
	}
.short_btn a:hover,.short_btn a:active {	color: #ffffff;	background: url(../images/button-next.gif) 0 -31px;}

.upnp_btn {
	width: 150px;
	font-family:Verdana ;
	font-size : 13px;
	text-align:center;
	line-height:25px;
}
	
.upnp_btn a { height: 31px;	text-decoration: none;	}
.upnp_btn a:link, .short_btn a:visited {
	color: #002157;	display: block;	background: url(../images/button-upnp.gif);
	}
.upnp_btn a:hover,.short_btn a:active {	color: #ffffff;	background: url(../images/button-upnp.gif) 0 -31px;}

/*0103 lock*/
.popTable {
	border:1px solid #666;	
}
.popTable thead td{
	background-image:url(images/title-bg-2.gif);
	border-bottom:1px solid #666;
}
	
.popTable thead span{
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	float:left;
	margin:6px 5px 0px 5px;
	}
.popTable thead img{
	float:right;
	margin:0px 4px 0px 4px;
	cursor:pointer;
}

.popTable tbody{
	background-color:#FFF;
	text-align:left;
}
.popTable tbody th{
	font-family:Verdana;
	font-size:12px;
	text-align:right;
	padding-right:5px;
	height:30px;
	color: #000;
}
.popTable tbody td{
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	padding:4px;
}

.inputpin{
	color:#333333;
	border:1px inset #000;
	background: url(images/bg_ipt_field.gif) repeat-x #FFF;
	font-family:Verdana;
	font-size:11px;
	padding-left:2px;
	font-weight:bold;
}

.devicepin{
	border:0px;
	color:#FFFFFF;
	background-color:#475A5F;
	font-family:Verdana;
	font-size:11px;
	padding-left:2px;
	font-weight:bold;
	cursor:text;
}

#ClientList_Block{
	border:2px outset #999;
	background-color:#576D73;
	position:absolute;
	margin-top:24px;
	margin-left:2px;
	*margin-left:-145px;
	text-align:left;
	width:200px;
	height:auto;
	overflow-y:auto;
	z-index:200;
	padding: 1px;
	display:none;
}
#ClientList_Block div{
	background-color:#576D73;
	height:20px;
	line-height:20px;
	text-decoration:none;
	padding-left:2px;
}

#ClientList_Block a{
	background-color:#EFEFEF;
	color:#FFF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;	
}
#ClientList_Block div:hover, #ClientList_Block a:hover{
	background-color:#3366FF;
	color:#FFFFFF;
	cursor:default;
}

#QoSList_Block{
	border:1px outset #999;
	background-color:#576D73;
	position:absolute;
	margin-top:25px;
	margin-left:1px;
	*margin-left:-132px;
	text-align:left;
	width:250px;
	height:400px;
	overflow-y:auto;
	z-index:200;
	padding: 1px;
	display:none;
}
#QoSList_Block div{
	background-color:#576D73;
	height:20px;
	line-height:20px;
	text-decoration:none;
	padding-left:2px;
}

#QoSList_Block a{
	background-color:#EFEFEF;
	color:#FFF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
#QoSList_Block div:hover, #ClientList_Block a:hover{
	background-color:#3366FF;
	color:#FFFFFF;
	cursor:default;
}

.hackiframe2   /* iframe for Hack IE 6.0 to avoid select menu over DIV layer. */
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0px;
	left:0px;
	margin-top:0px;
	margin-left:0px;	
	z-index: -1;
	filter:mask();
	width:205px;/*must have for any big value*/
	height:125px;/*must have for any big value*/
}

.pull_arrow{
 	float:left;
 	cursor:pointer;
 	border:2px outset #EFEFEF;
 	background-color:#CCC;
 	padding:3px 2px 4px 0px;
}
#pull_arrow{
 	float:left;
 	cursor:pointer;
 	border:2px outset #EFEFEF;
 	background-color:#CCC;
 	padding:3px 2px 4px 0px;
}

.list_table{
	border: 1px solid #000000;
	border-collapse: collapse;
	background-color:#475a5f;
	text-align:center;
	font-size:12px;
}
.list_table td{
	border: 1px solid #000000;
	border-collapse: collapse;
	font-family: Lucida Console;
	height:25px;
}

.list_table td.list_32_table{
	height:25px;
	width:350px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;	
	text-align:center;
	font-size:12px;
}
.list_table td.list_15_table{
	height:25px;
	width:110px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:12px;
}
.list_table td.list_12_table{
	height:25px;
	width:90px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:12px;
}
.list_table td.list_6_table{
	height:25px;
	width:50px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:12px;
}
.list_table td.list_3_table{
	height:25px;
	width:28px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:12px;
}

.list_table td.select_table{
	width:150px;
}
.list_table td.edit_table{
	width:110px;
	text-align:center;
}

.list_table .whenClick{
	background-color: #FFFF99;
}

.IPaddr{
	font-size:12px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	border: 2px inset #F4F4F4;
	background-color:#4D595D;
	/*background-image:url(/images/New_ui/inputbg.png);*/
	width:130px;
	display: inline-block;
}
.IPaddr input{
	border:0px solid #CCC;
	color:white;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	width:27px;
	text-align:center;
	margin:0px auto;
	ime-mode:disabled;
	background-color:#4D595D;
}

.inputinfo{
	border:0px;
	background-color: #A7D2E2;
	font-family:Verdana;
	font-size:11px;
	padding-left:2px;
	font-weight:bold;
	cursor:text;
	color:#000;
}

/* btns in table */
.add_btn{
 	background: transparent url(images/New_ui/accountadd.png) no-repeat scroll center top;
 	border:0;
	height:34px;
 	width:35px;
 	cursor:pointer;
}
.add_btn:hover, .add_btn:active{
 	border:0;
	height:34px;
 	width:35px;
 	cursor:pointer;
}

.remove_btn{
 	background: transparent url(images/New_ui/accountdelete.png) no-repeat scroll center top;
	border:0;
	height:34px;
 	width:35px;
 	cursor:pointer;
}
.remove_btn:hover, .remove_btn:active{
	border:0;
	height:34px;
 	width:35px;
 	cursor:pointer;
}
.remove_btn_NM{
 	background: transparent url(images/zoomout.png) no-repeat scroll center top;
	border:0;
	height:27px;
 	width:23px;
 	cursor:pointer;
	margin-top:5px;
}

.edit_btn{
  background: transparent url(images/New_ui/accountedit.png) no-repeat scroll center top;
  border:0;
	height:34px;
 	width:35px;
 	cursor:pointer;
}
.edit_btn:hover, .edit_btn:active{
 	border:0;
	height:34px;
 	width:35px;
 	cursor:pointer;
}
/* btns in table */

/*Viz add apply_gen */
.apply_gen{
 	text-align:center;
 	background-color:#4D595D;
 	width:100%;
 	margin-top:10px;
}
/*Viz add apply_gen */

.zoomin_btn{
 	background: transparent url(images/zoomin.png) no-repeat scroll center top;
 	border:0;
	height:28px;
 	width:35px;
 	cursor:pointer;
}

.zoomout_btn{
 	background: transparent url(images/zoomout.png) no-repeat scroll center top;
	border:0;
	height:28px;
 	width:35px;
 	cursor:pointer;
}

.help_icon{
	padding-right: 20px;
	background: url(images/New_ui/helpicon.png) no-repeat;
}
/* CSS Document */
body{
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#FFFFFF;
}
a:link {
	text-decoration: none;
	color: #FFFFFF;
}
a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a:active {
	text-decoration: none;
	color: #FFFFFF;
}

p{margin-top:   0;margin-bottom:   0}

/*  Move to index_style.css By Viz , aidisk still use this*/
.titlebtn {	
      background: transparent url(images/New_ui/btn.png) no-repeat scroll right top;
      color: White;
      display: block;
      float: left;
      height: 34px;
      padding-right: 10px;      
      margin-right: 10px;
      text-decoration: none;
      text-align:center;
      width: auto;
      /**width: expression(document.body.clientWidth < 136? "136px" : "auto");*/
			min-width:136px;
			white-space:nowrap;
			cursor: pointer;
    }
.titlebtn span {
      background: transparent url(images/New_ui/btnspan.png) no-repeat;
      display: block;
      padding: 5px 1px 5px 11px;
      height: 24px;
      line-height: 22px;
			font-weight: bold;
    }
.titlebtn:hover {
      background-position: right -34px;
    }
.titlebtn:hover span {
      background-position: left -34px;
    }
.titlebtn:active {
      background-position: right -68px;
	  outline: none;
    }
.titlebtn:active span {
      background-position: left -68px;
	}

.titledropdownbtn {
	background-image:url(images/New_ui/dropdown_bt.png);
	font-size:12px;
	color:#FFFFFF;
	text-decoration:none;
	width:147px;
	height:33px;
	line-height:33px;	
}

.titledropdownbtn:hover{
background-image:url(images/New_ui/dropdown_btover.png);
}

.titledown{
font:Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:12px;
}
.titledown a:link{
color:#FFFFFF;
} 
.titledown:hover{
color:#FFFFFF;
}

.titledownbt{
	font:Arial, Helvetica, sans-serif;
	padding-left:2px;
	margin-left:2px;
	color:#FFFFFF;
	font-size:12px;
	/*text-decoration:underline;*/
}

.tab:hover{
	background-position:right -73px;
	cursor: pointer;
}	
.tab:hover span{
	background-position:left -73px;
	cursor: pointer;
} 
.tab {	
	background: transparent url(images/New_ui/hightaba.png) no-repeat scroll right top;
	color: White;
	float: left;
	height: 40px;
	padding-right: 8px;      
	margin-right: 2px;
	text-align:center;
	text-decoration: none;
	font-family: Verdana;
	z-index: -1;
}
.tab span {
	background: transparent url(images/New_ui/hightabspan.png) no-repeat;
	height: 40px;
	padding-left: 6px;
	padding-top: 10px \9;
	line-height: 15px;
	font-family: Verdana;
	font-size: 12px;
	vertical-align: middle;
	display: table-cell;
	display: inline-block \9;
	width: auto;
	z-index: -1;
}
.tabclick {	   
	background: transparent url(images/New_ui/hightabclicka.png) no-repeat scroll right top;
	color: White;
	float: left;
	height: 40px;
	padding-right: 8px;      
	margin-right: 2px;
	text-align: center;
	text-decoration: none;
	font-family: Verdana;
}
.tabclick span {
	background: transparent url(images/New_ui/hightabclickspan.png) repeat;
	height: 40px;
	padding-left: 6px;
	padding-top: 10px \9;
	line-height: 15px;
	font-family: Verdana;
	font-size: 12px; 
	vertical-align: middle;
	display: table-cell;
	display: inline-block \9;
	width: auto;
}	
div.tabclick {
	height: 40px !important;
}

.tab_NW {	
	font-weight: bolder;
	background: transparent url(images/New_ui/taba.png) no-repeat scroll right top;
	color: White;
	display: block;
	float: left;
	height: 28px;
	padding-right: 8px;      
	margin-right:2px;
	text-decoration: none;
	text-align:center;
	max-width:240px;
}
.tab_NW span {
	cursor:pointer;
	font-weight: bolder;
	white-space:nowrap;
	font-weight: bolder;
	background: transparent url(images/New_ui/tabspan.png) no-repeat;
	display: block;
	padding: 5px 4px 5px 12px;
	line-height: 20px;	  
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.tab_NW:hover{
	background-position:right -28px;	
}	
.tab_NW:hover span{
	background-position:left -28px;
} 

.tabclick_NW {	   
	font-weight: bolder;
	background: transparent url(images/New_ui/tabclicka.png) no-repeat scroll right top;
	font-family: Verdana;	
    color: White;
    display: block;
    float: left;
    height: 28px;
    padding-right: 8px;      
    margin-right:2px;
    text-align:center;
    text-decoration: none;
	max-width:240px;
}
.tabclick_NW span {
	cursor:pointer;
	font-weight: bolder;
	white-space:nowrap;
	font-weight: bolder;
	background: transparent url(images/New_ui/tabclickspan.png) no-repeat;
	font-family: Arial, Helvetica, sans-serif;	 
    display: block;
    padding: 5px 4px 5px 12px;
    line-height: 20px;	
	font-size: 13px; 
}	

.flowfont{
font:Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:12px;
}


.flowfontbt{
font:Arial, Helvetica, sans-serif;
background-image:url(images/New_ui/flowbt_normal.png);
color:#FFFFFF;
font-size:12px;
}
.flowfontbt:link{
font:Arial, Helvetica, sans-serif;
background-image:url(images/New_ui/flowbt_normal.png);
color:#FFFFFF;
font-size:12px;
}
.flowfontbt:hover{
background-image:url(images/New_ui/flowbt_over.png);
}

.fromdropdownbt{
font:Arial, Helvetica, sans-serif;
background-image:url(images/New_ui/networkmap/formdropdown.png);
color:#FFFFFF;
font-size:12px;
}
.fromdropdownbt:link{
font:Arial, Helvetica, sans-serif;
background-image:url(images/New_ui/networkmap/formdropdown.png);
color:#FFFFFF;
font-size:12px;
}
.fromdropdownbt:hover{
background-image:url(images/New_ui/networkmap/formdropdown_over.png);

}

.formfont{
font:Arial, Helvetica, sans-serif;
font-size:16px;
color:#FFFFFF;
padding-left:10px;
padding-top:1px;
margin-top:5px;
}

.formfonttitle{
text-shadow: 1px 1px 0px black;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#FFFFFF;
margin-left:5px;
margin-bottom:10px;
font-weight: bolder;
}
.formfonttitle_nwm{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
margin-left:5px;
margin-bottom:10px;
font-weight: bolder;
}

.formfontcontent{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
padding-top:1px;
}

.formfontdesc{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	margin-left:5px;
	margin-bottom:10px;
}

.formlinkfont{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	text-decoration:underline;
}

.input_2{
	height:23px;
	width:104px;
	background-image:url(images/New_ui/inputbg_2.png);
	border:0px;
}

.contentbt{
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
	font:Arial, Helvetica, sans-serif;
	background-image:url(images/New_ui/contentbt_normal.png);
	color:#FFFFFF;
	font-size:12px;
}
.contentbt:link{
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
	font:Arial, Helvetica, sans-serif;
	background-image:url(images/New_ui/contentbt_normal.png);
	color:#FFFFFF;
	font-size:12px;
}
.contentbt:hover{
	background-image:url(images/New_ui/contentbt_over.png);
	cursor: pointer;
}
.coolerstatuson{
	background-image:url(images/New_ui/coolerstatus.png);
	background-repeat:no-repeat;	
	background-position:2px 2px;
	height:29px;
	width:30px;
	cursor: pointer;
}
.coolerstatusoff{
	background-image:url(images/New_ui/coolerstatus.png);
	background-repeat:no-repeat;	
	background-position:2px -48px;
	height:29px;
	width:30px;
	cursor: pointer;
}

.wifihwswstatuson{
	background-image:url(images/wifi_hw_sw.png);
	background-repeat:no-repeat;
	background-position:2px 2px;
	height:29px;
	width:30px;
	cursor: pointer;
}
.wifihwswstatuspartial{
        background-image:url(images/wifi_hw_sw.png);
        background-repeat:no-repeat;
        background-position:2px -73px;
        height:29px;
        width:30px;
        cursor: pointer;
}
.wifihwswstatusoff{
	background-image:url(images/wifi_hw_sw.png);
	background-repeat:no-repeat;
	background-position:2px -48px;
	height:29px;
	width:30px;
	cursor: pointer;
}

.guestnetworkstatuson{
	background-image:url(images/New_ui/multiplessidstatus.png);
	background-repeat:no-repeat;
	background-position:2px 2px;
	height:29px;
	width:30px;
	cursor: pointer;
}
.guestnetworkstatusoff{
	background-image:url(images/New_ui/multiplessidstatus.png);
	background-repeat:no-repeat;
	background-position:2px -48px;
	height:29px;
	width:30px;
	cursor: pointer;
}
.connectstatuson{
	background-image:url(images/New_ui/connectstatus.png);
	background-repeat:no-repeat;	
	background-position:2px 2px;
	height:29px;
	width:30px;
	cursor: pointer;
}
.connectstatusoff{
	background-image:url(images/New_ui/connectstatus.png);
	background-repeat:no-repeat;	
	background-position:2px -48px;
	height:30px;
	width:30px;
	cursor: pointer;
}

.traffic_warning{
	position:fixed;
	right: 20px;
    bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index:20000;
	background-color:#232629;
	display:block;
	width:360px;
	text-align:left;
	box-shadow: 3px 3px 10px #000;
	font:13px Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/*Viz add 2013.03 for adsl sync status      start*/
.linestatusup{
	background-image:url(images/New_ui/DSLstatus.png);
	background-repeat:no-repeat;	
	background-position:2px 0px;
	height:29px;
	width:29px;
	cursor: pointer;
}
.linestatuselse{
	background-image:url(images/New_ui/DSL_Act.gif);
	background-repeat:no-repeat;	
	background-position:3px 2px;
	height:29px;
	width:29px;
	cursor: pointer;
}
.linestatusdown{
	background-image:url(images/New_ui/DSLstatus.png);
	background-repeat:no-repeat;	
	background-position:2px -50px;
	height:29px;
	width:29px;
	cursor: pointer;
}
/*Viz add 2013.03 for adsl sync status      end*/
/*Viz add 2014.10 for adsl diag status      start*/
.linestatusdiag{
	background-image:url(images/New_ui/DSL_diag.gif);
	background-repeat:no-repeat;	
	background-position:3px 2px;
	height:29px;
	width:29px;
	cursor: pointer;
}
/*Viz add 2014.10 for adsl diag status      end*/
.printstatuson{
	background-image:url(images/New_ui/printstatus.png);
	background-repeat:no-repeat;	
	background-position:2px 2px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.printstatusoff{
	background-image:url(images/New_ui/printstatus.png);
	background-repeat:no-repeat;	
	background-position:2px -48px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.usbstatuson{
	background-image:url(images/New_ui/usbstatus.png);
	background-repeat:no-repeat;	
	background-position:2px 2px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.usbstatusoff{
	background-image:url(images/New_ui/usbstatus.png);
	background-repeat:no-repeat;	
	background-position:2px -48px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.notificationon{
	position: absolute;
	display:inline;
	background-image:url(images/New_ui/notification.png);
	background-repeat:no-repeat;	
	background-position:2px 2px;
	margin-top:-5px;
	margin-top:3px \9;	/*IE*/
	height:30px;
	width:30px;
	cursor: pointer;
}
.notificationoff{
	position: absolute;
	display:none;
	background-image:url(images/New_ui/notification.png);
	background-repeat:no-repeat;	
	background-position:2px -48px;
	margin-top:-5px;
	margin-top:3px \9;	/*IE*/
	height:30px;
	width:30px;
	cursor: pointer;
}

/* Cherry Cho added for mobile broadband in 2014/8/22.*/
.simexist{
	background-image:url(images/mobile/sim_state.png);
	background-repeat:no-repeat;	
	background-position:4px -23px;
	height:29px;
	width:30px;
	cursor: pointer;
}
.simnone{
	background-image:url(images/mobile/sim_state.png);
	background-repeat:no-repeat;	
	background-position:4px 2px;
	height:30px;
	width:30px;
	cursor: pointer;
}

.simfail{
	background-image:url(images/mobile/sim_state.png);
	background-repeat:no-repeat;	
	background-position:4px -73px;
	height:30px;
	width:30px;
	cursor: pointer;
}

.simlock{
	background-image:url(images/mobile/sim_state.png);
	background-repeat:no-repeat;	
	background-position:4px -46px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.simroamingon{
	background-image:url(images/mobile/roaming.png);
	background-repeat:no-repeat;	
	background-position:4px 2px;
	height:29px;
	width:30px;
	cursor: pointer;
}
.simroamingoff{
	background-image:url(images/mobile/roaming.png);
	background-repeat:no-repeat;	
	background-position:4px -50px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.simsignalfull{
	background-image:url(images/mobile/signal_strength.png);
	background-repeat:no-repeat;	
	background-position:3px 2px;
	height:29px;
	width:30px;
	cursor: pointer;
}
.simsignalexcellent{
	background-image:url(images/mobile/signal_strength.png);
	background-repeat:no-repeat;	
	background-position:2px -22px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.simsignalgood{
	background-image:url(images/mobile/signal_strength.png);
	background-repeat:no-repeat;	
	background-position:2px -47px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.simsignalok{
	background-image:url(images/mobile/signal_strength.png);
	background-repeat:no-repeat;	
	background-position:2px -72px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.simsignalmarginal{
	background-image:url(images/mobile/signal_strength.png);
	background-repeat:no-repeat;	
	background-position:2px -97px;
	height:30px;
	width:30px;	
	cursor: pointer;
}
.simsignalno{
	background-image:url(images/mobile/signal_strength.png);
	background-repeat:no-repeat;	
	background-position:2px -122px;
	height:30px;
	width:30px;
	cursor: pointer;
}
.img_wrap{   
    width:20px;   
    height:15px;   
    overflow:hidden;  
    position:relative;left:0px;top:0px; 
} 
.signalsysimg img{
	position: relative;
	top: 0px;
	left: 4px;
	max-width:15px;	
	cursor: pointer;	
}

.img_wrap2{   
    width:30px;   
    height:30px;   
    overflow:hidden;  
    position:relative;left:2px;top:2px; 
} 
/*--*/

.StatusClickHint_mouseover{
	cursor: pointer;
	font-weight: bold;
	background-color: #3366FF;
	color: #FFFFFF;	
	margin-bottom: 10px;
}
.StatusClickHint{
	text-decoration: underline;
	cursor:pointer;
	font-weight:bold;
	margin-bottom: 10px;
}
.StatusHint{
	font-weight:bold;
}
#overDiv{
	filter:alpha(opacity=95);
	opacity:.95;
	z-index: 500;
}
#overDiv_table1{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
	text-shadow: 1px 1px 0px #FFF;
}
#overDiv_table2{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#overDiv_table3{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}
#overDiv_table4{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#overDiv_table5{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#notiDiv{
	position: absolute;
	filter:alpha(opacity=95);
	opacity:.95;
	z-index: 98;
	width:250px;
	margin-top:10px;
	margin-left:-210px;
}

#notiDiv_table3{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #000;
	behavior: url(/PIE.htc);
	*behavior: !important;
}

#notiDiv_table4{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/PIE.htc);
}

#notiDiv_table5{
	behavior: url(/PIE.htc);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-radius: 5px 5px 5px 5px ;
	margin:3px 0px 0px 3px ;
	behavior: url(/PIE.htc);
}

.aidisk1_table{
	width:740px;
	height:760px;
	position:relative;
	background-color:#4d595d;
}

/* 整體設置*/ 
.navigation {
	margin-left:790px;
	*margin-left:45px;
	margin-top:13px;
	width:100px;
	list-style-type:none; 
	font:12px Arial, Helvetica, sans-serif; 
	position:absolute;
	z-index:80;	
	}
 
.navigation li {
	/*float:left; */
	width:145px;
	*width:145px;
	}
 
/* 設置選單區塊*/
.navigation li dl { 
    margin:0; 
	padding:0;
	
/*	border:solid 2px #666; */	
/*	background-color:#fff;*/

	}
 
.navigation li dt a , .navigation li dd a{ 
	display:block;
	}
 
 
/* 設置主選單dt */
.navigation li dt {	
	background-image:url('/images/New_ui/dropdown_bt.png');
	padding-top:8px;
	padding-right:8px;
	text-align:center;
	/*background-color:transparent;*/
	font-size: 13px;
	font-weight: bold;
	height:24px;
	overflow:hidden;
	width:144px;	
	}
 
.navigation li dt:hover{
	background-image:url('/images/New_ui/dropdown_btover.png');
	background-color:transparent;
}
 
.navigation li dt a ,.navigation  li dt a:visited {
	display:block; 
    color:#fff;
	}
 
/* 設置子選單dd */
.navigation li dd { 
	/*margin:0;*/
	margin-left:3px;
	/*padding:0;*/
	color: #fff; 
	background-color:#333;
	border-bottom:solid 1px #666;
	width:145px;
	}
 
.navigation li dd.last {
	border-bottom:0;
	}	
 
.navigation li dd a, .navigation  li dd a:visited {
	display:block; 
	color:#fff; 
	padding:4px 5px 4px 5px;
    }
 
 
/*隱藏子選單*/
.navigation li dd { 
	display:none;
	}
 
 
/* 滑鼠滑入顯示子選單 */
.navigation li:hover dd, .navigation li a:hover dd { 
	cursor:pointer;
	display:block;
}

.navigation li dd:hover{
	text-decoration:underline;
	background-color:#065280;
}
.textarea_ssh_table{
	margin-left:2px;
	padding-left:0.4em;
	width:500px;
	height:184px;
	line-height:18px;
	font-size:12px;
	background:#576D73;
	border:2px ridge #777;
	border-style:bevel;
	color:#FFFFFF;
}
.notification_on{
	background-image:url(images/New_ui/notification.png);
	background-repeat:no-repeat;	
	background-position:2px 2px;
	height:29px;
	width:30px;
	cursor: pointer;
}
.notification_off{
	display: none;
}

.notification_on1{
	cursor: pointer;
}

#bwdpi_status{	
	cursor: pointer;
}

.bwdpistatus_game{
	height:20px;
	width:22px;
	background-image:url(images/New_ui/QoS_quick/game_icon.svg);
	background-repeat:no-repeat;	
	background-position:0px 2px;
}

.bwdpistatus_media{
	height:20px;
	width:21px;
	background-image:url(images/New_ui/QoS_quick/media_icon.svg);
	background-repeat:no-repeat;
	background-position:0px 2px;
}

.bwdpistatus_web{
	height:20px;
	width:22px;
	background-image:url(images/New_ui/QoS_quick/web_icon.svg);
	background-repeat:no-repeat;
	background-position:2px 0px;
}

.bwdpistatus_customize{
	height:21px;
	width:23px;
	background-image:url(images/New_ui/QoS_quick/customize_icon.svg);
	background-repeat:no-repeat;	
	background-position:2px 2px;
}

.vpnstatuson{
	background-image:url(images/New_ui/vpnstatus.png);
	background-repeat:no-repeat;	
	background-position:2px 2px;
	height:29px;
	width:30px;
	cursor: pointer;
	display: none;
}
.vpnstatusoff{
	background-image:url(images/New_ui/vpnstatus.png);
	background-repeat:no-repeat;	
	background-position:2px -48px;
	height:29px;
	width:30px;
	cursor: pointer;
	display: none;
}
.vpnClientTitle_td_unclick{
	background-color: #000;
	height: 30px;
	cursor: pointer;
	border: 1px solid #222;
}

.vpnClientTitle_td_click{
	background-color: #4D595D;
	height: 30px;
	cursor: pointer;
	border: 1px solid #222;
}

.traffictable th{
	height:30px;
	background-image: url(images/general_th.gif);
}

.traffictable th:hover{
        cursor:pointer;                
        text-decoration: underline;
}

.traffictable_footer td{
	color: cyan;
	background-color:#4d595d;
}

.traffictable_link:hover {
	cursor:pointer;
	text-decoration: underline;
}

.panel_folder{
	font-family:Courier ;
	width:500px;
	position:absolute;
	z-index:2000;
	display:none;
	background-image:url(images/Tree/bg_01.png);
	background-repeat:no-repeat;
}
/*Folder Tree*/
.folder_tree{
	font-size:10pt;
	margin:7px 0px 1px 30px;
	height:332px;
	overflow:auto;
	overflow-x: hidden;
	width:450px;
	padding-right: 5px;
}

/* 控制user account and folder "add", "delete", "modify的圖形偏移"*/
.createAccountBtn{
	background-image:url(images/New_ui/advancesetting/UserAdd_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -62px;
	height:30px;
	width:31px;
}
.createAccountBtn_hover{
	background-image:url(images/New_ui/advancesetting/UserAdd_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	height:30px;
	width:31px;
	cursor: pointer;
}
.createAccountBtn_add{
	background-image:url(images/New_ui/advancesetting/UserAdd_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px 0px;
	height:30px;
	width:31px;
	cursor: pointer;
}

.deleteAccountBtn{
	background-image:url(images/New_ui/advancesetting/UserDel_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -62px;
	height:30px;
	width:31px;
}
.deleteAccountBtn_hover{
	background-image:url(images/New_ui/advancesetting/UserDel_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	height:30px;
	width:31px;
	cursor: pointer;
}
.deleteAccountBtn_add{
	background-image:url(images/New_ui/advancesetting/UserDel_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px 0px;
	height:30px;
	width:31px;
	cursor: pointer;
}

.modifyAccountBtn{
	background-image:url(images/New_ui/advancesetting/UserMod_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -62px;
	height:30px;
	width:31px;
}
.modifyAccountBtn_hover{
	background-image:url(images/New_ui/advancesetting/UserMod_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	height:30px;
	width:31px;
	cursor: pointer;
}
.modifyAccountBtn_add{
	background-image:url(images/New_ui/advancesetting/UserMod_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px 0px;
	height:30px;
	width:31px;
	cursor: pointer;
}

.createFolderBtn{
	background-image:url(images/New_ui/advancesetting/FolderAdd_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -62px;
	height:30px;
	width:31px;
}
.createFolderBtn_hover{
	background-image:url(images/New_ui/advancesetting/FolderAdd_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	height:30px;
	width:31px;
	cursor: pointer;
}

.createFolderBtn_add{
	background-image:url(images/New_ui/advancesetting/FolderAdd_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px 0px;
	height:30px;
	width:31px;
	cursor: pointer;
}
.createFolderBtn_add:hover{
	background-image:url(images/New_ui/advancesetting/FolderAdd_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	height:30px;
	width:31px;
	cursor: pointer;
}

.deleteFolderBtn{
	background-image:url(images/New_ui/advancesetting/FolderDel_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -62px;
	height:30px;
	width:31px;
}
.deleteFolderBtn_hover{
	background-image:url(images/New_ui/advancesetting/FolderDel_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	height:30px;
	width:31px;
	cursor: pointer;
}
.deleteFolderBtn_add{
	background-image:url(images/New_ui/advancesetting/FolderDel_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px 0px;
	height:30px;
	width:31px;
	cursor: pointer;
}
.deleteFolderBtn_add:hover{
	background-image:url(images/New_ui/advancesetting/FolderDel_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	height:30px;
	width:31px;
	cursor: pointer;
}

.modifyFolderBtn{
	background-image:url(images/New_ui/advancesetting/FolderMod_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -62px;
	height:30px;
	width:31px;
}
.modifyFolderBtn_hover{
	background-image:url(images/New_ui/advancesetting/FolderMod_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	height:30px;
	width:31px;
	cursor: pointer;
}
.modifyFolderBtn_add{
	background-image:url(images/New_ui/advancesetting/FolderMod_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px 0px;
	height:30px;
	width:31px;
	cursor: pointer;
}
.modifyFolderBtn_add:hover{
	background-image:url(images/New_ui/advancesetting/FolderMod_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	height:30px;
	width:31px;
	cursor: pointer;
}

.userIcon{
	background-image:url(images/New_ui/advancesetting/user_icon_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -62px;
	padding-left:30px;
	height:30px;
	width:31px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:25px;
}

.userIcon:hover{
	background-image:url(images/New_ui/advancesetting/user_icon_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px -31px;
	padding-left:30px;
	height:30px;
	width:31px;
	cursor: pointer;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:25px;
}
.userIcon_click{	
	background-image:url(images/New_ui/advancesetting/user_icon_ALL.png);
	background-repeat:no-repeat;	
	background-position:0px 0px;
	padding-left:30px;
	height:30px;
	width:31px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:25px;
}
.single_wan_connected{
	background-image:url(images/New_ui/networkmap/line_dualwan.png);
	background-repeat:no-repeat;
	height:40px;
	width:20px;
}
.single_wan_disconnected{
	background-image:url(images/New_ui/networkmap/line_dualwan_disconnected.png);
	background-repeat:no-repeat;
	height:40px;
	width:20px;
}
.primary_wan_connected{
	background-image:url(images/New_ui/networkmap/line_dualwan.png);
	background-repeat:no-repeat;
	margin-left:68px;
	height:40px;
	width:20px;
}
.primary_wan_disconnected{
	background-image:url(images/New_ui/networkmap/line_dualwan_disconnected.png);
	background-repeat:no-repeat;
	margin-left:68px;
	height:40px;
	width:20px;
}
.primary_wan_standby{
	background-image:url(images/New_ui/networkmap/line_dualwan_dot.png);
	background-repeat:no-repeat;
	margin-left:68px;
	height:40px;
	width:20px;
}
.secondary_wan_connected{
	background-image:url(images/New_ui/networkmap/line_dualwan.png);
	background-repeat:no-repeat;
	margin-left:105px;
	*margin-left:103px;
	height:40px;
	width:20px;
}
.secondary_wan_disconnected{
	background-image:url(images/New_ui/networkmap/line_dualwan_disconnected.png);
	background-repeat:no-repeat;
	margin-left:105px;
	*margin-left:103px;
	height:40px;
	width:20px;
}
.secondary_wan_standby{
	background-image:url(images/New_ui/networkmap/line_dualwan_dot.png);
	background-repeat:no-repeat;
	margin-left:105px;
	*margin-left:103px;
	height:40px;
	width:20px;
}
.link{
	cursor:pointer !important;
	text-decoration:underline !important;
}

