.time_btn{
 	background: transparent url(/images/New_ui/advancesetting/accountedit.png) no-repeat;
	border:0;
	height:30px;
 	width:30px;
 	cursor:pointer;
}
.time_btn:hover, .remove_btn:active{
 	/*background: transparent url(/images/mod.png) no-repeat;*/
	border:0;
	height:30px;
 	width:30px;
 	cursor:pointer;
}

.service_btn{
 	background: transparent url(/images/New_ui/accountedit.png) no-repeat;
	border:0;
	height:30px;
 	width:30px;
 	cursor:pointer;
}
.service_btn:hover, .remove_btn:active{
 	/*background: transparent url(/images/add.png) no-repeat;*/
	border:0;
	height:30px;
 	width:30px;
 	cursor:pointer;
}

.url_btn{
 	background: transparent url(/images/New_ui/accountadd.png) no-repeat;
	border:0;
	height:30px;
 	width:30px;
 	cursor:pointer;
}
.url_btn:hover, .remove_btn:active{
 	/*background: transparent url(/images/add.png) no-repeat;*/
	border:0;
	height:30px;
 	width:30px;
 	cursor:pointer;
}

.remove_btn{
 	background: transparent url(/images/New_ui/accountdelete.png) no-repeat;
	border:0;
	height:30px;
 	width:30px;
 	cursor:pointer;
}
.remove_btn:hover, .remove_btn:active{
 	/*background: transparent url(/images/accountdelete.png) no-repeat;*/
	border:0;
	height:30px;
 	width:30px;
 	cursor:pointer;
}

.input_3_table{
	width:28px;
}

.PC_table{
	border: 1px solid #999;
	border-collapse: collapse;
	background-color:#FFFFFF;
	text-align:center;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.PC_table th{
	background-color:#7aa3bd;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size:12px;
}
.PC_table thead td{
	color: #F4F4F4;
	font-size:12px;
	background-color:#4e6d95;
	text-align:left;
	font-weight:normal;
}

.PC_table thead th{
	color: #000000;
	font-size:12px;	
	background-color:#7aa3bd;
	text-align: center;
	font-weight:normal;
}

#ClientList_Block_PC{
	border:1px outset #999;
	background-color:#576D73;
	position:absolute;
	margin-top:76px;
	margin-left:54px;
	*margin-left:-298px;
	width:255px;
	*width:259px;
	text-align:left;
	height:auto;
	overflow-y:auto;
	z-index:200;
	padding: 1px;
	display:none;
}
#ClientList_Block_PC div{
	background-color:#576D73;
	height:20px;
	line-height:20px;
	text-decoration:none;
	font-family: Lucida Console;
	padding-left:2px;
}

#ClientList_Block_PC a{
	background-color:#EFEFEF;
	color:#FFF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;	
}
#ClientList_Block_PC div:hover, #ClientList_Block a:hover{
	background-color:#3366FF;
	color:#FFFFFF;
	cursor:default;
}