<!DOCTYPE html>
<html>
<head>
<title><#QIS_title#></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link href="/images/map-iconRouter_iphone.png" rel="apple-touch-icon" />
<link rel="shortcut icon" href="/images/favicon.png">
<link rel="icon" href="/images/favicon.png">
<link rel="stylesheet" href="/iui/default.css"  type="text/css"/>
<script type="text/JavaScript" src="/state.js"></script>
<script type="text/javascript" src="/popup.js"></script>
<script type="text/javascript" src="/detect.js"></script>
<script language="JavaScript" type="text/javascript" src="/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="/ajax.js"></script>
<script>
var $j = jQuery.noConflict();
</script>
<script language="JavaScript" type="text/javascript" src="/iui/registerEvent.js"></script>

<script>
<% login_state_hook(); %>
var setFlag = '<% nvram_get("x_Setting"); %>';
var wireless = [<% wl_auth_list(); %>];	// [[MAC, associated, authorized], ...]

function initial(){
	if(setFlag == 0){
		document.getElementById('modify_password_page').style.display = "";
	}
	else{
		document.getElementById('changessid').style.display = "";
	}
}

function check_empty(){
	if( (document.getElementById('wfps_password1').value.length >= 8 && document.getElementById('wfps_password1').value.length <= 64) &&
		(document.getElementById('wfps_password2').value.length >= 8 && document.getElementById('wfps_password2').value.length <= 64) &&
		(document.getElementById('wfps_password1').value == document.getElementById('wfps_password2').value)){		
			document.getElementById('save_button').disabled = false;
	}
	else{
		document.getElementById('save_button').disabled = true;;
	}
}

function skip_default_password(){
	document.getElementById('modify_password_page').style.display = "none";
	document.getElementById('goBackChangePwd').style.display = "";
}

function save_password(){
	document.getElementById('modify_password_page').style.display = "none";
	document.getElementById('congratschangepwd').style.display = "";
	document.form.http_passwd.value = document.getElementById('wfps_password1').value;
}

function back_to_password(flag){
	if(flag == "1"){
		document.getElementById('modify_password_page').style.display = "";
		document.getElementById('changessid').style.display = "none";
		document.getElementById('modify_pass_desc').style.display = "";
		document.getElementById('pass_desc').style.display = "none";
		document.getElementById('wfps_password_current_label').style.display = "";
		document.getElementById('wfps_password_current').style.display = "";
	}
	else{
		document.getElementById('modify_password_page').style.display = "";
		document.getElementById('goBackChangePwd').style.display = "none";
	}
}

function set_SSID(){
	document.getElementById('congratschangepwd').style.display = "none";
	document.getElementById('changessid').style.display = "";
}

function save_ssid(){
	document.getElementById('changessid').style.display = "none";
	document.getElementById('congratschangessid').style.display = "";
	
	document.form.wl0_ssid.value = document.getElementById('networkname_24ghz').value;
	document.form.wl0_wpa_psk.value = document.getElementById('password_24ghz').value;
	document.form.wl1_ssid.value = document.getElementById('networkname_5ghz').value;
	document.form.wl1_wpa_psk.value = document.getElementById('password_5ghz').value;

}

function back_to_ssid(){
	document.getElementById('changessid').style.display = "";
	document.getElementById('congratschangessid').style.display = "none";
}

function check_ssid_setting(){
	if((document.getElementById('networkname_24ghz').value.length >= 1 && document.getElementById('networkname_24ghz').value.length <= 32) &&
		(document.getElementById('networkname_24ghz').value.length >= 1 && document.getElementById('networkname_24ghz').value.length <= 32) &&
		(document.getElementById('password_24ghz').value.length >= 8 && document.getElementById('password_24ghz').value.length <= 64) &&
		(document.getElementById('password_5ghz').value.length >= 8 && document.getElementById('password_5ghz').value.length <= 64)){
		
			document.getElementById('saveSSID').disabled = false;
	}
	else{
			document.getElementById('saveSSID').disabled = true;
	}
}

function back_stage1(){
	document.getElementById('congratschangepwd').style.display = "";
	document.getElementById('changessid').style.display = "none";
}

function stage1_logout(){
	document.form.action_script.value = "restart_time";
	document.form.force_change.value++;
	document.form.wl0_ssid.disabled = true;
	document.form.wl0_wpa_psk.disabled = true;
	document.form.wl0_auth_mode_x.disabled = true;
	document.form.wl0_crypto.disabled = true;
	document.form.wl1_ssid.disabled = true;
	document.form.wl1_wpa_psk.disabled = true;
	document.form.wl1_auth_mode_x.disabled = true;
	document.form.wl1_crypto.disabled = true;
	document.form.submit();
}

function stage2_logout(){
	document.form.force_change.value++;
	document.form.submit();
}
</script>

</head>
<body onload="initial();">
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0" style="display:none"></iframe>
<form method="post" name="form" action="/start_apply.htm" target="hidden_frame" style="display:none">
	<input type="hidden" name="current_page" value="/QIS_wizard_m.htm">
	<input type="hidden" name="next_page" value="/QIS_wizard_m.htm">  
	<input type="hidden" name="action_mode" value="apply">
	<input type="hidden" name="action_script" value="restart_time;restart_wireless">
	<input type="hidden" name="action_wait" value="0">
	<input type="hidden" name="x_Setting" value="1">
	<input type="hidden" name="http_passwd" value="<% nvram_get("http_passwd"); %>">
	<input type="hidden" name="wl0_ssid" value="<% nvram_get("wl0_ssid"); %>">
	<input type="hidden" name="wl0_wpa_psk" value="<% nvram_get("wl0_wpa_psk"); %>">
	<input type="hidden" name="wl0_auth_mode_x" id="wl0_auth_mode_x" value="psk2">
	<input type="hidden" name="wl0_crypto" id="wl0_crypto" value="aes">
	<input type="hidden" name="wl1_ssid" value="<% nvram_get("wl1_ssid"); %>">
	<input type="hidden" name="wl1_wpa_psk" value="<% nvram_get("wl1_wpa_psk"); %>">
	<input type="hidden" name="wl1_auth_mode_x" id="wl1_auth_mode_x" value="psk2">
	<input type="hidden" name="wl1_crypto" id="wl1_crypto" value="aes">
	<input type="hidden" name="force_change" value="<% nvram_get("force_change"); %>">
</form>
	<div id="modify_password_page" class="container" style="display:none">
		<header>
			<a class="brand-logo" href="#">T-Mobile</a>
			<a class="product-logo">Personal CellSpot&trade;</a>
		</header>
		<section>
			<h1>Wi-Fi CellSpot Router</h1>
			<p id="pass_desc">For your security, you MUST change your admin password before continuing.</p>
			<p id="modify_pass_desc" style="display:none;">Change your admin password.</p>
			<div class="hr"></div>
				<label for="wfps_password_current" id="wfps_password_current_label" style="display:none">Current admin password</label>
                <a class="wfps_form_action" data-change="wfps_password_current" href="#">Show</a>
                <input type="password" name="password_current" id="wfps_password_current" style="display:none" value="<% nvram_get("http_passwd"); %>">
				<label for="wfps_password1">New admin password <span class="wfps_tip">8 to 64 characters</span></label>
				<a class="wfps_form_action" data-change="wfps_password1" href="#">Show</a>
				<input type="password" name="password1" id="wfps_password1" onkeyup="check_empty();" value="" class="match" data-limit-low="8" data-limit-high="64" placeholder="Please enter a new password">
				<label for="wfps_password2">Confirm admin password <span class="wfps_tip">8 to 64 characters</span></label>
				<a class="wfps_form_action" data-change="wfps_password2" href="#">Show</a>
				<input type="password" name="password2" id="wfps_password2" onkeyup="check_empty();" value="" class="match" data-limit-low="8" data-limit-high="64" placeholder="Please reenter a new password">
				<input type="button" value="Cancel" onclick="skip_default_password();">
				<input type="button" value="Save" id="save_button" disabled="disabled" onclick="save_password();">
		</section>
		<footer>&copy; 2002-2014 T-Mobile USA, Inc.</footer>

	</div>
	<!--Hint without modifing default password-->
	<div id="goBackChangePwd" class="container;" style="display:none;">
		<header>
			<a class="brand-logo" href="#">T-Mobile</a>
			<a class="product-logo">Personal CellSpot&trade;</a>
		</header>
		<section>
			<h1>Wi-Fi CellSpot Router</h1>
			<p>If you'd still like to update your network names and passwords, you'll need to go back and change your admin password first. Or, you can close and do it next time.</p>
			<div class="hr"></div>
			<input type="button" value="Log Out">
			<input type="button" value="Back" id="back_button" onclick="back_to_password();">
		</section>
		<footer>&copy; 2002-2014 T-Mobile USA, Inc.</footer>
	</div>
	
	<div id="congratschangepwd" class="container;" style="display:none;">
		<header>
			<a class="brand-logo" href="#">T-Mobile</a>
			<a class="product-logo">Personal CellSpot&trade;</a>
		</header>
		<section>
			<h1>Wi-Fi CellSpot Router</h1>
			<p><strong>Congratulations!</strong><br>
			Your admin password has been successfully changed.</p>
			<div class="hr"></div>
			<p><strong>To change your network names (SSIDs) and passwords, please select "Continue."</strong></p>
			<form class="wfps_form notop">
				<input type="button" value="Log Out" onclick="stage1_logout();">
				<input type="button" value="Continue" id="continueSSID" onclick="set_SSID();">
			</form>
		</section>
		<footer>&copy; 2002-2014 T-Mobile USA, Inc.</footer>
	</div>
	
	<div id="changessid" class="container;" style="display:none;">
		<header>
			<a class="brand-logo" href="#">T-Mobile</a>
			<a class="product-logo">Personal CellSpot&trade;</a>
		</header>
		<section>
			<h1>Wi-Fi CellSpot Router</h1>
			<p>This is where you can personalize your network names (SSIDs) and update your passwords.</p>
			<p><a class="caret" onclick="back_to_password(1);">Change admin password</a></p>
			<div class="hr"></div>
			<p>Please make your network names unique.</p>
			<h2>2.4 GHz</h2>
			<form class="wfps_form notop">
				<label for="networkname_24ghz">Network Name <span class="wfps_tip">32 characters max</span></label>
				<input type="text" name="networkname_24ghz" id="networkname_24ghz" onkeyup="check_ssid_setting();" value="<% nvram_get("wl0_ssid"); %>" data-limit-low="1" data-limit-high="32" >
				<label for="password_24ghz">Password <span class="wfps_tip">8 to 64 characters</span></label>
				<a class="wfps_form_action" data-change="password_24ghz" href="#">Show</a>
				<input type="password" name="password_24ghz" id="password_24ghz" onkeyup="check_ssid_setting();" data-limit-low="8" data-limit-high="64">
				<h2>5 GHz</h2>
				<label for="networkname_5ghz">Network Name <span class="wfps_tip">32 characters max</span></label>				
				<input type="text" name="networkname_5ghz" id="networkname_5ghz" onkeyup="check_ssid_setting();" value="<% nvram_get("wl1_ssid"); %>" data-limit-low="1" data-limit-high="32" >
				<label for="password_5ghz">Password <span class="wfps_tip">8 to 64 characters</span></label>
				<a class="wfps_form_action" data-change="password_5ghz" href="#">Show</a>
				<input type="password" name="password_5ghz" id="password_5ghz" onkeyup="check_ssid_setting();" data-limit-low="8" data-limit-high="64">
				<input type="button" value="Cancel" onclick="back_stage1();">
				<input type="button" value="Save" id="saveSSID" onclick="save_ssid();" disabled="disabled">
			</form>
			<p class="fineprint">For advanced setup functionality, please visit <a href="http://cellspot.router">http://cellspot.router</a> from a desktop computer rather than your mobile device.</p>
		</section>
		<footer>&copy; 2002-2014 T-Mobile USA, Inc.</footer>
	</div>
	
	<div id="congratschangessid" class="container;" style="display:none;">
		<header>
			<a class="brand-logo" href="#">T-Mobile</a>
			<a class="product-logo">Personal CellSpot&trade;</a>
		</header>
		<div>
			<section>
				<h1>Wi-Fi CellSpot Router</h1>
				<p><strong>Congratulations!</strong><br>
				Your network names (SSIDs) and passwords have been successfully changed.</p>
				<div class="hr"></div>
				<form class="wfps_form notop">
					<input type="button" value="Back" onclick="back_to_ssid();">
					<input type="button" value="Log Out" id="ssid_logout" onclick="stage2_logout();">
				</form>
			</section>
		</div>
		<footer>&copy; 2002-2014 T-Mobile USA, Inc.</footer>
	</div>
	
	<div id="logout_cont" class="container;" style="display:none;">
		<header>
			<a class="brand-logo" href="#">T-Mobile</a>
			<a class="product-logo">Personal CellSpot&trade;</a>
		</header>
		<div>
			<section>
				<h1><#logoutmessage#></h1>
			</section>
		</div>
		<footer>&copy; 2002-2014 T-Mobile USA, Inc.</footer>
	</div>
	
</body>
</html>
