bison
flex
g++
g++-4.4
g++-multilib
gawk
gcc-multilib
gconf-editor
gitk
lib32z1-dev
libncurses5
libncurses5-dev
libstdc++6-4.4-dev
libtool
m4
pkg-config
zlib1g-dev
autoconf
autopoint
libtool
shtool
autogen
gperf
lib32z1-dev
libssl-dev
libxml2-dev
