.*
*.o
*.a
*.lo
*.la
*.d
stamp-h1
Makefile
binary/Makefile
config.h
config.log
config.status
contrib/Makefile
contrib/examples/Makefile
doc/Doxyfile
doc/Doxyfile-internals
doc/Makefile
libexif-uninstalled.pc
libexif.pc
libexif/Makefile
libtool
m4m/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
test/Makefile
test/nls/Makefile
