.libs
Makefile
autom4te.cache
config.h
config.log
config.status
libpcre.pc
libpcre16.pc
libpcrecpp.pc
libpcreposix.pc
libtool
pcre-config
pcre.h
pcre_chartables.c
pcre_scanner_unittest
pcre_stringpiece.h
pcre_stringpiece_unittest
pcrecpp_unittest
pcrecpparg.h
pcregrep
pcretest
stamp-h1
*.la
*.lo
*.o
