*.o
*.a
Makefile
wol
config.h
config.h.in
configure
doc/wol.pod
intl/charset.alias
intl/libgnuintl.h
intl/libintl.h
intl/ref-add.sed
intl/ref-del.sed
lib/.deps/
po/Makefile.in
po/POTFILES
.deps/
src/wol-bootptab
src/wol-dhcpdconf
doc/wol.1
autom4te.cache

