*.d
*.dd
*.oo
*.a
*.la
*.lo
*.so
*.o
.deps
.dirstamp
.libs
Makefile
Makefile.in

/include/xtables.h
/include/iptables/internal.h

/aclocal.m4
/autom4te*.cache
/config.guess
/config.h*
/config.log
/config.status
/config.sub
/configure
/libtool
/stamp-h1
