.*.d
.*.dd
*.a
*.la
*.lo
*.oo
*.so
*.o
.deps
.dirstamp
.libs
Makefile
Makefile.in

/extensions/GNUmakefile
/extensions/initext.c
/extensions/initext?.c
/extensions/matches?.man
/extensions/targets?.man

/include/xtables.h
/include/iptables/internal.h

/aclocal.m4
/autom4te*.cache
/compile
/config.guess
/config.h*
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
