mount/umount for Linux 0.97.3 and later.
Authors:
Doug Quale <quale@saavik.cs.wisc.edu>,
H.J. Lu <hlu@eecs.wsu.edu>,
Rick Sladkey <jrs@world.std.com>,
Stephen Tweedie <sct@dcs.ed.ac.uk>.
Andries Brouwer <aeb@cwi.nl>
Adrian Bunk <bunk@stusta.de>

Presently in util-linux maintained by Karel Zak <kzak@redhat.com>. 

== Notes to developers ==

	The final solution will be libmount/mount.c as the
	mount(8) command implementation. So, let's keep the
	current mount/* code in maintenance mode and don't try to
	rewrite it :-)
