*.o
*.po
.conf
source/client/client_proto.h
source/include/build_env.h
source/include/config.h
source/include/proto.h
source/include/stamp-h
source/include/version.h
source/Makefile
source/config.log
source/config.status
source/smbadduser
source/bin/*
source/script/findsmb
source/script/gen-8bit-gap.sh
source/script/installbin.sh
source/script/uninstallbin.sh
source/smbd/build_options.c
source/utils/net_proto.h
source/utils/ntlm_auth_proto.h
source/web/swat_proto.h
source/tags
source/utils/passwd_proto.h
source/include/includes.h.gch
source/config.cache
source/library-versions
source/nsswitch/*.so
source/proto_exists
source/nsswitch/winbindd_proto.h
