*.orig
*.diff
*~
*.o
*.depend
Makefile
Makefile.in
*.lo
*.la
.deps
.libs
config.h
config.log
config.status
libpcre.pc
libpcrecpp.pc
libpcreposix.pc
libtool
pcre-config
pcre.h
pcre_chartables.c
pcre_scanner_unittest
pcre_stringpiece.h
pcre_stringpiece_unittest
pcrecpp_unittest
pcrecpparg.h
pcregrep
pcretest
autom4te.cache
