*.o
miniupnpc-1.6/libminiupnpc.a
miniupnpc-1.6/miniupnpcstrings.h
miniupnpc-1.6/upnpc-static
natnl/libasusnatnl.so
pjproject-1.12/build.mak
pjproject-1.12/build/cc-auto.mak
pjproject-1.12/build/os-auto.mak
pjproject-1.12/pjlib-util/bin/
pjproject-1.12/pjlib-util/build/os-auto.mak
pjproject-1.12/pjlib-util/lib/
pjproject-1.12/pjlib/bin/
pjproject-1.12/pjlib/build/os-auto.mak
pjproject-1.12/pjlib/include/pj/compat/m_auto.h
pjproject-1.12/pjlib/include/pj/compat/os_auto.h
pjproject-1.12/pjlib/lib/
pjproject-1.12/pjmedia/bin/
pjproject-1.12/pjmedia/build/os-auto.mak
pjproject-1.12/pjmedia/include/pjmedia-codec/config_auto.h
pjproject-1.12/pjmedia/include/pjmedia/config_auto.h
pjproject-1.12/pjmedia/lib/
pjproject-1.12/pjnath/bin/
pjproject-1.12/pjnath/lib/
pjproject-1.12/pjsip-apps/bin/
pjproject-1.12/pjsip/bin/
pjproject-1.12/pjsip/build/os-auto.mak
pjproject-1.12/pjsip/include/pjsip/sip_autoconf.h
pjproject-1.12/pjsip/lib/
pjproject-1.12/stamp-h1-*
pjproject-1.12/third_party/build/os-auto.mak
pjproject-1.12/third_party/build/portaudio/os-auto.mak
pjproject-1.12/third_party/lib/
udt/libudt.a
