<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<!--link rel="stylesheet" type="text/css" href="/form_style.css">
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/general.js"></script>
<script type="text/JavaScript" src="/form.js"></script>
<script type="text/JavaScript" src="/help.js"></script-->
<script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
<script type="text/JavaScript">


function QKInternet_load_body(){
	if(parent.ISMOBILE){
		parent.set_step("admin_pass");
		hideObjs();
		document.getElementById("field_general").style.display = "none";
		//document.getElementById("field_mobile").style.display = "";		
	}
	else{
		parent.set_step("t2");
		setScenerion(parent.sw_mode);

		if(!repeater_support)
			document.getElementById("repeaterMode").style.display = "none";

		if(!psta_support)
			document.getElementById("MBMode").style.display = "none";
		
		if(parent.hwmodeSwitch_support){
			document.getElementById("routerMode").style.display = "none";
			document.getElementById("repeaterMode").style.display = "none";
			document.getElementById("APMode").style.display = "none";
			document.getElementById("MBMode").style.display = "none";

			if(parent.sw_mode == 2)
				document.getElementById("repeaterMode").style.display = "";
			else if(parent.sw_mode == 3)
				document.getElementById("APMode").style.display = "";
			else if(parent.sw_mode == 4)
				document.getElementById("MBMode").style.display = "";
			else
				document.getElementById("routerMode").style.display = "";
		}

		document.getElementById("nextButton").focus();	
	}
}

function setScenerion(mode){
	if(mode == '2'){
		var pstaDesc = "<#OP_RE_desc#>";
		pstaDesc += "<br/><span style=\"color:#FC0\"><#deviceDiscorvy2#></span>";
		
		parent.document.QKform.sw_mode.value = 2;
		parent.localAP_support = true;
		$("#Senario").attr("src", "/images/New_ui/re.jpg");
		$("#Senario").attr("style", "height:");
		$("#mode_desc").html(pstaDesc);	
		document.form.sw_mode_radio[1].focus();
		document.form.sw_mode_radio[1].checked = true;
	}
	else if(mode == '3'){
		parent.document.QKform.sw_mode.value = 3;
		$("#Senario").attr("src", "/images/New_ui/ap.jpg");
		$("#Senario").attr("style", "height:");
		$("#mode_desc").html("<#OP_AP_desc#><br><span style=\"color:#FC0\"><#deviceDiscorvy3#></span>");		
		document.form.sw_mode_radio[2].focus();
		document.form.sw_mode_radio[2].checked = true;
	}
	else if(mode == '4'){
		var pstaDesc = "";
		pstaDesc += "<#OP_MB_desc1#>";
		pstaDesc += "<#OP_MB_desc2#>";
		pstaDesc += "<#OP_MB_desc3#>";
		pstaDesc += "<#OP_MB_desc4#>";
		pstaDesc += "<#OP_MB_desc5#>";
		pstaDesc += "<br><#OP_MB_desc6#>";
		pstaDesc += "<br/><span style=\"color:#FC0\"><#deviceDiscorvy4#></span>";

		parent.document.QKform.sw_mode.value = 4;
		parent.localAP_support = false;		
		$("#Senario").attr("src", "/images/New_ui/mb.jpg");
		$("#Senario").attr("style", "height:170px");
		$("#mode_desc").html(pstaDesc);
		document.form.sw_mode_radio[3].focus();
		document.form.sw_mode_radio[3].checked = true;
	}
	else{
		parent.document.QKform.sw_mode.value = 1;
		$("#Senario").attr("src", "/images/New_ui/rt.jpg");
		$("#Senario").attr("style", "height:");
		$("#mode_desc").html("<#OP_GW_desc#>");
		document.form.sw_mode_radio[0].focus();
		document.form.sw_mode_radio[0].checked = true;
	}
}

function submitForm(){
	if(parent.document.QKform.sw_mode.value == "3"){
		document.form.action = "/qis_m/QIS_lanip.htm";
		document.form.submit();
	}
	else if(parent.document.QKform.sw_mode.value == "2"){
		document.form.action = "/qis_m/QIS_sitesurvey.htm";
		document.form.submit();
	}
	else if(parent.document.QKform.sw_mode.value == "4"){
		parent.isRepeater = false;
		document.form.action = "/qis_m/QIS_sitesurvey.htm";
		document.form.submit();
	}
	else{
		document.form.action = "/qis_m/QIS_internet_type.htm";
		document.form.submit();
	}
}

function submitenter(myfield,e){	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		submitForm();
		return false;
	}
	else
		return true;
}
</script>
</head>
<body onLoad="QKInternet_load_body();" onunload="" onKeyPress="submitenter(this,event)">
<form method="post" name="form" action="/start_apply.htm" onsubmit="return submitForm();">
<input type="hidden" name="current_page" value="QIS_lanip.htm">
<input type="hidden" name="next_page" value="QIS_wireless.htm">   
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="flag" value="adv_ap_mode">
<style>
body{
	margin: 0;
	color: #FFF;
}

</style>
<div>
	<div style="font-size:1em;padding:10px 0 10px 15px;text-align:left;"><#OP_desc1#></div>	
	<div id="routerMode"><#OP_GW_item#></div>
	<div id="repeaterMode"><#OP_RE_item#></div>
	<div id="APMode"><#OP_AP_item#></div>
	<div id="MBMode"><#OP_MB_item#></div>
	
	
</div>
<!--div class="QISmain">
<div class="formfonttitle" style="padding:6 0 0 10;">
		<div id="descTltle">
			<table width="100%">
				<tr>
					<td align="left">
						<div class="description_down"><#OP_desc1#></div>
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
</div>

<div style="width:95%; margin:0 auto; padding-bottom:3px;" id="field_general">
	<span style="font-size:16px; font-weight:bold;color:white;text-shadow: 1px 1px 0px black">
		<span id="routerMode">
			<input type="radio" name="sw_mode_radio" class="input" value="1" onclick="setScenerion(1);" <% nvram_match("sw_mode", "1", "checked"); %>><#OP_GW_item#>
		</span>
			&nbsp;&nbsp;
		<span id="repeaterMode">
			<input type="radio" name="sw_mode_radio" class="input" value="2" onclick="setScenerion(2);" <% nvram_match("sw_mode", "2", "checked"); %>>
			<span id="repeaterMode_desc"><#OP_RE_item#></span>
		</span>
		&nbsp;&nbsp;
		<span id="APMode">
			<input type="radio" name="sw_mode_radio" class="input" value="3" onclick="setScenerion(3);" <% nvram_match("sw_mode", "3", "checked"); %>><#OP_AP_item#>
		</span>
		&nbsp;&nbsp;
		<span id="MBMode">
			<input type="radio" name="sw_mode_radio" class="input" value="4" onclick="setScenerion(4);" <% nvram_match("sw_mode", "4", "checked"); %>>Media bridge
		</span>
	</span>

	<table height="350px">
		<tr valign="top">
			<td>
				<div id="mode_desc" style="line-height: 18px;font-size:12px;font-family:Segoe UI, Arial, sans-serif;position:relative;display:block;margin-top:10px;margin-left:5px;z-index:90;">
					<#OP_GW_desc#>
				</div>
			</td>
		</tr>
	
		<tr>
			<td>
				<img style="margin-top: 10px;margin-bottom: 10px;" id="Senario" width="100%" src="/images/New_ui/rt.jpg">
			</td>
		</tr>
	
		<tr>
			<td>
				<div id="applyBtn" class="apply_gen">
					<input type="submit" id="nextButton" value="<#CTL_next#>" class="button_gen" >
				</div>
			</td>
		</tr>
	</table>
		
</div>


</div-->

</form>
</body>
