*.o
.conf
source/bin
source/client/client_proto.h
source/config.log
source/config.status
source/include/build_env.h
source/include/config.h
source/include/proto.h
source/include/stamp-h
source/nsswitch/winbindd_proto.h
source/proto_exists
source/script/findsmb
source/script/gen-8bit-gap.sh
source/script/installbin.sh
source/script/uninstallbin.sh
source/smbd/build_options.c
source/utils/net_proto.h
source/utils/ntlm_auth_proto.h
source/web/swat_proto.h
