.*
*.o
*.a
*.lo
*.la
*.d
stamp-h1
Makefile
config.h
config.log
config.status
doc/Makefile
doc/vorbisenc/Makefile
doc/vorbisfile/Makefile
examples/Makefile
include/Makefile
include/vorbis/Makefile
lib/Makefile
lib/books/Makefile
lib/books/coupled/Makefile
lib/books/floor/Makefile
lib/books/uncoupled/Makefile
lib/modes/Makefile
lib/test_sharedbook
libtool
m4/Makefile
test/Makefile
vorbis-uninstalled.pc
vorbis.pc
vorbisenc-uninstalled.pc
vorbisenc.pc
vorbisfile-uninstalled.pc
vorbisfile.pc
vq/Makefile
autom4te.cache
