*.o
*.lo
*.la
kernel/driver/.pptp.o.flags
pppd_plugin/Makefile
pppd_plugin/config.h
pppd_plugin/config.log
pppd_plugin/config.status
pppd_plugin/libtool
pppd_plugin/src/.deps/
pppd_plugin/src/.libs/
pppd_plugin/src/Makefile
pppd_plugin/stamp-h1
pptpd-1.3.3/Makefile
pptpd-1.3.3/bcrelay
pptpd-1.3.3/config.h
pptpd-1.3.3/config.log
pptpd-1.3.3/config.status
pptpd-1.3.3/plugins/pptpd-logwtmp.so
pptpd-1.3.3/pptpctrl
pptpd-1.3.3/pptpd
pptpd-1.3.3/stamp-h1
