stamp-h1
config.log
linux-ntfs-2.0.0
*.o
*.lo
.deps
src/openvpn/.libs/*
autom4te.cache
service-win32/Makefile
install-win32/Makefile
images/Makefile
.conf
aclocal.m4
Makefile
configure.h
autom4te.cache
