/* Reset */
*{box-sizing:border-box;}a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,font,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li fieldset,object,ol,p,pre,q,s,samp,small,span,strike,strong,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:#000;background:#fff}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,td,th{text-align:left;font-weight:400}blockquote:after,blockquote:before,q:after,q:before{content:""}blockquote,q{quotes:"" ""}


body {
	background: #f2f2f2;
	font-family: Helvetica, Arial, sans-serif;
	color: #646464;
}

a {
	color: #e62d8b;
	text-decoration: none;
}

a:hover {
	color: #b51d6a;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


.container {
	max-width: 640px;
	margin: 0 auto;
	min-width: 320px;
}

/*** Header ***/

header {
	background: #fff;
	box-shadow: 0px .4em .6em -.4em rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px .4em .6em -.4em rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px .4em .6em -.4em rgba(0, 0, 0, 0.75);
	overflow: hidden;
	padding: 1.5em;
}

.brand-logo,
.product-logo {
	display: block;
	height: 36px;
	overflow: hidden;
	text-indent: -999px;
}

.brand-logo {
	background: url(tmo-logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	float: left;
	width: 156px;
}

.product-logo {
	background: url(cellspot_logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	float: right;
	width: 111px;
}


/*** Content ***/

section {
	padding: 1.5em;
}

h1 {
	color: #000;
	font-family: 'TeleGrotesk', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	padding-bottom: .5em;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	padding: 1em 0 0;
}

p {
	color: #646464;
	font-size: .9em;
	line-height: 1.5em;
	padding: .5em 0;
}

.hr {
	border-top: 1px solid #ccc;
	height: 1px;
	margin-top: 9px;
	padding-bottom: 10px;
	width: 100%;
}

.fineprint {
	font-size: .8em;
}

a.caret::after {
	content:'\00a0\203A';
}

.error_msg {
	color: red;
	font-size: .8em;
	font-style: italic;
	padding: .2em 0 .5em;
}


/**** Forms ***/

form {
	clear: both;
	display: block;
	overflow: hidden;
	padding-bottom: 1em;
}

.wfps_form_action {
	display: none;
	float: right;
	padding: .5em 0;
}

.wfps_tip::before {
	content: '\00a0\2013\00a0\00a0';
}

.wfps_tip {
	font-weight: normal;
}

label {
	display: inline-block;
	float: left;
	font-weight: bold;
	padding: .5em 0;
	width: 75%;
}

input[type=text],
input[type=password] {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	clear: both;
	display: block;
	font-size: 1em;
	margin-bottom: .3em;
	padding: .4em;
	width: 100%;
}

input[type=submit],
input[type=button] {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline-block;
	margin-top: 2em;
	padding: .6em 3em;
	text-transform: uppercase;
	-webkit-appearance: none;
}

/*input[type=submit] {
	background: #e62d8b;
	border: 1px solid #e62d8b;
	color: #fff;
	float: right;
}*/

#login_button,
#save_button,
#back_button,
#saveSSID,
#continueSSID,
#ssid_logout,
#modify_save{
	background: #e62d8b;
	border: 1px solid #e62d8b;
	color: #fff;
	float: right;
}

#login_button:disabled,
#save_button:disabled,
#saveSSID:disabled,
#modify_save:disabled{
background: #db71a7;
	border: 1px solid #db71a7;
}

input[type=button] {
	background: #fff;
	border: 1px solid #ccc;
	color: #e62d8b;
	float: left;
}


/*input[type=button]:disabled {
	background: #db71a7;
	border: 1px solid #db71a7;
}*/

.notop > input[type=button],
.notop > input[type=submit] {
	margin-top: 1em;
}

input[type=text].error,
input[type=password].error {
	border: 1px solid red !important;
}


/*** Footer ***/

footer {
	border-bottom: 1px solid #ccc;
	clear: both;
	display: block;
	font-size: .8em;
	padding: 2em 1.5em .5em;
	text-transform: uppercase;
	width: 100%;
	
}

/*** Breakpoints ***/

@media only screen and (max-width: 480px) {
	
	.wfps_tip::before {
		content: '';
		display: none;
	}
	
	.wfps_tip {
		clear: both;
		display: block;
		font-weight: normal;
	}
	
}

@media only screen and (max-width: 400px) {
	input[type=submit],
	input[type=button] {
		padding: .5em 1.5em;
	}
}

@media only screen and (max-width: 320px) {
	.brand-logo,
	.product-logo {
		height: 30px;
	}
	
	.brand-logo {
		width: 130px;
	}
	
	.product-logo {
		width: 93px;
	}
}

/*** Type ***/

/*@font-face {
    font-family: 'TeleGrotesk';
    src: url('../type/tele-grotesknor-webfont.eot');
    src: url('../type/tele-grotesknor-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/tele-grotesknor-webfont.woff') format('woff'),
         url('../type/tele-grotesknor-webfont.ttf') format('truetype'),
         url('../type/tele-grotesknor-webfont.svg#tele-grotesknorregular') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'TeleGrotesk';
    src: url('/iui/type/tele-groteskhal-webfont.eot');
    src: url('../type/tele-groteskhal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/tele-groteskhal-webfont.woff') format('woff'),
         url('../type/tele-groteskhal-webfont.ttf') format('truetype'),
         url('../type/tele-groteskhal-webfont.svg#tele-groteskhalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TeleGrotesk';
    src: url('/iui/type/tele-groteskfet-webfont.eot');
    src: url('/iui/type/tele-groteskfet-webfont.eot?#iefix') format('embedded-opentype'),
         url('/iui/type/tele-groteskfet-webfont.woff') format('woff'),
         url('/iui/type/tele-groteskfet-webfont.ttf') format('truetype'),
         url('/iui/type/tele-groteskfet-webfont.svg#tele-groteskfetregular') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TeleGrotesk';
    src: url('../type/tele-groteskult-webfont.eot');
    src: url('../type/tele-groteskult-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/tele-groteskult-webfont.woff') format('woff'),
         url('../type/tele-groteskult-webfont.ttf') format('truetype'),
         url('../type/tele-groteskult-webfont.svg#tele-groteskultregular') format('svg');
    font-weight: 900;
    font-style: normal;
}*/