#service, #stat {
  width: 70ex;
}
#thread {
  width: 80ex;
}
#server_stopped_message {
  position: absolute;
  background-color: yellow;
  padding: 1em;
/*  border: 1px solid #8CACBB;*/
  font-size: 120%;
  margin-bottom: 1em;
  z-index: 100;

}
#grey_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: #000;
  filter:alpha(opacity=60);
  opacity: 0.6;
  z-index: 10;
}
#button_stop_server, #button_start_scan, #button_start_full_scan {
  width: 10em;
  margin-bottom: .2em;
}
