.*
*.o
*.a
*.lo
*.la
*.d
stamp-h1
Makefile
config.log
config.status
ctaocrypt/Makefile
ctaocrypt/benchmark/Makefile
ctaocrypt/benchmark/benchmark
ctaocrypt/src/Makefile
ctaocrypt/test/Makefile
ctaocrypt/test/test
examples/Makefile
examples/client/Makefile
examples/echoclient/Makefile
examples/echoserver/Makefile
examples/server/Makefile
libtool
src/Makefile
sslSniffer/Makefile
sslSniffer/sslSnifferTest/Makefile
testsuite/Makefile
ctaocrypt/include/stamp-h1
