*.o
*.a
*.so
*.lo
*.la
stamp-h1
.deps/
.libs/
config.h
Makefile
config.log
config.status
libtool
dist/config.log
build_unix/clib_port.h
build_unix/db.h
build_unix/db_archive
build_unix/db_checkpoint
build_unix/db_config.h
build_unix/db_cxx.h
build_unix/db_deadlock
build_unix/db_dump
build_unix/db_hotbackup
build_unix/db_int.h
build_unix/db_load
build_unix/db_printlog
build_unix/db_recover
build_unix/db_sql
build_unix/db_stat
build_unix/db_upgrade
build_unix/db_verify
build_unix/include.tcl
