#######################################################################
##
##  Foo Module 
## --------------- 
##
## http://www.lighttpd.net/documentation/Foo.html
##
server.modules += ( "mod_Foo" )

##
## foo
##
#foo.bar = 1

##
#######################################################################
