Package: smartsync
Architecture: mipsel
Priority: optional
Section: net
Version: 1.0.0.8
OptionalUtility:
Maintainer: ASUS
Source: http://nw-dlcdnet.asus.com/asusware/mipsel/stable
URL: http://www.asusnetwork.net/cloud_sync.asp
Description: Cloud client
Depends: 
Suggests: 
Conflicts: 
Enabled: yes
