*.o
*.bak
config.h
ipfw/testipfwrdr
miniupnpd
miniupnpdctl
testgetifaddr
testgetifstats
testupnpdescgen
testupnppermissions
testgetroute
testasyncsendto
testportinuse
netfilter/testiptcrdr
netfilter/testiptcrdr_dscp
netfilter/testiptcrdr_peer
testdescs
validateupnppermissions
validategetifaddr
testssdppktgen
validatessdppktgen
version.h
