config.log
config.status
include/config.h
include/madwimax_version.h
include/Makefile
include/stamp-h1
Makefile
man/Makefile
scripts/events/event.sh
scripts/events/Makefile
scripts/Makefile
scripts/udev/Makefile
scripts/udev/z60_madwimax.rules
src/.deps
src/*.o
src/madwimax
src/Makefile
stamp-h1
