<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">
<script type="text/javascript" src="/general.js"></script>
<script type="text/JavaScript">

var wlc_state = '<% nvram_get("wlc_state"); %>';
var wlc_sbstate = '<% nvram_get("wlc_sbstate"); %>';
var wlc_scan_state = '<% nvram_get("wlc_scan_state"); %>';
var aplist = new Array();
var waitingTime = 50;
var curState = "init";

function QKInternet_load_body(){
	parent.set_step("t2");
	changeAuthMode("open");
	setParentAP();

	if(parent.getBand != "" && parseInt(parent.getBand) < document.form._wlc_band.length && parseInt(parent.getBand) > -1)
		document.form._wlc_band[parseInt(parent.getBand)].selected = true;

	document.form._wlc_ssid.focus();
	control_showpass_field(document.form._wlc_auth_mode_x.value);
}

function key_event(evt){
	if(evt.keyCode == 13){
		if(curState == "setAuth")
			submitForm();
		else
			setAuthMethod();
	}

	return;
}

function is_string(o, event){
	keyPressed = event.keyCode ? event.keyCode : event.which;

	if(keyPressed >= 0 && keyPressed <= 126)
		return true;
	else{
		alert('<#JS_validchar#>');
		return false;
	}	
}

function gen_aplist(){
	aplist[0] = ["band","ssid","channel","auth","encrypt","signal","macaddr","wlmode","status"];

	aplist[0][0] = document.form._wlc_band.value;
	aplist[0][1] = document.form._wlc_ssid.value;
	aplist[0][2] = "";
	aplist[0][3] = document.form._wlc_auth_mode_x.value;
	aplist[0][4] = document.form._wlc_crypto.value;
	aplist[0][5] = "";
	aplist[0][6] = "";
	aplist[0][7] = "";
	aplist[0][8] = "";

	return cehckPAP(0);
}

function validate_psk(psk_obj){
	var psk_length = psk_obj.value.length;
	
	if(psk_length < 8 || psk_length > 64){
		alert("<#JS_PSK64Hex#>");
		psk_obj.focus();
		psk_obj.select();		
		return false;
	}	
	
	if(psk_length == 64 && !parent.validate_hex(psk_obj)){
		alert("<#JS_PSK64Hex#>");
		psk_obj.focus();
		psk_obj.select();		
		return false;
	}
	
	return true;
}

function validate_wlkey(key_obj){
	var iscurrect = true;
	var str = "<#JS_wepkey#>";

	if((key_obj.value.length == 5 || key_obj.value.length == 13)&& parent.validate_string(key_obj)){
			iscurrect = true;
	}else if((key_obj.value.length == 10 || key_obj.value.length == 26)&& parent.validate_hex(key_obj)){
			iscurrect = true;
	}
	else{
			str = str + "\n<#WLANConfig11b_WEPKey_itemtype1#>\n<#WLANConfig11b_WEPKey_itemtype2#>";
			iscurrect = false;
	}
		
	if(iscurrect == false){
		alert(str);		
		key_obj.focus();
		key_obj.select();
	}
	
	return iscurrect;
}

function validForm(_idx){
	if(aplist[_idx][3] == "psk" || aplist[_idx][3] == "psk2"){
		if(!validate_psk(document.form.thekey))
			return false;
	}
	else if(aplist[_idx][4] == "WEP"){
		if(!validate_wlkey(document.form.thekey))
			return false;
	}	

	return true;	
}

/* ["band","ssid","channel","auth","encrypt","signal","macaddr","wlmode","status"] */
function cehckPAP(_idx){
	if(_idx != null){
		if(validForm(_idx)){
			if(aplist[_idx][1] == ""){
				alert("Please select a parent AP!");
				return false;
			}
		
			// band
			if(aplist[_idx][0] == "2G")
				document.form.wlc_band.value = 0;
			else
				document.form.wlc_band.value = 1;
			// ssid
			document.form.wlc_ssid.value = aplist[_idx][1];
			// auth
			document.form.wlc_auth_mode.value = aplist[_idx][3];

			if(aplist[_idx][3] == "psk")
				document.form.wlc_crypto.value = "tkip";
			else if(aplist[_idx][3] == "psk2")
				document.form.wlc_crypto.value = "aes";
			// crypto
			if(aplist[_idx][4] == "WEP"){
				document.form.wlc_wep_key.value = document.form.thekey.value;
				document.form.wlc_key.value = document.form.sta_key_index.value;
				document.form.wlc_wep.value = 1;
			}
			else if(aplist[_idx][4] == "NONE"){
				document.form.wlc_wep.value = 0;
				document.form.wlc_wpa_psk.value = "";
			}
			else{
				document.form.wlc_wep.value = 0;
				document.form.wlc_wpa_psk.value = document.form.thekey.value;
			}

			return true;				
		}
		else
			return false;
	}
	else{
		alert("Please select a parent AP!");
		return false;
	}
}

function changeAuthMode(_val){
	if(_val == "psk2" || (_val == "open" && document.form.__wlc_crypto.value == "None"))
		document.getElementById("wl_nmode_x_hint").style.display = "none";
	else
		document.getElementById("wl_nmode_x_hint").style.display = "";

	if(_val == "psk" || _val == "psk2"){
		document.getElementById("__wlc_crypto_tr").style.display = "none";
		document.getElementById("sta_key_index_tr").style.display = "none";
		document.form._wlc_crypto.value = "PSK";
		document.getElementById("thekey_tr").style.display = "";
	}
	else if(_val == "shared"){
		document.getElementById("__wlc_crypto_tr").style.display = "none";
		document.getElementById("sta_key_index_tr").style.display = "";
		document.form._wlc_crypto.value = "WEP";
		document.getElementById("thekey_tr").style.display = "";
	}
	else{
		document.getElementById("__wlc_crypto_tr").style.display = "";
		document.getElementById("sta_key_index_tr").style.display = "none";
		changeCrypto(document.getElementById("__wlc_crypto").value);
	}
	
	control_showpass_field();
}

function changeCrypto(_val){
	if(_val == "None"){
		document.getElementById("wl_nmode_x_hint").style.display = "none";
		document.getElementById("thekey_tr").style.display = "none";
		document.getElementById("sta_key_index_tr").style.display = "none";
	}
	else{
		document.getElementById("wl_nmode_x_hint").style.display = "";
		document.getElementById("thekey_tr").style.display = "";
		document.getElementById("sta_key_index_tr").style.display = "";
	}

	document.form._wlc_crypto.value = _val;
	control_showpass_field();
}

function setAuthMethod(){
	if(!gen_aplist())
		return false;

	curState = "setAuth";
	document.getElementById("setPAP").style.display = "none";
	document.getElementById("setAuth").style.display = "";
	document.getElementById("btnPre").style.display = "";
	document.getElementById("btnNext").style.display = "none";
	document.getElementById("btnSubmit").style.display = "";

	if(document.form.wlc_band.value == 1){
		document.getElementById("wl0_ssid").disabled = false;
		document.getElementById("wl0_ssid").style.display = "";
		document.getElementById("wl0_wpa_psk").disabled = false;
		document.getElementById("wl0_wpa_psk").style.display = "";
		document.getElementById("wl0_auth_mode_x").disabled = false;
		document.getElementById("wl0_crypto").disabled = false;
		document.getElementById("wl1_ssid").disabled = true;
		document.getElementById("wl1_ssid").style.display = "none";
		document.getElementById("wl1_wpa_psk").disabled = true;
		document.getElementById("wl1_wpa_psk").style.display = "none";
		document.getElementById("wl1_auth_mode_x").disabled = true;
		document.getElementById("wl1_crypto").disabled = true;
		document.getElementById("wl0_ssid").focus();
	}
	else{
		document.getElementById("wl0_ssid").disabled = true;
		document.getElementById("wl0_ssid").style.display = "none";
		document.getElementById("wl0_wpa_psk").disabled = true;
		document.getElementById("wl0_wpa_psk").style.display = "none";
		document.getElementById("wl0_auth_mode_x").disabled = true;
		document.getElementById("wl0_crypto").disabled = true;
		document.getElementById("wl1_ssid").disabled = false;
		document.getElementById("wl1_ssid").style.display = "";
		document.getElementById("wl1_wpa_psk").disabled = false;
		document.getElementById("wl1_wpa_psk").style.display = "";
		document.getElementById("wl1_auth_mode_x").disabled = false;
		document.getElementById("wl1_crypto").disabled = false;
		document.getElementById("wl1_ssid").focus();
	}
}

function submitForm(){
	if(document.getElementById('wl0_ssid').disabled == false){
		if(document.form.wl0_wpa_psk.value == ""){
				if(!confirm("<#QIS_confirm_recommand_encryp#>")){
						document.form.wl0_wpa_psk.focus();				
						return false;
				}		
		}

		if(!validate_string_ssid(document.form.wl0_ssid))
			return false;

		if(document.form.wl0_wpa_psk.value.length > 0){
			document.form.wl0_auth_mode_x.value = "psk2";
			if(!validate_psk(document.form.wl0_wpa_psk))
					return false;
		}else
			document.form.wl0_auth_mode_x.value = "open";

	}else{
		/* use previous settings */		
		document.form.wl0_ssid.value = decodeURIComponent("<% nvram_char_to_ascii("", "wl0_ssid"); %>");
		document.form.wl0_wpa_psk.value = decodeURIComponent("<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>");
		document.form.wl0_auth_mode_x.value = "<% nvram_get("wl0_auth_mode_x"); %>";
	}

	if (document.getElementById('wl1_ssid').disabled == false){
		if(document.form.wl1_wpa_psk.value == ""){
				if(!confirm("<#QIS_confirm_recommand_encryp#>")){
						document.form.wl1_wpa_psk.focus();
						document.form.wl1_wpa_psk.select();
						return false;
				}		
		}	

		if(!validate_string_ssid(document.form.wl1_ssid))
				return false;

		if(document.form.wl1_wpa_psk.value.length > 0){
				document.form.wl1_auth_mode_x.value = "psk2";
				if(!validate_psk(document.form.wl1_wpa_psk))
						return false;
		}else
				document.form.wl1_auth_mode_x.value = "open";

	}else{
		/* use previous settings */		
		document.form.wl1_ssid.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_ssid"); %>');
		document.form.wl1_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>');
		document.form.wl1_auth_mode_x.value = "<% nvram_get("wl1_auth_mode_x"); %>";		
	}

	document.getElementById("loadingIcon").style.display = "";
	parent.document.getElementById("stassid").innerHTML = document.form.wlc_ssid.value;
	parent.document.getElementById("stassid").innerHTML += "<br/><span style='color:#FC0;font-weight:normal;'>Please unplug the network cable connected to WAN port in media bridge mode.</span>";
	parent.w_Setting_tmp = document.form.w_Setting.value;
	document.form.http_username.value = parent.document.QKform.http_username.value;
	document.form.http_passwd.value = parent.document.QKform.http_passwd.value;
	document.form.target = "hidden_frame";

	document.form.submit();
}

function setParentAP(){
	curState = "setPAP";
	document.getElementById("setPAP").style.display = "";
	document.getElementById("setAuth").style.display = "none";
	document.getElementById("btnPre").style.display = "none";
	document.getElementById("btnNext").style.display = "";
	document.getElementById("btnSubmit").style.display = "none";
}
/* password item show or not */
function pass_checked(obj){
	if(document.form.show_pass_1.checked || document.form.show_pass_2.checked)
		replace_pass_type(obj, "text");
	else
		replace_pass_type(obj, "password");
}

/* change password type depend on browser for fix IE issue*/
function replace_pass_type(obj, _Type){
	if(navigator.userAgent.indexOf("MSIE") != -1){ // fix IE issue
		var input2 = document.createElement('<input class="input_32_table" autocapitalization="off">');  // create input element
		with (input2){ 
			id = obj.id; 
			value = obj.value; 
			type = _Type; // change input type
			name = obj.name;
		} 
		obj.parentNode.replaceChild(input2,obj);
	}
	else{	
		obj.type= _Type;
	}
}
function control_showpass_field(){
	if( document.form._wlc_auth_mode_x.value == "open" && document.form.__wlc_crypto.value == "None")
		document.getElementById('show_password_tr').style.display ="none";		
	else
		document.getElementById('show_password_tr').style.display ="";	
}
function check_wlc_band(){
	if(document.form.wlc_band.value == 1)
		 pass_checked(document.form.wl0_wpa_psk);
	else
		 pass_checked(document.form.wl1_wpa_psk);
	
	document.form.show_pass_1.checked =false;	
}
</script>
</head>
<body onkeydown="key_event(event);" onLoad="QKInternet_load_body();" onunload="">
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<iframe name="hidden_frame_wireless" id="hidden_frame_wireless" width="0" height="0" frameborder="0"></iframe>
<form method="post" name="form" action="/start_apply2.htm" target="hidden_frame">
<input type="hidden" name="current_page" value="/QIS_wizard.htm">
<input type="hidden" name="next_page" value="/QIS_wizard.htm">   
<input type="hidden" name="prev_page" value="/QIS_wizard.htm">
<input type="hidden" name="flag" value="wlcconnect">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_wait" value="50">
<input type="hidden" name="action_script" value="reboot">
<!-- wireless client -->
<input type="hidden" name="wlc_psta" value="1">
<input type="hidden" name="wlc_band" value="<% nvram_get("wlc_band"); %>">
<input type="hidden" name="wlc_ssid" value="<% nvram_char_to_ascii("", "wlc_ssid"); %>">
<input type="hidden" name="wlc_wep" value="<% nvram_get("wlc_wep"); %>">
<input type="hidden" name="wlc_key" value="<% nvram_get("wlc_key"); %>">
<input type="hidden" name="wlc_wep_key" value="<% nvram_get("wlc_wep_key"); %>">
<input type="hidden" name="wlc_auth_mode" value="<% nvram_get("wlc_auth_mode"); %>">
<input type="hidden" name="wlc_crypto" value="<% nvram_get("wlc_crypto"); %>">
<input type="hidden" name="wlc_wpa_psk" value="<% nvram_get("wlc_wpa_psk"); %>">
<input type="hidden" name="wlc_nbw_cap" value="2">
<input type="hidden" name="wl0_auth_mode_x" id="wl0_auth_mode_x" value="psk2" disabled>
<input type="hidden" name="wl0_crypto" id="wl0_crypto" value="aes" disabled>
<input type="hidden" name="wl1_auth_mode_x" id="wl1_auth_mode_x" value="psk2" >
<input type="hidden" name="wl1_crypto" id="wl1_crypto" value="aes">
<!-- wireless client end -->
<input type="hidden" name="sw_mode" value="3">
<input type="hidden" name="http_username" value="<% nvram_get("http_username"); %>">
<input type="hidden" name="http_passwd" value="<% nvram_get("http_passwd"); %>">
<input type="hidden" name="x_Setting" value="1">
<input type="hidden" name="w_Setting" value="1">
<input type="hidden" name="lan_proto" value="dhcp">
<input type="hidden" name="lan_dnsenable_x" value="1">
<div class="QISmain">
<div class="formfonttitle" style="padding:6 0 0 10;">
		<div>
			<table width="730px">
				<tr>
					<td align="left">
						<span class="description_down"><#APSurvey_main_title#></span>
					</td>
					<td align="right">
						<img onclick="parent.location.href = '/index.asp'" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
</div>

<div id="setPAP">
		<div style="margin-left:25px;" class="QISGeneralFont">
			<#APSurvey_action_search_again_hint2#>
			<br/>
			<span style="color:#FC0" id="deviceDiscorvy">
				Install and use the <a href="http://dlcdnet.asus.com/pub/ASUS/wireless/ASUSWRT/Discovery.zip" style="font-family:Lucida Console;text-decoration:underline;color:#FC0;">Device Discovery Utility</a> in order to detect the <#Web_Title2#>'s IP address.
			</span>
		</div>

		<br><br>
		<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0" style="padding-left:100px;">
			<tr id="wl_unit_field">
				<th width="25%"><#Interface#></th>
				<td>
					<select name="_wlc_band" class="input_option">
						<option class="content_input_fd" value="2G">2.4GHz</option>
						<option class="content_input_fd" value="5G" selected>5GHz</option>
					</select>			
				</td>
	  	</tr>
            
		  <tr>
			<th><a class="hintstyle" href="javascript:void(0);" onClick="openHint(0, 1);"><#WLANConfig11b_SSID_itemname#></a></th>
			<td>
				<input type="text" maxlength="32" class="input_32_table" name="_wlc_ssid" value="" onkeypress="return is_string(this, event)">
			</td>
		  </tr>

	  	<tr>
			<th><a class="hintstyle" href="javascript:void(0);" onClick="openHint(0, 5);"><#WLANConfig11b_AuthenticationMethod_itemname#></a></th>
			<td>
	  		<select name="_wlc_auth_mode_x" class="input_option" onChange="changeAuthMode(this.value);">
					<option value="open">Open System</option>
					<option value="shared">Shared Key</option>
					<option value="psk">WPA-Personal</option>
					<option value="psk2">WPA2-Personal</option>
					<!--
					<option value="wpa">WPA-Enterprise</option>
					<option value="wpa2">WPA2-Enterprise</option>
					-->
	  		</select>
				<div id="wl_nmode_x_hint" style="margin-top:5px;color:#FC0;">
					Under WEP or WPA-Personal encryption, the maximum transmission rate of <#Web_Title2#> is 54Mbps. Please change to WPA2-Personal.
				</div>
			</td>
	  	</tr>

	  	<tr id="__wlc_crypto_tr">
			<th><a class="hintstyle" href="javascript:void(0);" onClick="openHint(0, 9);"><#WLANConfig11b_WEPType_itemname#></a></th>
			<td>
		  		<select name="__wlc_crypto" id="__wlc_crypto" class="input_option" onChange="changeCrypto(this.value);">
						<option value="None"><#wl_securitylevel_0#></option>
						<option value="WEP">WEP</option>
		  		</select>
					<input type="hidden" name="_wlc_crypto" value="">
			</td>
	  	</tr>

	  	<tr id="sta_key_index_tr">
			<th><a class="hintstyle" href="javascript:void(0);" onClick="openHint(0, 10);"><#WLANConfig11b_WEPDefaultKey_itemname#></a></th>
			<td>		
		  		<select name="sta_key_index" class="input_option"  onChange="">
					<option value="1" <% nvram_match("wl_key", "1","selected"); %>>1</option>
					<option value="2" <% nvram_match("wl_key", "2","selected"); %>>2</option>
					<option value="3" <% nvram_match("wl_key", "3","selected"); %>>3</option>
					<option value="4" <% nvram_match("wl_key", "4","selected"); %>>4</option>
		  		</select>
			</td>
	  	</tr>
	  
	  	<tr id="thekey_tr">
			<th><a class="hintstyle" href="javascript:void(0);" onClick="openHint(0, 7);"><#Network_key#></a></th>
			<td>
				<input type="password" id="thekey" name="thekey" class="input_32_table">
			</td>
	  	</tr>
		<tr id ="show_password_tr">
			<th></th>
			<td>
				<input type="checkbox" name="show_pass_1" onclick="pass_checked(document.form.thekey);"><#QIS_show_pass#>
			</td>
		</tr> 
		</table>
</div>

<div id="setAuth">
		<div style="margin-left:25px;" class="QISGeneralFont">
			<#qis_wireless_setting#>
		</div>
		<br><br>
		<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0" style="padding-left:100px;">
			<tr id="wl_unit_field">
				<th width="25%"><#QIS_finish_wireless_item1#></th>
				<td>
					<input type="text" id="wl0_ssid" name="wl0_ssid" onkeypress="return is_string(this, event);" style="height:25px;display:none;" class="input_32_table" maxlength="32" value="" disabled>
					<input type="text" id="wl1_ssid" name="wl1_ssid" onkeypress="return is_string(this, event);" style="height:25px;" class="input_32_table" maxlength="32" value="">
				</td>
	  	</tr>
			<tr id="wl_unit_field">
				<th width="25%"><#Network_key#></th>
				<td>
					<input id="wl0_wpa_psk" name="wl0_wpa_psk" type="password" autocapitalization="off" value="" style="height:25px;display:none;" class="input_32_table" maxlength="65" disabled>
					<input id="wl1_wpa_psk" name="wl1_wpa_psk" type="password" autocapitalization="off" value="" style="height:25px;" class="input_32_table" maxlength="65">
				</td>
	  	</tr>
		<tr >
			<th></th>
			<td>
				<input type="checkbox" name="show_pass_2" onclick="check_wlc_band();"><#QIS_show_pass#>
			</td>
		</tr> 
		</table>
</div>

<div class="apply_gen" style="margin-top:30px">
	<input id="btnPre" type="button" value="<#btn_pre#>" onclick="setParentAP();" class="button_gen" >
	<input id="btnNext" type="button" value="<#CTL_next#>" onclick="setAuthMethod();" class="button_gen" >
	<input id="btnSubmit" type="button" value="<#CTL_Add_enrollee#>" onclick="submitForm();" class="button_gen" >
	<img id="loadingIcon" style="display:none;" src="/images/InternetScan.gif">
</div> 

</div> 
</form>
<form method="post" name="redirectForm" action="" target="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="prev_page" value="">
</form>
</body>
