Makefile
edit_man.sed
edit_man.sh
headers.sh
include/MKterm.h.awk
include/config.h
include/curses.h
include/curses.head
include/hashsize.h
include/ncurses_cfg.h
include/ncurses_def.h
include/ncurses_dll.h
include/parametrized.h
include/term.h
include/termcap.h
include/unctrl.h
lib
man/ncurses6-config.1
misc/ncurses-config
ncurses/codes.c
ncurses/comp_captab.c
ncurses/expanded.c
ncurses/fallback.c
ncurses/init_keytry.h
ncurses/keys.list
ncurses/lib_gen.c
ncurses/lib_keyname.c
ncurses/link_test.c
ncurses/make_hash
ncurses/make_keys
ncurses/names.c
ncurses/unctrl.c
obj_s
objects

ncursesw6-config.1
*.pc
gen-pkgconfig
misc/pc-files

