/*Switch Icon Start*/
.switch_field{
	width: 65px;
}
.switch_container{
	width: 50px;
	height: 30px;
	border: 1px solid transparent;
}
.switch_bar{
	width: 43px;
	height: 16px;
	background-color: #717171;
	margin:7px auto 0;
	border-radius: 10px;
}
.switch_circle{
	width: 26px;
	height: 26px;
	border-radius: 16px;
	background-color: #FFF;
	margin-top: -21px;
	box-shadow: 0px 4px 4px #444;
}
/*Icon*/
.switch_circle > div{
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 5px 0 0 5px;
}
/*background color of bar while checked*/
.switch:checked ~.switch_container > .switch_bar{
	background-color: #279FD9;
}
/*control icon style while checked*/
.switch:checked ~.switch_container > .switch_bar + .switch_circle > div{
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2016.9%2016.9%22%20style%3D%22enable-background%3Anew%200%200%2016.9%2016.9%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20style%3D%22fill%3A%23279FD9%22%3E%0A%09%3Cpolygon%20points%3D%226.8%2C14.9%200%2C8.8%202.2%2C6.4%206.6%2C10.5%2014.5%2C1.9%2016.8%2C3.9%20%09%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
	background-repeat: no-repeat;
}
.switch:checked ~.switch_container > .switch_circle{
	margin-left: 23px;
}
/*Switch Icon End*/
