Source: coreutils
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Michael Stone <mstone@debian.org>
Section: utils
Priority: required
Standards-Version: 3.9.2.0
Build-Depends: gettext:any (>= 0.10.37), debhelper (>= 5.0.0), dh-buildinfo, texinfo (>= 4.2), groff, dpatch, libattr1-dev | not+linux-gnu, libacl1-dev | not+linux-gnu, libselinux1-dev (>= 1.32) | not+linux-gnu, gperf, bison, valgrind [!armhf]

Package: coreutils
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${shlibs:Depends}
Essential: yes
Replaces: mktemp, timeout
Conflicts: timeout
Depends: ${misc:Depends}
Description: GNU core utilities
 This package contains the basic file, shell and text manipulation
 utilities which are expected to exist on every operating system.
 .
 Specifically, this package includes: 
 arch base64 basename cat chcon chgrp chmod chown chroot cksum comm cp
 csplit cut date dd df dir dircolors dirname du echo env expand expr
 factor false flock fmt fold groups head hostid id install join link ln
 logname ls md5sum mkdir mkfifo mknod mktemp mv nice nl nohup nproc od 
 paste pathchk pinky pr printenv printf ptx pwd readlink rm rmdir runcon
 sha*sum seq shred sleep sort split stat stty sum sync tac tail tee test
 timeout touch tr true truncate tsort tty uname unexpand uniq unlink 
 users vdir wc who whoami yes
Homepage: http://gnu.org/software/coreutils

Package: mktemp
Pre-Depends: coreutils (>= 7.4-1)
Priority: extra
Section: oldlibs
Architecture: all
Description: coreutils mktemp transitional package
 Empty package to facilitate upgrades, can be safely removed.
