*.o
*.deps
*.libs
Makefile
*.lo
*.a
config.h
pkgsrc/*.sh
libtool
ripd/ripd
zebra/zebra
zebra/testzebra
watchquagga/watchquagga
vtysh/vtysh_cmd.c
vtysh/extract.pl
doc/defines.texi
*.la
version.h
*.spec
tests/test-commands-defun.c
