*.o
*.orig
*.a
*.cmd
*.bin
piggy
piggy.lds
piggz
cfez
cfez.srec
cfez.map
cfe.srec
cfe.map
cfe.lds
cfe.dis
makereg
mkpcidb
build/broadcom/bcm947xx/build_date.c
build/broadcom/bcm947xx/cfe
build/broadcom/bcm947xx/compressed/cfez.lds
build/broadcom/bcm947xx/pcidevs_data2.h
