/*
	swat.css
	
	Styles added to the samba.org stylesheets 
	specifically for SWAT.
*/


/* Forms
***********************************************************/
.logout {
	text-align:right;
}
.logout form {
	display:inline;
}


/* Tables
***********************************************************/
table.data {
	   border: 2px;
}
table.data th {
	margin-top:20px;
	text-align:left;
        background-color: #F5C915;
}
table.data tr {
        background-color: #E5C995;
	text-align:left;
}

/* Temp fix for content sections that don't span the window.
   This is not cross-browser and won't be the final way I handle
   this, but I can't stand looking at small boxes while I work. :-) */
#content {
	min-width:55%;
	min-height:800px;
} 
