*.o
*.a
*.so
*.lo
*.la
stamp-h1
.deps/
.libs/
config.h
Makefile
config.log
config.status
libtool
lang/cl/gpg-error-codes.lisp
po/Makefile.in
po/POTFILES
src/code-from-errno.h
src/code-to-errno.h
src/err-codes-sym.h
src/err-sources-sym.h
src/errnos-sym.h
src/extra-h.in
src/gpg-error
src/gpg-error-config
src/gpg-error.def
src/mkerrcodes
src/mkerrcodes.h
src/mkw32errmap.map.c
src/versioninfo.rc
src/err-codes.h
src/err-sources.h
src/gpg-error.h
tests/t-strerror
tests/t-syserror
