*.o
*.lo
*.la
.libs
.deps
config.log
config.status
curl-config
src/curl
src/hugehelp.c
src/curl_config.h
src/stamp-h2
Makefile
docs/examples/Makefile
docs/libcurl/Makefile
include/curl/stamp-h3
include/curl/curlbuild.h
include/curl/Makefile
packages/AIX/Makefile
packages/AIX/RPM/Makefile
packages/EPM/Makefile
packages/Linux/Makefile
packages/Linux/RPM/Makefile
packages/Solaris/Makefile
packages/Win32/Makefile
packages/Win32/cygwin/Makefile
packages/vms/Makefile
packages/AIX/RPM/curl.spec
packages/EPM/curl.list
packages/Linux/RPM/curl-ssl.spec
packages/Linux/RPM/curl.spec
tests/data/Makefile
tests/libtest/Makefile
tests/server/Makefile
tests/unit/Makefile
tests/configurehelp.pm
libtool
lib/curl_config.h
libcurl.pc
