Source: linux-ntfs
Section: otherosfs
Priority: optional
Maintainer: Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: David Martínez Moreno <ender@debian.org
Build-Depends: debhelper (>> 4.2), libgnutls-dev (>> 1.4.0), libgnomevfs2-dev, libfuse-dev (>= 2.7.0), dpkg-dev (>= 1.13.19), uuid-dev
Standards-Version: 3.7.2.0

Package: ntfsprogs
Section: otherosfs
Architecture: any
Depends: ${shlibs:Depends}, fuse-utils (>> 2.5.0)
Description: tools for doing neat things in NTFS partitions from Linux
 The Linux-NTFS project (http://www.linux-ntfs.org/) aims to bring full
 support for the NTFS filesystem to the Linux operating system.
 .
 This is a set of tools targeted for people interested in working
 with the NTFS support in the Linux kernel and using it.  The
 following utilities are included:
 .
 ntfsfix - Fix common filesystem errors and force Windows to check NTFS.
 .
 mkntfs - Format a partition with an NTFS filesystem, optionally bootable.
 .
 ntfsinfo - Show some information about an NTFS partition or one of the
 files or directories within it.
 .
 ntfslabel - Show, or set, an NTFS partition's volume label.
 .
 ntfsresize - Resize an NTFS partition without losing data.
 .
 ntfsundelete - Recover deleted files from an NTFS partition.
 .
 ntfscluster - Locate the owner of any given sector or cluster on an NTFS
 partition.
 .
 ntfscat - Concatenate files and print them on the standard output
 (without mounting the partition).
 .
 ntfsls - List directory contents on an NTFS filesystem (without
 mounting).
 .
 ntfscp - Overwrite files on an NTFS partition.
 .
 ntfsclone - Efficiently clone an NTFS filesystem or a part of it.
 .
 ntfsmount - Mount an NTFS partition from user-space using libntfs and FUSE.
 .
 ntfsdecrypt - Decrypt NTFS-encrypted files (NOT INCLUDED).
 .
 ntfscmp - Compare two NTFS volumes and tell the differences.

Package: ntfsprogs-udeb
Section: debian-installer
Architecture: any
XC-Package-Type: udeb
Depends: ${shlibs:Depends}
Provides: ntfstools-udeb
Description: Tools for doing neat things in NTFS partitions from Linux - udeb
 Currently this udeb contains only ntfsresize.

Package: libntfs-gnomevfs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: ntfsprogs (<< 1.13.1-1)
Replaces: ntfsprogs (<< 1.13.1-1)
Description: NTFS GNOME virtual filesystem module
 The Linux-NTFS project (http://www.linux-ntfs.org/) aims to bring full
 support for the NTFS filesystem to the Linux operating system.
 .
 This package contains the NTFS GNOME virtual filesystem (VFS) module which
 allows GNOME VFS clients to seamlessly use the NTFS library.

Package: libntfs10
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libntfs5
Description: library that provides common NTFS access functions
 The Linux-NTFS project (http://www.linux-ntfs.org/) aims to bring full
 support for the NTFS filesystem to the Linux operating system.
 .
 libntfs provides common NTFS access functions for the ntfsprogs
 and other foreign open source applications.

Package: libntfs-dev
Section: libdevel
Architecture: any
Depends: libntfs10 (= ${binary:Version})
Description: library that provides common NTFS access functions (development files)
 The Linux-NTFS project (http://www.linux-ntfs.org/) aims to bring full
 support for the NTFS filesystem to the Linux operating system.
 .
 libntfs provides common NTFS access functions for the ntfsprogs
 and other foreign open source applications.
