#!/usr/bin/make -f
# debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
# Copyright 2001-2003 by David Martínez Moreno <ender@debian.org>
#

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

CFLAGS += -Wall -g

# Honor DEB_BUILD_OPTIONS!
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif

export CFLAGS

configure: configure-stamp
configure-stamp:
	dh_testdir

	./configure --prefix=/usr \
		    --mandir=\$${prefix}/share/man \
		    --infodir=\$${prefix}/share/info \
		    --enable-shared
#		    --enable-crypto

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	$(MAKE)
#	$(MAKE) -C ntfsprogs ntfsdecrypt

	# Build small ntfsresize for udeb.
	-mkdir ntfsprogs-udeb
	$(CC) -Os -o ntfsprogs-udeb/ntfsresize ntfsprogs/ntfsresize.o ntfsprogs/utils.o libntfs/.libs/libntfs.a

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	[ ! -f Makefile ] || $(MAKE) distclean
	
	rm -rf ntfsprogs-udeb

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install prefix=$(CURDIR)/debian/tmp/usr
#	install $(CURDIR)/ntfsprogs/ntfsdecrypt $(CURDIR)/debian/tmp/usr/bin

	dh_install --sourcedir=debian/tmp --list-missing
	dh_install -p ntfsprogs-udeb ntfsprogs-udeb/ntfsresize usr/bin

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
# Pass -a to all debhelper commands in this target to reduce clutter.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installman -a
	dh_installchangelogs ChangeLog -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a -V
	dh_installdeb -a
	dh_shlibdeps -a -ldebian/libntfs10/usr/lib/
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
