<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="../form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">
<style>
span{
	border:0px solid #FFFFFF;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	/*width:27px;*/
	text-align:right;
	margin:0px auto;
	ime-mode:disabled;
}
</style>
<script>

var country_code = "";
var selected_country = "";
var w_Setting = "<% nvram_get("w_Setting"); %>";
var ISP_List = [ <% get_isp_list("/www/ISP_List.txt"); %> ];
var ISP_List_IPTV = [ <% get_isp_list("/www/ISP_List_IPTV.txt"); %> ];
var ru_idx_start = 0;
var x_Setting = "<% nvram_get("x_Setting"); %>";

function $(){
	var elements = new Array();

	for(var i = 0; i < arguments.length; ++i){
		var element = arguments[i];
	if(typeof element == 'string')
		element = document.getElementById(element);

		if(arguments.length == 1)
			return element;

		elements.push(element);
	}

	return elements;
}

function setIptvNumPvc() {
	var pvc_cnt = 0;
	var tmp = document.form.dsltmp_cfg_iptv_idx.value;
	if (tmp != "") {
		for(var i = 0; i < ISP_List_IPTV.length; i++){
			if (ISP_List_IPTV[i][0] == tmp) {
				pvc_cnt++;
			}
		}
	}
	document.form.dsltmp_cfg_iptv_num_pvc.value = pvc_cnt.toString();
}

function showCountryList(o){
	var code = "";
	var showed_country = "";
	code +="<select	name='country' onchange='showAllList(this.value);'>";
	for(var i = 0; i < ISP_List.length; i++){
		if(showed_country != ISP_List[i][1]){
			code +="<option value='"+ISP_List[i][1];
			if(o == ISP_List[i][1]){
				code +="' selected='selected'";
			}
			code +="'>"+ISP_List[i][2]+"</option>";
			showed_country = ISP_List[i][1];
		}
	}

	code +="<option value='NO'><#Not_Listed#></option>";
	code +="</select>";

	$("CountryList").innerHTML = code;
}

function showCityList(o){
	var code = "";
	var showedCity = "";
	code +="<select	name='city' onchange='showRussiaISPList(this.value);'>";
	for(var i = 0; i < ISP_List.length; i++){
		if((showedCity != ISP_List[i][3]) && (o == ISP_List[i][1])){
			code +="<option value='"+ISP_List[i][3]+"'>"+ISP_List[i][3]+"</option>";
			showedCity = ISP_List[i][3];
		}
	}
	code +="</select>";

	$("CityList").innerHTML = code;
}

function showNomoISPList(o){
	var code = "";
	code +="<select	id='ISP' name='ISP' onChange='ShowPVC(this.value);'>";
	var first_element = 0;
	for(var i = 0; i < ISP_List.length; i++){
		if(o == ISP_List[i][1]){
			if (first_element==0) {
				first_element=1;
				ShowPVC(i);
				code +="<option value='"+ISP_List[i][0]+"' selected='selected'>"+ISP_List[i][4]+"</option>";
			}
			else {
				code +="<option value='"+ISP_List[i][0]+"'>"+ISP_List[i][4]+"</option>";
			}
		}
	}
	code +="<option value='NO'><#Not_Listed#></option>";
	code +="</select>";
	$("ISPList").innerHTML = code;
}

function showRussiaISPList(o){
	ISPlocatedCity = o;
	hidePVCInfo(1);
	var code = "";
	var First_ISP= "";
	var showed_ISP = "";
	code +="<select	id='ISP' name='ISP' onChange='ShowPVC(this.value); showRussiaISPServiceByIdx(ISPlocatedCity, this.value)'>";
	var first_element = 0;
	for(var i = ru_idx_start; i < ISP_List.length; i++){
		if((showed_ISP != ISP_List[i][4]) && (o == ISP_List[i][3])){
			if (first_element==0) {
				first_element=1;
				ShowPVC(i);
				code +="<option value='"+ISP_List[i][0]+"' selected='selected'>"+ISP_List[i][4]+"</option>";
			}
			else {
				code +="<option value='"+ISP_List[i][0]+"'>"+ISP_List[i][4]+"</option>";
			}

			if(First_ISP == "")
				First_ISP = ISP_List[i][4];
			showed_ISP = ISP_List[i][4];
		}
	}
	code +="<option value='NO'><#Not_Listed#></option>";
	code +="</select>";
	$("ISPList").innerHTML = code;

	showRussiaISPService(ISPlocatedCity, First_ISP);
}

function showRussiaISPServiceByIdx(c, idx){
	var isp_str	= "";
	for(var i = ru_idx_start; i < ISP_List.length; i++){
		if((idx == ISP_List[i][0])){
			isp_str = ISP_List[i][4];
		}
	}
	if (isp_str=="")
      	    $("Service_tr").style.display="none";
   	else {
      	    $("Service_tr").style.display="";
	var code = "";
	code +="<select	id='ISPSVC' name='ISPSVC' onChange='ChgSVC(this.value);'>";
	var first_element = 0;
	for(var i = ru_idx_start; i < ISP_List.length; i++){
		if((c == ISP_List[i][3]) && (isp_str == ISP_List[i][4])){
			if (first_element == 0)
			{
				first_element = 1;
				ChgSVC(i);
			}
			code +="<option value='"+ISP_List[i][0]+"'>"+ISP_List[i][5]+"</option>";
		}
	}
	code +="</select>";
	$("Service").innerHTML = code;
	}
}

function showRussiaISPService(c, o){
//alert("City: "+c+", ISP: "+o);
	if (o=="NO") {
      	    $("Service_tr").style.display="none";
	}
   	else {
      	    $("Service_tr").style.display="";
	var code = "";
	code +="<select	id='ISPSVC' name='ISPSVC' onChange='ChgSVC(this.value);'>";
	var first_element = 0;
	for(var i = ru_idx_start; i < ISP_List.length; i++){
		if((c == ISP_List[i][3]) && (o == ISP_List[i][4])){
			if (first_element == 0)
			{
				first_element = 1;
				ChgSVC(i);
			}
			code +="<option value='"+ISP_List[i][0]+"'>"+ISP_List[i][5]+"</option>";
		}
	}
	code +="</select>";
	$("Service").innerHTML = code;
	}
}

function showAllList(o){
	selected_country = o;
	
	if(o == "Russia"){
		$("City_tr").style.display="";
		$("Service_tr").style.display="";
		hideCityList(0);
		showCityList(o);
		if (ru_idx_start == 0) {
			for(var i=0; i< ISP_List.length; i++) {
				if(ISP_List[i][1]=="Russia")
					break;
			}
			ru_idx_start = i;
		}
		showRussiaISPList(ISP_List[ru_idx_start][3]);
		showRussiaISPService(ISP_List[ru_idx_start][3], ISP_List[ru_idx_start][4]);
		hidePVCInfo(1);
	}
	else{
		$("City_tr").style.display="none";
		$("Service_tr").style.display="none";
		hideCityList(1);
		showNomoISPList(o);
	}

	if (o=="NO")
      	    hidePVCInfo(0);
   	else
      	    hidePVCInfo(1);
}

function hideCityList(hide) {
   var status = 'visible';

   if ( hide == 1 )
      status = 'hidden';

   if (document.getElementById)  // DOM3 = IE5, NS6
      document.getElementById("CityList").style.visibility = status;
   else {
      if (document.layers) { // Netscape 4
      } else  // IE 4
         document.all.CityList.style.visibility = status;
   }
}

// change visible to display
// to avoid appear scroll bar
function hidePVCInfo(hide) {
   //var status = 'visible';
   var status = '';

//VPI/VCI
   if ( hide == 1 ) {
      //status = 'hidden';
	  status = 'none';
	}

   if (document.getElementById) {  // DOM3 = IE5, NS6
      //document.getElementById('vccInfo').style.visibility = status;
	  document.getElementById('vccInfo').style.display = status;
	}
   else {
      if (document.layers) { // Netscape 4
            if ( hide == 1 ) {
               document.forms.user_vpi.value = "";
               document.forms.user_vci.value = "";
			   document.forms.user_prctl.value = 0;
			   document.forms.user_encap.value = 0;
            }
      } else { // IE 4
         //document.all.vccInfo.style.visibility = status;
		 document.all.vccInfo.style.display = status;
		}
   }
}

function hidewarn(hide) {
   var status = 'visible';

   if ( hide == 1 )
      status = 'hidden';

   if (document.getElementById)  // DOM3 = IE5, NS6
      document.getElementById('warnning').style.visibility = status;
   else {
      if (document.layers) { // Netscape 4
      } else  // IE 4
         document.all.warning.style.visibility = status;
   }
}


function ShowPVC(idx) {
	document.form.ISP_value.value = idx;
   if ( idx=='NO' )
      hidePVCInfo(0);
   else
      hidePVCInfo(1);
}

function ChgSVC(idx) {
	document.form.ISPSVC_value.value = idx;
}

function gotoPrev(){
	location.href = "/qis/QIS_admin_pass.htm";
}

function QIS_menual_setting_load_body() {
	parent.set_step("t2");

	hidePVCInfo(1);

	if (x_Setting != "0") {
		$("bottom_btn1").style.display = 'none';
	}

	if(country_code=="")
	    country_code = "Australia";
	showCountryList(country_code);
	showAllList(country_code);
}


function QKfinish_load_body(){
	parent.document.title = "<#Web_Title#> - <#QKSet_all_title#>";
}

function submit_page(){
	setIptvNumPvc();
	document.form.submit();
}

function btnNext() {
	var connection_type = 0;
  // Manual Setting
  if ( document.form.country.value=='NO'|| document.form.ISP.value=='NO' ){

   	var tmp_vpi = document.form.user_vpi.value;
		var tmp_vci = document.form.user_vci.value;

		if(tmp_vpi == ""){
			alert("<#JS_fieldblank#>");
			document.form.user_vpi.focus();
			return false;
		}
		else if ( isNaN(tmp_vpi) == true ) {
			alert('VPI "' + tmp_vpi + '" <#Manual_Setting_JS_invalid#>');
			document.form.user_vpi.focus();
			return false;
		}

		if(tmp_vci == ""){
			alert("<#JS_fieldblank#>");
			document.form.user_vci.focus();
			return false;
		}
		else if ( isNaN(tmp_vci) == true ) {
			alert('VCI "' + tmp_vci + '" <#Manual_Setting_JS_invalid#>');
			document.form.user_vci.focus();
			return false;
		}

		var vpi = parseInt(tmp_vpi);
		if ( vpi < 0 || vpi > 255 ) {
			alert('VPI "' + tmp_vpi + '" <#Manual_Setting_JS_outrange#> [0-255].');
			document.form.user_vpi.focus();
			document.form.user_vpi.select();
			return false;
		}

		var vci = parseInt(tmp_vci);
		if ( vci < 32 || vci > 65535 ) {
			alert('VCI "' + tmp_vci + '" <#Manual_Setting_JS_outrange#> [32-65535].');
			document.form.user_vci.focus();
			document.form.user_vci.select();
			return false;
		}

		connection_type = document.form.user_prctl.value;
		document.form.dsltmp_cfg_vpi.value = document.form.user_vpi.value;
		document.form.dsltmp_cfg_vci.value = document.form.user_vci.value;
		document.form.dsltmp_cfg_prctl.value = document.form.user_prctl.value;
		document.form.dsltmp_cfg_encap.value = document.form.user_encap.value;
		document.form.dsltmp_cfg_iptv_idx.value = "";
		document.form.dsltmp_cfg_ispname.value = "";
		document.form.dsltmp_cfg_country.value = "";
  }
  else {
		var isp_idx = 0
		if (selected_country == "Russia") {
			isp_idx = document.getElementById("ISPSVC").value;
		}
		else {
			isp_idx = document.form.ISP_value.value;
		}
		connection_type = ISP_List[isp_idx][8];
		document.form.dsltmp_cfg_vpi.value = ISP_List[isp_idx][6];
		document.form.dsltmp_cfg_vci.value = ISP_List[isp_idx][7];
		document.form.dsltmp_cfg_prctl.value = ISP_List[isp_idx][8];
		document.form.dsltmp_cfg_encap.value = ISP_List[isp_idx][9];
		document.form.dsltmp_cfg_iptv_idx.value = ISP_List[isp_idx][10];
		document.form.dsltmp_cfg_ispname.value = ISP_List[isp_idx][4];
		document.form.dsltmp_cfg_country.value = ISP_List[isp_idx][1];
	}

	if (connection_type==0 || connection_type==1)
	{
		//pppoe or pppoa
		document.form.next_page.value = "/qis/QIS_ppp_cfg_tmp.htm";
		submit_page();
	}
	else if (connection_type==2)
	{
		//mer
		document.form.next_page.value = "/qis/QIS_mer_cfg_tmp.htm";
		submit_page();
	}
	else if (connection_type==3)
	{
		//bridge
		document.form.next_page.value = "/qis/QIS_bridge_cfg_tmp.htm";
		submit_page();
	}
	else if (connection_type==4)
	{
		//ipoa
		document.form.next_page.value = "/qis/QIS_ipoa_cfg_tmp.htm";
		submit_page();
	}
	else
	{
		alert("<#Connectiontype_unknown#>");
		return;
	}
}

function gotoIndex(){
	if (w_Setting == "0") {
		alert("<#QIS_recommand_encryption#>");	
		location.href = '/qis/QIS_wireless.htm';
	}
	else {
		parent.location.href = '/index.asp';
	}
}
</script>
</head>

<body onLoad="QIS_menual_setting_load_body();" >
<form method="post" name="form" action="/start_apply.htm" target="">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="current_page" value="/qis/QIS_manual_setting.htm">
<input type="hidden" name="next_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_script" value="">
<input type="hidden" name="action_wait" value="">
<input type="hidden" name="dsltmp_cfg_vpi" value="">
<input type="hidden" name="dsltmp_cfg_vci" value="">
<input type="hidden" name="dsltmp_cfg_prctl" value="">
<input type="hidden" name="dsltmp_cfg_encap" value="">
<input type="hidden" name="dsltmp_cfg_iptv_idx" value="">
<input type="hidden" name="dsltmp_cfg_iptv_num_pvc" value="">
<input type="hidden" name="dsltmp_cfg_ispname" value="">
<input type="hidden" name="dsltmp_cfg_country" value="">
<input type="hidden" name="ISP_value" value="">
<input type="hidden" name="ISPSVC_value" value="">
<input type="hidden" name="dsltmp_qis_dsl_pvc_set" value="1">

<div class="QISmain">
	<!--
	<div class="formfonttitle" style="padding:0 0 0 10;" id="FailReason"><#Manual_Setting_Title#></div>
	<div style="margin-left:5px;margin-top:10px;margin-bottom:10px"><img style="width: 700px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
	-->
	<div class="formfonttitle" style="padding:6 0 0 10;">
			<div>
				<table width="730px">
					<tr>
						<td align="left">
							<span class="description_down"><#Manual_Setting_Title#></span>
						</td>
					</tr>
					<tr id="home_button">
						<td align="right">
							<img onclick="gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
						</td>
					</tr>
				</table>
			</div>
			<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
	</div>
	<br/>
	<table width="510" border="1" align="center" cellpadding="4" cellspacing="0" bordercolor="#6b8fa3" class="FormTable">
		<thead>
		<tr>
			<td colspan="2"><#Manual_Setting_Title#></td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td colspan="2">
			<#Manual_Setting_desc1#><br/>
			<span id='warnning'>
			<b></b>
			</span>
		</td>
		</tr>
		<tr>
			<th width="40%"><#Manual_Setting_contry#></th>
			<td>
				<div id="CountryList"></div>
			</td>
		</tr>
		<tr id="City_tr">
			<th width="40%"><#Manual_Setting_city#></th>
			<td>
			<div id="CityList"></div>
			</td>
		</tr>
		<tr id="ISP_tr">
			<th width="40%">ISP:</th>
			<td>
				<div id="ISPList"></div>
			</td>
		</tr>
		<tr id="Service_tr">
			<th width="40%"><#qis_service#>:</th>
			<td>
				<div id="Service"></div>
			</td>
		</tr>
		</tbody>
	</table>
	<div id='vccInfo'>
	<table width="510" border="1" align="center" cellpadding="4" cellspacing="0" bordercolor="#6b8fa3" class="FormTable">
		<tbody>
			<tr>
				<td colspan="2""><#Manual_Setting_desc3#></td>
			</tr>
			<tr>
				<th width="40%">VPI:</th>
				<td><input type='text' name='user_vpi' size='2' maxlength="3"><span> 0-255</span></td>
			</tr>
			<tr>
				<th>VCI:</th>
				<td><input type='text' name='user_vci' size='4' maxlength="5"><span> 32-65535</span></td>
			</tr>
			<tr>
				<th><#Layer3Forwarding_x_ConnectionType_itemname#>:</th>
				<td>
				<select	name='user_prctl'>
				<option value = 0>PPPoE</option>
				<option value = 1>PPPoA</option>
				<option value = 2>MER</option>
				<option value = 3>Bridge</option>
				<option value = 4>IPoA</option>
				</select>
				</td>
			</tr>
			<tr>
				<th><#prtcl_JS_encmode#>:</th>
				<td>
				<select	name='user_encap'>
				<option value = 0>LLC</option>
				<option value = 1>VC-Mux</option>
				</select>
				</td>
				</tr>
		</tbody>
	</table>
	</div>

	<div class="apply_gen" style="margin-top:10px">
		<span id="bottom_btn1"><input type="button" value="<#CTL_Detect_Again#>" onclick="submit_page();" class="button_gen" ></span>
		<input type="button" value="<#btn_next#>" onclick="btnNext();" class="button_gen">
	</div>

</div>
</form>
</body>
</html>
