<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<link type="text/css" rel="stylesheet" href="qis_style.css">
<script type="text/javascript" src="/state.js"></script>
<script type="text/javascript" src="/general.js"></script>
<script type="text/javascript" src="/help.js"></script>
<script>

var w_Setting = "<% nvram_get("w_Setting"); %>";
var is_admin_pswd_set = "<% nvram_get("dsltmp_qis_admin_passwd_set"); %>";
var is_dsl_pvc_set = "<% nvram_get("dsltmp_qis_dsl_pvc_set"); %>";
var ISP_List_IPTV = [ <% get_isp_list("/www/ISP_List_IPTV.txt"); %> ];
var cfg_iptv_num_pvc="<% nvram_get("dsltmp_cfg_iptv_num_pvc"); %>";
var cfg_iptv_idx="<% nvram_get("dsltmp_cfg_iptv_idx"); %>";

function disable_iptv_pvc0() {
	document.form.dsl1_enable.value = "0";
	document.form.dsl1_vpi.disabled = true;
	document.form.dsl1_vci.disabled = true;
	document.form.dsl1_proto.disabled = true;
	document.form.dsl1_encap.disabled = true;
	document.form.dsl1_svc_cat.disabled = true;
	document.form.dsl1_pcr.disabled = true;
	document.form.dsl1_scr.disabled = true;
	document.form.dsl1_mbs.disabled = true;
}

function disable_iptv_pvc1() {
	document.form.dsl2_enable.value = "0";
	document.form.dsl2_vpi.disabled = true;
	document.form.dsl2_vci.disabled = true;
	document.form.dsl2_proto.disabled = true;
	document.form.dsl2_encap.disabled = true;
	document.form.dsl2_svc_cat.disabled = true;
	document.form.dsl2_pcr.disabled = true;
	document.form.dsl2_scr.disabled = true;
	document.form.dsl2_mbs.disabled = true;
}

function disable_iptv_pvc2() {
	document.form.dsl3_enable.value = "0";
	document.form.dsl3_vpi.disabled = true;
	document.form.dsl3_vci.disabled = true;
	document.form.dsl3_proto.disabled = true;
	document.form.dsl3_encap.disabled = true;
	document.form.dsl3_svc_cat.disabled = true;
	document.form.dsl3_pcr.disabled = true;
	document.form.dsl3_scr.disabled = true;
	document.form.dsl3_mbs.disabled = true;
}

function disable_dsl_pvc() {
	document.form.dsl0_enable.disabled = true;
	document.form.dsl0_vpi.disabled = true;
	document.form.dsl0_vci.disabled = true;
	document.form.dsl0_proto.disabled = true;
	document.form.dsl0_encap.disabled = true;
	document.form.dsl0_svc_cat.disabled = true;
	document.form.dsl0_pcr.disabled = true;
	document.form.dsl0_scr.disabled = true;
	document.form.dsl0_mbs.disabled = true;
	document.form.dsl1_enable.disabled = true;
	document.form.dsl1_vpi.disabled = true;
	document.form.dsl1_vci.disabled = true;
	document.form.dsl1_proto.disabled = true;
	document.form.dsl1_encap.disabled = true;
	document.form.dsl1_svc_cat.disabled = true;
	document.form.dsl1_pcr.disabled = true;
	document.form.dsl1_scr.disabled = true;
	document.form.dsl1_mbs.disabled = true;
	document.form.dsl2_enable.disabled = true;
	document.form.dsl2_vpi.disabled = true;
	document.form.dsl2_vci.disabled = true;
	document.form.dsl2_proto.disabled = true;
	document.form.dsl2_encap.disabled = true;
	document.form.dsl2_svc_cat.disabled = true;
	document.form.dsl2_pcr.disabled = true;
	document.form.dsl2_scr.disabled = true;
	document.form.dsl2_mbs.disabled = true;
	document.form.dsl3_enable.disabled = true;
	document.form.dsl3_vpi.disabled = true;
	document.form.dsl3_vci.disabled = true;
	document.form.dsl3_proto.disabled = true;
	document.form.dsl3_encap.disabled = true;
	document.form.dsl3_svc_cat.disabled = true;
	document.form.dsl3_pcr.disabled = true;
	document.form.dsl3_scr.disabled = true;
	document.form.dsl3_mbs.disabled = true;
	document.form.dsl4_enable.disabled = true;
	document.form.dsl5_enable.disabled = true;
	document.form.dsl6_enable.disabled = true;
	document.form.dsl7_enable.disabled = true;
	document.form.dslx_pppoe_username.disabled = true;
	document.form.dslx_pppoe_passwd.disabled = true;
	document.form.dslx_pppoe_idletime.disabled = true;
	document.form.dslx_pppoe_mtu.disabled = true;
	document.form.dslx_pppoe_service.disabled = true;
	document.form.dslx_pppoe_ac.disabled = true;
	document.form.dslx_pppoe_options.disabled = true;
	document.form.dslx_pppoe_relay.disabled = true;
	document.form.dslx_hwaddr.disabled = true;
	document.form.dslx_DHCPClient.disabled = true;
	document.form.dslx_ipaddr.disabled = true;
	document.form.dslx_netmask.disabled = true;
	document.form.dslx_gateway.disabled = true;
	document.form.dslx_dnsenable.disabled = true;
	document.form.dslx_dns1.disabled = true;
	document.form.dslx_dns2.disabled = true;
	document.form.fw_pt_pppoerelay.disabled = true;	
}

function setIptvPvc(idx) {
	var pvc_cnt = 0;
	var tmp = cfg_iptv_idx;
	if (tmp != "") {
		for(var i = 0; i < ISP_List_IPTV.length; i++){
			if (ISP_List_IPTV[i][0] == tmp) {
				if (pvc_cnt == idx) {
					if (idx == 0) {
						document.form.dsl1_vpi.value = ISP_List_IPTV[i][1];
						document.form.dsl1_vci.value = ISP_List_IPTV[i][2];
						document.form.dsl1_encap.value = ISP_List_IPTV[i][4];
						break;
					}
					else if (idx == 1) {
						document.form.dsl2_vpi.value = ISP_List_IPTV[i][1];
						document.form.dsl2_vci.value = ISP_List_IPTV[i][2];
						document.form.dsl2_encap.value = ISP_List_IPTV[i][4];
						break;
					}
					else if (idx == 2) {
						document.form.dsl3_vpi.value = ISP_List_IPTV[i][1];
						document.form.dsl3_vci.value = ISP_List_IPTV[i][2];
						document.form.dsl3_encap.value = ISP_List_IPTV[i][4];
						break;
					}
				}
				pvc_cnt++;
			}
		}
	}
}

function QKWireless_load_body(){
	parent.document.title = "<#Web_Title#> - <#QKSet_wireless_webtitle#>";
	parent.set_step("t3");

	if (cfg_iptv_num_pvc == "1") {
		setIptvPvc(0);
		disable_iptv_pvc1();
		disable_iptv_pvc2();
	}
	else if (cfg_iptv_num_pvc == "2") {
		setIptvPvc(0);
		setIptvPvc(1);
		disable_iptv_pvc2();
	}
	else if (cfg_iptv_num_pvc == "3") {
		setIptvPvc(0);
		setIptvPvc(1);
		setIptvPvc(2);
	}
	else {
		disable_iptv_pvc0();
		disable_iptv_pvc1();
		disable_iptv_pvc2();
	}

	if (is_admin_pswd_set == "1") {
		document.form.http_passwd.value="<% nvram_get("dsltmp_qis_admin_passwd"); %>";
	}
	else {
		document.form.http_passwd.disabled = true;
	}

	if (is_dsl_pvc_set == "0") {
		disable_dsl_pvc();
	}

	document.form.wl0_ssid.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_ssid"); %>');
	document.form.wl0_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>');
	document.form.wl1_ssid.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_ssid"); %>');
	document.form.wl1_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>');

	if(band5g_support == -1){
		$("wl_unit_field_1").style.display = "none";
		$("wl_unit_field_2").style.display = "none";
		$("wl_unit_field_3").style.display = "none";
	}

	document.form.wl0_ssid.focus();
}

function submitForm(){
	if(document.form.wl0_wpa_psk.value == "" && document.form.wl1_wpa_psk.value == ""){
		if(!confirm("<#QIS_confirm_recommand_encryp#>"))
			return false;
	}

	if(!validate_string_ssid(document.form.wl1_ssid))
		return false;

	if(!validate_string_ssid(document.form.wl0_ssid))
		return false;

	if(document.form.wl1_wpa_psk.value.length > 0){
		document.form.wl1_auth_mode_x.value = "psk2";
		/*if(!validate_wlpsk(document.form.wl1_wpa_psk))
			return false;*/
		if(!validate_psk(document.form.wl1_wpa_psk))
			return false;
	}
	else
		document.form.wl1_auth_mode_x.value = "open";

	if(document.form.wl0_wpa_psk.value.length > 0){
		document.form.wl0_auth_mode_x.value = "psk2";
		/*if(!validate_wlpsk(document.form.wl0_wpa_psk))
			return false;*/
		if(!validate_psk(document.form.wl0_wpa_psk))
			return false;
	}
	else
		document.form.wl0_auth_mode_x.value = "open";

		/*
	if(parent.$("flag").value == "adv_ap_mode" || parent.document.QKform.sw_mode.value == "3"){
		document.form.flag.value = "adv_ap_mode";
		document.form.lan_ipaddr.disabled = false;
		document.form.lan_proto.disabled = false;
		document.form.lan_netmask.disabled = false;
		document.form.lan_gateway.disabled = false;
		document.form.lan_dnsenable_x.disabled = false;
		document.form.lan_dns1_x.disabled = false;
		document.form.lan_dns2_x.disabled = false;
		document.form.lan_ipaddr.value = parent.document.QKform.lan_ipaddr.value;
		document.form.lan_proto.value = parent.document.QKform.lan_proto.value;
		document.form.lan_netmask.value = parent.document.QKform.lan_netmask.value;
		document.form.lan_gateway.value = parent.document.QKform.lan_gateway.value;
		document.form.lan_dnsenable_x.value = parent.document.QKform.lan_dnsenable_x.value;
		document.form.lan_dns1_x.value = parent.document.QKform.lan_dns1_x.value;
		document.form.lan_dns2_x.value = parent.document.QKform.lan_dns2_x.value;
		document.form.action_script.value = "restart_all";
		document.form.sw_mode.value = 3;
		if('<% nvram_get("sw_mode"); %>' == '1'){
			document.form.lan_ipaddr_rt.disabled = false;
			document.form.lan_netmask_rt.disabled = false;
			document.form.lan_ipaddr_rt.value = parent.document.QKform.lan_ipaddr_rt.value;
			document.form.lan_netmask_rt.value = parent.document.QKform.lan_netmask_rt.value;
		}
	}
	else{
	*/
		document.form.flag.value = "finish";
		document.form.sw_mode.value = 1;
	//}

	parent.showLoading(15);
	//parent.w_Setting_tmp = document.form.w_Setting.value
	//document.getElementById("loadingIcon").style.display = "";
	//document.form.wan_nat_x.value = parent.document.QKform.wan_nat_x.value;
	document.form.wan_nat_x.value = 1;
	//document.form.http_passwd.value = parent.document.QKform.http_passwd.value;
	//document.form.target = "hidden_frame";
	document.form.next_page.value = "/qis/QIS_finish.htm";
	document.form.submit();
}

/*
function show_prev_button(){
	if(parent.$("flag").value == "wireless"){
		$("prevButton").value = '<#CTL_AdvSetting#>';

		document.form.prev_page.value = "/Advanced_Wireless_Content.asp";
	}
	else if(parent.$("flag").value == "adv_ap_mode")
		document.form.prev_page.value = "/Advanced_OperationMode_Content.asp";
}
*/

function Sync_2ghz(band){
	if(band == 2){
		if(document.form.sync_with_2ghz.checked == true){
			document.form.wl1_ssid.value = document.form.wl0_ssid.value;
			document.form.wl1_wpa_psk.value = document.form.wl0_wpa_psk.value;
		}
	}
	else
		document.form.sync_with_2ghz.checked = false;
}

function validate_wlpsk(psk_obj){
	var psk_length = psk_obj.value.length;

	if(psk_length < 8 || psk_length > 64){
		alert("<#qis_wireless_sk_warning#>");
		psk_obj.focus();
		psk_obj.select();

		return false;
	}

	if(psk_length >= 8 && psk_length <= 63 && !validate_string(psk_obj)){
		alert("<#JS_PSK64Hex#>");
		psk_obj.focus();
		psk_obj.select();

		return false;
	}

	return true;
}

function gotoHome(){
	if (w_Setting == "0") {
		alert("<#QIS_recommand_encryption#>");
		location.href = '/qis/QIS_wireless.htm';
	}
	else {
		parent.location.href = '/index.asp';
	}
}
</script>
</head>

<body onLoad="QKWireless_load_body();" onunload="">
<form method="post" name="form" action="/start_apply.htm">
<input type="hidden" name="current_page" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="prev_page" value="/qis/QIS_manual_setting.htm">
<input type="hidden" name="flag" value="">
<input type="hidden" name="wsc_config_state" value="1">
<input type="hidden" name="wan_nat_x" value="">
<input type="hidden" name="wan_route_x" value="">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_wait" value="15">
<input type="hidden" name="action_script" value="restart_dsl_wireless 0">
<input type="hidden" name="productid" value="<% nvram_get("productid"); %>">
<input type="hidden" name="wl0_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_ssid"); %>">
<input type="hidden" name="wl0_auth_mode_x" value="">
<input type="hidden" name="wl0_crypto" value="aes">
<input type="hidden" name="wl0_wep_x" value="0">
<input type="hidden" name="wl0_wpa_mode" value="0">
<input type="hidden" name="wl1_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_ssid"); %>">
<input type="hidden" name="wl1_auth_mode_x" value="">
<input type="hidden" name="wl1_crypto" value="aes">
<input type="hidden" name="wl1_wep_x" value="0">
<input type="hidden" name="wl1_wpa_mode" value="0">
<input type="hidden" name="lan_ipaddr" value="" disabled>
<input type="hidden" name="lan_proto" value="" disabled>
<input type="hidden" name="lan_netmask" value="" disabled>
<input type="hidden" name="lan_gateway" value="" disabled>
<input type="hidden" name="lan_dnsenable_x" value="" disabled>
<input type="hidden" name="lan_dns1_x" value="" disabled>
<input type="hidden" name="lan_dns2_x" value="" disabled>
<input type="hidden" name="lan_ipaddr_rt" value="" disabled>
<input type="hidden" name="lan_netmask_rt" value="" disabled>
<input type="hidden" name="http_passwd" value="<% nvram_get("password"); %>">
<input type="hidden" name="dsl0_enable" value="1">
<input type="hidden" name="dsl0_vpi" value="<% nvram_get("dsltmp_qis_vpi"); %>">
<input type="hidden" name="dsl0_vci" value="<% nvram_get("dsltmp_qis_vci"); %>">
<input type="hidden" name="dsl0_proto" value="<% nvram_get("dsltmp_qis_proto"); %>">
<input type="hidden" name="dsl0_encap" value="<% nvram_get("dsltmp_qis_encap"); %>">
<input type="hidden" name="dsl0_svc_cat" value="<% nvram_get("dsltmp_qis_svc_cat"); %>">
<input type="hidden" name="dsl0_pcr" value="<% nvram_get("dsltmp_qis_pcr"); %>">
<input type="hidden" name="dsl0_scr" value="<% nvram_get("dsltmp_qis_scr"); %>">
<input type="hidden" name="dsl0_mbs" value="<% nvram_get("dsltmp_qis_mbs"); %>">
<!-- IPTV start -->
<input type="hidden" name="dsl1_enable" value="1">
<input type="hidden" name="dsl1_vpi" value="">
<input type="hidden" name="dsl1_vci" value="">
<input type="hidden" name="dsl1_proto" value="bridge">
<input type="hidden" name="dsl1_encap" value="">
<input type="hidden" name="dsl1_svc_cat" value="0">
<input type="hidden" name="dsl1_pcr" value="300">
<input type="hidden" name="dsl1_scr" value="299">
<input type="hidden" name="dsl1_mbs" value="32">
<input type="hidden" name="dsl2_enable" value="1">
<input type="hidden" name="dsl2_vpi" value="">
<input type="hidden" name="dsl2_vci" value="">
<input type="hidden" name="dsl2_proto" value="bridge">
<input type="hidden" name="dsl2_encap" value="">
<input type="hidden" name="dsl2_svc_cat" value="0">
<input type="hidden" name="dsl2_pcr" value="300">
<input type="hidden" name="dsl2_scr" value="299">
<input type="hidden" name="dsl2_mbs" value="32">
<input type="hidden" name="dsl3_enable" value="1">
<input type="hidden" name="dsl3_vpi" value="">
<input type="hidden" name="dsl3_vci" value="">
<input type="hidden" name="dsl3_proto" value="bridge">
<input type="hidden" name="dsl3_encap" value="">
<input type="hidden" name="dsl3_svc_cat" value="0">
<input type="hidden" name="dsl3_pcr" value="300">
<input type="hidden" name="dsl3_scr" value="299">
<input type="hidden" name="dsl3_mbs" value="32">
<input type="hidden" name="dsl4_enable" value="0">
<input type="hidden" name="dsl5_enable" value="0">
<input type="hidden" name="dsl6_enable" value="0">
<input type="hidden" name="dsl7_enable" value="0">
<!-- IPTV end -->
<input type="hidden" name="dslx_pppoe_username" value="<% nvram_get("dsltmp_qis_pppoe_username"); %>">
<input type="hidden" name="dslx_pppoe_passwd" value="<% nvram_get("dsltmp_qis_pppoe_passwd"); %>">
<input type="hidden" name="dslx_pppoe_idletime" value="<% nvram_get("dsltmp_qis_pppoe_idletime"); %>">
<input type="hidden" name="dslx_pppoe_mtu" value="<% nvram_get("dsltmp_qis_pppoe_mtu"); %>">
<!--
<input type="hidden" name="dsl0_pppoe_mru" value="<% nvram_get("dsltmp_qis_pppoe_mru"); %>">
-->
<input type="hidden" name="dslx_pppoe_service" value="<% nvram_get("dsltmp_qis_pppoe_service"); %>">
<input type="hidden" name="dslx_pppoe_ac" value="">
<input type="hidden" name="dslx_pppoe_options" value="<% nvram_get("dsltmp_qis_pppoe_options"); %>">
<input type="hidden" name="dslx_pppoe_relay" value=""> 
<input type="hidden" name="dslx_hwaddr" value="<% nvram_get("dsltmp_qis_hwaddr"); %>">
<input type="hidden" name="dslx_DHCPClient" value="<% nvram_get("dsltmp_qis_DHCPClient"); %>">
<input type="hidden" name="dslx_ipaddr" value="<% nvram_get("dsltmp_qis_ipaddr"); %>">
<input type="hidden" name="dslx_netmask" value="<% nvram_get("dsltmp_qis_netmask"); %>">
<input type="hidden" name="dslx_gateway" value="<% nvram_get("dsltmp_qis_gateway"); %>">
<input type="hidden" name="dslx_dnsenable" value="<% nvram_get("dsltmp_qis_dnsenable"); %>">
<input type="hidden" name="dslx_dns1" value="<% nvram_get("dsltmp_qis_dns1"); %>">
<input type="hidden" name="dslx_dns2" value="<% nvram_get("dsltmp_qis_dns2"); %>">
<input type="hidden" name="fw_pt_pppoerelay" value="<% nvram_get("dsltmp_qis_pppoe_relay"); %>"> 
<!-- clear set flag after submit -->
<input type="hidden" name="dsltmp_qis_admin_passwd_set" value="0">
<input type="hidden" name="dsltmp_qis_dsl_pvc_set" value="0">
<input type="hidden" name="sw_mode" value="">
<input type="hidden" name="x_Setting" value="1">
<input type="hidden" name="w_Setting" value="1">
<input type="hidden" name="wlc_ure_ssid_org" value="<% nvram_char_to_ascii("WLANConfig11b", "wlc_ure_ssid"); %>" disabled>
<div class="QISmain">
		<div class="formfonttitle" style="padding:6 0 0 10;">
				<div>
					<table width="730px">
						<tr>
							<td align="left">
								<span class="description_down"><#QKSet_wireless_webtitle#></span>
							</td>
						</tr>
						<tr id="home_button">
							<td align="right">
								<img onclick="gotoHome();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
							</td>
						</tr>
					</table>
				</div>
				<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
		</div>
<div class="QISGeneralFont"><#qis_wireless_setting#></div>
<br/>
<table class="QISform_wireless" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	<tr>
	<th width="180">2.4GHz - <#Security#> </th>
	<td class="QISformtd">
	</td>
	</tr>

	<tr>
	<th width="180"><span onmouseout="return nd();" onclick="openHint(0, 22);" style="cursor:help;"><#QIS_finish_wireless_item1#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
	<td class="QISformtd">
		<input type="text" id="wl0_ssid" name="wl0_ssid" onkeypress="return is_string(this, event);" onkeyup="Sync_2ghz(2);" style="height:25px;" class="input_32_table" maxlength="32" value="default"/>
	</td>
	</tr>

	<tr id="wl_unit_field_0">
	<th width="180"><span onmouseout="return nd();" onclick="openHint(0, 23);" style="cursor:help;"><#Network_key#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
	<td class="QISformtd">
			<input id="wl0_wpa_psk" name="wl0_wpa_psk" type="password" autocapitalization="off" onBlur="switchType(this, false);" onFocus="switchType(this, true);" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_wpa_psk"); %>" onkeyup="Sync_2ghz(2);" style="height:25px;" class="input_32_table" maxlength="64">
			<input id="wl0_wpa_psk_text" name="wl0_wpa_psk_text" type="text" autocapitalization="off" onBlur="switchType(this, flase);" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_wpa_psk"); %>" onkeyup="Sync_2ghz(2);" style="height:25px;display:none;" class="input_32_table" maxlength="64">
	</td>
	</tr>

	<tr id="wl_unit_field_1">
	<th width="180">5GHz - <#Security#> </th>
	<td class="QISformtd">
			<span id="syncCheckbox"><input type="checkbox" id="sync_with_2ghz" name="sync_with_2ghz" class="input" onclick="setTimeout('Sync_2ghz(2);',0);"><#qis_ssid_desc#></span>
	</td>
	</tr>

	<tr id="wl_unit_field_2">
	<th width="180"><span onmouseout="return nd();" onclick="openHint(0, 22);" style="cursor:help;"><#QIS_finish_wireless_item1#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
	<td class="QISformtd">
		<input type="text" id="wl1_ssid" name="wl1_ssid" onkeypress="return is_string(this, event);" onkeyup="Sync_2ghz(5);" style="height:25px;" class="input_32_table" maxlength="32" value="default"/>
	</td>
	</tr>

	<tr id="wl_unit_field_3">
	<th width="180"><span onmouseout="return nd();" onclick="openHint(0, 23);" style="cursor:help;"><#Network_key#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
	<td class="QISformtd">
			<input id="wl1_wpa_psk" name="wl1_wpa_psk" type="password" autocapitalization="off" onBlur="switchType(this, false);" onFocus="switchType(this, true);" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_wpa_psk"); %>" onkeyup="Sync_2ghz(5);" style="height:25px;" class="input_32_table" maxlength="64">
			<input id="wl1_wpa_psk_text" name="wl1_wpa_psk_text" type="text" autocapitalization="off" onBlur="switchType(this, false);" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_wpa_psk"); %>" onkeyup="Sync_2ghz(5);" style="height:25px;display:none;" class="input_32_table" maxlength="64">
	</td>
	</tr>
</table>

<br/>
<div class="QISGeneralFont"><#qis_wireless_setting_skdesc#></div>
<br/>

<div class="apply_gen" style="margin-top:10px">
	<input type="button" value="<#btn_next#>" onclick="submitForm();" class="button_gen">
</div>

</form>
</body>
