<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link type="text/css" rel="stylesheet" href="/qis/qis_style.css">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<style>
.test_css{
	padding-left:10px;
	font-size:13px;
	font-weight:bolder;
	color:#FFFFFF;
	/*background-color:#C0DAE4;*/
}
</style>
<script type="text/JavaScript" src="/jquery.js"></script>
<script type="text/javascript">

var RetryCountDown_fail = 5;
var det_status = '<% nvram_get("dsltmp_autodet_state"); %>';


function QKDetect_load_body(){
	// left side step indication
	parent.set_step("t1");
	parent.document.title = "<#Web_Title#> - <#QKSet_detect_sanglass#>";
	setTimeout('getWANStatus();', 1000);
}

function getWANStatus(){
	$.ajax({
		url: '/result_of_get_changed_status_QIS.asp',
		dataType: 'script',

		error: function(xhr){
			--RetryCountDown_fail;
			if(RetryCountDown_fail < 1){
				alert("<#Disconnected#>!");
				refreshpage();
			}
			else
				getWANStatus();
		},
		success: function(response){
			RetryCountDown_fail = 5;
			if(dsl_autodet_state == "pppoe" || dsl_autodet_state == "pppoa")
				redirect_page("ppp_cfg");
			else if(dsl_autodet_state == "dhcp")
				redirect_page("mer_cfg");
			else if(dsl_autodet_state == "Fail")
				redirect_page("manual_setting");
			else if(dsl_autodet_state == "down") {
				set_no_cable_info(true);
				setTimeout('getWANStatus();', 1000);
			}
			else {
				set_no_cable_info(false);			
				setTimeout('getWANStatus();', 1000);
			}
		}
	});
}

function set_no_cable_info(no_cable){
	if (no_cable) {
		document.getElementById("no_cable").style.display = "";				
	}
	else {
		document.getElementById("no_cable").style.display = "none";					
	}
}

function redirect_page(redirect_flag){
	document.form.action = "/qis/QIS_"+redirect_flag+".htm";
	document.form.submit();
}

function gotoIndex(){
		parent.location.href = '/index.asp';
}

function gotoUserManualSet(){
	location.href = '/qis/QIS_manual_setting.htm';
}

</script>
</head>

<body onLoad="QKDetect_load_body();">
<form method="post" name="form" action="" target="">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="current_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get("preferred_lang"); %>">
<div class="QISmain">

		<div>
			<table width="730px">
				<tr>
					<td align="left">
						<span class="description_down"><#QKSet_detect_desc1#></span>
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
  <br/><br/>
	<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr>
		<td align="right">
			<img src="/images/InternetScan.gif"></span>
		</td>
		<td class="test_css">
			<strong><span><#QKSet_detect_waitdesc#></span></strong>
		</td>
	  </tr>
	  <tr id="no_cable" style="display:none;">
		<td>
		</td>
		<td class="test_css">
			<strong><span><#QIS_NoCable_title#></span></strong>	  
			<br>
			<strong><span><#QIS_NoCable_desc#></span></strong>
		</td>
	  </tr>
	</table>
	<div class="apply_gen" style="margin-top:30px">
		<!--<input type="button" value="<#Manual_Setting_btn#>" onclick="gotoUserManualSet();" class="button_gen" >-->
	</div>
</div>
</form>

<form method="post" name="redirectForm" action="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="prev_page" value="">
</form>
</body>
