<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="../form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">
<script type="text/JavaScript" src="/state.js"></script>
<style>
span{
	border:0px solid #FFFFFF;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	/*width:27px;*/
	text-align:right;
	margin:0px auto;
	ime-mode:disabled;
}
</style>
<script type="text/JavaScript" src="/jquery.js"></script>
<script type="text/javascript">
var w_Setting = "<% nvram_get("w_Setting"); %>";
var vpi_val = "<% nvram_get("dsltmp_autodet_vpi"); %>";
var vci_val = "<% nvram_get("dsltmp_autodet_vci"); %>";
var encap_val = "<% nvram_get("dsltmp_autodet_encap"); %>";

var encap_str = " , LLC";
if (encap_val == "1") encap_str = " , VC";

function QKfinish_load_body(){
	parent.document.title = "<#Web_Title#> - <#QKSet_all_title#>";
	parent.set_step("t2");

	if (vpi_val == "0" && vci_val == "40" && encap_val == "1")
	{
		//UK ISP SKY Broadband, MER requires some tweak.
		//PPP Username and Password needs to be added into DHCP option 61.
		document.getElementById("ppp_username1").style.display = "";
		document.getElementById("ppp_username2").style.display = "";
		document.getElementById("ppp_password1").style.display = "";
		document.getElementById("ppp_password2").style.display = "";
	}
}

function submitForm(){
		document.form.dslx_dhcp_clientid.value = document.form.ppp_username.value + "|" + document.form.ppp_password.value;
		document.form.ppp_username.disabled = true;
		document.form.ppp_password.disabled = true;
		document.form.next_page.value = "/qis/QIS_wireless.htm";
		document.form.submit();
}

function gotoHome() {
	if (w_Setting == "0") {
		alert("<#QIS_recommand_encryption#>");
		location.href = '/qis/QIS_wireless.htm';
	}
	else {
		parent.location.href = '/index.asp';
	}
}

</script>
</head>

<body onLoad="QKfinish_load_body();" >
<form method="post" name="form" action="/start_apply.htm" target="">
<input type="hidden" name="prev_page" value="/qis/QIS_manual_setting.htm">
<input type="hidden" name="current_page" value="/qis/QIS_mer_cfg.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_script" value="">
<input type="hidden" name="action_wait" value="">
<input type="hidden" name="dsltmp_qis_vpi" value="<% nvram_get("dsltmp_autodet_vpi"); %>">
<input type="hidden" name="dsltmp_qis_vci" value="<% nvram_get("dsltmp_autodet_vci"); %>">
<input type="hidden" name="dsltmp_qis_proto" value="mer">
<input type="hidden" name="dsltmp_qis_encap" value="<% nvram_get("dsltmp_autodet_encap"); %>">
<!--<input type="hidden" name="dsltmp_qis_pppoe_username" value="">
<input type="hidden" name="dsltmp_qis_pppoe_passwd" value="">
<input type="hidden" name="dsltmp_qis_pppoe_dial_on_demand" value="0">
<input type="hidden" name="dsltmp_qis_pppoe_idletime" value="0">
<input type="hidden" name="dsltmp_qis_pppoe_mtu" value="1492">
<input type="hidden" name="dsltmp_qis_pppoe_mru" value="1492">
<input type="hidden" name="dsltmp_qis_pppoe_service" value="">
<input type="hidden" name="dsltmp_qis_pppoe_options" value="">-->
<input type="hidden" name="dsltmp_qis_DHCPClient" value="1">
<input type="hidden" name="dsltmp_qis_ipaddr" value="0.0.0.0">
<input type="hidden" name="dsltmp_qis_netmask" value="0.0.0.0">
<input type="hidden" name="dsltmp_qis_gateway" value="0.0.0.0">
<input type="hidden" name="dsltmp_qis_dnsenable" value="1">
<input type="hidden" name="dsltmp_qis_dns1" value="">
<input type="hidden" name="dsltmp_qis_dns2" value="">
<input type="hidden" name="dsltmp_qis_svc_cat" value="1">
<input type="hidden" name="dsltmp_qis_pcr" value="1887">
<input type="hidden" name="dsltmp_qis_scr" value="0">
<input type="hidden" name="dsltmp_qis_mbs" value="0">
<input type="hidden" name="dsltmp_qis_dsl_pvc_set" value="1">
<input type="hidden" name="dslx_dhcp_clientid" value="">
<input type="hidden" name="dsltmp_qis_pppoe_relay" value="0">

<div class="QISmain">
	<div class="formfonttitle" style="padding:0 0 0 10;">MER</div>
	<table width="730px">
		<tr>
			<td id="home_button" align="right">
				<img onclick="gotoHome();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
			</td>
		</tr>
	</table>
	<div style="margin-left:5px;margin-top:10px;margin-bottom:10px"><img style="width: 700px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
	<br/>

<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
  <tr>
     &nbsp;&nbsp;&nbsp;<#pvccfg_PVC_type#> MER Dynamic IP. <b>VPI/VCI = <% nvram_get("dsltmp_autodet_vpi"); %>/<% nvram_get("dsltmp_autodet_vci"); %><script>document.write(encap_str);</script></b>
     <br><br>
  </tr>
</table>

<table>
  <tr>
	<th width="120"><span id="ppp_username1" style="display:none">PPP <#HSDPAConfig_Username_itemname#>:</span></th>
	<td>
	  <span id="ppp_username2" style="display:none">
	  <input type="text" name="ppp_username" value="" maxlength="32" size="20">
	  </span>
	</td>
  </tr>
  <tr>
	<th width="120"><span id="ppp_password1" style="display:none">PPP <#HSDPAConfig_Password_itemname#>:</span></th>
	<td>
	  <span id="ppp_password2" style="display:none">
	  <input type="text" name="ppp_password" value="" maxlength="32" size="20">
	  </span>
	</td>
  </tr>
</table>

	<div class="apply_gen" style="margin-top:30px">
		<input type="button" id="prevButton" value="<#Manual_Setting_btn#>" onclick="gotoprev(document.form);" class="button_gen" >
<!--
		<input type="button" id="nextButton" value="Ethernet WAN" onclick="redirect_page('internet_type');" class="button_gen" >
-->
		<input type="button" id="nextButton" value="<#btn_next#>" onclick="submitForm();" class="button_gen">
	</div>

</div>
</form>
</body>
</html>
