Package: asuswebstorage
Architecture: mipsel
Priority: optional
Section: net
Version: 1.0.0.11.0.gf3cf217
Maintainer: ASUS
Source: http://127.0.0.1/
URL: http://www.asusnetwork.net/cloud_sync.asp
Description: Cloud client
Depends: inotify,libcurl,openssl,libxml2,zlib   
Suggests: 
Conflicts: 
Enabled: yes
