[Desktop Entry]
Name=Samba Configuration
Name[de]=Samba Konfiguration
Type=Application
Comment=Configure Samba with a web based interface
Exec=htmlview http://127.0.0.1:901/
Terminal=false
Categories=X-Red-Hat-Extra;Application;System;X-Red-Hat-ServerConfig;
