
/*
	some test ejs code 
*/
function showArray(name, array) {
    write("<h3>Array: " + name + "</h3>\n");
    for (v in array) {
          write(name + "[" + v + "]=" + array[v] + "<br/>\n");
    }
}
