<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/general.js"></script>
<script type="text/JavaScript" src="/help.js"></script>
<script type="text/JavaScript" src="/validator.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
<style type="text/css">
.hintstyle:link{
	cursor:help;
	text-decoration: none;
	color: white;
}
</style>
<script type="text/JavaScript">
function QKInternet_load_body(){
	if(parent.document.QKform.sw_mode.value == 4) {
		document.getElementById("nextButton").value = "<#CTL_apply#>";
	}
	parent.document.title = "<#Web_Title#> - <#QKSet_ISP_head#>";
	
	if(parent.ISMOBILE){
		parent.set_step("manual");
		hideObjs();
		document.getElementById("tblsetting_1").style.display = "none";
		document.getElementById("field_mobile").style.display = "";
		document.getElementById("theFieldset").style.display = "";
		displayDNSCtrl();
		displayLANIPCtrl();
	}
	else{
		parent.set_step("t2");
		if(parent.sw_mode == "3"){
		// protocol checkbox
		if('<% nvram_get("lan_proto"); %>' == 'static'){
			change_ip_setting('static');
	      document.form.lan_proto_radio[0].checked = 0;
	      document.form.lan_proto_radio[1].checked = 1;
	    }
	    else{
	      change_ip_setting('dhcp');
	      document.form.lan_proto_radio[0].checked = 1;
	      document.form.lan_proto_radio[1].checked = 0;
	    }
	
			// dns checkbox
	    if('<% nvram_get("lan_dnsenable_x"); %>' == '0'){
	      display_lan_dns(0);
	      document.form.lan_dnsenable_x_radio[0].checked = 0;
	      document.form.lan_dnsenable_x_radio[1].checked = 1;
	    }
	    else{
	      display_lan_dns(1);
	      document.form.lan_dnsenable_x_radio[0].checked = 1;
	      document.form.lan_dnsenable_x_radio[1].checked = 0;
	    }
		}
		else{ // if mode switching, DHCP
			// force to set lan_proto to dhcp
		  change_ip_setting('dhcp');
		  document.form.lan_proto_radio[0].checked = 1;
		  document.form.lan_proto_radio[1].checked = 0;
			// force to set lan_dns to automatic
			display_lan_dns(1);
			document.form.lan_dnsenable_x_radio[0].checked = 1;
			document.form.lan_dnsenable_x_radio[1].checked = 0;
		}
	
		document.getElementById("nextButton").focus();
	}
}

function display_lan_dns(flag){
	inputCtrl(document.form.lan_dns1_x, conv_flag(flag));
	inputCtrl(document.form.lan_dns2_x, conv_flag(flag));
}

function change_ip_setting(flag){
	if(flag == "dhcp"){
		document.form.lan_proto_radio[0].focus();
		inputCtrl(document.form.lan_dnsenable_x_radio[0], 1);
		inputCtrl(document.form.lan_dnsenable_x_radio[1], 1);
		flag = 1; 
	}
	else if(flag == "static"){
		document.form.lan_proto_radio[1].focus();
		document.form.lan_dnsenable_x_radio[1].checked = 1;
		inputCtrl(document.form.lan_dnsenable_x_radio[0], 0);
		inputCtrl(document.form.lan_dnsenable_x_radio[1], 0);
		flag = 0; 
		display_lan_dns(flag)
	}

	inputCtrl(document.form.lan_ipaddr, conv_flag(flag));
	inputCtrl(document.form.lan_netmask, conv_flag(flag));
	inputCtrl(document.form.lan_gateway, conv_flag(flag));
}

function conv_flag(_flag){
	if(_flag == 0)
		_flag = 1;
	else
		_flag = 0;		
	return _flag;
}

function submitForm(){
	if(validForm()){
		parent.document.QKform.lan_ipaddr.value = document.form.lan_ipaddr.value;
		parent.document.QKform.lan_proto.value = document.form.lan_proto.value;
		parent.document.QKform.lan_netmask.value = document.form.lan_netmask.value;
		parent.document.QKform.lan_gateway.value = document.form.lan_gateway.value;
		parent.document.QKform.lan_dnsenable_x.value = document.form.lan_dnsenable_x.value;		
		parent.document.QKform.lan_dns1_x.value = document.form.lan_dns1_x.value;
		parent.document.QKform.lan_dns2_x.value = document.form.lan_dns2_x.value;

		if(parent.sw_mode == "1"){
			parent.document.QKform.lan_ipaddr_rt.value = '<% nvram_get("lan_ipaddr"); %>';
			parent.document.QKform.lan_netmask_rt.value = '<% nvram_get("lan_netmask"); %>';
		}

		if(parent.document.QKform.sw_mode.value == 4) {
			document.mbform.lan_ipaddr.value = document.form.lan_ipaddr.value;
			document.mbform.lan_proto.value = document.form.lan_proto.value;
			document.mbform.lan_netmask.value = document.form.lan_netmask.value;
			document.mbform.lan_gateway.value = document.form.lan_gateway.value;
			document.mbform.lan_dnsenable_x.value =  document.form.lan_dnsenable_x.value;			
			document.mbform.lan_dns1_x.value = document.form.lan_dns1_x.value;
			document.mbform.lan_dns2_x.value = document.form.lan_dns2_x.value;

			if(parent.sw_mode == "1") {
				document.mbform.lan_ipaddr_rt.disabled = false;
				document.mbform.lan_netmask_rt.disabled = false;
				document.mbform.lan_ipaddr_rt.value = parent.document.QKform.lan_ipaddr_rt.value;
				document.mbform.lan_netmask_rt.value = parent.document.QKform.lan_netmask_rt.value;
			}

			document.mbform.wlc_band.value = parent.document.QKform.wlc_band.value;
			document.mbform.wlc_ssid.value = parent.document.QKform.wlc_ssid.value;
			document.mbform.wlc_wep.value = parent.document.QKform.wlc_wep.value;
			document.mbform.wlc_key.value = parent.document.QKform.wlc_key.value;
			document.mbform.wlc_wep_key.value = parent.document.QKform.wlc_wep_key.value;
			document.mbform.wlc_auth_mode.value = parent.document.QKform.wlc_auth_mode.value;
			document.mbform.wlc_crypto.value = parent.document.QKform.wlc_crypto.value;
			document.mbform.wlc_wpa_psk.value = parent.document.QKform.wlc_wpa_psk.value;

			document.mbform.http_username.value = parent.document.QKform.http_username.value;
			if(parent.document.QKform.http_passwd.value != ""){
				document.mbform.http_passwd.value = parent.document.QKform.http_passwd.value;
				document.mbform.http_passwd.disabled = false;
			}

			if(Rawifi_support || Qcawifi_support) {
				document.mbform.sw_mode.value = 2;
			}
			else {
				document.mbform.sw_mode.value = 3;
			}
			document.mbform.submit();
		}
		else {
			location.href = document.form.next_page.value;
		}
	}
}

function validForm(){
	// test if LAN IP is a private IP.
	var A_class_start = inet_network("10.0.0.0");
	var A_class_end = inet_network("10.255.255.255");
	var B_class_start = inet_network("172.16.0.0");
	var B_class_end = inet_network("172.31.255.255");
	var C_class_start = inet_network("192.168.0.0");
	var C_class_end = inet_network("192.168.255.255");
	
	var ip_obj = document.form.lan_ipaddr;
	var ip_num = inet_network(ip_obj.value);
	var ip_class = "";

	if(parent.ISMOBILE){
		document.form.lan_ipaddr.value = 	document.form.lan_ipaddr_m.value;
		document.form.lan_netmask.value = document.form.lan_netmask_m.value;
		document.form.lan_gateway.value = document.form.lan_gateway_m.value;
		document.form.lan_dns1_x.value = document.form.lan_dns1_x_m.value;
		document.form.lan_dns2_x.value = document.form.lan_dns2_x_m.value;
	}

	if(document.form.lan_dnsenable_x_radio[0].checked == 1)
		document.form.lan_dnsenable_x.value = 1;
	else
		document.form.lan_dnsenable_x.value = 0;

	if(document.form.lan_proto_radio[0].checked == 1){
		document.form.lan_proto.value = "dhcp";
		return true;
	}
	else{
		parent.staticIP = document.form.lan_ipaddr.value;
		parent.isStatic = true;
		document.form.lan_proto.value = "static";
	}
	
	if(ip_num > A_class_start && ip_num < A_class_end)
		ip_class = 'A';
	else if(ip_num > B_class_start && ip_num < B_class_end)
		ip_class = 'B';
	else if(ip_num > C_class_start && ip_num < C_class_end)
		ip_class = 'C';
	else{
		alert(ip_obj.value+" <#JS_validip#>");
		ip_obj.value = "";
		ip_obj.focus();
		ip_obj.select();
		return false;
	}
	
	// test if netmask is valid.
	var netmask_obj = document.form.lan_netmask;
	var netmask_num = inet_network(netmask_obj.value);
	var netmask_reverse_num = ~netmask_num;
	var default_netmask = "";
	var wrong_netmask = 0;

	if(netmask_num < 0) wrong_netmask = 1;	

	if(ip_class == 'A')
		default_netmask = "255.0.0.0";
	else if(ip_class == 'B')
		default_netmask = "255.255.0.0";
	else
		default_netmask = "255.255.255.0";
	
	var test_num = netmask_reverse_num;
	while(test_num != 0){
		if((test_num+1)%2 == 0)
			test_num = (test_num+1)/2-1;
		else{
			wrong_netmask = 1;
			break;
		}
	}
	if(wrong_netmask == 1){
		alert(netmask_obj.value+" <#JS_validip#>");
		netmask_obj.value = default_netmask;
		netmask_obj.focus();
		netmask_obj.select();
		return false;
	}
	
	var subnet_head = getSubnet(ip_obj.value, netmask_obj.value, "head");
	var subnet_end = getSubnet(ip_obj.value, netmask_obj.value, "end");
	
	if(ip_num == subnet_head || ip_num == subnet_end){
		alert(ip_obj.value+" <#JS_validip#>");
		ip_obj.value = "";
		ip_obj.focus();
		ip_obj.select();
		return false;
	}
	return true;
}

function done_validating(action){
	refreshpage();
}

function back_to_Adv(){
	parent.location.href = '/Advanced_OperationMode_Content.asp';
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		submitForm();
   	return false;
  }
	else
   	return true;
}

function displayLANIPCtrl(){
	if(document.getElementById("toggleLANIP").getAttribute("toggled") == "true"){
		document.getElementById("LANIPDiv").style.display = "none";
	  document.form.lan_proto_radio[0].checked = 1;
	  document.form.lan_proto_radio[1].checked = 0;
		change_ip_setting('dhcp');
		document.getElementById("DNSautoDiv").style.display = "";
		document.getElementById("toggleDNS").setAttribute("toggled", true);
		document.getElementById("DNSDiv").style.display = "none";
	}
	else{
	  document.form.lan_proto_radio[0].checked = 0;
	  document.form.lan_proto_radio[1].checked = 1;
	  document.form.lan_dnsenable_x_radio[0].checked = 0;
	  document.form.lan_dnsenable_x_radio[1].checked = 1;
		change_ip_setting('static');
		document.getElementById("LANIPDiv").style.display = "";
		document.getElementById("DNSautoDiv").style.display = "none";
		document.getElementById("toggleDNS").setAttribute("toggled", false);
		document.getElementById("DNSDiv").style.display = "";
	}
}

function displayDNSCtrl(){
	if(document.getElementById("toggleDNS").getAttribute("toggled") == "true"){
		document.getElementById("DNSDiv").style.display = "none";
	  document.form.lan_dnsenable_x_radio[0].checked = 1;
	  document.form.lan_dnsenable_x_radio[1].checked = 0;
	}
	else{
		document.getElementById("DNSDiv").style.display = "";
	  document.form.lan_dnsenable_x_radio[0].checked = 0;
	  document.form.lan_dnsenable_x_radio[1].checked = 1;
	}
}

var retValHandler = {
	"errCounter" : 0,

	"forceHideLoading" : function(){
		parent.hideLoading();
		if(parent.document.getElementById("LoadingBar")){
			parent.document.getElementById("LoadingBar").style.visibility = "hidden";
			parent.document.getElementById("LoadingBar").style.display = "none";
		}
	},

	"doQuery" : function(){
		child_macaddr = '';
	
		$.ajax({
			url: '/httpd_check.xml',
			dataType: 'xml',
			timeout: 2000,
			error: function(xhr){
				setTimeout("retValHandler.doQuery();", 1000);
				retValHandler.errCounter++;
				if(retValHandler.errCounter > 5){ // assume it in in connected and the IP of DUT has been changed
					genErrorHint();
					retValHandler.forceHideLoading();
				}
			},
			success: function(response){
				retValHandler.wlc_isConnected();
			}
		});	
	},

	"wlc_isConnected" : function(){
		$.ajax({
			url: '/ajax_wlc_state.asp',
			dataType: 'script',
			timeout: 2000,
			error: function(xhr){
				setTimeout("retValHandler.wlc_isConnected();", 1000);
			},
			success: function(response){
				retValHandler.forceHideLoading();
				if(parent.parent_macaddr && child_macaddr){
					if(child_macaddr != parent.parent_macaddr){
						genErrorHint();
						return false;
					}
				}
				else{
					genErrorHint();
					return false;
				}

				if(retValHandler.isConnected(wlc_state)){ // connected
					location.href = '/qis/QIS_finish.htm';
				}
				else{
					parent.isSubmit = true;
					parent.isrescan = 120;
					location.href = '/qis/QIS_sitesurvey.htm';
				}
			}
		});	
	},

	"isConnected" : function(retVal){
		if(retVal == 1)	
			return true;
		else
			return false;
	}
}
</script>
</head>

<body onLoad="QKInternet_load_body();" onunload="" onKeyPress="submitenter(this,event)">
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<form method="post" name="mbform" action="/start_apply2.htm" target="hidden_frame">
<!-- submit needed -->
<input type="hidden" name="current_page" value="/QIS_wizard.htm">
<input type="hidden" name="next_page" value="/QIS_wizard.htm">   
<input type="hidden" name="prev_page" value="/QIS_wizard.htm">
<input type="hidden" name="flag" value="wlcconnect">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_wait" value="50">
<input type="hidden" name="action_script" value="reboot">
<!-- ap lan -->
<input type="hidden" name="lan_proto" value="<% nvram_get("lan_proto"); %>">
<input type="hidden" name="lan_ipaddr" value="<% nvram_get("lan_ipaddr"); %>">
<input type="hidden" name="lan_netmask" value="<% nvram_get("lan_netmask"); %>">
<input type="hidden" name="lan_gateway" value="<% nvram_get("lan_gateway"); %>">
<input type="hidden" name="lan_dnsenable_x" value="<% nvram_get("lan_dnsenable_x"); %>">
<input type="hidden" name="lan_dns1_x" value="<% nvram_get("lan_dns1_x"); %>">
<input type="hidden" name="lan_dns2_x" value="<% nvram_get("lan_dns2_x"); %>">
<input type="hidden" name="lan_ipaddr_rt" value="<% nvram_get("lan_ipaddr_rt"); %>" disabled>
<input type="hidden" name="lan_netmask_rt" value="<% nvram_get("lan_netmask_rt"); %>" disabled>
<!-- wireless client -->
<input type="hidden" name="wlc_psta" value="1">
<input type="hidden" name="wlc_band" value="<% nvram_get("wlc_band"); %>">
<input type="hidden" name="wlc_ssid" value="<% nvram_char_to_ascii("", "wlc_ssid"); %>">
<input type="hidden" name="wlc_wep" value="<% nvram_get("wlc_wep"); %>">
<input type="hidden" name="wlc_key" value="<% nvram_get("wlc_key"); %>">
<input type="hidden" name="wlc_wep_key" value="<% nvram_get("wlc_wep_key"); %>">
<input type="hidden" name="wlc_auth_mode" value="<% nvram_get("wlc_auth_mode"); %>">
<input type="hidden" name="wlc_crypto" value="<% nvram_get("wlc_crypto"); %>">
<input type="hidden" name="wlc_wpa_psk" value="<% nvram_get("wlc_wpa_psk"); %>">
<input type="hidden" name="wlc_nbw_cap" value="2">
<!-- system end -->
<input type="hidden" name="sw_mode" value="<% nvram_get("sw_mode"); %>">
<input type="hidden" name="http_username" value="<% nvram_get("http_username"); %>">
<input type="hidden" name="http_passwd" value="" disabled> 
<input type="hidden" name="x_Setting" value="1">
<input type="hidden" name="w_Setting" value="1">
</form>

<form method="post" name="form" action="/start_apply.htm" onsubmit="return submitForm();">
<input type="hidden" name="current_page" value="QIS_lanip.htm">
<input type="hidden" name="next_page" value="QIS_wireless.htm">   
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="flag" value="adv_ap_mode">
<input type="hidden" name="lan_proto" value="<% nvram_get("lan_proto"); %>">
<input type="hidden" name="lan_dnsenable_x" value="<% nvram_get("lan_dnsenable_x"); %>">
<div class="QISmain">
<div class="formfonttitle" style="padding:6 0 0 10;">
		<div id="descTltle">
			<table width="100%">
				<tr>
					<td align="left">
						<div class="description_down"><#LANHostConfig_display1_sectionname#></div>
					</td>
					<!--td align="right">
						<img onclick="parent.gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
					</td-->
				</tr>
			</table>
		</div>
		<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
</div>
<br/>

		<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0" style="padding-left:100px;">
			<tr>
			<th width="50%"><#LANHostConfig_x_LAN_DHCP_itemname#></th>
			<td>
				<input type="radio" name="lan_proto_radio" tabindex="1" class="input" onclick="change_ip_setting('dhcp')" value="dhcp"><#checkbox_Yes#>
				<input type="radio" name="lan_proto_radio" tabindex="2" class="input" onclick="change_ip_setting('static')" value="static"><#checkbox_No#>
			</td>
			</tr>
            
		  <tr>
			<th>
			  <a class="hintstyle" href="javascript:void(0);" onClick="openHint(4,1);"><#IPConnection_ExternalIPAddress_itemname#></a>
			</th>			
			<td>
			  <input type="text" id="lan_ipaddr" name="lan_ipaddr" value="<% nvram_get("lan_ipaddr"); %>" tabindex="3" onKeyPress="return validator.isIPAddr(this, event);" maxlength="15" class="input_15_table" autocorrect="off" autocapitalize="off">
			</td>
		  </tr>
		  
		  <tr>
			<th>
			  <a class="hintstyle"  href="javascript:void(0);" onClick="openHint(4,2);"><#IPConnection_x_ExternalSubnetMask_itemname#></a>
			</th>
			<td>
				<input type="text" name="lan_netmask" value="<% nvram_get("lan_netmask"); %>" tabindex="4" onkeypress="return validator.isIPAddr(this, event);" maxlength="15" class="input_15_table" autocorrect="off" autocapitalize="off">
				<input type="hidden" name="dhcp_start" value="<% nvram_get("dhcp_start"); %>">
				<input type="hidden" name="dhcp_end" value="<% nvram_get("dhcp_end"); %>">
			</td>
		  </tr>

			<tr>
			<th><a class="hintstyle" href="javascript:void(0);" onClick="openHint(7,3);"><#IPConnection_x_ExternalGateway_itemname#></a></th>
			<td>
				<input type="text" name="lan_gateway" value="<% nvram_get("lan_gateway"); %>" tabindex="5" onKeyPress="return validator.isIPAddr(this, event);" maxlength="15" class="input_15_table" autocorrect="off" autocapitalize="off">
			</td>
			</tr>

			<tr>
      <th><a class="hintstyle" href="javascript:void(0);" onClick="openHint(7,12);"><#IPConnection_x_DNSServerEnable_itemname#></a></th>
			<td>
				<input type="radio" name="lan_dnsenable_x_radio" value="1" tabindex="6" onclick="display_lan_dns(1)"><#checkbox_Yes#>
			  <input type="radio" name="lan_dnsenable_x_radio" value="0" tabindex="7" onclick="display_lan_dns(0)"><#checkbox_No#>
			</td>
      </tr>          		
          		
      <tr>
      <th>
				<a class="hintstyle" href="javascript:void(0);" onClick="openHint(7,13);"><#IPConnection_x_DNSServer1_itemname#></a>
			</th>
      <td>
				<input type="text" name="lan_dns1_x" value="<% nvram_get("lan_dns1_x"); %>" tabindex="8" onkeypress="return validator.isIPAddr(this, event)" maxlength="15" class="input_15_table" autocorrect="off" autocapitalize="off">
			</td>
      </tr>

      <tr>
      <th>
				<a class="hintstyle" href="javascript:void(0);" onClick="openHint(7,14);"><#IPConnection_x_DNSServer2_itemname#></a>
			</th>
      <td>
				<input type="text" name="lan_dns2_x" value="<% nvram_get("lan_dns2_x"); %>" tabindex="9" onkeypress="return validator.isIPAddr(this, event)" maxlength="15" class="input_15_table" autocorrect="off" autocapitalize="off">
			</td>
      </tr>  
		</table>

<div id="applyBtn" class="apply_gen" style="margin-top:30px">
	<!--input type="button" id="prevButton" value="<#CTL_prev#>" onclick="back_to_Adv();" class="button_gen"-->
	<!--input type="submit" id="nextButton" value="<#CTL_next#>" class="button_gen"-->
	<input type="button" id="nextButton" value="<#CTL_next#>" tabindex="10" class="button_gen" onclick="submitForm();">
</div>

<div style="display:none;margin-top:-20px;" id="field_mobile">
	<div class="itemTitle"><#LANHostConfig_display1_sectionname#></div>
	<fieldset>
		<div class="row">
			<label><#Auto#></label>
			<div id="toggleLANIP" class="toggle" onclick="displayLANIPCtrl();" toggled="true">
				<span class="thumb"></span>
				<span class="toggleOn"><#checkbox_Yes#></span>
				<span class="toggleOff"><#checkbox_No#></span>
			</div>
		</div>

		<div id="LANIPDiv" style="display:none">
			<div class="row">
				<label><#IPConnection_ExternalIPAddress_itemname#></label>
				<input type="text" name="lan_ipaddr_m" placeholder="" maxlength="32" value="" autocorrect="off" autocapitalize="off"/>
			</div>
			<div class="row">
				<label><#IPConnection_x_ExternalSubnetMask_itemname#></label>
				<input name="lan_netmask_m" type="text" placeholder="" autocapitalization="off" maxlength="65" autocorrect="off" autocapitalize="off">
			</div>
			<div class="row_end">
				<label><#IPConnection_x_ExternalGateway_itemname#></label>
				<input name="lan_gateway_m" type="text" placeholder="" autocapitalization="off" maxlength="65" autocorrect="off" autocapitalize="off">
			</div>
		</div>
	</fieldset>	

	<br />

	<div class="itemTitle"><#PPPConnection_x_WANDNSServer_itemname#></div>
	<fieldset>
		<div class="row" id="DNSautoDiv">
			<label><#Auto#></label>
			<div id="toggleDNS" class="toggle" onclick="displayDNSCtrl();" toggled="true">
				<span class="thumb"></span>
				<span class="toggleOn"><#checkbox_Yes#></span>
				<span class="toggleOff"><#checkbox_No#></span>
			</div>
		</div>

		<div id="DNSDiv" style="display:none">
			<div class="row">
				<label><#IPConnection_x_DNSServer1_itemname#></label>
				<input type="text" name="lan_dns1_x_m" placeholder="" maxlength="32" value="" autocorrect="off" autocapitalize="off"/>
			</div>
			<div class="row_end">
				<label><#IPConnection_x_DNSServer2_itemname#></label>
				<input name="lan_dns2_x_m" type="text" placeholder="" autocapitalization="off" maxlength="65" autocorrect="off" autocapitalize="off">
			</div>
		</div>
	</fieldset>
	<br />
</div>

<fieldset class="theFieldset" id="theFieldset" style="display:none;">
	<div class="row_end">
		<a id="loadingIcon_iui" class="iuiA" onclick="submitForm();"><#CTL_next#></a>
	</div>
</fieldset>

</div>
</form>
</body>
