<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="../form_style.css">
<style>
span{
	border:0px solid #FFFFFF;
	color:#FFFFFF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	/*width:27px;*/
	text-align:right;
	margin:0px auto;
	ime-mode:disabled;
}

.black_line{
	border: 1px solid #000000;
	width:480px;
	margin-left: 10px;
}
</style>
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<script type="text/JavaScript" src="/jquery.js"></script>
<script type="text/javascript" src="/help.js"></script>

<script>
<% wanlink(); %>
<% secondary_wanlink(); %>


var wan_primary = "";
var wan0_primary = '<% nvram_get("wan0_primary"); %>';
var wan1_primary = '<% nvram_get("wan1_primary"); %>';

if(wan0_primary == 1)
	wan_primary = "wan0";
else if(wan1_primary == 1)
	wan_primary = "wan1";

var auth_mode2 = '<% nvram_get("wl0_auth_mode_x"); %>';
var wep_x2 = '<% nvram_get("wl0_wep_x"); %>';
var key_x2 = '<% nvram_get("wl0_key"); %>';
var wpa_mode2 = '<% nvram_get("wl0_wpa_mode"); %>';
var auth_mode = '<% nvram_get("wl1_auth_mode_x"); %>';
var wep_x = '<% nvram_get("wl1_wep_x"); %>';
var key_x = '<% nvram_get("wl1_key"); %>';
var wpa_mode = '<% nvram_get("wl1_wpa_mode"); %>';
var reIP = '<% nvram_get("lan_ipaddr"); %>';
var JS_timeObj = new Date();
var uptimeStr = "<% uptime(); %>";
var newformat_systime = uptimeStr.substring(8,11) + " " + uptimeStr.substring(5,7) + " " + uptimeStr.substring(17,25) + " " + uptimeStr.substring(12,16);  //Ex format: Jun 23 10:33:31 2008
var systime_millsec = Date.parse(newformat_systime); // millsec from system
wlc_state = '<% nvram_get("wlc_state"); %>';
wlc_sbstate = '<% nvram_get("wlc_sbstate"); %>';
wlc_scan_state = '<% nvram_get("wlc_scan_state"); %>';
_wlc_ssid = '<% nvram_char_to_ascii("", "wlc_ssid"); %>';
_sw_mode = '<% nvram_get("sw_mode"); %>';
var webs_state_update = '<% nvram_get("webs_state_update"); %>';
var webs_state_upgrade = '<% nvram_get("webs_state_upgrade"); %>';
var webs_state_error = '<% nvram_get("webs_state_error"); %>';
var webs_state_info = '<% nvram_get("webs_state_info"); %>';

var auth_mode_5_2 = '<% nvram_get("wl2_auth_mode_x"); %>';
var wep_x_5_2 = '<% nvram_get("wl2_wep_x"); %>';
var key_x_5_2 = '<% nvram_get("wl2_key"); %>';
var wpa_mode_5_2 = '<% nvram_get("wl2_wpa_mode"); %>';

if(parent.tmo_support)
        var theUrl = "cellspot.router"; 
else
        var theUrl = "router.asus.com";

var timezones = {
	"UTC12":	"(GMT-12:00)",
	"UTC11":	"(GMT-11:00)",
	"UTC10":	"(GMT-10:00)",
	"NAST9DST":	"(GMT-09:00)",
	"PST8DST":	"(GMT-08:00)",
	"MST7DST_1":	"(GMT-07:00)",
	"MST7_2":	"(GMT-07:00)",
	"MST7DST_3":	"(GMT-07:00)",
	"CST6DST_1":	"(GMT-06:00)",
	"CST6DST_2":	"(GMT-06:00)",
	"CST6DST_3":	"(GMT-06:00)",
	"CST6DST_3_1":	"(GMT-06:00)",
	"UTC6":	"(GMT-06:00)",
	"EST5DST":	"(GMT-05:00)",
	"UTC5_1":	"(GMT-05:00)",
	"UTC5_2":	"(GMT-05:00)",
	"AST4DST":	"(GMT-04:00)",
	"UTC4_1":	"(GMT-04:00)",
	"UTC4DST_2":	"(GMT-04:00)",
	"NST3.30DST":	"(GMT-03:30)",
	"EBST3DST_1":	"(GMT-03:00)",
	"UTC3":	"(GMT-03:00)",
	"EBST3DST_2":	"(GMT-03:00)",
	"NORO2DST":	"(GMT-02:00)",
	"EUT1DST":	"(GMT-01:00)",
	"UTC1":	"(GMT-01:00)",
	"GMT0":	"(GMT)",
	"GMT0DST_1":	"(GMT)",
	"GMT0DST_2":	"(GMT)",
	/*"GMT0DST_3":		"(GMT)",	use adj_dst to desc*/
	"UTC-1DST_1":	"(GMT+01:00)",
	"UTC-1_1_1":	"(GMT+01:00)",
	"UTC-1_2":	"(GMT+01:00)",
	"UTC-1_2_1":	"(GMT+01:00)",
	"MET-1DST":	"(GMT+01:00)",
	"MET-1DST_1":	"(GMT+01:00)",
	"MEZ-1DST":	"(GMT+01:00)",
	"MEZ-1DST_1":	"(GMT+01:00)",
	"UTC-1_3":	"(GMT+01:00)",
	"UTC-2DST":	"(GMT+02:00)",
	"EST-2DST":	"(GMT+02:00)",
	"UTC-2_1":	"(GMT+02:00)",
	"UTC-2DST_2":	"(GMT+02:00)",
	"IST-2DST":	"(GMT+02:00)",
	"SAST-2":	"(GMT+02:00)",
	"EET-2DST":	"(GMT+02:00)",
	"UTC-3_1":	"(GMT+03:00)",
	"UTC-3_2":	"(GMT+03:00)",
	"IST-3DST":	"(GMT+03:00)",
	"UTC-3.30DST":	"(GMT+03:30)",
	"UTC-4_2":	"(GMT+04:00)",
	"UTC-4_3":	"(GMT+04:00)",
	"UTC-4_1":	"(GMT+04:00)",
	"UTC-4DST_2":	"(GMT+04:00)",
	"UTC-4.30":	"(GMT+04:30)",
	"UTC-5":	"(GMT+05:00)",
	"UTC-5.30_2":	"(GMT+05:30)",
	"UTC-5.30_1":	"(GMT+05:30)",
	"UTC-5.30":	"(GMT+05:30)",
	"UTC-5.45":	"(GMT+05:45)",
	"RFT-6DST":	"(GMT+06:00)",
	"UTC-6_1":	"(GMT+06:00)",
	"UTC-6":	"(GMT+06:00)",
	"UTC-6.30":	"(GMT+06:30)",
	"UTC-7":	"(GMT+07:00)",
	"CST-8_2":	"(GMT+08:00)",
	"CST-8":	"(GMT+08:00)",
	"CST-8_1":	"(GMT+08:00)",
	"SST-8":	"(GMT+08:00)",
	"CCT-8":	"(GMT+08:00)",
	"WAS-8DST":	"(GMT+08:00)",
	"UTC-8DST":	"(GMT+08:00)",
	"UTC-9_1":	"(GMT+09:00)",
	"JST":	"(GMT+09:00)",
	"CST-9.30DST":	"(GMT+09:30)",
	"UTC-9.30":	"(GMT+09:30)",
	"UTC-10_3":	"(GMT+10:00)",
	"UTC-10_1":	"(GMT+10:00)",
	"UTC-10_2":	"(GMT+10:00)",
	"TST-10TDT":	"(GMT+10:00)",
	"UTC-10_5":	"(GMT+10:00)",
	"UTC-11_2":	"(GMT+11:00)",
	"UTC-11":	"(GMT+11:00)",
	"UTC-11_1":	"(GMT+11:00)",
	"UTC-12":	"(GMT+12:00)",
	"NZST-12DST":	"(GMT+12:00)",
	"UTC-13":	"(GMT+13:00)"
	};

if(parent.yadns_support){
	var yadns_enable = '<% nvram_get("yadns_enable_x"); %>';
	var yadns_mode = '<% nvram_get("yadns_mode"); %>';
}

function yadns_apply(){
	var enable = document.getElementById("yadns_enable").checked;
	var defmode = document.getElementById("yadns_defmode").checked;
	var yadns_update = document.getElementsByName("yadns_update")[0];

	document.getElementById('loadingIcon').style.display='';
	parent.yadns_done = true;
	yadns_update.yadns_enable_x.value = enable ? "1" : "0";
	yadns_update.yadns_mode.value = (enable && defmode) ? "1" : yadns_mode;
	yadns_update.submit();
}

function yadns_change(need_apply){
	var enable = document.getElementById("yadns_enable").checked;

	parent.yadns_done = !need_apply;
	document.getElementById("yadns_defmode").disabled = !enable;
}

function doLiveUpdate(_do){
	if(_do){
		document.getElementById("newFWDetected").style.display = "none";
		document.getElementById("progressBar").style.display = "";
		document.start_update.action_mode.value="apply";
		document.start_update.action_script.value="start_webs_upgrade";
		document.start_update.action_wait.value="300";
		document.start_update.submit();
	}
	else{
		if(parent.ISMOBILE){
			document.getElementById("mainDiv_finish").style.display = "";
			document.getElementById("liveUpdate_div").style.display = "none";
		}
		else{
			document.getElementById("QISmain").style.display = "";
			document.getElementById("liveUpdate_div").style.display = "none";
		}
	}
}

function showCancel(){
	document.getElementById("newFWCancel").style.display = "";
 	document.getElementById("newFWDetected").style.display = "none";
}

var dead = 0;
function detect_httpd(){
	$.ajax({
		url: '/detect_firmware.asp',
		dataType: 'script',
		timeout: 2000,
		error: function(xhr){
			dead++;
			if(dead < 50)
				setTimeout("detect_httpd();", 1000);
			else{
				progressBar = 100;
				document.getElementById('progress_bar_no').innerHTML = "100%";
				document.getElementById("updateProgress").style.width = "100%";
				document.getElementById("newFWgradedFail").style.display = "";
			}
		},
		success: function(){
			if(webs_state_error == "1"){
				progressBar = 100;
				document.getElementById('progress_bar_no').innerHTML = "100%";
				document.getElementById("updateProgress").style.width = "100%";
				document.getElementById("liveUpdateResult").innerHTML = "<#connect_failed#>";
				document.getElementById("newFWgraded").style.display = "";
				return false;
			}else if(webs_state_error == "2"){
				progressBar = 100;
				document.getElementById('progress_bar_no').innerHTML = "100%";
				document.getElementById("updateProgress").style.width = "100%";
				document.getElementById("liveUpdateResult").innerHTML = "Memory space is NOT enough to upgrade on internet. Please wait for rebooting.<br><#FW_desc1#>";
				document.getElementById("newFWgraded").style.display = "";
				return false;				
			}else if(webs_state_error == "3"){
				progressBar = 100;
				document.getElementById('progress_bar_no').innerHTML = "100%";
				document.getElementById("updateProgress").style.width = "100%";
				document.getElementById("liveUpdateResult").innerHTML = "<#FIRM_fail_desc#><br><#FW_desc1#>";
				document.getElementById("newFWgraded").style.display = "";
			}

			if(webs_state_upgrade == ""){	//after reboot
				progressBar = 100;
				document.getElementById('progress_bar_no').innerHTML = "100%";
				document.getElementById("updateProgress").style.width = "100%";				
				document.getElementById("newFWgraded").style.display = "";		
			}
			else{
				setTimeout("detect_httpd();", 1000);
			}
		}
	});
}

var progressBar = 0;
function showLoadingUpdate(){
	if(progressBar == 100){
		return false;
	}
	else if(progressBar == 10){
		detect_httpd();
		setTimeout("showLoadingUpdate();", 2700);
	}
	else if(progressBar == 80){
		detect_httpd();
		return false;
	}
	else{	
		document.getElementById("updateProgress").style.width = progressBar+"%";
		document.getElementById('progress_bar_no').innerHTML = progressBar+"%";
		setTimeout("showLoadingUpdate();", 2700);
	}
	
	progressBar++;	
}

function QKfinish_load_body(){
	var shown_str;
	if(parent.yadns_support && parent.yadns_done){
		gotoNext();
		return false;
	}
	if(parent.liveUpdateFinish && !parent.new_FW){
		goto_index();
		document.getElementById("QISmain").style.display = "none";
		document.getElementById("liveUpdate_div").style.display = "none";
		return false;
	}
	document.getElementById("QISmain").style.display = "";
	parent.document.title = "<#Web_Title#> - <#QKSet_all_title#>";

	// Wireless Security
	$("#ssid_2_item")[0].innerHTML = "<#QIS_finish_wireless_item1#>";
	$("#ssid_2")[0].innerHTML = handle_show_str(decodeURIComponent('<% nvram_char_to_ascii("", "wl0_ssid"); %>'));
	$("#ssid_5_item")[0].innerHTML = "<#QIS_finish_wireless_item1#>";
	$("#ssid_5")[0].innerHTML = handle_show_str(decodeURIComponent('<% nvram_char_to_ascii("", "wl1_ssid"); %>'));
	$("#key2_item")[0].innerHTML = "<#Network_key#>";
	$("#key5_item")[0].innerHTML = "<#Network_key#>";	
	$("#security_item2")[0].innerHTML = "<#QIS_finish_wireless_item2#>";
	$("#security_item5")[0].innerHTML = "<#QIS_finish_wireless_item2#>";

	if(parent.wl_info.band5g_2_support){
		parent.document.getElementById("contentM").style.height = "630px";
		$("#band5g_desc")[0].innerHTML = "(5GHz-1)";
		$("#ssid_5_2_item")[0].innerHTML = "<#QIS_finish_wireless_item1#>";
		$("#ssid_5_2")[0].innerHTML = handle_show_str(decodeURIComponent('<% nvram_char_to_ascii("", "wl2_ssid"); %>'));
		$("#security_item5_2")[0].innerHTML = "<#QIS_finish_wireless_item2#>";
	}

		shown_str = "";
		if(auth_mode2 == "open" && wep_x2 == "0"){
			$("#security2")[0].innerHTML = "Open System";
			$("#key2_block")[0].style.display = "none";
		}
		else if(auth_mode2 == "open" && wep_x2 != "0"){
			$("#security2")[0].innerHTML = "Open System";
			if(key_x2 ==1)
				shown_str = '<% nvram_get("wl0_key1"); %>';
			else if(key_x2 ==2)	
				shown_str = '<% nvram_get("wl0_key2"); %>';
			else if(key_x2 ==3)
				shown_str = '<% nvram_get("wl0_key3"); %>';
			else if(key_x2 ==4)		
				shown_str = '<% nvram_get("wl0_key4"); %>';
		}
		else if(auth_mode2 == "shared"){
			$("#security2")[0].innerHTML = "Shared Key";
			if(key_x2 ==1)
				shown_str = '<% nvram_get("wl0_key1"); %>';
			else if(key_x2 ==2)	
				shown_str = '<% nvram_get("wl0_key2"); %>';
			else if(key_x2 ==3)
				shown_str = '<% nvram_get("wl0_key3"); %>';
			else if(key_x2 ==4)		
				shown_str = '<% nvram_get("wl0_key4"); %>';
		}
		else if(auth_mode2 == "psk"){
			$("#security2")[0].innerHTML = "WPA-Personal - TKIP";
			shown_str = '<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>';
		}
		else if(auth_mode2 == "psk2"){
			$("#security2")[0].innerHTML = "WPA2-Personal - AES";
			shown_str = '<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>';
		}	
		else if(auth_mode2 == "pskpsk2"){
			$("#security2")[0].innerHTML = "WPA-Auto-Personal - TKIP + AES";
			shown_str = '<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>';
		}
		else{
			$("#freqtitle2")[0].style.display = "none";
			$("#ssid2_block")[0].style.display = "none";
			$("#key2_block")[0].style.display = "none";
			$("#security2_block")[0].style.display = "none";
		}
		$("#key2")[0].innerHTML = handle_show_str(decodeURIComponent(shown_str));

		if(!parent.band5g_support){
			$("#desc2g")[0].style.display = "none";
			$("#freqtitle5")[0].style.display = "none";
			$("#ssid5_block")[0].style.display = "none";
			$("#key5_block")[0].style.display = "none";
			$("#security5_block")[0].style.display = "none";
		}
		else{
			shown_str = "";
			if(auth_mode == "open" && wep_x == "0"){
				$("#security5")[0].innerHTML = "Open System";
				$("#key5_block")[0].style.display = "none";
			}
			else if(auth_mode == "open" && wep_x != "0"){
				$("#security5")[0].innerHTML = "Open System";
				if(key_x ==1)
					shown_str = '<% nvram_get("wl1_key1"); %>';
				else if(key_x ==2)	
					shown_str = '<% nvram_get("wl1_key2"); %>';
				else if(key_x ==3)
					shown_str = '<% nvram_get("wl1_key3"); %>';
				else if(key_x ==4)		
					shown_str = '<% nvram_get("wl1_key4"); %>';
			}
			else if(auth_mode == "shared"){
				$("#security5")[0].innerHTML = "Shared Key";
				if(key_x ==1)
					shown_str = '<% nvram_get("wl1_key1"); %>';
				else if(key_x ==2)	
					shown_str = '<% nvram_get("wl1_key2"); %>';
				else if(key_x ==3)
					shown_str = '<% nvram_get("wl1_key3"); %>';
				else if(key_x ==4)		
					shown_str = '<% nvram_get("wl1_key4"); %>';
			}
			else if(auth_mode == "psk"){
				$("#security5")[0].innerHTML = "WPA-Personal - TKIP";
				shown_str = '<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>';
			}
			else if(auth_mode == "psk2"){
				$("#security5")[0].innerHTML = "WPA2-Personal - AES";
				shown_str = '<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>';
			}
			else if(auth_mode == "pskpsk2"){
				$("#security5")[0].innerHTML = "WPA-Auto-Personal - TKIP + AES";
				shown_str = '<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>';
			}
			else{	
				$("#freqtitle5")[0].style.display = "none";
				$("#ssid5_block")[0].style.display = "none";
				$("#key5_block")[0].style.display = "none";
				$("#security5_block")[0].style.display = "none";
			}
			$("#key5")[0].innerHTML = handle_show_str(decodeURIComponent(shown_str));
		}

		if(!parent.wl_info.band5g_2_support){
			$("#desc2g")[0].style.display = "none";
			$("#freqtitle5_2")[0].style.display = "none";
			$("#ssid5_2_block")[0].style.display = "none";
			$("#key5_2_block")[0].style.display = "none";
			$("#security5_2_block")[0].style.display = "none";
		}
		else{
			shown_str = "";
			if(auth_mode_5_2 == "open" && wep_x_5_2 == "0"){
				$("#security5_2")[0].innerHTML = "Open System";
				$("#key5_2_block")[0].style.display = "none";
			}
			else if(auth_mode_5_2 == "open" && wep_x_5_2 != "0"){
				$("#security5_2")[0].innerHTML = "Open System";
				$("#key5_2_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
				if(key_x_5_2 ==1)
					shown_str = '<% nvram_get("wl2_key1"); %>';
				else if(key_x_5_2 ==2)	
					shown_str = '<% nvram_get("wl2_key2"); %>';
				else if(key_x_5_2 ==3)
					shown_str = '<% nvram_get("wl2_key3"); %>';
				else if(key_x_5_2 ==4)		
					shown_str = '<% nvram_get("wl2_key4"); %>';
			}
			else if(auth_mode_5_2 == "shared"){
				$("#security5_2")[0].innerHTML = "Shared Key";
				$("#key5_2_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
				if(key_x_5_2 ==1)
					shown_str = '<% nvram_get("wl2_key1"); %>';
				else if(key_x_5_2 ==2)	
					shown_str = '<% nvram_get("wl2_key2"); %>';
				else if(key_x_5_2 ==3)
					shown_str = '<% nvram_get("wl2_key3"); %>';
				else if(key_x_5_2 ==4)		
					shown_str = '<% nvram_get("wl2_key4"); %>';
			}
			else if(auth_mode_5_2 == "psk"){
				$("#security5_2")[0].innerHTML = "WPA-Personal - TKIP";
				$("#key5_2_item")[0].innerHTML = "<#Network_key#>";
				shown_str = '<% nvram_char_to_ascii("", "wl2_wpa_psk"); %>';
			}
			else if(auth_mode_5_2 == "psk2"){
				$("#security5_2")[0].innerHTML = "WPA2-Personal - AES";
				$("#key5_2_item")[0].innerHTML = "<#Network_key#>";
				shown_str = '<% nvram_char_to_ascii("", "wl2_wpa_psk"); %>';
			}
			else if(auth_mode_5_2 == "pskpsk2"){
				$("#security5_2")[0].innerHTML = "WPA-Auto-Personal - TKIP + AES";
				$("#key5_2_item")[0].innerHTML = "<#Network_key#>";
				shown_str = '<% nvram_char_to_ascii("", "wl2_wpa_psk"); %>';
			}
			else{	
				$("#freqtitle5_2")[0].style.display = "none";
				$("#ssid5_2_block")[0].style.display = "none";
				$("#key5_2_block")[0].style.display = "none";
				$("#security5_2_block")[0].style.display = "none";
			}
			$("#key5_2")[0].innerHTML = handle_show_str(decodeURIComponent(shown_str));
		}		

	//Repeater mode wireless LAN 2.4G/5G
	if('<% nvram_get("sw_mode"); %>' == "2"){
		
		if('<% nvram_get("wlc_band"); %>' == 0){
			auth_mode2 = '<% nvram_get("wl0.1_auth_mode_x"); %>';
			wep_x2 = '<% nvram_get("wl0.1_wep_x"); %>';
			key_x2 = '<% nvram_get("wl0.1_key"); %>';
			document.form.wl0_ssid2.value = decodeURIComponent('<% nvram_char_to_ascii("WLANConfig11b", "wl0.1_ssid"); %>');
			document.form.wl0_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("WLANConfig11b", "wl0.1_wpa_psk"); %>');
			$("#ssid_2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_ssid"); %>');
			
			if(auth_mode2 == "open" && wep_x2 == "0"){
					$("#security2")[0].innerHTML = "Open System";
					$("#key2_block")[0].style.display = "none";
			}
			else if(auth_mode2 == "open" && wep_x2 != "0"){
					$("#security2")[0].innerHTML = "Open System";
					if(key_x2 ==1)
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key1"); %>');
					else if(key_x2 ==2)	
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key2"); %>');
					else if(key_x2 ==3)
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key3"); %>');
					else if(key_x2 ==4)		
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key4"); %>');
			}
			else if(auth_mode2 == "shared"){
					$("#security2")[0].innerHTML = "Shared Key";
					if(key_x2 ==1)
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key1"); %>');
					else if(key_x2 ==2)	
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key2"); %>');
					else if(key_x2 ==3)
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key3"); %>');
					else if(key_x2 ==4)		
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key4"); %>');		
			}
			else if(auth_mode2 == "psk"){
					$("#security2")[0].innerHTML = "WPA-Personal - TKIP";
					$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_wpa_psk"); %>');
			}
			else if(auth_mode2 == "psk2"){
					$("#security2")[0].innerHTML = "WPA2-Personal - AES";
					$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_wpa_psk"); %>');
			}	
			else if(auth_mode2 == "pskpsk2"){
					$("#security2")[0].innerHTML = "WPA-Auto-Personal - TKIP + AES";
					$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_wpa_psk"); %>');
			}
			else{
					$("#freqtitle2")[0].style.display = "none";
					$("#ssid2_block")[0].style.display = "none";
					$("#key2_block")[0].style.display = "none";
					$("#security2_block")[0].style.display = "none";
			}
			
		}
		
		if(!parent.band5g_support){
				$("#desc2g")[0].style.display = "none";
				$("#freqtitle5")[0].style.display = "none";
				$("#ssid5_block")[0].style.display = "none";
				$("#key5_block")[0].style.display = "none";
				$("#security5_block")[0].style.display = "none";
		}
		else{		
				if('<% nvram_get("wlc_band"); %>' == 1){			
						auth_mode = '<% nvram_get("wl1.1_auth_mode_x"); %>';
						wep_x = '<% nvram_get("wl1.1_wep_x"); %>';
						key_x = '<% nvram_get("wl1.1_key"); %>';			
						document.form.wl1_ssid2.value = decodeURIComponent('<% nvram_char_to_ascii("WLANConfig11b", "wl1.1_ssid"); %>');
						document.form.wl1_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("WLANConfig11b", "wl1.1_wpa_psk"); %>');
						$("#ssid_5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_ssid"); %>');
			
						if(auth_mode == "open" && wep_x == "0"){
								$("#security5")[0].innerHTML = "Open System";
								$("#key5_block")[0].style.display = "none";
						}
						else if(auth_mode == "open" && wep_x != "0"){
								$("#security5")[0].innerHTML = "Open System";
								if(key_x ==1)
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key1"); %>');
								else if(key_x ==2)	
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key2"); %>');
								else if(key_x ==3)
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key3"); %>');
								else if(key_x ==4)		
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key4"); %>');
						}
						else if(auth_mode == "shared"){
								$("#security5")[0].innerHTML = "Shared Key";
								if(key_x ==1)
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key1"); %>');
								else if(key_x ==2)	
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key2"); %>');
								else if(key_x ==3)
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key3"); %>');
								else if(key_x ==4)		
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key4"); %>');		
						}
						else if(auth_mode == "psk"){
								$("#security5")[0].innerHTML = "WPA-Personal - TKIP";
								$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_wpa_psk"); %>');
						}
						else if(auth_mode == "psk2"){
								$("#security5")[0].innerHTML = "WPA2-Personal - AES";
								$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_wpa_psk"); %>');
						}
						else if(auth_mode == "pskpsk2"){
								$("#security5")[0].innerHTML = "WPA-Auto-Personal - TKIP + AES";
								$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_wpa_psk"); %>');
						}
						else{	
								$("#freqtitle5")[0].style.display = "none";
								$("#ssid5_block")[0].style.display = "none";
								$("#key5_block")[0].style.display = "none";
								$("#security5_block")[0].style.display = "none";
						}
				}
		}	
	}		

	// Connection Status
	$("#mac_item")[0].innerHTML = "<#MAC_Address#>";
	$("#mac")[0].innerHTML = '<% nvram_get("lan_hwaddr"); %>';
	$("#wantype_item")[0].innerHTML = "<#Layer3Forwarding_x_ConnectionType_itemname#>";
	
	if(wanlink_type() == "dhcp")
		var wanlink_type_conv = "<#BOP_ctype_title1#>";
	else 	if(wanlink_type() == "pppoe" || wanlink_type() == "PPPOE" )
		var wanlink_type_conv = "PPPoE";
	else 	if(wanlink_type() == "static")
		var wanlink_type_conv = "<#BOP_ctype_title5#>";
	else 	if(wanlink_type() == "pptp")
		var wanlink_type_conv = "PPTP";
	else 	if(wanlink_type() == "l2tp")
		var wanlink_type_conv = "L2TP";
	else
		var wanlink_type_conv = wanlink_type();

	if(secondary_wanlink_type() == "dhcp")
		var secondary_wanlink_type_conv = "<#BOP_ctype_title1#>";
	else 	if(secondary_wanlink_type() == "pppoe" || secondary_wanlink_type() == "PPPOE" )
		var secondary_wanlink_type_conv = "PPPoE";
	else 	if(secondary_wanlink_type() == "static")
		var secondary_wanlink_type_conv = "<#BOP_ctype_title5#>";
	else 	if(secondary_wanlink_type() == "pptp")
		var secondary_wanlink_type_conv = "PPTP";
	else 	if(secondary_wanlink_type() == "l2tp")
		var secondary_wanlink_type_conv = "L2TP";
	else
		var secondary_wanlink_type_conv = secondary_wanlink_type();	
	
	if(parent.dualWAN_support){
		if(wan_primary == "wan0")
			$("#wantype")[0].innerHTML = wanlink_type_conv;
		else if(wan_primary == "wan1")	 
			$("#wantype")[0].innerHTML = secondary_wanlink_type_conv;
	
	}
	else
		$("#wantype")[0].innerHTML = wanlink_type_conv;

	// 2013.09.24 Viz: Hide this button to make sure User click 'next step'
	//if('<% nvram_get("autodet_auxstate"); %>' == '6')
		//$("#wantype")[0].innerHTML += '<input type="button" id="changeType" value="<#CTL_modify#>" onclick="redirect_page(\'internet_type\');" class="button_gen" style="margin-left:20px;">';
		
	
	$("#wanip_item")[0].innerHTML = "<#WAN_IP#>";
	
		//Repeater mode P-AP
	if('<% nvram_get("sw_mode"); %>' == "2"){
		$("#wlcssid")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wlc_ssid"); %>');

		if(wlc_state == 2){
			$("#wlcstate")[0].innerHTML = "<#APSurvey_action_ConnectingStatus24#>";
		}
		else{
			$("#wlcstate")[0].innerHTML = "<span style='color:#FC0;text-decoration:underline;cursor:pointer;' onclick=\"javascript:parent.location.href=\'http://'+ theUrl +'/QIS_wizard.htm?flag=sitesurvey\';\"><#APSurvey_action_ConnectingStatus0#></span>";
		}

		$("#wlcip")[0].innerHTML = reIP;

		$(".reItem").css("display", "none");
		$(".wlcItem").css("display", "");
	}
	else{
		if(parent.dualWAN_support){
			if(wan_primary == "wan0")
				$("#wanip")[0].innerHTML = wanlink_ipaddr();
			else if(wan_primary == "wan1")	 
				$("#wanip")[0].innerHTML = secondary_wanlink_ipaddr();
		}
		else{
			$("#wanip")[0].innerHTML = wanlink_ipaddr();
		}

		$("#lanip_item")[0].innerHTML = "<#LAN_IP#>";
		$("#lanip")[0].innerHTML = reIP;
		$(".wlcItem").css("display", "none");

		if(parent.yadns_support){
			$("#yadns_enable").checked = (yadns_enable != 0) ? true : false;
			$("#yadns_defmode").checked = (yadns_mode == 1) ? true : false;
			$(".yadnsItem").css("display", "");
			yadns_change(false);
		}
	}

	// System account
	$("#account_item")[0].innerHTML = "<#QIS_finish_admin_item1#>";
	$("#account")[0].innerHTML = '<% nvram_get("http_username"); %>';
	$("#password_item")[0].innerHTML = "<#QIS_finish_admin_item2#>";
 	$("#password")[0].innerHTML = "*";
	
	//NTP sync or not
	if('<% nvram_get("svc_ready"); %>' == '0')
		document.getElementById('svc_hint_div').style.display = "";	

	if(parent.ISMOBILE){
		hideObjs();
		document.getElementById("tblsetting_1").style.display = "none";
		document.getElementById("timeObject").style.display = "none";
		document.getElementById("mainDiv_finish").style.display = "";
		document.getElementById("wanip_m").innerHTML = document.getElementById("wanip").innerHTML;
		document.getElementById("wantype_m").innerHTML = wanlink_type_conv;
		document.getElementById("lanip_m").innerHTML = document.getElementById("lanip").innerHTML;
		document.getElementById("mac_m").innerHTML = document.getElementById("mac").innerHTML;

		if(parent.new_FW){
			document.getElementById("mainDiv_finish").style.display = "none";
			document.getElementById("liveUpdate_div").style.display = "";
			document.getElementById("liveUpdateTitle").style.display = "none";
			$("#currentFW")[0].innerHTML = parent.exist_firmver + "_" + parent.current_buildno + "_" + parent.current_extendno;
			$("#latestFW")[0].innerHTML = "" 
			for(var i=0; i<parent.Latest_firm.length; i++){
				$("#latestFW")[0].innerHTML += parent.Latest_firm.charAt(i);
				if(i == parent.Latest_firm.length - 1)
					$("#latestFW")[0].innerHTML += "_";
				else
					$("#latestFW")[0].innerHTML += ".";
			}
			$("#latestFW")[0].innerHTML += parent.Latest_buildno;
			$("#latestFW")[0].innerHTML += "_";
			$("#latestFW")[0].innerHTML += parent.Latest_extendno;
		}
	}
	else{
		if(parent.liveUpdateFinish){
			if(parent.new_FW){
				$("#currentFW")[0].innerHTML = parent.exist_firmver + "_" + parent.current_buildno + "_" + parent.current_extendno; 
				$("#latestFW")[0].innerHTML = "" 
				for(var i=0; i<parent.Latest_firm.length; i++){
					$("#latestFW")[0].innerHTML += parent.Latest_firm.charAt(i);
					if(i == parent.Latest_firm.length - 1)
						$("#latestFW")[0].innerHTML += "_";
					else
						$("#latestFW")[0].innerHTML += ".";
				}
				$("#latestFW")[0].innerHTML += parent.Latest_buildno;
				$("#latestFW")[0].innerHTML += "_";
				$("#latestFW")[0].innerHTML += parent.Latest_extendno;
			}
			else{
				goto_index();
			}

			document.getElementById("QISmain").style.display = "none";
			document.getElementById("liveUpdate_div").style.display = "";
		}
		
		parent.set_step("t3");
		parent.$("LoadingBar").style.visibility = 'hidden';
	}
}

function gotoASUS(){
	parent.location.href = "http://www.asus.com/support/";
}

function goto_index(){
	parent.location.href = "/index.asp";
}

function gotoAdvSetting(){
	parent.location = "/Advanced_Wireless_Content.asp";
}

function startLiveDetect(){
	document.getElementById('loadingIcon').style.display='';
	parent.detect_update();
}

function gotoNext(){
	if(parent.yadns_support && !parent.yadns_done)
		return yadns_apply();
	if(!parent.ISMOBILE && !parent.liveUpdateFinish)
		return startLiveDetect();
	return goto_index();
}

function addBookmarkForBrowser(sTitle) {
	 sTitle = sTitle+" - "+reIP;
	 
   if(document.all)
      window.external.addFavorite('http://'+reIP, sTitle);
   else if(window.sidebar && window.sidebar.addPanel)
      window.sidebar.addPanel(sTitle, 'http://'+reIP, "");
   else{
			addBookmarkForBrowser = function(){
				alert("<#Browser_action_not_support_addfavorite#>");
			}
   }
}

function translate_auth(flag){
	if(flag == "open")
		return "Open System";
	else if(flag == "shared")
		return "Shared Key";
	else if(flag == "psk")
		return "WPA-Personal";
	else if(flag == "psk2")
 		return "WPA2-Personal";
	else if(flag == "pskpsk2")
		return "WPA-Auto-Personal";
	else
		return "unknown Auth";
}

function redirect_page(redirect_flag){
	document.redirectForm.action = "/qis/QIS_"+redirect_flag+".htm";
	document.redirectForm.submit();
}

function submitenter(myfield,event){
	var keyPressed;
	keyPressed = event.keyCode ? event.keyCode : event.which;
	if (keyPressed == 13){
		gotoNext();
	}
	else
		return true;
}

function set_timezone(){
	var systime = new Date();
	Date.prototype.stdTimezoneOffset_north = function() {
    var jan = new Date(this.getFullYear(), 0, 1);
    var jul = new Date(this.getFullYear(), 6, 1);
    return Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset());
	}

	Date.prototype.stdTimezoneOffset_south = function() {
    var jan = new Date(this.getFullYear(), 0, 1);
    var jul = new Date(this.getFullYear(), 6, 1);
    return Math.min(jan.getTimezoneOffset(), jul.getTimezoneOffset());
	}

	Date.prototype.dst = function() {
    return (this.getTimezoneOffset() < this.stdTimezoneOffset_north() || this.getTimezoneOffset() > this.stdTimezoneOffset_south());
	}	
	
	var system_timezone_dut = document.form.time_zone.value;
	var system_timezone = parseInt(document.form.time_zone_x.value.substring(3));	
	var client_timezone = systime.getTimezoneOffset();

	if(parent.isFirst && (system_timezone*60 != client_timezone)){		//Tune DUT time while x_Setting=0
			systime_millsec += (-client_timezone*60000);			
	}
	
	document.getElementById('change_tz').innerHTML = timezones[system_timezone_dut];

	if(system_timezone_dut.search("DST") >= 0){
		document.getElementById('dstzone').style.display = "";
		document.getElementById('dstzone').innerHTML = "<#General_x_SystemTime_dst#>";
	}

	showclock();
}
function showclock(){
	JS_timeObj.setTime(systime_millsec);
	systime_millsec += 1000;
	JS_timeObj2 = JS_timeObj.toString();	
	JS_timeObj2 = JS_timeObj2.substring(0,3) + ", " +
	              JS_timeObj2.substring(4,10) + "  " +
				  parent.checkTime(JS_timeObj.getHours()) + ":" +
				  parent.checkTime(JS_timeObj.getMinutes()) + ":" +
				  parent.checkTime(JS_timeObj.getSeconds()) + "  " +
				  JS_timeObj.getFullYear();
	$("#system_time")[0].innerHTML = JS_timeObj2;
	setTimeout("showclock()", 1000);
}
</script>
</head>

<body onLoad="QKfinish_load_body();set_timezone();" onKeyPress="submitenter(this,event)">
<form method="post" name="redirectForm" action="" target="">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="current_page" value="/qis/QIS_fail.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="action_script" value="">
<input type="hidden" name="action_wait" value="">
</form>

<form method="post" name="form" action="" target="hidden_frame" onsubmit="goto_index();">
<input type="hidden" name="wl0_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_ssid"); %>">
<input type="hidden" name="wl1_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_ssid"); %>">
<input type="hidden" name="wl0_wpa_psk" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_wpa_psk"); %>">
<input type="hidden" name="wl1_wpa_psk" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_wpa_psk"); %>">
<input type="hidden" name="wl2_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl2_ssid"); %>">
<input type="hidden" name="wl2_wpa_psk" value="<% nvram_char_to_ascii("WLANConfig11b", "wl2_wpa_psk"); %>">
<input type="hidden" name="time_zone_x" value="<% nvram_get("time_zone_x"); %>" disabled>
<input type="hidden" name="time_zone" value="<% nvram_get("time_zone"); %>" disabled>
<div class="QISmain" id="QISmain" style="display:none">
		<div id="descTltle">
			<table width="100%">
				<tr>
					<td align="left">
						<div class="description_down"><#qis_finish_title1#></div>
					</td>
					<td align="right">
						<!--img onclick="parent.gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'"-->
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
<br/>

<p id="timeObject" class="QISGeneralFont" style="margin-top:-5px;"><#General_x_SystemTime_itemname#>: <span id="system_time" size="40" class="devicepin" style="font-size:12px;"></span>&nbsp&nbsp<span id="change_tz" style="font-family:Lucida Console;"></span>&nbsp<span id="dstzone" style="display:none;"></span></p>
<div id="svc_hint_div" style="margin-left:70px;display:none;"><span style="color:#FFCC00;"><#General_x_SystemTime_syncNTP#></span></div>
<br/>

<table id="tblsetting_1" class="QISform_finish" width="400" border=0 align="center" cellpadding="5" cellspacing="0" style="margin-top:-10px;">
	<!-- WL 2.4GHz -->
	<tr id="freqtitle2">
		<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#menu5_1#> <span style="color:#5AD;" id="desc2g">(2.4GHz)</span></td>	
	</tr>
	<tr id="ssid2_block">
	  <th width="180"><span id="ssid_2_item"></span></th>
	  <td class="QISformtd" width="300px">
			<span id="ssid_2" style="white-space: pre;"></span>
	  </td>
	</tr>
	<tr id="key2_block">
	  <th width="180"><span id="key2_item"></span></th>
	  <td class="QISformtd">
			<span id="key2"></span>
	  </td>
	</tr>
	<tr id="security2_block">
	  <th width="180"><span id="security_item2"></span></th>
	  <td class="QISformtd">
			<span id="security2"></span>
	  </td>
	</tr>


	<!-- WL 5GHz -->
	<tr id="freqtitle5">
		<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#menu5_1#> <span id="band5g_desc" style="color:#5AD;">(5GHz)</span></td>	
	</tr>
	<tr id="ssid5_block">
	  <th width="180"><span id="ssid_5_item"></span></th>
	  <td class="QISformtd">
			<span id="ssid_5" style="white-space: pre;"></span>
	  </td>
	</tr>
	<tr id="key5_block">
	  <th width="180"><span id="key5_item"></span></th>
	  <td class="QISformtd">
			<span id="key5"></span>
	  </td>
	</tr>
	<tr id="security5_block">
	  <th width="180"><span id="security_item5"></span></th>
	  <td class="QISformtd">
			<span id="security5"></span>
	  </td>
	</tr>

		<!-- WL 5GHz-2 -->
	<tr id="freqtitle5_2">
		<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#menu5_1#> <span style="color:#5AD;">(5GHz-2)</span></td>	
	</tr>
	<tr id="ssid5_2_block">
	  <th width="180"><span id="ssid_5_2_item"></span></th>
	  <td class="QISformtd">
			<span id="ssid_5_2" style="white-space: pre;"></span>
	  </td>
	</tr>
	<tr id="key5_2_block">
	  <th width="180"><span id="key5_2_item"></span></th>
	  <td class="QISformtd">
			<span id="key5_2"></span>
	  </td>
	</tr>
	<tr id="security5_2_block">
	  <th width="180"><span id="security_item5_2"></span></th>
	  <td class="QISformtd">
			<span id="security5_2"></span>
	  </td>
	</tr>

	<!-- WAN -->
	<tr class="reItem">
		<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#menu5_3#></td>	
	</tr>
	<tr class="reItem">
	  <th width="180"><span id="wantype_item"></span></th>
	  <td class="QISformtd">
			<span id="wantype"></span>
	  </td>
	</tr>
	<tr class="reItem">
	  <th width="180"><span id="wanip_item"></span></th>
	  <td class="QISformtd">
			<span id="wanip"></span>
	  </td>
	</tr>

	<!-- LAN -->
	<tr class="reItem">
		<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#menu5_2#></td>	
	</tr>
	<tr class="reItem">
	  <th width="180"><span id="lanip_item"></span></th>
	  <td class="QISformtd">
			<span id="lanip"></span>
	  </td>
	</tr>

	<tr class="reItem">
	  <th width="180"><span id="mac_item"></span></th>
	  <td class="QISformtd">
			<span id="mac"></span>
	  </td>
	</tr>

	<tr style="display:none;">
	  <th width="180"><span id="account_item"></span></th>
	  <td class="QISformtd">
			<span id="account"></span>
	  </td>
	</tr>

	<tr style="display:none;">
	  <th width="180"><span id="password_item"></span></th>
	  <td class="QISformtd">
			<span id="password"></span>
	  </td>
	</tr>

	<tr class="yadnsItem" style="display:none;">
		<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#YandexDNS#></td>
	<tr>
	<tr class="yadnsItem" style="display:none;">
	  <td class="QISformtd" colspan="4">
		<#YandexDNS_desc1#><br>
		<input type="checkbox" id="yadns_enable" colspan="4" onchange="yadns_change(true);" <% nvram_match("yadns_enable_x", "1", "checked"); %>><#YandexDNS_qis_lua#><br>
		<input type="checkbox" id="yadns_defmode" colspan="4" onchange="yadns_change(true);" <% nvram_match("yadns_mode", "1", "checked"); %>><#YandexDNS_qis_default#>
	  </td>
	</tr>

	<!-- WLC -->
	<tr class="wlcItem">
		<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#OP_RE_item#></td>	
	</tr>
	<tr class="wlcItem">
	  <th width="180"><span id="wlcssid_item"><#Wireless_name#>(Remote)</span></th>
	  <td class="QISformtd">
			<span id="wlcssid"></span>
	  </td>
	</tr>

	<tr class="wlcItem">
	  <th width="180"><span id="wlcstate_item"><#statusTitle_AP#></span></th>
	  <td class="QISformtd">
			<span id="wlcstate"></span>
	  </td>
	</tr>

	<tr class="wlcItem">
	  <th width="180"><span id="wlcip_item"><#QIS_internet_success_item1#></span></th>
	  <td class="QISformtd">
			<span id="wlcip"></span>
	  </td>
	</tr>
</table>

<div id="mainDiv_finish" style="display:none;margin-top:-40px;">
	<div class="itemTitle"><#menu5_3#></div>
	<fieldset>
		<div class="row">
			<label><#WAN_IP#></label>
			<div id="wanip_m"></div>
		</div>
		<div class="row_end">
			<label><#wan_type#></label>
			<div id="wantype_m"></div>
		</div>
	</fieldset>
	<br />
	<div class="itemTitle"><#menu5_2#></div>
	<fieldset>
		<div class="row">
			<label><#LAN_IP#></label>
			<div id="lanip_m"></div>
		</div>
		<div class="row_end">
			<label><#MAC_Address#></label>
			<div id="mac_m"></div>
		</div>
	</fieldset>
	<br />
	
	<fieldset>
		<div class="row_end"><a class="iuiA" onclick="parent.location.href='/index.asp';"><#menu5#></a></div>
	</fieldset>
	<br />
	<fieldset>
		<div class="row_end"><a class="iuiA" onclick="parent.location.href='/Logout.asp';"><#t1Logout#></a></div>
	</fieldset>

	<!-- support Live update -->
	<!--fieldset class="theFieldset">
		<div class="row_end"><a class="iuiA" onclick="">check FW</a></div>
	</fieldset-->
</div>

<div id="applyBtn" class="apply_gen" style="margin-top:5px">
	<input type="button" id="nextButton" value="<#CTL_next#>" onclick="gotoNext();" class="button_gen">
	<img id="loadingIcon" style="display:none;" src="/images/InternetScan.gif"></span>
</div>
</div>
<div id="liveUpdate_div" style="display:none">
	<div id="liveUpdateTitle">
		<div>
			<table width="100%">
				<tr>
					<td align="left">
						<div class="description_down"><#menu5_6_3#></div>
					</td>
					<td align="right">
						<!--img onclick="parent.gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'"-->
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
		<br>
		<br>
	</div>

	<div id="newFWDetected">
		<div class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;">
			<div style="text-align:left;" id="showLiveUpdateResult_div">
			<#exist_new#><br><br>Do not power off <#Web_Title2#> while upgrade in progress.
			<br>
			<br>
			<div id="current_fw_div" style="display:none;">Your current firmware version is <span style="font-family:Segoe UI, Arial, sans-serif;font-size:18px;" id="currentFW"></span></div>
			<br>
			<br>
				<div id="Latest_fw_div" style="display:none;">Latest firmware version is <span style="font-family:Segoe UI, Arial, sans-serif;font-size:18px;" id="latestFW"></span></div>	
			</div>
		</div>
		<br>
		<br>
		<div class="apply_gen" style="margin-top:5px">
			<input type="button" value="<#CTL_Cancel#>" onclick="showCancel();" class="button_gen">
			<input type="button" value="<#checkbox_Yes#>" onclick="doLiveUpdate(true);" class="button_gen">
		</div>
	</div>
		
  <div id="newFWCancel" style="display:none;">
      <div class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;">
          <div style="text-align:left;line-height: 25px;">
              <#newFW_cancel#>
          </div>
      </div>
      <br>
      <br>
      <div class="apply_gen" style="margin-top:5px">
         <input type="button" value="OK" onclick="doLiveUpdate(false);" class="button_gen">
      </div>
  </div>

	<div id="progressBar" class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;display:none;*margin-left:70px;">
		<div style="text-align:left;">
		<#FIRM_ok_desc#><br>Do not power off <#Web_Title2#> while upgrade in progress.
		</div>
		<br>
		<div id="updateProgress_bg" style="text-align:left;*margin-left:-65px;">
			<div align="left">
				<style>
					#updateProgress_bg{
						margin-top:5px;
						width:90%;
						height:30px;
						background:url(/images/quotabar_bg_progress.gif);
						background-repeat: repeat-x;
					}
				</style>
				<span id="progress_bar_no" style="position:absolute;margin-left:285px;margin-top:7px;*margin-left:290px">0%</span>
				<img id="updateProgress" src="/images/quotabar.gif" style="width:0%" height="30px">
			</div>
			<!--progress max="100" value="60" style="height:30px;width:50%"></progress-->
		</div>
		<br>
		<br>
		<div style="text-align:left;line-height: 25px;">
			<#FW_n1#>
			<br>
		</div>
	</div>
	<br>
	<div id="newFWgraded" style="margin-top:5px;text-align:center;font-size:18px;display:none;">
		<div class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;">
			<div id="liveUpdateResult" style="text-align:left;color:#FC0;line-height: 25px;">
			<#is_latest#>
			</div>
		</div>
		<br>
		<div class="apply_gen" style="margin-top:5px">
			<input type="button" value="<#CTL_next#>" onclick="doLiveUpdate(false);" class="button_gen">
		</div>
	</div>

	<div id="newFWgradedFail" style="margin-top:5px;text-align:center;font-size:18px;display:none;">
		<div class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;">
			<div style="text-align:left;color:#FC0">
			<#Firm_reboot_manually#>
			</div>
		</div>
	</div>
</div>
</form>

<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<form method="post" name="start_update" action="/start_apply2.htm" target="hidden_frame">
<input type="hidden" name="productid" value="<% nvram_get("productid"); %>">
<input type="hidden" name="flag" value="upgrading">
<input type="hidden" name="current_page" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="action_script" value="">
<input type="hidden" name="action_wait" value="">
</form>
<form method="post" name="yadns_update" action="/start_apply2.htm" target="hidden_frame">
<input type="hidden" name="productid" value="<% nvram_get("productid"); %>">
<input type="hidden" name="flag" value="next">
<input type="hidden" name="current_page" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_script" value="restart_yadns">
<input type="hidden" name="action_wait" value="1">
<input type="hidden" name="yadns_enable_x" value="<% nvram_get("yadns_enable_x"); %>">
<input type="hidden" name="yadns_mode" value="<% nvram_get("yadns_mode"); %>">
</form>
</body>
</html>
