<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<script type="text/JavaScript" src="/jquery.js"></script>
<script type="text/javascript">

<% start_autodet(); %>

var now_flag = '<% get_parameter("flag"); %>';
var new_wan_link_str = "";
var detectType = "";

var wantype = '';
var wanstate = -1;
var wansbstate = -1;
var wanauxstate = -1;
var RetryCountDown_fail = 10;
var autodet_state = "";

function QKDetect_load_body(){
	parent.set_step("t1");
	parent.document.title = "<#Web_Title#> - <#QKSet_detect_sanglass#>";
	setTimeout('getWANStatus();', 3000);

	if(parent.ISMOBILE){
		hideObjs();
		document.getElementById("tblsetting_1").style.marginTop = "-30px";
		parent.set_step("");
	}
}

function getWANStatus(){
	$.ajax({
		url: '/result_of_get_changed_status_QIS.asp',
		dataType: 'script',
		
		error: function(xhr){
			--RetryCountDown_fail;
			if(RetryCountDown_fail < 1){
				alert("<#Disconnected#>!");
				refreshpage();
			}
			else
				getWANStatus();			
		},
		success: function(response){
			RetryCountDown_fail = 10;
			if(autodet_state == "" || autodet_state == "0"){
				setTimeout('getWANStatus();', 1000);
			}
			if(autodet_state == 4 && parent.hadPlugged("modem")){ // ethernet did not plug
				redirect_page("modem");
			}	
			else if(autodet_state == "2" && wanauxstate != "1"){
				if(parent.hadPlugged("modem")){
					redirect_page("modem");
				}	
				else{
					redirect_page("wireless");
				}
			}
			else if(autodet_state == "6"){
				document.getElementById("tblsetting_1").style.display = "none";
					
				if(parent.ISMOBILE){
					document.getElementById("pppoe_detected_m").style.display = "";
				}
				else{
					document.getElementById("pppoe_detected").style.display = "";
				}
			}
			else
				redirect_page("internet_type");
		}
	});
}

function GoToPPPoESetting(){
	parent.document.QKform.wan_proto.value = "pppoe";
	redirect_page("internet_account");
}

function redirect_page(redirect_flag){
	document.form.action = "/qis/QIS_"+redirect_flag+".htm";
	document.form.submit();
}
</script>
</head>

<body onLoad="QKDetect_load_body();">
<form method="post" name="form" action="" target="">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="current_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get("preferred_lang"); %>">
<input type="hidden" name="wan_proto" value="">
<input type="hidden" name="wan_dhcpenable_x" id="wan_dhcpenable_x" value="1" disabled>
<input type="hidden" name="wan_dnsenable_x" id="wan_dnsenable_x" value="1" disabled>
<input type="hidden" name="x_Setting" id="x_Setting" value="" disabled>
<div class="QISmain">
	<div id="descTltle">
		<table width="100%">
			<tr>
				<td align="left">
					<div class="description_down"><#QKSet_detect_desc1#></div>
				</td>
				<td align="right">
					<!--img onclick="parent.gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'"-->
				</td>
			</tr>
		</table>
	</div>
	<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>

	<div id="pppoe_detected" style="display:none">
		<p class="QISGeneralFont" style="font-size:20px;font-weight:bolder;LINE-HEIGHT: 25px;"><#QIS_detect_desc1#></p>
		<p class="QISGeneralFont" style="LINE-HEIGHT:25px;"><#QIS_detect_desc2#></p>
		<p class="QISGeneralFont" style="LINE-HEIGHT:25px;"><#QIS_detect_desc3#></p>
		<p class="QISGeneralFont" style="LINE-HEIGHT:25px;"><#QIS_detect_desc4#></p>
		<div class="apply_gen" style="margin-top:30px">
			<input type="button" id="nextButton" value="Internet Type" onclick="redirect_page('internet_type');" class="button_gen" >
			<input type="button" id="nextButton" value="<#CTL_next#>" onclick="GoToPPPoESetting();" class="button_gen" >
		</div>
	</div>
  <br/><br/>
	<table id="tblsetting_1" class="QISform" width="auto" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr>
		<td align="right">
			<img src="/images/InternetScan.gif"></span>
		</td>	  
		<td class="test_css">
			<strong><span><#QKSet_detect_waitdesc#></span></strong>
		</td>
	  </tr>
	</table>
</div>

<div id="pppoe_detected_m" class="QISGeneralFont" style="display:none;margin-top:-35px;">
	<div class="qisMobileHint"><#QIS_detect_desc1#></div>
	<div><#QIS_detect_desc2#></div>
	<div><#QIS_detect_desc3#></div>
	<div><#QIS_detect_desc4#></div>
	<br />
	<fieldset class="theFieldset" id="theFieldset">
		<div class="row">
			<a class="iuiA" onclick="redirect_page('internet_type');">Manual Setting</a>
		</div>
		<div class="row_end">
			<a class="iuiA" onclick="GoToPPPoESetting();"><#CTL_next#></a>
		</div>
	</fieldset>
</div>

</form>

<form method="post" name="redirectForm" action="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="prev_page" value="">
</form>
</body>
