<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                              
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<link type="text/css" rel="stylesheet" href="qis_style.css">
<script type="text/javascript" src="/state.js"></script>
<script type="text/javascript" src="/general.js"></script>
<script type="text/javascript" src="/help.js"></script>
<script language="JavaScript" type="text/javascript" src="/jquery.js"></script>
<script>
var $j = jQuery.noConflict();
var wlc_state = '0';
var wlc_sbstate = '0';
var wlc_scan_state = '0';
var waitingTime = 120;

function QKWireless_load_body(){
	parent.document.title = "<#Web_Title#> - <#QKSet_wireless_webtitle#>";
	parent.set_step("t3");

	hideLinkTag();
	flash_button();
	show_prev_button();

	if(parent.w_Setting_tmp == '0')
		$("HomeImg").style.display = "none";

	if(band5g_support == -1){
		$("wl_unit_field_1").style.display = "none";
		$("wl_unit_field_2").style.display = "none";
		$("wl_unit_field_3").style.display = "none";
	}
	
	if(parent.document.QKform.sw_mode.value == 2){
		$('RP_UseParentSetting').style.display = "";
		$("Continued_PrevSetting").style.display = "none";
		$("radio_Continued_PrevSetting").style.display = "none";
		$('RP_parentSetting').checked == true
		RP_useParentSetting();	
	}
	else{
		document.form.wl0_ssid.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_ssid"); %>');
		document.form.wl0_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>');
		document.form.wl1_ssid.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_ssid"); %>');
		document.form.wl1_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>');
	}
	
	
	/*if('<% nvram_get("sw_mode"); %>' == '2' || parent.document.QKform.sw_mode.value == "2"){
		if(parent.document.QKform.wlc_band.value == '0'){
			document.getElementById("wl0_ssid").value = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_ssid"); %>');
			document.getElementById("wl0_wpa_psk").value = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_wpa_psk"); %>');
		}
		else{
			document.getElementById("wl1_ssid").value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_ssid"); %>');
			document.getElementById("wl1_wpa_psk").value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_wpa_psk"); %>');
		}
	}*/

	//while %w_Setting% == 1
	if(parent.w_Setting_tmp == 1 && parent.document.QKform.sw_mode.value != "2"){
		$("Continued_PrevSetting").style.display = "";
		$("Continued_PrevSetting").innerHTML = "<#QIS_Previous_WLKey#>";
		$("radio_Continued_PrevSetting").style.display = "";
		document.form.Cont_PrevSetting[0].checked = true;		
		document.getElementById("btn_next_step").focus();
				
		inputCtrl(document.form.wl0_ssid,0);
		inputCtrl(document.form.wl0_wpa_psk,0);
		if(band5g_support != -1){
				inputCtrl(document.form.sync_with_2ghz,0);
				inputCtrl(document.form.wl1_ssid,0);
				inputCtrl(document.form.wl1_wpa_psk,0);
		}		
		
	}else{
		$("Continued_PrevSetting").style.display = "none";
		$("radio_Continued_PrevSetting").style.display = "none";
		document.form.wl0_ssid.focus();		
	}
}

function submitForm(){
	var _confirmed = 0;

	if($('wl0_ssid').disabled == false){
		if(document.form.wl0_wpa_psk.value == ""){
				if(!confirm("<#QIS_confirm_recommand_encryp#>")){
						document.form.wl0_wpa_psk.focus();				
						return false;
				}
				_confirmed++;
		}

		if(!validate_string_ssid(document.form.wl0_ssid))
			return false;

		if(document.form.wl0_wpa_psk.value.length > 0){
			document.form.wl0_auth_mode_x.value = "psk2";
			if(!validate_psk(document.form.wl0_wpa_psk))
					return false;
		}else
			document.form.wl0_auth_mode_x.value = "open";

	}else{
		if(parent.document.QKform.sw_mode.value == 2){
			/* use parent AP settings */	
			if(parent.document.QKform.wlc_band.value == 0)
				document.form.wl0_ssid.value = decodeURIComponent(parent.document.QKform.wlc_ssid.value);
			else
				document.form.wl0_ssid.value = decodeURIComponent(parent.document.QKform.wlc_ssid.value+'_2G');
			
			document.form.wl1_wpa_psk.value	= parent.document.QKform.wlc_wpa_psk.value;
			document.form.wl0_auth_mode_x.value = parent.document.QKform.wlc_auth_mode.value;
			if(document.form.wl0_auth_mode_x.value == "pak2")
				document.form.wl0_crypto.value = "aes";
			else if(document.form.wl0_auth_mode_x.value == "pak")
				document.form.wl0_crypto.value = "tkip";
		}
		else{
			/* use previous settings */		
			document.form.wl0_ssid.value = decodeURIComponent("<% nvram_char_to_ascii("", "wl0_ssid"); %>");
			document.form.wl0_wpa_psk.value = decodeURIComponent("<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>");
			document.form.wl0_auth_mode_x.value = "<% nvram_get("wl0_auth_mode_x"); %>";
			document.form.wl0_crypto.value = "<% nvram_get("wl0_crypto"); %>";
			document.form.wl0_wep_x.value = "<% nvram_get("wl0_wep_x"); %>";
		}
	}	
	
	
	if(band5g_support != -1){ 
		if ($('wl1_ssid').disabled == false){
				if(document.form.wl1_wpa_psk.value == "" && _confirmed == 0){
						if(!confirm("<#QIS_confirm_recommand_encryp#>")){
								document.form.wl1_wpa_psk.focus();
								document.form.wl1_wpa_psk.select();
								return false;
						}		
				}	

				if(!validate_string_ssid(document.form.wl1_ssid))
						return false;
	
				if(document.form.wl1_wpa_psk.value.length > 0){
						document.form.wl1_auth_mode_x.value = "psk2";
						if(!validate_psk(document.form.wl1_wpa_psk))
								return false;
				}else
						document.form.wl1_auth_mode_x.value = "open";

		}else{
			if(parent.document.QKform.sw_mode.value == 2){
				/* use parent AP settings */
				if(parent.document.QKform.wlc_band.value == 0)
					document.form.wl1_ssid.value = decodeURIComponent(parent.document.QKform.wlc_ssid.value+'_5G');
				else	
					document.form.wl1_ssid.value = decodeURIComponent(parent.document.QKform.wlc_ssid.value);
				
				document.form.wl1_wpa_psk.value	= parent.document.QKform.wlc_wpa_psk.value;
				document.form.wl1_auth_mode_x.value = parent.document.QKform.wlc_auth_mode.value;
				if(document.form.wl1_auth_mode_x.value == "pak2")
					document.form.wl1_crypto.value = "aes";
				else if(document.form.wl1_auth_mode_x.value == "pak")
					document.form.wl1_crypto.value = "tkip";			
			}
			else{
				/* use previous settings */		
				document.form.wl1_ssid.value = decodeURIComponent("<% nvram_char_to_ascii("", "wl1_ssid"); %>");
				document.form.wl1_wpa_psk.value = decodeURIComponent("<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>");
				document.form.wl1_auth_mode_x.value = "<% nvram_get("wl1_auth_mode_x"); %>";		
				document.form.wl1_crypto.value = "<% nvram_get("wl1_crypto"); %>";
				document.form.wl1_wep_x.value = "<% nvram_get("wl1_wep_x"); %>";
			}
		}
	}	

	if(parent.$("flag").value == "adv_ap_mode" || parent.document.QKform.sw_mode.value == "3"){ // AP mode
		document.form.flag.value = "adv_ap_mode";
		document.form.lan_ipaddr.disabled = false;
		document.form.lan_proto.disabled = false;
		document.form.lan_netmask.disabled = false;
		document.form.lan_gateway.disabled = false;
		document.form.lan_dnsenable_x.disabled = false;
		document.form.lan_dns1_x.disabled = false;
		document.form.lan_dns2_x.disabled = false;
		document.form.lan_ipaddr.value = parent.document.QKform.lan_ipaddr.value;
		document.form.lan_proto.value = parent.document.QKform.lan_proto.value;
		document.form.lan_netmask.value = parent.document.QKform.lan_netmask.value;
		document.form.lan_gateway.value = parent.document.QKform.lan_gateway.value;
		document.form.lan_dnsenable_x.value = parent.document.QKform.lan_dnsenable_x.value;		
		document.form.lan_dns1_x.value = parent.document.QKform.lan_dns1_x.value;
		document.form.lan_dns2_x.value = parent.document.QKform.lan_dns2_x.value;
		document.form.action_script.value = "restart_all";
		document.form.sw_mode.value = 3;
		if('<% nvram_get("sw_mode"); %>' == '1'){
			document.form.lan_ipaddr_rt.disabled = false;
			document.form.lan_netmask_rt.disabled = false;
			document.form.lan_ipaddr_rt.value = parent.document.QKform.lan_ipaddr_rt.value;
			document.form.lan_netmask_rt.value = parent.document.QKform.lan_netmask_rt.value;
		}
		
		if('<% nvram_get("sw_mode"); %>' == '2'){ //close Guest netowrk bss_enabled when Repeater switch to AP mode
			if(document.form.wlc_band.value == 0)
				close_guest_unit(0,1);
			else
				close_guest_unit(1,1);
		}
	}
	else if(parent.document.QKform.sw_mode.value == "2"){	// Repeater mode	
		document.form.wlc_band.value = parent.document.QKform.wlc_band.value;
		document.form.wlc_ssid.value = decodeURIComponent(parent.document.QKform.wlc_ssid.value); // ascii to char
		document.form.wlc_wep.value = parent.document.QKform.wlc_wep.value;
		document.form.wlc_key.value = parent.document.QKform.wlc_key.value;
		document.form.wlc_auth_mode.value = parent.document.QKform.wlc_auth_mode.value;
		document.form.wlc_wep_key.value = parent.document.QKform.wlc_wep_key.value;
		document.form.wlc_crypto.value = parent.document.QKform.wlc_crypto.value;
		document.form.wlc_wpa_psk.value = parent.document.QKform.wlc_wpa_psk.value;
		document.form.wlc_nbw_cap.value = parent.document.QKform.wlc_nbw_cap.value;
				
		if($('RP_parentSetting').checked == false){		// if doesn't use parent AP setting, it will use WPA2 to be default Authentication method
			if(document.form.wl0_wpa_psk.value.length > 0){
				document.form.wl0_auth_mode_x.value = "psk2";
				if(!validate_psk(document.form.wl0_wpa_psk)){
					return false;
				}	
			}else
				document.form.wl1_auth_mode_x.value = "open";

			if(band5g_support != -1){
				if(document.form.wl1_wpa_psk.value.length > 0){
					document.form.wl1_auth_mode_x.value = "psk2";
					if(!validate_psk(document.form.wl1_wpa_psk))
						return false;
				}else
					document.form.wl1_auth_mode_x.value = "open";		
			}
		}
		
		if(document.form.wlc_band.value == '0'){
			document.getElementById("wl0_ssid").name = "wl0.1_ssid";
			document.getElementById("wl0_wpa_psk").name = "wl0.1_wpa_psk";
			document.getElementById("wl0_auth_mode_x").name = "wl0.1_auth_mode_x";
			document.getElementById("wl0_crypto").name = "wl0.1_crypto";
			document.getElementById("wl0_wep_x").name = "wl0.1_wep_x";
			document.getElementById("wl0_wpa_mode").name = "wl0.1_wpa_mode";
			document.getElementById("wl0_key").name = "wl0.1_key";
			document.getElementById("wl0_key1").name = "wl0.1_key1";
			document.getElementById("wl0_key2").name = "wl0.1_key2";
			document.getElementById("wl0_key3").name = "wl0.1_key3";
			document.getElementById("wl0_key4").name = "wl0.1_key4";
		}
		else{
			document.getElementById("wl1_ssid").name = "wl1.1_ssid";
			document.getElementById("wl1_wpa_psk").name = "wl1.1_wpa_psk";
			document.getElementById("wl1_auth_mode_x").name = "wl1.1_auth_mode_x";
			document.getElementById("wl1_crypto").name = "wl1.1_crypto";
			document.getElementById("wl1_wep_x").name = "wl1.1_wep_x";
			document.getElementById("wl1_wpa_mode").name = "wl1.1_wpa_mode";
			document.getElementById("wl1_key").name = "wl1.1_key";
			document.getElementById("wl1_key1").name = "wl1.1_key1";
			document.getElementById("wl1_key2").name = "wl1.1_key2";
			document.getElementById("wl1_key3").name = "wl1.1_key3";
			document.getElementById("wl1_key4").name = "wl1.1_key4";
		}

		document.form.sw_mode.value = 2;
		document.form.flag.value = "wlcconnect";
		document.form.action_script.value	= "reboot";
		parent.document.getElementById("stassid").innerHTML = document.form.wlc_ssid.value;

		inputCtrl(document.form.wl0_ssid,1);
		inputCtrl(document.form.wl0_wpa_psk,1);
		if(band5g_support != -1){
				inputCtrl(document.form.sync_with_2ghz,1);
				inputCtrl(document.form.wl1_ssid,1);
				inputCtrl(document.form.wl1_wpa_psk,1);
		}	
	}
	else{	// Router mode
		document.form.flag.value = "finish";
		document.form.sw_mode.value = parent.document.QKform.sw_mode.value;
	}

	parent.w_Setting_tmp = document.form.w_Setting.value;
	document.getElementById("loadingIcon").style.display = "";
	document.form.http_username.value = parent.document.QKform.http_username.value;
	document.form.http_passwd.value = parent.document.QKform.http_passwd.value;
	document.form.wan_nat_x.value = parent.document.QKform.wan_nat_x.value;
	document.form.target = "hidden_frame";
	document.form.next_page.value = "/qis/QIS_finish.htm";	
	document.form.submit();
}

function show_prev_button(){
	if(parent.$("flag").value == "wireless"){
		$("prevButton").value = '<#CTL_AdvSetting#>';
		document.form.prev_page.value = "/Advanced_Wireless_Content.asp";
	}
	else if(parent.$("flag").value == "adv_ap_mode")
		document.form.prev_page.value = "/Advanced_OperationMode_Content.asp";
}

function Sync_2ghz(band){
	if(band == 2){
		if(document.form.sync_with_2ghz.checked == true){
			document.form.wl1_ssid.value = document.form.wl0_ssid.value; 
			document.form.wl1_wpa_psk.value = document.form.wl0_wpa_psk.value; 
		}
	}
	else
		document.form.sync_with_2ghz.checked = false;
}

function gotoIndex_wireless(){
	if(parent.w_Setting_tmp == '0'){
		alert("<#QIS_recommand_encryption#>");
		return false;
	}
	else
		parent.location.href = '/index.asp';
}

var errCount;
function update_site_info(){
	$j.ajax({
		url: '/apscan.asp',
		dataType: 'script',
		error: function(xhr){
			parent.document.getElementById("connHint").innerHTML = "<#QIS_detect_desc5#>";
			setTimeout("update_site_info();", 1000);
			errCount++;
			if(errCount > 5) // assume it's Repeater mode
				parent.location.href = 'http://www.asusnetwork.net/QIS_wizard.htm?flag=finish';
		},
		success: function(response){
			parent.$("LoadingBar").style.visibility = 'hidden';
			if(wlc_state == 2){ // connected
				location.href = '/qis/QIS_finish.htm';
			}
			else{
				parent.issubmit = 120;
				parent.isrescan = 120;
				location.href = '/qis/QIS_sitesurvey.htm';
			}
		}
	});	
}

function PrevSetting(v){
	if(v == 0){
		inputCtrl(document.form.wl0_ssid,0);
		inputCtrl(document.form.wl0_wpa_psk,0);
		document.form.wl0_ssid.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_ssid"); %>');
		document.form.wl0_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>');
		if(band5g_support != -1){
				inputCtrl(document.form.sync_with_2ghz,0);
				inputCtrl(document.form.wl1_ssid,0);
				inputCtrl(document.form.wl1_wpa_psk,0);	
				document.form.wl1_ssid.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_ssid"); %>');
				document.form.wl1_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>');
		}				
	}else{
		inputCtrl(document.form.wl0_ssid,1);
		inputCtrl(document.form.wl0_wpa_psk,1);
		document.form.wl0_wpa_psk.value="";
		if(band5g_support != -1){
				inputCtrl(document.form.sync_with_2ghz,1);
				inputCtrl(document.form.wl1_ssid,1);
				inputCtrl(document.form.wl1_wpa_psk,1);
				document.form.wl1_wpa_psk.value="";	
		}		
	}
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		submitForm();
   	return false;
  }
	else
   	return true;
}

var isNotIE = (navigator.userAgent.search("MSIE") == -1); 
function switchType(obj, _method){
	if(isNotIE){
		if(obj.id.indexOf('wl0') >= 0){		// for wl0		
				document.form.wl0_wpa_psk.type = _method ? "text" : "password";
		}
		if(obj.id.indexOf('wl1') >= 0){		// for wl0		
				document.form.wl1_wpa_psk.type = _method ? "text" : "password";
		}		
	}	
}

function switchType_IE(obj){
		if(isNotIE) return;		
		
		var tmp = "";
		tmp = obj.value;
		if(obj.id.indexOf('wl0') >= 0){		// for wl0
				if(obj.id.indexOf('text') < 0){		//password
							obj.style.display = "none";
							document.getElementById('wl0_wpa_psk_text').style.display = "";
							document.getElementById('wl0_wpa_psk_text').value = tmp;
							document.getElementById('wl0_wpa_psk_text').focus();
				}else{													//text					
							obj.style.display = "none";
							document.getElementById('wl0_wpa_psk').style.display = "";
							document.getElementById('wl0_wpa_psk').value = tmp;
							
				}
		}
		if(obj.id.indexOf('wl1') >= 0){		// for wl1
				if(obj.id.indexOf('text') < 0){		//password
							obj.style.display = "none";
							document.getElementById('wl1_wpa_psk_text').style.display = "";
							document.getElementById('wl1_wpa_psk_text').value = tmp;
							document.getElementById('wl1_wpa_psk_text').focus();
				}else{														//text		
							obj.style.display = "none";
							document.getElementById('wl1_wpa_psk').style.display = "";
							document.getElementById('wl1_wpa_psk').value = tmp;
				}
		}
}

function RP_useParentSetting(){
	if($('RP_parentSetting').checked == true){
		if(parent.document.QKform.wlc_band.value == 0){
				document.form.wl0_ssid.value = decodeURIComponent(parent.document.QKform.wlc_ssid.value);
				if(band5g_support != -1)
					document.form.wl1_ssid.value = decodeURIComponent(parent.document.QKform.wlc_ssid.value+'_5G');
		}
		else{
			document.form.wl0_ssid.value = decodeURIComponent(parent.document.QKform.wlc_ssid.value+'_2G');
			if(band5g_support != -1)
				document.form.wl1_ssid.value = decodeURIComponent(parent.document.QKform.wlc_ssid.value);	
		}	
		
		if(parent.document.QKform.wlc_auth_mode.value == "shared" 
			|| (parent.document.QKform.wlc_auth_mode.value == "open" && parent.document.QKform.wlc_wep.value !=0) ){
			document.form.wl0_wep_x.value = parent.document.QKform.wlc_wep.value;			
			document.form.wl0_wpa_psk.value = parent.document.QKform.wlc_wep_key.value;
			document.form.wl0_key.value = parent.document.QKform.wlc_key.value;
			document.form.wl1_wep_x.value = parent.document.QKform.wlc_wep.value;
			document.form.wl1_wpa_psk.value = parent.document.QKform.wlc_wep_key.value;					
			document.form.wl1_key.value = parent.document.QKform.wlc_key.value;
			if(document.form.wl0_key.value == 1)
				document.form.wl0_key1.value = parent.document.QKform.wlc_wep_key.value;
			else if(document.form.wl0_key.value == 2)
				document.form.wl0_key2.value = parent.document.QKform.wlc_wep_key.value;
			else if(document.form.wl0_key.value == 3)
				document.form.wl0_key3.value = parent.document.QKform.wlc_wep_key.value;
			else if(document.form.wl0_key.value == 4)
				document.form.wl0_key4.value = parent.document.QKform.wlc_wep_key.value;	
				
			if(band5g_support != -1){
				if(document.form.wl1_key.value == 1)
					document.form.wl1_key1.value = parent.document.QKform.wlc_wep_key.value;
				else if(document.form.wl1_key.value == 2)
					document.form.wl1_key2.value = parent.document.QKform.wlc_wep_key.value;
				else if(document.form.wl1_key.value == 3)
					document.form.wl1_key3.value = parent.document.QKform.wlc_wep_key.value;
				else if(document.form.wl1_key.value == 4)
					document.form.wl1_key4.value = parent.document.QKform.wlc_wep_key.value;	
			}
		}
		else{
			document.form.wl0_wpa_psk.value = parent.document.QKform.wlc_wpa_psk.value;
			if(band5g_support != -1)		
				document.form.wl1_wpa_psk.value = parent.document.QKform.wlc_wpa_psk.value;		
		}
		
		$('sync_with_2ghz').checked = false;
		inputCtrl(wl0_ssid,0);
		inputCtrl(wl0_wpa_psk,0);
		if(band5g_support != -1){				
			inputCtrl(document.form.sync_with_2ghz,0);
			inputCtrl(wl1_ssid,0);
			inputCtrl(wl1_wpa_psk,0);
		}
	}	
	else{	
		inputCtrl(wl0_ssid,1);
		inputCtrl(wl0_wpa_psk,1);
		$('wl0_wpa_psk').value = "";
		document.form.wl0_auth_mode_x.value = "psk2";
		if(band5g_support != -1){
			inputCtrl(document.form.sync_with_2ghz,1);
			inputCtrl(wl1_ssid,1);
			inputCtrl(wl1_wpa_psk,1);
			$('wl1_wpa_psk').value = "";
			document.form.wl1_auth_mode_x.value = "psk2";	
		}
	}
}
function close_guest_unit(_unit, _subunit){
	var NewInput = document.createElement("input");
	NewInput.type = "hidden";
	NewInput.name = "wl"+ _unit + "." + _subunit +"_bss_enabled";
	NewInput.value = "0";
	document.form.appendChild(NewInput);
}
</script>
</head>

<body onLoad="QKWireless_load_body();" onunload="" onKeyPress="submitenter(this,event)">
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<div id="navtxt" class="navtext" style="position:absolute; top:50px; left:-100px; visibility:hidden; font-family:Arial, Verdana"></div>
<form method="post" name="form" action="/start_apply2.htm" target="hidden_frame" onsubmit="return submitForm();">
<input type="hidden" name="current_page" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="prev_page" value="QIS_internet_success.htm">
<input type="hidden" name="flag" value="">
<input type="hidden" name="wsc_config_state" value="1">
<input type="hidden" name="wan_nat_x" value="">
<input type="hidden" name="wan_route_x" value="">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_wait" value="3">
<input type="hidden" name="action_script" value="restart_wireless">
<input type="hidden" name="productid" value="<% nvram_get("productid"); %>">
<!-- wireless -->
<input type="hidden" name="wl0_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_ssid"); %>">
<input type="hidden" name="wl0_auth_mode_x" id="wl0_auth_mode_x" value="">
<input type="hidden" name="wl0_crypto" id="wl0_crypto" value="aes">
<input type="hidden" name="wl0_wep_x" id="wl0_wep_x" value="0">
<input type="hidden" name="wl0_wpa_mode" id="wl0_wpa_mode" value="0">
<input type="hidden" name="wl0_key" id="wl0_key" value="">
<input type="hidden" name="wl0_key1" id="wl0_key1" value="">
<input type="hidden" name="wl0_key2" id="wl0_key2" value="">
<input type="hidden" name="wl0_key3" id="wl0_key3" value="">
<input type="hidden" name="wl0_key4" id="wl0_key4" value="">
<input type="hidden" name="wl1_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_ssid"); %>">
<input type="hidden" name="wl1_auth_mode_x" id="wl1_auth_mode_x" value="">
<input type="hidden" name="wl1_crypto" id="wl1_crypto" value="aes">
<input type="hidden" name="wl1_wep_x" id="wl1_wep_x" value="0">
<input type="hidden" name="wl1_wpa_mode" id="wl1_wpa_mode" value="0">
<input type="hidden" name="wl1_key" id="wl1_key" value="">
<input type="hidden" name="wl1_key1" id="wl1_key1" value="">
<input type="hidden" name="wl1_key2" id="wl1_key2" value="">
<input type="hidden" name="wl1_key3" id="wl1_key3" value="">
<input type="hidden" name="wl1_key4" id="wl1_key4" value="">
<!-- lan -->
<input type="hidden" name="lan_ipaddr" value="" disabled>
<input type="hidden" name="lan_proto" value="" disabled>
<input type="hidden" name="lan_netmask" value="" disabled>
<input type="hidden" name="lan_gateway" value="" disabled>
<input type="hidden" name="lan_dnsenable_x" value="" disabled>
<input type="hidden" name="lan_dns1_x" value="" disabled>
<input type="hidden" name="lan_dns2_x" value="" disabled>
<input type="hidden" name="lan_ipaddr_rt" value="" disabled>
<input type="hidden" name="lan_netmask_rt" value="" disabled>
<input type="hidden" name="http_username" value="<% nvram_get("http_username"); %>">
<input type="hidden" name="http_passwd" value="<% nvram_get("http_passwd"); %>">
<input type="hidden" name="sw_mode" value="">
<input type="hidden" name="x_Setting" value="1">
<input type="hidden" name="w_Setting" value="1">
<!-- wireless client -->
<input type="hidden" name="wlc_ure_ssid_org" value="<% nvram_char_to_ascii("WLANConfig11b", "wlc_ure_ssid"); %>" disabled>
<input type="hidden" name="wlc_psta" value="0">
<input type="hidden" name="wlc_band" value="<% nvram_get("wlc_band"); %>">
<input type="hidden" name="wlc_ssid" value="<% nvram_char_to_ascii("", "wlc_ssid"); %>">
<input type="hidden" name="wlc_wep" value="<% nvram_get("wlc_wep"); %>">
<input type="hidden" name="wlc_key" value="<% nvram_get("wlc_key"); %>">
<input type="hidden" name="wlc_wep_key" value="<% nvram_get("wlc_wep_key"); %>">
<input type="hidden" name="wlc_auth_mode" value="<% nvram_get("wlc_auth_mode"); %>">
<input type="hidden" name="wlc_crypto" value="<% nvram_get("wlc_crypto"); %>">
<input type="hidden" name="wlc_wpa_psk" value="<% nvram_get("wlc_wpa_psk"); %>">
<input type="hidden" name="wlc_nbw_cap" value="<% nvram_get("wlc_nbw_cap"); %>">
<input type="hidden" name="wlc_ure_ssid" value="<% nvram_get("wlc_ure_ssid"); %>">
<input type="hidden" name="wl0_1_ssid_org" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0.1_ssid"); %>" disabled>
<input type="hidden" name="wl0_1_wpa_psk_org" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0.1_wpa_psk"); %>" disabled>
<input type="hidden" name="wl1_1_ssid_org" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1.1_ssid"); %>" disabled>
<input type="hidden" name="wl1_1_wpa_psk_org" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1.1_wpa_psk"); %>" disabled>
<!-- wireless client -->
<div class="QISmain">
		<div class="formfonttitle" style="padding:6 0 0 10;">
				<div>
					<table width="730px">
						<tr>
							<td align="left">
								<span class="description_down"><#QKSet_wireless_webtitle#></span>
							</td>
							<td align="right">
								<img id="HomeImg" onclick="gotoIndex_wireless();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
							</td>
						</tr>
					</table>
				</div>
				<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
		</div>
		
<fieldset>
	<legend id="Continued_legend">
			<span id="Continued_PrevSetting"></span>
			<span id="radio_Continued_PrevSetting">
					<input type="radio" name="Cont_PrevSetting" class="input" value="0" onclick="PrevSetting(this.value);"><#checkbox_Yes#>
					<input type="radio" name="Cont_PrevSetting" class="input" value="1" onclick="PrevSetting(this.value);"><#checkbox_No#>
			</span>
			<span id="RP_UseParentSetting" style="display:none;">
				<input type="checkbox" id="RP_parentSetting" checked="" onclick="RP_useParentSetting()"><#QIS_apextended_usedefault#>
			</span>
	</legend>		
	<br/>
	<div class="QISGeneralFont" align="left"><#qis_wireless_setting#></div>
	<br/>
	<table class="QISform_wireless" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	<tr>
		<th width="180">2.4GHz - <#Security#> </th>
		<td class="QISformtd">
		</td>
	</tr>
	<tr>
		<th width="180"><span onmouseout="return nd();" onclick="openHint(0, 22);" style="cursor:help;"><#QIS_finish_wireless_item1#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
		<td class="QISformtd">
			<input type="text" id="wl0_ssid" name="wl0_ssid" onkeypress="return is_string(this, event);" onkeyup="Sync_2ghz(2);" style="height:25px;" class="input_32_table" maxlength="32" value="default"/>
		</td>
	</tr>
	<tr id="wl_unit_field_0">
		<th width="180"><span onmouseout="return nd();" onclick="openHint(0, 23);" style="cursor:help;"><#Network_key#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
		<td class="QISformtd">
			<input id="wl0_wpa_psk" name="wl0_wpa_psk" type="password" autocapitalization="off" onBlur="switchType(this, false);" onFocus="switchType(this, true);switchType_IE(this);" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_wpa_psk"); %>" onkeyup="Sync_2ghz(2);" style="height:25px;" class="input_32_table" maxlength="65">
			<input id="wl0_wpa_psk_text" name="wl0_wpa_psk_text" type="text" autocapitalization="off" onBlur="switchType_IE(this);" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_wpa_psk"); %>" onkeyup="Sync_2ghz(2);" style="height:25px;display:none;" class="input_32_table" maxlength="65">
		</td>
	</tr>
	<tr id="wl_unit_field_1">
		<th width="180">5GHz - <#Security#> </th>
		<td class="QISformtd">
			<span id="syncCheckbox"><input type="checkbox" id="sync_with_2ghz" name="sync_with_2ghz" class="input" onclick="setTimeout('Sync_2ghz(2);',0);"><#qis_ssid_desc#></span>
		</td>
	</tr>
	<tr id="wl_unit_field_2">
		<th width="180"><span onmouseout="return nd();" onclick="openHint(0, 22);" style="cursor:help;"><#QIS_finish_wireless_item1#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
		<td class="QISformtd">
			<input type="text" id="wl1_ssid" name="wl1_ssid" onkeypress="return is_string(this, event);" onkeyup="Sync_2ghz(5);" style="height:25px;" class="input_32_table" maxlength="32" value="default"/>
		</td>
	</tr>
	<tr id="wl_unit_field_3">
		<th width="180"><span onmouseout="return nd();" onclick="openHint(0, 23);" style="cursor:help;"><#Network_key#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
		<td class="QISformtd">
			<input id="wl1_wpa_psk" name="wl1_wpa_psk" type="password" autocapitalization="off" onBlur="switchType(this, false);" onFocus="switchType(this, true);switchType_IE(this);" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_wpa_psk"); %>" onkeyup="Sync_2ghz(5);" style="height:25px;" class="input_32_table" maxlength="65">
			<input id="wl1_wpa_psk_text" name="wl1_wpa_psk_text" type="text" autocapitalization="off" onBlur="switchType_IE(this);" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_wpa_psk"); %>" onkeyup="Sync_2ghz(5);" style="height:25px;display:none;" class="input_32_table" maxlength="65">
		</td>
	</tr>
</table>

<br/>
<div class="QISGeneralFont"><#qis_wireless_setting_skdesc#></div>
<br/>
</fieldset>

<div class="apply_gen" style="margin-top:10px">
  <input type="button" id="prevButton" value="<#CTL_prev#>" onclick="gotoprev(document.form);" style="display:none" class="button_gen">
  <input type="submit" id="btn_next_step" value="<#CTL_apply#>" class="button_gen">
	<img id="loadingIcon" style="display:none;" src="/images/InternetScan.gif"></span>
</div>
</form>
</body>
