<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<script type="text/JavaScript" src="/state.js"></script>
<script type="text/javascript" src="/alttxt.js"></script>
<script type="text/javascript" src="/general.js"></script>
<script type="text/JavaScript" src="/help.js"></script>
<script type="text/JavaScript" src="/validator.js"></script>
<script type="text/javascript">
<% login_state_hook(); %>

var now_flag = '<% get_parameter("flag"); %>';
<% wan_get_parameter(); %>

function QKISP_load_body(){
	parent.document.title = "<#Web_Title#> - <#QKSet_ISP_head#>";

	if(parent.ISMOBILE){
		parent.set_step("internet_type");
		hideObjs();
		document.getElementById("QISmain").style.display = "none";
		document.getElementById("QISmain_m").style.display = "";		
	}
	else{
		parent.set_step("t2");
		hideLinkTag();
		flash_button();
		show_next_button();	
		document.getElementById("nextButton").focus();
	}

	get_value_from_parent();
}

function get_value_from_parent(){
	document.form.wan_hostname.value = parent.document.QKform.wan_hostname.value;
	document.form.wan_hwaddr_x.value = parent.document.QKform.wan_hwaddr_x.value;
	
	if(now_flag == "auto_way_static"
			|| now_flag == "auto_way"){
		document.form.flag.value = now_flag;
		document.form.prev_page.value = parent.document.QKform.prev_page.value;
		
		document.form.wan_proto.value = parent.document.QKform.wan_proto.value;
		
		document.form.wan_dhcpenable_x.value = parent.document.QKform.wan_dhcpenable_x.value;
		document.form.wan_ipaddr_x.value = parent.document.QKform.wan_ipaddr_x.value;
		document.form.wan_netmask_x.value = parent.document.QKform.wan_netmask_x.value;
		document.form.wan_gateway_x.value = parent.document.QKform.wan_gateway_x.value;
		
		document.form.wan_dnsenable_x.value = parent.document.QKform.wan_dnsenable_x.value;
		document.form.wan_dns1_x.value = parent.document.QKform.wan_dns1_x.value;
		document.form.wan_dns2_x.value = parent.document.QKform.wan_dns2_x.value;
		
		document.form.wan_heartbeat_x.value = parent.document.QKform.wan_heartbeat_x.value;
		document.form.x_Setting.value = '<% nvram_get("x_Setting"); %>';
	}
	else
		document.form.prev_page.value = "/qis/QIS_internet_type.htm";
}

function show_next_button(){
	if(now_flag == "auto_way_static"
			|| now_flag == "auto_way")
		document.getElementById("nextButton").value = '<#CTL_apply1#>';
	else
		document.getElementById("nextButton").value = '<#CTL_next#>';
}

function showMAC(){
	var tempMAC = "";
	document.form.wan_hwaddr_x.value = login_mac_str();
	document.form.wan_hwaddr_x.focus();
}

function showMAC_m(){
	var tempMAC = "";
	if(document.getElementById("toggleDNS").getAttribute("toggled") == "true"){	
		document.form.wan_hwaddr_x_m.value = login_mac_str();
		document.form.wan_hwaddr_x.value = login_mac_str();
	}
	else{
		document.form.wan_hwaddr_x_m.value = "";
	}
}

function validForm(){
	if(!validator.string(document.form.wan_hostname)){
		document.form.wan_hostname.select();
		document.form.wan_hostname.focus();
		return false;
	}
	
	if(!check_macaddr(document.form.wan_hwaddr_x,check_hwaddr_flag(document.form.wan_hwaddr_x))){
		document.form.wan_hwaddr_x.select();
		document.form.wan_hwaddr_x.focus();
		return false;
	}
	
	return true;
}

function submitForm(){
	if(parent.ISMOBILE){
		document.form.wan_hostname.value = document.form.wan_hostname_m.value;
		document.form.wan_hwaddr_x.value = document.form.wan_hwaddr_x_m.value;
	}

	if(validForm() == true){
		
		if(now_flag == "auto_way_static" || now_flag == "auto_way"){
				parent.showLoading();
		
				document.form.wan_proto.disabled = false;
		
				document.form.wan_dhcpenable_x.disabled = false;
				document.form.wan_ipaddr_x.disabled = false;
				document.form.wan_netmask_x.disabled = false;
				document.form.wan_gateway_x.disabled = false;
		
				document.form.wan_dnsenable_x.disabled = false;
				document.form.wan_dns1_x.disabled = false;
				document.form.wan_dns2_x.disabled = false;
		
				document.form.wan_heartbeat_x.disabled = false;
				document.form.x_Setting.disabled = false;
		
				document.form.flag.value = "verify_detect";
				document.form.next_page.value = "/QIS_wizard.htm";
				document.form.submit();
		}
	
		parent.document.QKform.wan_hostname.value = document.form.wan_hostname.value;
		parent.document.QKform.wan_hwaddr_x.value = document.form.wan_hwaddr_x.value;
	
		document.form.action = document.form.next_page.value;
		location.href = document.form.next_page.value;
		return true;
	}
	else
		return false;
}

function check_macaddr(obj,flag){ //control hint of input mac address
	if(flag == 1){
		var childsel=document.createElement("div");
		childsel.setAttribute("id","check_mac");
		childsel.style.color="#FFCC00";
		obj.parentNode.appendChild(childsel);
		document.getElementById("check_mac").innerHTML="<#LANHostConfig_ManualDHCPMacaddr_itemdesc#>";		
		return false;
	}else if(flag == 2){
		var childsel=document.createElement("div");
		childsel.setAttribute("id","check_mac");
		childsel.style.color="#FFCC00";
		obj.parentNode.appendChild(childsel);
		document.getElementById("check_mac").innerHTML="<#IPConnection_x_illegal_mac#>";
		return false;
	}else{
		document.getElementById("check_mac") ? document.getElementById("check_mac").style.display="none" : true;
		return true;
	}
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		submitForm();
   	return false;
  }
	else
   	return true;
}
</script>
</head>

<body onLoad="QKISP_load_body();" onunload="" onKeyPress="submitenter(this,event)">
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>	
<div id="navtxt" class="navtext" style="position:absolute; top:50px; left:-100px; visibility:hidden; font-family:Arial, Verdana"></div>
<form method="post" name="form" onsubmit="return submitForm();">
<input type="hidden" name="flag" value="">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_script" value="restart_wan_if">
<input type="hidden" name="action_wait" value="5">
<input type="hidden" name="current_page" value="QIS_internet_isp.htm">
<input type="hidden" name="next_page" value="QIS_internet_ip.htm">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="wan_proto" value="" disabled>
<input type="hidden" name="wan_dhcpenable_x" value="" disabled>
<input type="hidden" name="wan_ipaddr_x" value="" disabled>
<input type="hidden" name="wan_netmask_x" value="" disabled>
<input type="hidden" name="wan_gateway_x" value="" disabled>
<input type="hidden" name="wan_dnsenable_x" value="" disabled>
<input type="hidden" name="wan_dns1_x" value="" disabled>
<input type="hidden" name="wan_dns2_x" value="" disabled>
<input type="hidden" name="wan_heartbeat_x" value="" disabled>
<input type="hidden" name="wan_unit" value="0">
<input type="hidden" name="x_Setting" id="x_Setting" value="" disabled>
<div class="QISmain" id="QISmain">
		<div>
			<table width="100%">
				<tr>
					<td align="left">
						<div class="description_down"><#QIS_auto_ip_conn_Setup#></div>
					</td>
					<!--td align="right">
						<img onclick="parent.gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
					</td-->
				</tr>
			</table>
		</div>
		<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>

<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	<tr>
	  <th width="185">
			<span onmouseout="return nd();" onclick="overlib('<#PPPConnection_x_HostNameForISP_itemdesc#>');" style="cursor:help;"><#BOP_isp_host_item#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span>
		</th>
	  <td class="QISformtd">
		<input type="text" name="wan_hostname" tabindex="1" onkeypress="return validator.isString(this, event);" class="input_32_table"  maxlength="32" value="" autocorrect="off" autocapitalize="off"/>
	  </td>
	</tr>
	
	<tr>
	  <th width="185">
			<span onmouseout="return nd();" onclick="overlib('<#PPPConnection_x_MacAddressForISP_itemdesc#>', FIXX, 270, FIXY, 30);" style="cursor:help;">
				<#BOP_isp_mac_item#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png">
			</span>
		</th>
	  <td class="QISformtd">
		<input type="text" name="wan_hwaddr_x" tabindex="2" onkeypress="return validator.isHWAddr(this,event);" class="input_20_table" maxlength="17" value="" autocorrect="off" autocapitalize="off"/>
		&nbsp&nbsp&nbsp
		<input type="button" class="button_gen_long" tabindex="3" onclick="showMAC();" value="<#BOP_isp_MACclone#>">		
	  </td>
	</tr>
</table>
<br/>
<ul class="QISGeneralFont"><#qis_isp_desc1#><br><br>
	<li><#qis_isp_desc2#></li>
	<li><#qis_isp_desc3#></li>
</ul>	
	<div class="apply_gen" style="margin-top:30px">
  	<input type="button" id="prevButton" class="button_gen" value="<#CTL_prev#>" tabindex="5" onclick="gotoprev(document.form);" align="center">
  	<input type="submit" id="nextButton" class="button_gen" value="<#CTL_next#>" tabindex="4" align="center">
	</div>
</div>

<div id="QISmain_m" style="display:none;">
	<div class="itemTitle"><#QIS_auto_ip_conn_Setup#></div>
	<fieldset>
		<div id="DNSDiv">
			<div class="row">
				<label><#BOP_isp_host_item#></label>
				<input type="text" name="wan_hostname_m" placeholder="" maxlength="32" value="" autocorrect="off" autocapitalize="off"/>
			</div>

			<div class="row">
				<label><#BOP_isp_MACclone#></label>
				<div id="toggleDNS" class="toggle" onclick="showMAC_m();" toggled="false">
					<span class="thumb"></span>
					<span class="toggleOn"><#checkbox_Yes#></span>
					<span class="toggleOff"><#checkbox_No#></span>
				</div>
			</div>

			<div class="row_end">
				<label><#MAC_Address#></label>
				<input name="wan_hwaddr_x_m" type="text" placeholder="" onkeypress="return validator.isHWAddr(this,event);" autocapitalize="off" maxlength="17" autocorrect="off" autocapitalize="off">
			</div>
		</div>
	</fieldset>
	<br />
	<div><#qis_isp_desc1#></div>
	<br />
	<fieldset class="theFieldset" id="theFieldset">
		<div class="row_end">
			<a id="loadingIcon_iui" class="iuiA" onclick="submitForm();"><#CTL_next#></a>
		</div>
	</fieldset>
</div>

</div>
</form>
</body>
</html>
