<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="../form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">
<style>
span{
	border:0px solid #FFFFFF;
	color:#FFFFFF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	/*width:27px;*/
	text-align:right;
	margin:0px auto;
	ime-mode:disabled;
}

.black_line{
	border: 1px solid #000000;
	width:480px;
	margin-left: 10px;
}
</style>
<script type="text/JavaScript" src="/jquery.js"></script>

<script>
<% wanlink(); %>

var auth_mode2 = '<% nvram_get("wl0_auth_mode_x"); %>';
var wep_x2 = '<% nvram_get("wl0_wep_x"); %>';
var key_x2 = '<% nvram_get("wl0_key"); %>';
var wpa_mode2 = '<% nvram_get("wl0_wpa_mode"); %>';
var auth_mode = '<% nvram_get("wl1_auth_mode_x"); %>';
var wep_x = '<% nvram_get("wl1_wep_x"); %>';
var key_x = '<% nvram_get("wl1_key"); %>';
var wpa_mode = '<% nvram_get("wl1_wpa_mode"); %>';
var reIP = '<% nvram_get("lan_ipaddr"); %>';
var band5g_support = "<% nvram_get("rc_support"); %>".search("5G");
var JS_timeObj = new Date();
var uptimeStr = "<% uptime(); %>";
var newformat_systime = uptimeStr.substring(8,11) + " " + uptimeStr.substring(5,7) + " " + uptimeStr.substring(17,25) + " " + uptimeStr.substring(12,16);  //Ex format: Jun 23 10:33:31 2008
var systime_millsec = Date.parse(newformat_systime); // millsec from system
wlc_state = '<% nvram_get("wlc_state"); %>';
wlc_sbstate = '<% nvram_get("wlc_sbstate"); %>';
wlc_scan_state = '<% nvram_get("wlc_scan_state"); %>';
_wlc_ssid = '<% nvram_char_to_ascii("", "wlc_ssid"); %>';
_sw_mode = '<% nvram_get("sw_mode"); %>';
var webs_state_update = '<% nvram_get("webs_state_update"); %>';
var webs_state_upgrade = '<% nvram_get("webs_state_upgrade"); %>';
var webs_state_error = '<% nvram_get("webs_state_error"); %>';
var webs_state_info = '<% nvram_get("webs_state_info"); %>';

function doLiveUpdate(_do){
	if(_do){
		document.getElementById("newFWDetected").style.display = "none";
		document.getElementById("progressBar").style.display = "";
		document.start_update.action_mode.value="apply";
		document.start_update.action_script.value="start_webs_upgrade";
		document.start_update.action_wait.value="300";
		document.start_update.submit();
	}
	else{
		document.getElementById("QISmain").style.display = "";
		document.getElementById("liveUpdate_div").style.display = "none";
	}
}

function showCancel(){
        document.getElementById("newFWCancel").style.display = "";
        document.getElementById("newFWDetected").style.display = "none";
}

var dead = 0;
function detect_httpd(){
	$.ajax({
		url: '/detect_firmware.asp',
		dataType: 'script',
		timeout: 2000,
		error: function(xhr){
			dead++;
			if(dead < 30)
				setTimeout("detect_httpd();", 1000);
			else{
				document.getElementById("updateProgress").style.width = "100%";
				document.getElementById("newFWgradedFail").style.display = "";
			}
		},
		success: function(){
			if(webs_state_error == "1"){
				document.getElementById('progress_bar_no').innerHTML = "100%";
				document.getElementById("updateProgress").style.width = "100%";
				document.getElementById("liveUpdateResult").innerHTML = "<#FIRM_fail_desc#>";
				document.getElementById("newFWgraded").style.display = "";
				return false;
			}

			if(webs_state_upgrade == ""){
				progressBar = 100;
				document.getElementById("updateProgress").style.width = "100%";
				document.getElementById('progress_bar_no').innerHTML = progressBar+"%";
				document.getElementById("newFWgraded").style.display = "";		
			}
			else{
				setTimeout("detect_httpd();", 1000);
			}
		}
	});
}

var progressBar = 0;
function showLoadingUpdate(){
	if(progressBar == 90){
		detect_httpd();
		return false;
	}
	else{	
		document.getElementById("updateProgress").style.width = progressBar+"%";
		document.getElementById('progress_bar_no').innerHTML = progressBar+"%";
		setTimeout("showLoadingUpdate();", 3000);
	}
	
	progressBar++;	
}

function QKfinish_load_body(){
	parent.document.title = "<#Web_Title#> - <#QKSet_all_title#>";
	parent.set_step("t3");
	parent.$("LoadingBar").style.visibility = 'hidden';

	if(parent.new_FW){
		document.getElementById("QISmain").style.display = "none";
		document.getElementById("liveUpdate_div").style.display = "";
		$("#currentFW")[0].innerHTML = parent.exist_firmver + "_" + parent.current_buildno; 
		$("#latestFW")[0].innerHTML = "" 
		for(var i=0; i<parent.Latest_firm.length; i++){
			$("#latestFW")[0].innerHTML += parent.Latest_firm.charAt(i);
			if(i == parent.Latest_firm.length - 1)
				$("#latestFW")[0].innerHTML += "_";
			else
				$("#latestFW")[0].innerHTML += ".";
		}
		$("#latestFW")[0].innerHTML += parent.Latest_buildno;
	}
	
	// Wireless Security
	$("#ssid_2_item")[0].innerHTML = "<#QIS_finish_wireless_item1#>";
	$("#ssid_2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_ssid"); %>');
	$("#ssid_5_item")[0].innerHTML = "<#QIS_finish_wireless_item1#>";
	$("#ssid_5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_ssid"); %>');
	$("#security_item2")[0].innerHTML = "<#QIS_finish_wireless_item2#>";
	$("#security_item5")[0].innerHTML = "<#QIS_finish_wireless_item2#>";

		if(auth_mode2 == "open" && wep_x2 == "0"){
			$("#security2")[0].innerHTML = "Open System";
			$("#key2_block")[0].style.display = "none";
		}
		else if(auth_mode2 == "open" && wep_x2 != "0"){
			$("#security2")[0].innerHTML = "Open System";
			$("#key2_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
			if(key_x2 ==1)
				$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0_key1"); %>');
			else if(key_x2 ==2)	
				$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0_key2"); %>');
			else if(key_x2 ==3)
				$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0_key3"); %>');
			else if(key_x2 ==4)		
				$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0_key4"); %>');
		}
		else if(auth_mode2 == "shared"){
			$("#security2")[0].innerHTML = "Shared Key";
			$("#key2_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
			if(key_x2 ==1)
				$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0_key1"); %>');
			else if(key_x2 ==2)	
				$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0_key2"); %>');
			else if(key_x2 ==3)
				$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0_key3"); %>');
			else if(key_x2 ==4)		
				$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0_key4"); %>');		
		}
		else if(auth_mode2 == "psk"){
			$("#security2")[0].innerHTML = "WPA-Personal - TKIP";
			$("#key2_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
			$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>');		
		}
		else if(auth_mode2 == "psk2"){
			$("#security2")[0].innerHTML = "WPA2-Personal - AES";
			$("#key2_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
			$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>');		
		}	
		else if(auth_mode2 == "pskpsk2"){
			$("#security2")[0].innerHTML = "WPA-Auto-Personal - TKIP + AES";
			$("#key2_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
			$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0_wpa_psk"); %>');
		}
		else{
			$("#freqtitle2")[0].style.display = "none";
			$("#ssid2_block")[0].style.display = "none";
			$("#key2_block")[0].style.display = "none";
			$("#security2_block")[0].style.display = "none";
		}

		if(band5g_support == -1){
			$("#desc2g")[0].style.display = "none";
			$("#freqtitle5")[0].style.display = "none";
			$("#ssid5_block")[0].style.display = "none";
			$("#key5_block")[0].style.display = "none";
			$("#security5_block")[0].style.display = "none";
		}
		else{
			if(auth_mode == "open" && wep_x == "0"){
				$("#security5")[0].innerHTML = "Open System";
				$("#key5_block")[0].style.display = "none";
			}
			else if(auth_mode == "open" && wep_x != "0"){
				$("#security5")[0].innerHTML = "Open System";
				$("#key5_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
				if(key_x ==1)
					$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key1"); %>');
				else if(key_x ==2)	
					$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key2"); %>');
				else if(key_x ==3)
					$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key3"); %>');
				else if(key_x ==4)		
					$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key4"); %>');
			}
			else if(auth_mode == "shared"){
				$("#security5")[0].innerHTML = "Shared Key";
				$("#key5_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
				if(key_x ==1)
					$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key1"); %>');
				else if(key_x ==2)	
					$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key2"); %>');
				else if(key_x ==3)
					$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key3"); %>');
				else if(key_x ==4)		
					$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key4"); %>');		
			}
			else if(auth_mode == "psk"){
				$("#security5")[0].innerHTML = "WPA-Personal - TKIP";
				$("#key5_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
				$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>');		
			}
			else if(auth_mode == "psk2"){
				$("#security5")[0].innerHTML = "WPA2-Personal - AES";
				$("#key5_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
				$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>');		
			}
			else if(auth_mode == "pskpsk2"){
				$("#security5")[0].innerHTML = "WPA-Auto-Personal - TKIP + AES";
				$("#key5_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
				$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1_wpa_psk"); %>');
			}
			else{	
				$("#freqtitle5")[0].style.display = "none";
				$("#ssid5_block")[0].style.display = "none";
				$("#key5_block")[0].style.display = "none";
				$("#security5_block")[0].style.display = "none";
			}
		}

	
	//Repeater mode wireless LAN 2.4G/5G
	if('<% nvram_get("sw_mode"); %>' == "2"){
		
		if('<% nvram_get("wlc_band"); %>' == 0){
			auth_mode2 = '<% nvram_get("wl0.1_auth_mode_x"); %>';
			wep_x2 = '<% nvram_get("wl0.1_wep_x"); %>';
			key_x2 = '<% nvram_get("wl0.1_key"); %>';
			document.form.wl0_ssid2.value = decodeURIComponent('<% nvram_char_to_ascii("WLANConfig11b", "wl0.1_ssid"); %>');
			document.form.wl0_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("WLANConfig11b", "wl0.1_wpa_psk"); %>');
			$("#ssid_2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_ssid"); %>');
			
			if(auth_mode2 == "open" && wep_x2 == "0"){
					$("#security2")[0].innerHTML = "Open System";
					$("#key2_block")[0].style.display = "none";
			}
			else if(auth_mode2 == "open" && wep_x2 != "0"){
					$("#security2")[0].innerHTML = "Open System";
					$("#key2_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
					if(key_x2 ==1)
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key1"); %>');
					else if(key_x2 ==2)	
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key2"); %>');
					else if(key_x2 ==3)
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key3"); %>');
					else if(key_x2 ==4)		
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key4"); %>');
			}
			else if(auth_mode2 == "shared"){
					$("#security2")[0].innerHTML = "Shared Key";
					$("#key2_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
					if(key_x2 ==1)
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key1"); %>');
					else if(key_x2 ==2)	
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key2"); %>');
					else if(key_x2 ==3)
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key3"); %>');
					else if(key_x2 ==4)		
							$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_get("wl0.1_key4"); %>');		
			}
			else if(auth_mode2 == "psk"){
					$("#security2")[0].innerHTML = "WPA-Personal - TKIP";
					$("#key2_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
					$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_wpa_psk"); %>');
			}
			else if(auth_mode2 == "psk2"){
					$("#security2")[0].innerHTML = "WPA2-Personal - AES";
					$("#key2_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
					$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_wpa_psk"); %>');
			}	
			else if(auth_mode2 == "pskpsk2"){
					$("#security2")[0].innerHTML = "WPA-Auto-Personal - TKIP + AES";
					$("#key2_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
					$("#key2")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl0.1_wpa_psk"); %>');
			}
			else{
					$("#freqtitle2")[0].style.display = "none";
					$("#ssid2_block")[0].style.display = "none";
					$("#key2_block")[0].style.display = "none";
					$("#security2_block")[0].style.display = "none";
			}
			
		}
		
		if(band5g_support == -1){
				$("#desc2g")[0].style.display = "none";
				$("#freqtitle5")[0].style.display = "none";
				$("#ssid5_block")[0].style.display = "none";
				$("#key5_block")[0].style.display = "none";
				$("#security5_block")[0].style.display = "none";
		}
		else{		
				if('<% nvram_get("wlc_band"); %>' == 1){			
						auth_mode = '<% nvram_get("wl1.1_auth_mode_x"); %>';
						wep_x = '<% nvram_get("wl1.1_wep_x"); %>';
						key_x = '<% nvram_get("wl1.1_key"); %>';			
						document.form.wl1_ssid2.value = decodeURIComponent('<% nvram_char_to_ascii("WLANConfig11b", "wl1.1_ssid"); %>');
						document.form.wl1_wpa_psk.value = decodeURIComponent('<% nvram_char_to_ascii("WLANConfig11b", "wl1.1_wpa_psk"); %>');
						$("#ssid_5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_ssid"); %>');
			
						if(auth_mode == "open" && wep_x == "0"){
								$("#security5")[0].innerHTML = "Open System";
								$("#key5_block")[0].style.display = "none";
						}
						else if(auth_mode == "open" && wep_x != "0"){
								$("#security5")[0].innerHTML = "Open System";
								$("#key5_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
								if(key_x ==1)
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key1"); %>');
								else if(key_x ==2)	
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key2"); %>');
								else if(key_x ==3)
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key3"); %>');
								else if(key_x ==4)		
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1_key4"); %>');
						}
						else if(auth_mode == "shared"){
								$("#security5")[0].innerHTML = "Shared Key";
								$("#key5_item")[0].innerHTML = "<#WLANConfig11b_WEPKey_itemname#>";
								if(key_x ==1)
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key1"); %>');
								else if(key_x ==2)	
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key2"); %>');
								else if(key_x ==3)
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key3"); %>');
								else if(key_x ==4)		
										$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_get("wl1.1_key4"); %>');		
						}
						else if(auth_mode == "psk"){
								$("#security5")[0].innerHTML = "WPA-Personal - TKIP";
								$("#key5_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
								$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_wpa_psk"); %>');
						}
						else if(auth_mode == "psk2"){
								$("#security5")[0].innerHTML = "WPA2-Personal - AES";
								$("#key5_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
								$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_wpa_psk"); %>');
						}
						else if(auth_mode == "pskpsk2"){
								$("#security5")[0].innerHTML = "WPA-Auto-Personal - TKIP + AES";
								$("#key5_item")[0].innerHTML = "<#QIS_finish_wireless_item3#>";
								$("#key5")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wl1.1_wpa_psk"); %>');
						}
						else{	
								$("#freqtitle5")[0].style.display = "none";
								$("#ssid5_block")[0].style.display = "none";
								$("#key5_block")[0].style.display = "none";
								$("#security5_block")[0].style.display = "none";
						}
				}
		}	
	}		
	

	// Connection Status
	$("#mac_item")[0].innerHTML = "MAC";
	$("#mac")[0].innerHTML = '<% nvram_get("et0macaddr"); %>';
	$("#wantype_item")[0].innerHTML = "<#Layer3Forwarding_x_ConnectionType_itemname#>";
	
	if(wanlink_type() == "dhcp")
		var wanlink_type_conv = "<#BOP_ctype_title1#>";
	else 	if(wanlink_type() == "pppoe" ||wanlink_type() == "PPPOE" )
		var wanlink_type_conv = "PPPoE";
	else 	if(wanlink_type() == "static")
		var wanlink_type_conv = "<#BOP_ctype_title5#>";
	else 	if(wanlink_type() == "pptp")
		var wanlink_type_conv = "PPTP";
	else 	if(wanlink_type() == "l2tp")
		var wanlink_type_conv = "L2TP";
	else
		var wanlink_type_conv = wanlink_type();	
	
	$("#wantype")[0].innerHTML = wanlink_type_conv;
	if('<% nvram_get("autodet_auxstate"); %>' == '6')
		$("#wantype")[0].innerHTML += '<input type="button" id="changeType" value="<#CTL_modify#>" onclick="redirect_page(\'internet_type\');" class="button_gen" style="margin-left:20px;">';
		
	$("#wanip_item")[0].innerHTML = "WAN IP";
	
		//Repeater mode P-AP
	if('<% nvram_get("sw_mode"); %>' == "2"){
		$("#wlcssid")[0].innerHTML = decodeURIComponent('<% nvram_char_to_ascii("", "wlc_ssid"); %>');

		if(wlc_state == 2){
			$("#wlcstate")[0].innerHTML = "<#APSurvey_action_ConnectingStatus24#>";
		}
		else{
			$("#wlcstate")[0].innerHTML = "<span style='color:#FC0;text-decoration:underline;cursor:pointer;' onclick=\"javascript:parent.location.href=\'http://www.asusnetwork.net/QIS_wizard.htm?flag=sitesurvey\';\"><#APSurvey_action_ConnectingStatus0#></span>";
		}

		$("#wlcip")[0].innerHTML = reIP;

		$(".reItem").css("display", "none");
		$(".wlcItem").css("display", "");
	}
	else{
		$("#wanip")[0].innerHTML = wanlink_ipaddr();
		$("#lanip_item")[0].innerHTML = "LAN IP";
		$("#lanip")[0].innerHTML = reIP;
		$(".wlcItem").css("display", "none");
	}

	// System account
	$("#account_item")[0].innerHTML = "<#QIS_finish_admin_item1#>";
	$("#account")[0].innerHTML = '<% nvram_get("http_username"); %>';
	$("#password_item")[0].innerHTML = "<#QIS_finish_admin_item2#>";
	$("#password")[0].innerHTML = '<% nvram_get("http_passwd"); %>';
	
	document.getElementById("nextButton").focus();
}

function gotoASUS(){
	parent.location.href = "http://support.asus.com";
}

function goto_tutorial(){
	if(parent.downsize_support == -1)
		location.href = "QIS_tutorial.htm";
	else
		parent.location.href = "/index.asp";
}

function gotoAdvSetting(){
	parent.location = "/Advanced_Wireless_Content.asp";
}

function addBookmarkForBrowser(sTitle) {
	 sTitle = sTitle+" - "+reIP;
	 
   if(document.all)
      window.external.addFavorite('http://'+reIP, sTitle);
   else if(window.sidebar && window.sidebar.addPanel)
      window.sidebar.addPanel(sTitle, 'http://'+reIP, "");
   else{
			addBookmarkForBrowser = function(){
				alert("<#Browser_action_not_support_addfavorite#>");
			}
   }
}

function translate_auth(flag){
	if(flag == "open")
		return "Open System";
	else if(flag == "shared")
		return "Shared Key";
	else if(flag == "psk")
		return "WPA-Personal";
	else if(flag == "psk2")
 		return "WPA2-Personal";
	else if(flag == "pskpsk2")
		return "WPA-Auto-Personal";
	else
		return "unknown Auth";
}

function redirect_page(redirect_flag){
	document.redirectForm.action = "/qis/QIS_"+redirect_flag+".htm";
	document.redirectForm.submit();
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		goto_tutorial();
   	return false;
  }
	else
   	return true;
}
function showclock(){
	JS_timeObj.setTime(systime_millsec);
	systime_millsec += 1000;
	
	JS_timeObj2 = JS_timeObj.toString();	
	JS_timeObj2 = JS_timeObj2.substring(0,3) + ", " +
	              JS_timeObj2.substring(4,10) + "  " +
				  parent.checkTime(JS_timeObj.getHours()) + ":" +
				  parent.checkTime(JS_timeObj.getMinutes()) + ":" +
				  parent.checkTime(JS_timeObj.getSeconds()) + "  " +
				  JS_timeObj.getFullYear();
	$("#system_time")[0].innerHTML = JS_timeObj2;
	setTimeout("showclock()", 1000);
}
</script>
</head>

<body onLoad="QKfinish_load_body();showclock();" onKeyPress="submitenter(this,event)">
<form method="post" name="redirectForm" action="" target="">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="current_page" value="/qis/QIS_fail.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="action_script" value="">
<input type="hidden" name="action_wait" value="">
</form>

<form method="post" name="form" action="" target="hidden_frame" onsubmit="goto_tutorial();">
<input type="hidden" name="wl0_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_ssid"); %>">
<input type="hidden" name="wl1_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_ssid"); %>">
<input type="hidden" name="wl0_wpa_psk" value="<% nvram_char_to_ascii("WLANConfig11b", "wl0_wpa_psk"); %>">
<input type="hidden" name="wl1_wpa_psk" value="<% nvram_char_to_ascii("WLANConfig11b", "wl1_wpa_psk"); %>">
<div class="QISmain" id="QISmain">
		<div>
			<table width="730px">
				<tr>
					<td align="left">
						<span class="description_down"><#qis_finish_title1#></span>
					</td>
					<td align="right">
						<!--img onclick="parent.gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'"-->
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
		<br/>
		<p class="QISGeneralFont" style="margin-top:-5px;"><#General_x_SystemTime_itemname#>: <span id="system_time" size="40" class="devicepin" style="font-size:12px;"></span>&nbsp&nbsp<a href="/Advanced_System_Content.asp?af=time_zone_select" TARGET="_top" style="color:#FC0;font-family:Lucida Console;text-decoration:underline;"><#System_Change_TimeZone#></a></p>
		<br/>
		<table id="tblsetting_1" class="QISform_finish" width="400" border=0 align="center" cellpadding="5" cellspacing="0" style="margin-top:-10px;">
			<!-- WL 2.4GHz -->
			<tr id="freqtitle2">
				<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#menu5_1#> <span style="color:#5AD;" id="desc2g">(2.4GHz)</span></td>	
			</tr>
			<tr id="ssid2_block">
			  <th width="180"><span id="ssid_2_item"></span></th>
			  <td class="QISformtd" width="300px">
					<span id="ssid_2"></span>
			  </td>
			</tr>
			<tr id="key2_block">
			  <th width="180"><span id="key2_item"></span></th>
			  <td class="QISformtd">
					<span id="key2"></span>
			  </td>
			</tr>
			<tr id="security2_block">
			  <th width="180"><span id="security_item2"></span></th>
			  <td class="QISformtd">
					<span id="security2"></span>
			  </td>
			</tr>
		
		
			<!-- WL 5GHz -->
			<tr id="freqtitle5">
				<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#menu5_1#> <span style="color:#5AD;">(5GHz)</span></td>	
			</tr>
			<tr id="ssid5_block">
			  <th width="180"><span id="ssid_5_item"></span></th>
			  <td class="QISformtd">
					<span id="ssid_5"></span>
			  </td>
			</tr>
			<tr id="key5_block">
			  <th width="180"><span id="key5_item"></span></th>
			  <td class="QISformtd">
					<span id="key5"></span>
			  </td>
			</tr>
			<tr id="security5_block">
			  <th width="180"><span id="security_item5"></span></th>
			  <td class="QISformtd">
					<span id="security5"></span>
			  </td>
			</tr>
		
			<!-- WAN -->
			<tr class="reItem">
				<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#menu5_3#></td>	
			</tr>
			<tr class="reItem">
			  <th width="180"><span id="wantype_item"></span></th>
			  <td class="QISformtd">
					<span id="wantype"></span>
			  </td>
			</tr>
			<tr class="reItem">
			  <th width="180"><span id="wanip_item"></span></th>
			  <td class="QISformtd">
					<span id="wanip"></span>
			  </td>
			</tr>
		
			<!-- LAN -->
			<tr class="reItem">
				<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#menu5_2#></td>	
			</tr>
			<tr class="reItem">
			  <th width="180"><span id="lanip_item"></span></th>
			  <td class="QISformtd">
					<span id="lanip"></span>
			  </td>
			</tr>
		
			<tr class="reItem">
			  <th width="180"><span id="mac_item"></span></th>
			  <td class="QISformtd">
					<span id="mac"></span>
			  </td>
			</tr>
		
			<tr style="display:none;">
			  <th width="180"><span id="account_item"></span></th>
			  <td class="QISformtd">
					<span id="account"></span>
			  </td>
			</tr>
			<tr style="display:none;">
			  <th width="180"><span id="password_item"></span></th>
			  <td class="QISformtd">
					<span id="password"></span>
			  </td>
			</tr>
		
			<!-- WLC -->
			<tr class="wlcItem">
				<td align="left" colspan="4" style="color:#5AD;font-size:16px; border-bottom:1px dashed #AAA;"><#OP_RE_item#></td>	
			</tr>
			<tr class="wlcItem">
			  <th width="180"><span id="wlcssid_item"><#Wireless_name#>(Remote)</span></th>
			  <td class="QISformtd">
					<span id="wlcssid"></span>
			  </td>
			</tr>
		
			<tr class="wlcItem">
			  <th width="180"><span id="wlcstate_item"><#statusTitle_AP#></span></th>
			  <td class="QISformtd">
					<span id="wlcstate"></span>
			  </td>
			</tr>
		
			<tr class="wlcItem">
			  <th width="180"><span id="wlcip_item"><#QIS_internet_success_item1#></span></th>
			  <td class="QISformtd">
					<span id="wlcip"></span>
			  </td>
			</tr>
		
		</table>
	
		<div class="apply_gen" style="margin-top:5px">
			<input type="button" id="nextButton" value="<#CTL_next#>" onclick="goto_tutorial();" class="button_gen">
		</div>
</div>

<div id="liveUpdate_div" style="display:none">
	<div>
		<table width="730px">
			<tr>
				<td align="left">
					<span class="description_down"><#menu5_6_3#></span>
				</td>
				<td align="right">
					<!--img onclick="parent.gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'"-->
				</td>
			</tr>
		</table>
	</div>
	<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
	<br>
	<br>

	<div id="newFWDetected">
		<div class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;">
			<div style="text-align:left;">
			<#exist_new#>
			<br>
			<br>
			Your current firmware version is <span style="font-family:Segoe UI, Arial, sans-serif;font-size:18px;" id="currentFW"></span>
			<br>
			<br>
			Latest firmware version is <span style="font-family:Segoe UI, Arial, sans-serif;font-size:18px;" id="latestFW"></span>
			</div>
		</div>
		<br>
		<br>
		<div class="apply_gen" style="margin-top:5px">
			<input type="button" id="nextButton" value="<#CTL_Cancel#>" onclick="showCancel();" class="button_gen">
			<input type="button" id="nextButton" value="<#checkbox_Yes#>" onclick="doLiveUpdate(true);" class="button_gen">
		</div>
	</div>
		
  <div id="newFWCancel" style="display:none;">
      <div class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;">
          <div style="text-align:left;line-height: 25px;">
              New firmware download has been stopped. You may go to ASUSWRT > 
              Administration > Firmware Upgrade to check for new firmware and 
              install any time.
          </div>
      </div>
      <br>
      <br>
      <div class="apply_gen" style="margin-top:5px">
         <input type="button" id="nextButton" value="<#btn_next#>" onclick="doLiveUpdate(false);" class="button_gen">
      </div>
  </div>

	<div id="progressBar" class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;display:none;*margin-left:70px;">
		<div style="text-align:left;">
		<#FIRM_ok_desc#>
		</div>
		<br>
		<div id="updateProgress_bg" style="text-align:left;*margin-left:-65px;">
			<div align="left">
				<style>
					#updateProgress_bg{
						margin-top:5px;
						width:90%;
						height:30px;
						background:url(/images/quotabar_bg_progress.gif);
						background-repeat: repeat-x;
					}
				</style>
				<span id="progress_bar_no" style="position:absolute;margin-left:285px;margin-top:7px;*margin-left:290px">0%</span>
				<img id="updateProgress" src="/images/quotabar.gif" style="width:0%" height="30px">
			</div>
			<!--progress max="100" value="60" style="height:30px;width:50%"></progress-->
		</div>
		<br>
		<br>
		<div style="text-align:left;line-height: 25px;">
			<#FW_n1#>
			<br>
		</div>
	</div>
	<br>
	<div id="newFWgraded" style="margin-top:5px;text-align:center;font-size:18px;display:none;">
		<div class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;">
			<div id="liveUpdateResult" style="text-align:left;color:#FC0;line-height: 25px;">
			<#is_latest#>
			</div>
		</div>
		<br>
		<div class="apply_gen" style="margin-top:5px">
			<input type="button" id="nextButton" value="<#CTL_next#>" onclick="doLiveUpdate(false);" class="button_gen">
		</div>
	</div>

	<div id="newFWgradedFail" style="margin-top:5px;text-align:center;font-size:18px;display:none;">
		<div class="QISGeneralFont" style="margin-top:5px;text-align:center;font-size:18px;">
			<div style="text-align:left;color:#FC0">
			<#Firm_reboot_manually#>
			</div>
		</div>
	</div>
</div>

</form>

<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<form method="post" name="start_update" action="/start_apply2.htm" target="hidden_frame">
<input type="hidden" name="productid" value="<% nvram_get("productid"); %>">
<input type="hidden" name="flag" value="upgrading">
<input type="hidden" name="current_page" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="action_script" value="">
<input type="hidden" name="action_wait" value="">
</form>

</body>
</html>
