<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link href="/images/map-iconRouter_iphone.png" rel="apple-touch-icon" />
<link rel="shortcut icon" href="/images/favicon.png">
<link rel="icon" href="/images/favicon.png">
<link href="../form_style.css"  rel="stylesheet" type="text/css">
<link href="../usp_style.css"  rel="stylesheet" type="text/css">
<link href="../pwdmeter.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<style type="text/css"> 
.QISTutorFont{
	font-family:Segoe UI, Arial, sans-serif;
	width:280px;
	line-height: 20px;
}
</style>
<script type="text/javascript" language="JavaScript" src="/state.js"></script>
<script type="text/javascript" language="JavaScript" src="/help.js"></script>
<script type="text/JavaScript" language="JavaScript" src="/js/jquery.js"></script>
<script type="text/JavaScript" language="JavaScript" src="/validator.js"></script>
<script type="text/javascript">
var accounts = [<% get_all_accounts(); %>];

if(accounts.length == 0)
	accounts = ['<% nvram_get("http_username"); %>'];

for(var i=0; i<accounts.length; i++){
		accounts[i] = decodeURIComponent(accounts[i]);	
}

function QKinternettype_load_body(){
	if(parent.based_modelid == "RT-N11P" || parent.based_modelid == "RT-N300" || parent.based_modelid == "PL-N12" || parent.based_modelid == "PL-AC56"){
			document.getElementById("point4").style.display = "none";
	}
	else{
			document.getElementById("general_desc4").style.display = "";
	}		
	
	if(parent.ISMOBILE){
		parent.document.title = "<#Web_Title2#>";
		hideObjs();
		document.getElementById("loginImage").style.display = "none";
		document.getElementById("adminPassDesc").style.height = "auto";
		document.getElementById("adminPassDesc").style.marginTop = "10px";
		document.getElementById("mainDiv").style.marginLeft = "0px";
		document.getElementById("theFieldset1").style.display = "";
		document.getElementById("theFieldset2").style.display = "";
		document.getElementById("tblsetting_1").style.display = "none";
		parent.set_step("welcome");		
	}
	else{
		parent.document.title = "<#Web_Title#> - Welcome!";
		parent.set_step("t0");
		document.getElementById("tblsetting_1").style.display = "";
		document.form.http_passwd.focus();

		if (dsl_support) {
			document.getElementById("prev_btn").style.display = "none";
			var detect_status = "<% nvram_get("dsltmp_autodet_state"); %>";	
			if ( (detect_status == "Detecting") || (detect_status == "wait_for_init") || 
				(detect_status == "init") || (detect_status == "initializing") || 
				(detect_status == "up") || (detect_status == "wait") || (detect_status == "down")) {
				document.form.next_page.value = "/qis/QIS_detect.htm";
			}
			else if ( (detect_status == "pppoe") || (detect_status == "pppoa") ) { //1:PPPoE, 2:PPPoA
				document.form.next_page.value = "/qis/QIS_ppp_cfg.htm";
			}
			else if ( detect_status == "dhcp") { //2:MER
				document.form.next_page.value = "/qis/QIS_mer_cfg.htm";		
			}
			else if ( detect_status == "Fail") {
				document.form.next_page.value = "/qis/QIS_manual_setting.htm";				
			}
			else {
				if(parent.based_modelid == "DSL-AC68U")
					document.form.next_page.value = "/qis/QIS_detect.htm";
				else
					document.form.next_page.value = "/qis/QIS_manual_setting.htm";				
			}
		}
	}
	
	document.form.http_username.value= accounts[0];	

	if(parent.based_modelid == "DSL-AC68U"){	//dsl detect trigger, MODELDEP : DSL-AC68U
		var RetryCountDown_fail = 5;
		update_dsl_info();
	}
}

function submitForm(){
	changeiuiBackground(1);

	showtext(document.getElementById("alert_msg1"), "");
	if(parent.ISMOBILE)
		showtext(document.getElementById("_alert_msg2"), "");
	else
		showtext(document.getElementById("alert_msg2"), "");

	if(document.form.http_username.value.length == 0){
		showtext(document.getElementById("alert_msg1"), "<#File_Pop_content_alert_desc1#>");
		document.getElementById("alert_msg1").style.display = "";
		document.form.http_username.focus();
		document.form.http_username.select();
		changeiuiBackground(0);
		return false;
	}
	else{
		
		var alert_str = validator.hostName(document.form.http_username);
		if(alert_str != ""){
			showtext(document.getElementById("alert_msg1"), alert_str);
			document.getElementById("alert_msg1").style.display = "";
			document.form.http_username.focus();
			document.form.http_username.select();
			changeiuiBackground(0);
			return false;
		}else{
			document.getElementById("alert_msg1").style.display = "none";
		}

		document.form.http_username.value = trim(document.form.http_username.value);

		if(document.form.http_username.value == "root"
				|| document.form.http_username.value == "guest"
				|| document.form.http_username.value == "anonymous"
		){
				showtext(document.getElementById("alert_msg1"), "<#USB_Application_account_alert#>");
				document.getElementById("alert_msg1").style.display = "";
				document.form.http_username.focus();
				document.form.http_username.select();
				changeiuiBackground(0);
				return false;
		}
		else if(accounts.getIndexByValue(document.form.http_username.value) > 0
				&& document.form.http_username.value != accounts[0]){		
				showtext(document.getElementById("alert_msg1"), "<#File_Pop_content_alert_desc5#>");
				document.getElementById("alert_msg1").style.display = "";
				document.form.http_username.focus();
				document.form.http_username.select();
				changeiuiBackground(0);
				return false;
		}else{
				document.getElementById("alert_msg1").style.display = "none";
		}
	}	
	
	if(document.form.http_passwd.value.length <= 0 || document.form.v_password2.value.length <= 0){
		if(parent.ISMOBILE)
			showtext(document.getElementById("_alert_msg2"),"* <#File_Pop_content_alert_desc6#>");
		else
			showtext(document.getElementById("alert_msg2"),"* <#File_Pop_content_alert_desc6#>");
		if(document.form.http_passwd.value.length <= 0){
			document.form.http_passwd.focus();
			document.form.http_passwd.select();
		}else{
			document.form.v_password2.focus();
			document.form.v_password2.select();
		}

		changeiuiBackground(0);
		return false;
	}
	
	if(document.form.http_passwd.value.length > 0 && document.form.http_passwd.value.length < 5){
		if(parent.ISMOBILE)
			showtext(document.getElementById("_alert_msg2"),"* <#JS_short_password#>");
		else
			showtext(document.getElementById("alert_msg2"),"* <#JS_short_password#>");			
		document.form.http_passwd.focus();
		document.form.http_passwd.select();
		changeiuiBackground(0);
		return false;
	}	

	if(document.form.http_passwd.value != document.form.v_password2.value){
		if(parent.ISMOBILE)
			showtext(document.getElementById("_alert_msg2"),"* <#File_Pop_content_alert_desc7#>");
		else
			showtext(document.getElementById("alert_msg2"),"* <#File_Pop_content_alert_desc7#>");
		document.form.http_passwd.focus();
		document.form.http_passwd.select();
		changeiuiBackground(0);
		return false;
	}

	if(is_KR_sku){		/* MODELDEP by Territory Code */
		if(!validator.string_KR(document.form.http_passwd)){
			document.form.http_passwd.focus();
			document.form.http_passwd.select();
			changeiuiBackground(0);
			return false;
		}
	}
	else{
		if(!validator.string(document.form.http_passwd)){
			document.form.http_passwd.focus();
			document.form.http_passwd.select();
			changeiuiBackground(0);
			return false;
		}
	}
	
	if(document.form.http_passwd.value == '<% nvram_default_get("http_passwd"); %>'){	
		if(parent.ISMOBILE)
			showtext(document.getElementById("_alert_msg2"),"* <#QIS_adminpass_confirm0#>");
		else
			showtext(document.getElementById("alert_msg2"),"* <#QIS_adminpass_confirm0#>");
		document.form.http_passwd.focus();
		document.form.http_passwd.select();
		changeiuiBackground(0);
		return false;
	}	
	
	//confirm common string combination	#JS_common_passwd#
	var is_common_string = check_common_string(document.form.http_passwd.value, "httpd_password");
	if(is_common_string){
			if(confirm("<#JS_common_passwd#>")){
				document.form.http_passwd.focus();
				document.form.http_passwd.select();
				changeiuiBackground(0);
				return false;	
			}	
	}

	if(dsl_support) {
		// if it is dsl, just write to a temp variable
		document.form.dsltmp_qis_admin_username.value = document.form.http_username.value;
		document.form.dsltmp_qis_admin_passwd.value = document.form.http_passwd.value;	
		document.form.action_script.value = "";
		document.form.dsltmp_qis_admin_username.disabled = false;
		document.form.dsltmp_qis_admin_passwd.disabled = false;
		document.form.dsltmp_qis_admin_passwd_set.disabled = false;
		document.form.http_username.disabled = true;
		document.form.http_passwd.disabled = true;
		document.form.v_password2.disabled = true;
		document.form.submit();
		return;
	}	

	parent.document.QKform.http_username.value = document.form.http_username.value;
	parent.document.QKform.http_passwd.value = document.form.http_passwd.value;
	isPassChanged = true;

	document.form.flag.value = "";

	if(parent.tmo_support && parent.ISMOBILE)
		document.form.action = "/qis/QIS_wireless.htm";
	else if(parent.flag_manual == 1 && !hwmodeSwitch_support)
		document.form.action = "/qis/QIS_manual.htm";
	else if(parent.flag_manual == "modem")
		document.form.action = "/qis/QIS_modem.htm";
	else if(parent.document.QKform.sw_mode.value == "1")
		document.form.action = "/qis/QIS_detect.htm";
	else
		document.form.action = "/qis/QIS_lanip.htm";

	document.form.submit();
}

function skipsetting(){
	changeiuiBackground2("loadingIcon_skip",1);

	showtext(document.getElementById("alert_msg1"), "");
	if(parent.ISMOBILE)
		showtext(document.getElementById("_alert_msg2"), "");
	else
		showtext(document.getElementById("alert_msg2"), "");

	parent.document.QKform.http_username.value = "<% nvram_get("http_username"); %>";
	parent.document.QKform.http_passwd.value = "<% nvram_get("http_passwd"); %>";
	isPassChanged = true;

	document.form.flag.value = "";		

	if(parent.tmo_support && parent.ISMOBILE)
		document.form.action = "/qis/QIS_wireless.htm";
	else if(parent.flag_manual == 1)
		document.form.action = "/qis/QIS_manual.htm";
	else if(parent.flag_manual == "modem")
		document.form.action = "/qis/QIS_modem.htm";
	else if(parent.document.QKform.sw_mode.value == "1")
		document.form.action = "/qis/QIS_detect.htm";
	else
		document.form.action = "/qis/QIS_lanip.htm";

	document.form.submit();
}

function gotoPrev(){
	if (dsl_support) {
		location.href = "/qis/QIS_detect.htm";	
	}
	else {
		location.href = "QIS_welcome.htm";
	}
}

/* password item show or not */
function pass_checked(obj){
	switchType(obj, document.form.show_pass_1.checked, true);
}

function update_dsl_info(){
	$.ajax({
		url: '/start_dsl_autodet.asp',
		dataType: 'script',
		error: function(xhr){
			update_dsl_info();		
		},
		success: function(response){
				// trigger hook only
		}
	});	
}

function clean_scorebar(obj){
	if(obj.value == "")
		document.getElementById("scorebarBorder").style.display = "none";
}
</script>
</head>  
<body onLoad="QKinternettype_load_body();" onunload="">
<form method="post" name="form" action="/start_apply.htm" target="" onsubmit="return submitForm();">
<input type="hidden" name="current_page" value="/qis/QIS_admin_pass.htm">
<input type="hidden" name="next_page" value="/QIS_wizard.htm">   
<input type="hidden" name="prev_page" value="/QIS_wizard.htm">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_script" value="restart_time">
<input type="hidden" name="action_wait" value="0">
<input type="hidden" name="dsltmp_qis_admin_username" value="" disabled>
<input type="hidden" name="dsltmp_qis_admin_passwd" value="" disabled>
<input type="hidden" name="dsltmp_qis_admin_passwd_set" value="1" disabled>
<input type="hidden" name="flag" value="detect">
<input type="hidden" name="productid" value="<% nvram_get("productid"); %>">
<input type="hidden" name="sw_mode" value="1">
<div class="QISmain">
		<div id="descTltle">
			<table width="100%">
				<tr>
					<td align="left">
						<div class="description_down"><#QIS_pass_title#></div>
					</td>
					<td align="right">&nbsp;
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
<br/>

<div style="margin-top:-10px;margin-left:30px;" id="mainDiv">
	<span id="pass_Desc1" class="QISGeneralFont" style="margin-left:0px;"><#QIS_pass_desc1#></span><br><br>
	<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0" style="display:none;Font-Family:Segoe UI, Arial, sans-serif;">
		<tr>
		  <th width="240"><a class="hintstyle" href="javascript:void(0);" onClick="openHint(11,5)"><#Router_Login_Name#></a></th>
		  <td class="QISformtd">
			<div>
				<input type="text" id="http_username" name="http_username" tabindex="1" style="height:25px;" class="input_18_table" maxlength="20" value="<% nvram_get("http_username"); %>" autocomplete="off" autocorrect="off" autocapitalize="off">
				<br /><span id="alert_msg1" style="color:#FC0;margin-left:8px;display:none;"></span>
			</div>
		  </td>
		</tr>	
		<tr>
			<th width="240"><a class="hintstyle" href="javascript:void(0);" onClick="openHint(11,4)"><#PASS_new#></a></th>
			<td class="QISformtd">
				<input type="password" autocomplete="off" value="" name="http_passwd" tabindex="2" style="height:25px;" class="input_18_table" maxlength="16" onkeyup="chkPass(this.value, 'http_passwd');" onpaste="return false;"/ onBlur="clean_scorebar(this);" autocorrect="off" autocapitalize="off">
			&nbsp;&nbsp;
				<div id="scorebarBorder" style="margin-left:180px; margin-top:-26px; display:none;" title="<#LANHostConfig_x_Password_itemSecur#>">
				<div id="score" style="margin-top:3px;"></div>
				<div id="scorebar">&nbsp;</div>        	
				</div>
			</td>
		</tr>	
		<tr>
			<th width="240"><span class="hintstyle"><a class="hintstyle" href="javascript:void(0);" onClick="openHint(11,4)"><#PASS_retype#></a></span></th>
			<td class="QISformtd">
				<input type="password" autocomplete="off" value="" name="v_password2" tabindex="3" style="height:25px;" class="input_18_table" maxlength="16" onpaste="return false;" autocorrect="off" autocapitalize="off"/>
				<div style="margin:-25px 0px 0px 175px;"><input type="checkbox" name="show_pass_1" tabindex="4" onclick="pass_checked(document.form.http_passwd);pass_checked(document.form.v_password2);"><#QIS_show_pass#></div>
			</td>
		</tr>
		<tr>			
			<td colspan="2">
				<span id="alert_msg2" style="color:#FC0;margin-left:8px;"></span>
			</td>
		</tr>
	</table>

	<fieldset id="theFieldset1" style="display:none;">
		<div class="row">
			<label>Username</label>
			<input type="text" id="_http_username" name="_http_username" placeholder="Your login" onblur="document.form.http_username.value=this.value" value="<% nvram_get("http_username"); %>" autocomplete="off" autocorrect="off" autocapitalize="off">
			<br/><span id="alert_msg1" style="color:red"></span>
		</div>
		<div class="row_end">
			<label>Password</label>
			<input type="password" name="_http_passwd" placeholder="Your password" onblur="document.form.http_passwd.value=this.value;document.form.v_password2.value=this.value" autocomplete="off" autocorrect="off" autocapitalize="off">
		</div>
	</fieldset>
	<div class="mobileHint" id="_alert_msg2"></div>
	<br>
	<div id="adminPassDesc" class="QISTutorFont_admin_pass" style="height:200px;margin-left:-10px;">
		<ul>
			<li><#QIS_pass_desc3#>
			<li id="point4"><div id="general_desc4" style="display:none;"><#QIS_pass_desc4#></div><div id="tmo_desc4" style="display:none;"><#QIS_pass_desc4_tmo#></div>
			<li><#QIS_pass_desc5#>&nbsp;<% nvram_default_get("http_username"); %>&nbsp;/&nbsp;<% nvram_default_get("http_passwd"); %>
		</ul>
	</div>
	<div id="loginImage" style="margin-left:320px;margin-top:-200px;"><img width="300px" style="border-radius:5px;" src="/images/qis/router_login.jpg"></span></div>
</div>
<br>

<fieldset class="theFieldset" id="theFieldset2" style="display:none;">
	<div class="row"><a id="loadingIcon_iui" class="iuiA" onclick="submitForm();"><#CTL_next#></a></div>
	<div class="row_end"><a id="loadingIcon_skip" class="iuiA" onclick="skipsetting();"><#CTL_Skip#></a></div>
</fieldset>

<div class="apply_gen" id="applyBtn">
	<span id="skip_btn" style="display:none;"><input type="button" value="<#CTL_Skip#>" tabindex="6" onclick="skipsetting();" class="button_gen"></span>
	<span id="prev_btn"><input type="button" value="<#CTL_prev#>" tabindex="6" onclick="gotoPrev();" class="button_gen"></span>
	<input type="submit" id="nextButton" tabindex="5"	value="<#CTL_next#>" class="button_gen">
</div>

</form>
</body> 
