<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="shortcut icon" href="images/favicon.png">
<link rel="icon" href="images/favicon.png">
<title></title>
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="/usp_style.css">
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript">
<% start_autodet(); %> // initial QIS detecting process.
<% check_modem_sim(); %>
var based_modelid = '<% nvram_get("productid"); %>';
var hw_ver = '<% nvram_get("hardware_version"); %>';
var usb_flag = '<% nvram_get("ehci_ports"); %>';

var odmpid = '<% nvram_get("odmpid"); %>';
var color = '<% nvram_get("color"); %>';
color = color.toUpperCase();
var MP_png_path = "/images/Model_product_"+ color +".png";

<% wanlink(); %>

function LinkCheck(url)
{
    var http = new XMLHttpRequest();
    http.open('HEAD', url, false);
    http.send();
    return http.status!="404";
}
 
function QKinternettype_load_body(){
	parent.document.title = "<#Web_Title#> - Welcome!";
	parent.set_step("t0");		

	//load Product img
	if(color.length > 0){
		if(LinkCheck(MP_png_path))	//if file exist
			document.getElementById("ModelPid_img").src=MP_png_path;
		else
			document.getElementById("ModelPid_img").src="/images/Model_product.png";
	}
	else if(odmpid.length > 0 && odmpid != based_modelid){	//odmpid MODELDEP
		if(odmpid == "RT-N66W" || odmpid == "RT-AC66W" || odmpid == "RT-AC68W" || odmpid == "RT-AC68RW")
			document.getElementById("ModelPid_img").src="/images/Model_product_W.png";
		else
			document.getElementById("ModelPid_img").src="/images/Model_product.png";
	}		
	else
		document.getElementById("ModelPid_img").src="/images/Model_product.png";

	if(parent.ISMOBILE){
		document.getElementById("QISmain").style.display = "none";
		document.getElementById("QISmain_m").style.display = "";
		if(based_modelid == "4G-AC55U")
			document.getElementById("Productdesc_0_m").style.display = "";
		return true;
	}

	var check_desc1 = "<#QIS_welcome_feature1#>";	
	var check_desc2 = "<#QIS_welcome_feature2#>";	
	var check_desc3 = "<#QIS_welcome_feature3#>";	
	var check_desc4 = "<#QIS_welcome_feature4#>";	
		
	if(based_modelid == "RT-N12" || based_modelid == "AP-N12" || hw_ver.search("N12") != -1){	//MODELDEP : N12 serious
			var desc1_split = check_desc1.split("#ZVSPLITVZ#");
			var desc2_split = check_desc2.split("#ZVSPLITVZ#");
			var desc3_split = check_desc3.split("#ZVSPLITVZ#");
			var desc4_split = check_desc4.split("#ZVSPLITVZ#");						
			
			if( hw_ver.search("RTN12HP") != -1 	//MODELDEP : RT-N12HP
					&& check_desc1.split("#ZVSPLITVZ#").length == 3
					&& check_desc2.split("#ZVSPLITVZ#").length == 3
					&& check_desc3.split("#ZVSPLITVZ#").length == 3
					&& check_desc4.split("#ZVSPLITVZ#").length == 3){
							document.getElementById("Productdesc_1").innerHTML = desc1_split[1];
							document.getElementById("Productdesc_2").innerHTML = desc2_split[1];
							document.getElementById("Productdesc_3").innerHTML = desc3_split[1];
							document.getElementById("Productdesc_4").innerHTML = desc4_split[1];
			}else if( hw_ver.search("APN12HP") != -1 	//MODELDEP : AP-N12HP
					&& check_desc1.split("#ZVSPLITVZ#").length == 3
					&& check_desc2.split("#ZVSPLITVZ#").length == 3
					&& check_desc3.split("#ZVSPLITVZ#").length == 3
					&& check_desc4.split("#ZVSPLITVZ#").length == 3){
							document.getElementById("Productdesc_1").innerHTML = desc1_split[2];
							document.getElementById("Productdesc_2").innerHTML = desc2_split[2];
							document.getElementById("Productdesc_3").innerHTML = desc3_split[2];
							document.getElementById("Productdesc_4").innerHTML = desc4_split[2];
			}else{	// rest of N12 serious
							document.getElementById("Productdesc_1").innerHTML = desc1_split[0];
							document.getElementById("Productdesc_2").innerHTML = desc2_split[0];
							document.getElementById("Productdesc_3").innerHTML = desc3_split[0];
							document.getElementById("Productdesc_4").innerHTML = desc4_split[0];
			}	
	}
	else{
		document.getElementById("Productdesc_1").innerHTML = check_desc1;
		document.getElementById("Productdesc_2").innerHTML = check_desc2;
		document.getElementById("Productdesc_3").innerHTML = check_desc3;
		document.getElementById("Productdesc_4").innerHTML = check_desc4;
	}	
	
	if(based_modelid == "4G-AC55U"){
		var check_desc0 = "<#QIS_welcome_feature0#>";	
		document.getElementById("Productdesc_0").style.display = "";	
		document.getElementById("Productdesc_0").innerHTML = check_desc0;
	}

	if(based_modelid == "RT-AC68U" || based_modelid == "RT-AC68U_V2" || based_modelid == "RT-AC69U" || based_modelid == "TM-AC1900"){	//MODELDEP
		document.getElementById("AreaHint").style.display = "";	
		document.getElementById("desc_Hint_RT-AC68U").style.display = "";
	}
	
	document.getElementById("btn_next_step").focus();
}

function redirect_page(redirect_flag){
	document.redirectForm.action = "/qis/QIS_"+redirect_flag+".htm";
	document.redirectForm.submit();
}

function submitForm(mode){
	if(mode == 0)
		parent.flag_manual = 1;
	else if(mode == 3)
		parent.document.QKform.sw_mode.value = "3";	
	else if(mode == "modem")
		parent.flag_manual = "modem";

	document.form.flag.value = "";
	document.form.action = "/qis/QIS_admin_pass.htm";
	document.form.submit();
}

function detect_if_wan_plug(flag){
	if(parent.tmo_support && parent.ISMOBILE)
		submitForm(1);

	$.ajax({
		url: '/result_of_get_changed_status_QIS.asp',
		dataType: 'script',
		
		error: function(xhr){
			detect_if_wan_plug();		
		},
		success: function(response){
			if(autodet_state == 4){ // ethernet did not plug
				if(based_modelid == "4G-AC55U"){
					if( sim_state == -1)
						redirect_page("unplug_ethsim");
					else
						submitForm(1);
				}	
				else if(parent.hadPlugged("modem")){
					submitForm("modem");
				}	
				else if(flag == null){
					document.getElementById("producticon").style.display = "none";
					if(based_modelid == "RT-AC87U"){
						document.getElementById("noti_wan_uplus").style.display = "none";
						document.getElementById("Productdesc_1").innerHTML = "<#web_redirect_suggestion1#>";
						document.getElementById("Productdesc_1").style.color = "#FC0";
						document.getElementById("Productdesc_2").innerHTML = '<#web_redirect_suggestion7#>';
						document.getElementById("Productdesc_3").innerHTML = '<#web_redirect_suggestion8#>';
						document.getElementById("Productdesc_4").innerHTML = '<#web_redirect_suggestion9#>';
					}

					if(parent.ISMOBILE){
						document.getElementById("wan_unplug_m").style.display = "";
						document.getElementById("QISFeature").style.display = "none";
						setTimeout("startPoll();", 2000);
					}
					else{
						document.getElementById("wan_unplug").style.display = "";
						setTimeout("startPoll();", 2000);
					}

					document.getElementById("loadingIcon").style.display = "none";
					changeiuiBackground(0);
					document.getElementById("ManualBtn").style.display = "";
				}
				setTimeout("update_wan_info(1);", 1000);
			}
			else if(autodet_state == 0){
				detect_if_wan_plug();
				document.getElementById("loadingIcon").style.display = "";
				changeiuiBackground(1);
			}
			else
				submitForm(1);
		}
	});	
}

function update_wan_info(flag){
	$.ajax({
		url: '/start_autodet.asp',
		dataType: 'script',
		error: function(xhr){
			update_wan_info();		
		},
		success: function(response){
			if(flag == null){
				document.getElementById("ManualBtn").style.display = "";
				document.getElementById("loadingIcon").style.display = "";
				changeiuiBackground(1);
				setTimeout("detect_if_wan_plug();", 1000);
			}
			else{
				setTimeout("detect_if_wan_plug(1);", 1000);
			}
		}
	});	
}

function skip(){
	changeiuiBackground2("loadingIcon_skip",1);
	location.href='/qis/QIS_admin_pass.htm';
}

function startPoll(){
	if(parent.ISMOBILE){	
		if(document.getElementById("unplugImg1_m").style.display == "none"){
			$("#unplugImg2_m").fadeOut(500);
			setTimeout('$("#unplugImg1_m").fadeIn(500);', 500);	
		}
		else{
			$("#unplugImg1_m").fadeOut(500);	
			setTimeout('$("#unplugImg2_m").fadeIn(500);', 500);	
		}
	}
	else{
		if(usb_flag != "" && based_modelid != "RT-AC87U"){
			if(document.getElementById("unplugImg1").style.display == "none"){
				$("#unplugImg2").fadeOut(500);
				setTimeout('$("#unplugImg1").fadeIn(500);', 500);	
			}
			else{
				$("#unplugImg1").fadeOut(500);	
				setTimeout('$("#unplugImg2").fadeIn(500);', 500);	
			}
		}
		else{
			$("#unplugImg1").fadeOut(500);	
			setTimeout('$("#unplugImg1").fadeIn(500);', 500);			
		}
	}

	setTimeout("startPoll();", 2500);
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		update_wan_info();
   	return false;
  }
	else
   	return true;
}
</script>
</head>  
<body onLoad="QKinternettype_load_body();" onunload="" onKeyPress="submitenter(this,event)">
<form method="post" name="redirectForm" action="" target="">
<input type="hidden" name="flag" value="">
</form>
<form method="post" name="form" action="/start_apply.htm">
<input type="hidden" name="current_page" value="QIS_welcome.htm">
<input type="hidden" name="next_page" value="">   
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="sw_mode" value="1">
<div class="QISmain" id="QISmain">
	<table  border=0 align="center" cellpadding="2" cellspacing="0">
		<tr>
			<td align="left"><div class="description_down"><#QIS_welcome_title#></div></td>
		</tr>	
		<tr>
			<td>
				<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
			</td>
		</tr>	
		<tr>
			<td>
				<table style="margin-left:20px;" width="98%" border=0 align="center" cellpadding="5" cellspacing="0">
					<tr>
						<td width="55%" colspan="2">
							<div id="productDesc" style="font-style:italic;">				
								<p style="font-size:20px;font-weight:bolder;margin-bottom:15px;"><#statusTitle_System#></p>
								<ul>		
									<li style="line-height:25px; display:none" id="Productdesc_0"></li>								
									<li style="line-height:25px;" id="Productdesc_1"></li>
									<li style="line-height:25px;" id="Productdesc_2"></li>
									<li style="line-height:25px;" id="Productdesc_3"></li>
									<li style="line-height:25px;" id="Productdesc_4"></li>
								</ul>	
							</div>
						</td>

						<td width="45%" height="370">
							<div id="producticon"><img id="ModelPid_img" src=""></div>
							<div id="wan_unplug" style="display:none;text-align:center;margin-top:-90px;*margin-top:25px;">
								<img src="/images/qis/border.png">
								<div style="margin-top:-330px">
									<div id="noti_wan_uplus" class="QISGeneralFont" style="color:#FC0;font-weight:bolder;text-align:left;margin-left:25px;">
										<#web_redirect_suggestion1#>
									</div>
									<br>
									<div><img id="unplugImg"  src="/images/WANunplug.png"></div>
									<div><img id="unplugImg1" style="margin-top:-198px;" src="/images/WANunplug_eth.png"></div>
									<div><img id="unplugImg2" style="margin-top:-198px;display:none;" src="/images/WANunplug_usb.png"></div>
								</div>	
							</div>	
						</td>
					</tr>

					<tr>
						<td colspan="3" align="center">
							<input id="ManualBtn" class="button_gen_long" type="button" value="<#Manual_Setting_btn#>" style="white-space:normal;" onclick="submitForm(0)">
							<input class="button_gen" id="btn_next_step" type="button" value="<#btn_go#>" onclick="update_wan_info();">
							<img id="loadingIcon" style="display:none;" src="/images/InternetScan.gif">
						</td>
					</tr>	
				</table>
			</td>	
		</tr>	
		<tr>
			<td>
					<div id="AreaHint" style="display:none;">
						<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
						<div id="desc_Hint_RT-AC68U" style="display:none;margin-left:50px;font-size:12px;">* <#QIS_welcome_remark1#></div>
					</div>
			</td>
		</tr>	
	</table>
</div>	

<div style="display:none;" id="QISmain_m">
	<div id="QISFeature" style="margin-left:-20px;">
		<ul>		
			<li style="line-height:25px; display:none" id="Productdesc_0_m"><#QIS_welcome_feature0#></li>				
			<li style="line-height:25px;"><#QIS_welcome_feature1#></li>
			<li style="line-height:25px;"><#QIS_welcome_feature2#></li>
			<li style="line-height:25px;"><#QIS_welcome_feature3#></li>
			<li style="line-height:25px;"><#QIS_welcome_feature4#></li>
		</ul>	
	</div>
	<div id="wan_unplug_m" style="color:#FC0;display:none;text-align:center;">
		<div style="text-align:left;"><#web_redirect_suggestion1#></div>
		<br><br>
		<img id="unplugImg0_m" src="/images/WANunplug.png">
		<img id="unplugImg1_m" style="margin-top: -220px;" src="/images/WANunplug_eth.png">
		<img id="unplugImg2_m" style="margin-top: -220px;display:none;" src="/images/WANunplug_usb.png">
	</div><br>
	<fieldset class="theFieldset">
		<div id="nextBtn" class="row">
			<a id="loadingIcon_iui" class="iuiA" onclick="update_wan_info();"><#CTL_next#></a>
		</div>
		<div id="skipBtn" class="row">
			<a id="loadingIcon_skip" class="iuiA" onclick="skip();"><#CTL_next#></a>
		</div>
		<script>
			if(!parent.tmo_support){
				document.getElementById("skipBtn").style.display = "none";
			}
			else{
				document.getElementById("nextBtn").style.display = "none";
			}	
		</script>
	</fieldset>
</div>
</form>
</body> 
