<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="../form_style.css">
<style>
#ClientList_Block_PC{
	border:1px outset #999;
	background-color:#576D73;
	position:absolute;
	*margin-top:26px;	
	margin-left:2px;
	*margin-left:-189px;
	width:181px;
	text-align:left;	
	height:auto;
	overflow-y:auto;
	z-index:200;
	padding: 1px;
	display:none;
}
#ClientList_Block_PC div{
	background-color:#576D73;
	height:auto;
	*height:20px;
	line-height:20px;
	text-decoration:none;
	font-family: Lucida Console;
	padding-left:2px;
}

#ClientList_Block_PC a{
	background-color:#EFEFEF;
	color:#FFF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;	
}
#ClientList_Block_PC div:hover, #ClientList_Block a:hover{
	background-color:#3366FF;
	color:#FFFFFF;
	cursor:default;
}
</style>
<script type="text/javascript" src="QISMobilePlugin.js"></script>
<script type="text/JavaScript" src="../state.js"></script>
<script type="text/JavaScript" src="../general.js"></script>
<script type="text/javascript" src="../wcdma_list.js"></script>
<script type="text/JavaScript" src="../help.js"></script>
<script type="text/javaScript" src="../js/jquery.js"></script>
<script type="text/JavaScript">
var modem = '<% nvram_get("Dev3G"); %>';
var country = '<% nvram_get("modem_country"); %>';
var isp = '<% nvram_get("modem_isp"); %>';
var apn = '<% nvram_get("modem_apn"); %>';
var dialnum = '<% nvram_get("modem_dialnum"); %>';
var user = '<% nvram_get("modem_user"); %>';
var pass = '<% nvram_get("modem_pass"); %>';
var pin_opt = '<% nvram_get("modem_pincode_opt"); %>';

var modemlist = new Array();
var countrylist = new Array();
var protolist = new Array();
var isplist = new Array();
var apnlist = new Array();
var daillist = new Array();
var userlist = new Array();
var passlist = new Array();
var wans_dualwan = '<% nvram_get("wans_dualwan"); %>'.split(" ");
var dualwan_set = 1;

function QKInternet_load_body(){
	parent.document.title = "<#Web_Title#> - <#menu5_4_4#>";

	if(parent.ISMOBILE){
		parent.set_step("internet_type");
		hideObjs();
		document.getElementById("theFieldset_apply").style.display = "";
		document.getElementById("tblsetting_1").style.marginTop = "-15px";
	}
	else{
		parent.set_step("t2");
	}

	switch_modem_mode('<% nvram_get("modem_enable"); %>');
	gen_country_list();
	reloadProfile();

  if(!wimax_support){
  	for (var i = 0; i < document.form.modem_enable_option.options.length; i++) {
			if (document.form.modem_enable_option.options[i].value == "4") {
				document.form.modem_enable_option.options.remove(i);
				break;
			}
		}
  }

	if(!dualWAN_support)
		document.form.wans_dualwan.disabled = true;

	for(var i = 0; i < wans_dualwan.length; i++){//check whether wans_dualwan is set or not.
		if (wans_dualwan[i] == 'none'){
			dualwan_set = 0;
			break;
		}
	}	

	if(dualwan_set)
		document.form.action_script.disabled = true;
			
	if(gobi_support){
		document.getElementById("page_desc").innerHTML = "<#Mobile_apn_profile#>"
    	document.getElementById("adapter_type").style.display = "none";
	}
}

function check_dongle_status(){
	 $.ajax({
    	url: '/ajax_ddnscode.asp',
    	dataType: 'script', 

    	error: function(xhr){
      		check_dongle_status();
    	},
    	success: function(response){
			if(pin_status != "" && pin_status != "0")
				document.getElementById("pincode_status").style.display = "";
			else	
				document.getElementById("pincode_status").style.display = "none";
				
			setTimeout("check_dongle_status();",5000);
       }
   });
}

function submitForm(){
	//check pin code
	if(pin_opt && document.form.modem_pincode.value != ""){
		if(document.form.modem_pincode.value.search(/^\d{4,8}$/)==-1) {
			alert("<#JS_InvalidPIN#>");
			return;
		}
	}

	document.getElementById("skipButton").style.display = "none";
	document.getElementById("nextButton").style.display = "none";
	document.getElementById("loadingIcon").style.display = "";
	changeiuiBackground(1);

	if(document.form.modem_country.value == ""){
		var valueStr = "";
		document.form.modem_isp.disabled = false;
		document.form.modem_isp.options.length = 1;
		document.form.modem_isp.options[0] = new Option(valueStr, valueStr, false, true);
	}

	if(parent.based_modelid == "4G-AC55U" && parent.flag_manual){
		document.form.flag.value = "manual";
	}

	parent.QKform.wans_dualwan.disabled = false;
	parent.QKform.modem_enable.value = document.form.modem_enable.value;
	parent.QKform.modem_country.value = document.form.modem_country.value;
	parent.QKform.modem_isp.value = document.form.modem_isp.value;
	parent.QKform.modem_apn.value = document.form.modem_apn.value;
	parent.QKform.modem_dialnum.value = document.form.modem_dialnum.value;
	parent.QKform.modem_pincode.value = document.form.modem_pincode.value;
	parent.QKform.modem_user.value = document.form.modem_user.value;
	parent.QKform.modem_pass.value = document.form.modem_pass.value;
	parent.QKform.modem_ttlsid.value = document.form.modem_ttlsid.value;
	parent.QKform.Dev3G.value = document.form.Dev3G.value;

	// move reboot to finish page
	if(document.form.action_script.value == "reboot"){
		var reboot_time = eval("<% get_default_reboot_time(); %> + 30");
		parent.sysReboot = true;
		
		if(reboot_time > parent.rebootTime)
			parent.rebootTime = reboot_time;
	}

	location.href = document.form.next_page.value;
	return true;
}

var wanstate;
var RetryCountDown_fail = 10;
var link_wan_status;
var link_wan1_status;
function detect3GConn(){
	$.ajax({
		url: '/result_of_get_changed_status_QIS.asp',
		dataType: 'script',

		error: function(xhr, textStatus){
			--RetryCountDown_fail;
			if(RetryCountDown_fail < 1){
				alert("<#Disconnected#>!");
				refreshpage();
			}
			else
				detect3GConn();			
		},
		success: function(response){
			if(wanstate == "2"){
				connVerify("1");
			}
			else if(link_wan_status == '2' || link_wan1_status == '2'){
				connVerify("3");
			}
			else{
				--RetryCountDown_fail;
				if(RetryCountDown_fail < 1){
					document.getElementById("retryCount").innerHTML = '<input type="button" value="<#CTL_Detect_Again#>" class="button_gen" onclick="RetryCountDown_fail=10;detect3GConn();">';
					connVerify("2");
				}
				else{
					document.getElementById("retryCount").innerHTML = RetryCountDown_fail;
					connVerify("0");
					setTimeout("detect3GConn();",1000);
				}
			}
		}
	});
}

function goWireless(){
	location.href = '/qis/QIS_wireless.htm';
}

function send_setting(){
	$.ajax({
		url: '/setting_lan.htm',
		dataType: 'script',
		
		error: function(xhr){
			setTimeout("send_setting();", 1000);
		},
		success: function(response){
			setTimeout(function(){
				parent.location.href = "http://" + get_new_lanip() + '/QIS_wizard.htm?flag=detect';
			}, 30000);
		}
	});
}

function connVerify(conn){
	if(conn == 1){ // conn OK!
		goWireless();
	}	
	else if(conn == 3){ // IP conflict!
		document.getElementById("newIp").innerHTML = get_new_lanip();

		document.getElementById("IpConflict").style.display = "";
		document.getElementById("Conn3GFail").style.display = "none";
		document.getElementById("tblsetting_1").style.display = "none";
		document.getElementById("Conn3GRetry").style.display = "none";
		document.getElementById("nextButton").style.display = "none";
		document.getElementById("loadingIcon").style.display = "none";
		document.getElementById("loadingNote").style.display = "none";
		document.getElementById("loadingNote1m").style.display = "none";
		document.getElementById("resetField").style.display = "none";			
		document.getElementById("theFieldset").style.display = "none";			
		document.getElementById("applyBtn").style.display = "none";
	}	
	else if(conn == 0){ // retry..
		document.getElementById("Conn3GFail").style.display = "none";
		document.getElementById("tblsetting_1").style.display = "none";
		document.getElementById("Conn3GRetry").style.display = "";

		if(parent.ISMOBILE){
			changeiuiBackground(0);
			document.getElementById("resetField").style.display = "none";
			document.getElementById("theFieldset").style.display = "none";			
			document.getElementById("theFieldset_apply").style.display = "none";
		}
		else{
			document.getElementById("nextButton").style.display = "";
			document.getElementById("loadingIcon").style.display = "none";
			document.getElementById("loadingNote").style.display = "none";
			document.getElementById("loadingNote1m").style.display = "none";			
			document.getElementById("resetField").style.display = "none";	
			document.getElementById("theFieldset").style.display = "none";			
			document.getElementById("applyBtn").style.display = "none";
		}
	}	
	else{ // conn fail!
		document.getElementById("Conn3GFail").style.display = "";
		document.getElementById("tblsetting_1").style.display = "none";
		document.getElementById("Conn3GRetry").style.display = "";

		if(parent.ISMOBILE){
			changeiuiBackground(0);
			document.getElementById("resetField").style.display = "none";
			document.getElementById("theFieldset").style.display = "";			
			document.getElementById("theFieldset_apply").style.display = "none";
		}
		else{
			document.getElementById("nextButton").style.display = "";
			document.getElementById("loadingIcon").style.display = "none";
			document.getElementById("loadingNote").style.display = "none";
			document.getElementById("loadingNote1m").style.display = "none";			
			document.getElementById("resetField").style.display = "";			
			document.getElementById("theFieldset").style.display = "none";			
			document.getElementById("applyBtn").style.display = "none";
		}
	}
}

function reset3G(){
	document.getElementById("tblsetting_1").style.display = "";
	document.getElementById("Conn3GFail").style.display = "none";
	document.getElementById("Conn3GRetry").style.display = "none";
	document.getElementById("skipButton").style.display = "";

	if(parent.ISMOBILE){
		document.getElementById("theFieldset_apply").style.display = "";
	}
	else{
		document.getElementById("applyBtn").style.display = "";
	}
}

function reloadProfile(){
	if(document.form.modem_enable.value == 0)
		return 0;

	gen_list();
	show_ISP_list();
	show_APN_list();
}

function show_modem_list(mode){
	if(mode == "4")
		show_4G_modem_list();
	else
		show_3G_modem_list();
}

function show_3G_modem_list(){
	modemlist = new Array(
			"AUTO"
			, "ASUS-T500"
			, "BandLuxe-C120"
			, "BandLuxe-C170"
			, "BandLuxe-C339"
			, "Huawei-E1550"
			, "Huawei-E160G"
			, "Huawei-E161"
			, "Huawei-E169"
			, "Huawei-E176"
			, "Huawei-E220"
			, "Huawei-K3520"
			, "Huawei-ET128"
			, "Huawei-E1800"
			, "Huawei-K4505"
			, "Huawei-E172"
			, "Huawei-E372"
			, "Huawei-E122"
			, "Huawei-E160E"
			, "Huawei-E1552"
			, "Huawei-E173"
			, "Huawei-E1823"
			, "Huawei-E1762"
			, "Huawei-E1750C"
			, "Huawei-E1752Cu"
			//, "MU-Q101"
			, "Alcatel-X200"
			, "Alcatel-Oune-touch-X220S"
			, "AnyData-ADU-510A"
			, "AnyData-ADU-500A"
			, "Onda-MT833UP"
			, "Onda-MW833UP"
			, "MTS-AC2746"
			, "ZTE-AC5710"
			, "ZTE-MU351"
			, "ZTE-MF100"
			, "ZTE-MF636"
			, "ZTE-MF622"
			, "ZTE-MF626"
			, "ZTE-MF632"
			, "ZTE-MF112"
			, "ZTE-MFK3570-Z"
			, "CS15"
			, "CS17"
			, "ICON401"
			);

	free_options(document.getElementById("shown_modems"));
	for(var i = 0; i < modemlist.length; i++){
		if(modemlist[i] == "AUTO")
			document.getElementById("shown_modems").options[i] = new Option("<#Auto#>", modemlist[i]);
		else	
			document.getElementById("shown_modems").options[i] = new Option(modemlist[i], modemlist[i]);
			
		if(modemlist[i] == modem)
			document.getElementById("shown_modems").options[i].selected = "1";
	}
}

function show_4G_modem_list(){
	modemlist = new Array(
			"AUTO"
			, "Samsung U200"
			//, "Beceem BCMS250"
			);

	free_options(document.getElementById("shown_modems"));
	for(var i = 0; i < modemlist.length; i++){
		if(modemlist[i] == "AUTO")
			document.getElementById("shown_modems").options[i] = new Option("<#Auto#>", modemlist[i]);
		else	
			document.getElementById("shown_modems").options[i] = new Option(modemlist[i], modemlist[i]);
		if(modemlist[i] == modem)
			document.getElementById("shown_modems").options[i].selected = "1";
	}
}

function switch_modem_mode(mode){
	document.form.modem_enable.value = mode;
	show_modem_list(mode);

	if(mode == "1"){ // WCDMA
		if(!gobi_support)
			inputCtrl(document.form.Dev3G, 1);
		inputCtrl(document.form.modem_country, 1);
		inputCtrl(document.form.modem_isp, 1);
		inputCtrl(document.form.modem_apn, 1);
		if(pin_opt) inputCtrl(document.form.modem_pincode, 1);
		inputCtrl(document.form.modem_dialnum, 1);
		inputCtrl(document.form.modem_user, 1);
		inputCtrl(document.form.modem_pass, 1);
		inputCtrl(document.form.modem_ttlsid, 0);
		//document.getElementById("hsdpa_hint").style.display = "";
	}
	else if(mode == "2"){ // CDMA2000
		if(!gobi_support)
			inputCtrl(document.form.Dev3G, 1);
		inputCtrl(document.form.modem_country, 1);
		inputCtrl(document.form.modem_isp, 1);
		inputCtrl(document.form.modem_apn, 1);
		if(pin_opt) inputCtrl(document.form.modem_pincode, 1);
		inputCtrl(document.form.modem_dialnum, 1);
		inputCtrl(document.form.modem_user, 1);
		inputCtrl(document.form.modem_pass, 1);
		inputCtrl(document.form.modem_ttlsid, 0);
		//document.getElementById("hsdpa_hint").style.display = "";
	}
	else if(mode == "3"){ // TD-SCDMA
		if(!gobi_support)
			inputCtrl(document.form.Dev3G, 1);
		inputCtrl(document.form.modem_country, 1);
		inputCtrl(document.form.modem_isp, 1);
		inputCtrl(document.form.modem_apn, 1);
		if(pin_opt) inputCtrl(document.form.modem_pincode, 1);
		inputCtrl(document.form.modem_dialnum, 1);
		inputCtrl(document.form.modem_user, 1);
		inputCtrl(document.form.modem_pass, 1);
		inputCtrl(document.form.modem_ttlsid, 0);
		//document.getElementById("hsdpa_hint").style.display = "";
	}
	else if(mode == "4"){	// WiMAX
		if(!gobi_support)
			inputCtrl(document.form.Dev3G, 1);
		inputCtrl(document.form.modem_country, 1);
		inputCtrl(document.form.modem_isp, 1);
		inputCtrl(document.form.modem_apn, 0);
		if(pin_opt) inputCtrl(document.form.modem_pincode, 1);
		inputCtrl(document.form.modem_dialnum, 0);
		inputCtrl(document.form.modem_user, 1);
		inputCtrl(document.form.modem_pass, 1);
		inputCtrl(document.form.modem_ttlsid, 1);
		//document.getElementById("hsdpa_hint").style.display = "";
	}
	else{	// Disable (mode == 0)
		if(!gobi_support)
			inputCtrl(document.form.Dev3G, 0);
		inputCtrl(document.form.modem_enable_option, 0);
		inputCtrl(document.form.modem_country, 0);
		inputCtrl(document.form.modem_isp, 0);
		inputCtrl(document.form.modem_apn, 0);
		if(pin_opt) inputCtrl(document.form.modem_pincode, 0);
		inputCtrl(document.form.modem_dialnum, 0);
		inputCtrl(document.form.modem_user, 0);
		inputCtrl(document.form.modem_pass, 0);
		inputCtrl(document.form.modem_ttlsid, 0);
		//document.getElementById("hsdpa_hint").style.display = "none";
		document.form.modem_enable.value = "0";
	}
}

function show_ISP_list(){
	var removeItem = 0;
	free_options(document.form.modem_isp);
	document.form.modem_isp.options.length = isplist.length;

	for(var i = 0; i < isplist.length; i++){
	  if(protolist[i] == 4 && !wimax_support){
			document.form.modem_isp.options.length = document.form.modem_isp.options.length - 1;

			if(document.form.modem_isp.options.length > 0)
				continue;
			else{
				alert('We currently do not support this location, please use "Manual"!');
				document.form.modem_country.focus();
				document.form.modem_country.selectedIndex = countrylist.length-1;
				break;
			}
		}
		else
			document.form.modem_isp.options[i] = new Option(isplist[i], isplist[i]);

		if(isplist[i] == isp)
			document.form.modem_isp.options[i].selected = 1;
	}
}

function show_APN_list(){
	var ISPlist = document.form.modem_isp.value;
	var Countrylist = document.form.modem_country.value;

	var isp_order = -1;
	for(isp_order = 0; isp_order < isplist.length; ++isp_order){
		if(isplist[isp_order] == ISPlist)
			break;
		else if(isp_order == isplist.length-1){
			isp_order = -1;
			break;
		}
	}

	if(isp_order == -1){
		alert("system error");
		return;
	}
	
	/* use manual or location */
	if(document.form.modem_country.value == ""){
		inputCtrl(document.form.modem_isp, 0);
		inputCtrl(document.form.modem_enable_option, 1);
	}
	else{
		inputHideCtrl(document.form.modem_isp, 1);
		inputHideCtrl(document.form.modem_enable_option, 0);
		if(protolist[isp_order] == "")
			protolist[isp_order] = 1;
	}

	if(Countrylist == ""){
		if('<% nvram_get("modem_enable"); %>' == document.getElementById('modem_enable_option').value){
			document.getElementById("modem_apn").value = apn;
			document.getElementById("modem_dialnum").value = dialnum;
			document.getElementById("modem_user").value = user;
			document.getElementById("modem_pass").value = pass;
		}
		else{
			document.getElementById("modem_apn").value = apnlist[isp_order];
			document.getElementById("modem_dialnum").value = daillist[isp_order];
			document.getElementById("modem_user").value = userlist[isp_order];
			document.getElementById("modem_pass").value = passlist[isp_order];
		}
	}
	else if(protolist[isp_order] != "4"){
		if(ISPlist == isp && Countrylist == country && (apn != "" || dialnum != "" || user != "" || pass != "")){
			if(typeof(apnlist[isp_order]) == 'object' && apnlist[isp_order].constructor == Array){
				document.getElementById("pull_arrow").style.display = '';
				document.getElementById("modem_apn").className = "input_18_table";
				showLANIPList(isp_order);
			}
			else{
				document.getElementById("pull_arrow").style.display = 'none';
				document.getElementById("modem_apn").className = "input_20_table";
				document.getElementById('ClientList_Block_PC').style.display = 'none';
			}

			document.getElementById("modem_apn").value = apn;
			document.getElementById("modem_dialnum").value = dialnum;
			document.getElementById("modem_user").value = user;
			document.getElementById("modem_pass").value = pass;
		}
		else{
			if(typeof(apnlist[isp_order]) == 'object' && apnlist[isp_order].constructor == Array){
				document.getElementById("pull_arrow").style.display = '';
				document.getElementById("modem_apn").className = "input_18_table";
				showLANIPList(isp_order);
			}
			else{
				document.getElementById("pull_arrow").style.display = 'none';
				document.getElementById("modem_apn").className = "input_20_table";
				document.getElementById('ClientList_Block_PC').style.display = 'none';
				document.getElementById("modem_apn").value = apnlist[isp_order];
			}

			document.getElementById("modem_dialnum").value = daillist[isp_order];
			document.getElementById("modem_user").value = userlist[isp_order];
			document.getElementById("modem_pass").value = passlist[isp_order];
		}
	}
	else{
		document.getElementById("modem_apn").value = "";
		document.getElementById("modem_dialnum").value = "";

		if(ISPlist == isp	&& (user != "" || pass != "")){
			document.getElementById("modem_user").value = user;
			document.getElementById("modem_pass").value = pass;
		}
		else{
			document.getElementById("modem_user").value = userlist[isp_order];
			document.getElementById("modem_pass").value = passlist[isp_order];
		}
	}

	if(document.form.modem_country.value != ""){
		document.form.modem_enable.value = protolist[isp_order];
		switch_modem_mode(document.form.modem_enable.value);
	}
}

/*------------ Mouse event of fake LAN IP select menu {-----------------*/
function setClientIP(apnAddr){
	document.form.modem_apn.value = apnAddr;
	hideClients_Block();
	over_var = 0;
}

function showLANIPList(isp_order){
	var code = "";
	var show_name = "";

	for(var i = 0; i < apnlist[isp_order].length; i++){
		var apnlist_col = apnlist[isp_order][i].split('&&');
		code += '<a><div onmouseover="over_var=1;" onmouseout="over_var=0;" onclick="setClientIP(\''+apnlist_col[1]+'\');"><strong>'+apnlist_col[0]+'</strong></div></a>';

		if(i == 0)
			document.form.modem_apn.value = apnlist_col[1];
	}
	code +='<!--[if lte IE 6.5]><iframe class="hackiframe2"></iframe><![endif]-->';	
	document.getElementById("ClientList_Block_PC").innerHTML = code;
}

function pullLANIPList(obj){
	if(isMenuopen == 0){		
		obj.src = "/images/arrow-top.gif"
		document.getElementById("ClientList_Block_PC").style.display = 'block';		
		document.form.modem_apn.focus();		
		isMenuopen = 1;
	}
	else
		hideClients_Block();
}

var over_var = 0;
var isMenuopen = 0;
function hideClients_Block(){
	document.getElementById("pull_arrow").src = "/images/arrow-down.gif";
	document.getElementById('ClientList_Block_PC').style.display='none';
	isMenuopen = 0;
}
/*----------} Mouse event of fake LAN IP select menu-----------------*/

function back_to_Adv(){
	parent.location.href = '/Advanced_OperationMode_Content.asp';
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		submitForm();
   	return false;
  }
	else
   	return true;
}

function get_new_lanip(){
	var current_lanip = '<% nvram_get("lan_ipaddr"); %>';
	var current_mask = '<% nvram_get("lan_netmask"); %>';
	var reverse_mask_num = ~(inet_aton(current_mask));
	var current_lanip_num = inet_aton(current_lanip);
	var new_lanip_num = current_lanip_num+reverse_mask_num+1;
	
	return inet_ntoa(new_lanip_num);
}

function inet_aton(ip_str){
	if(!ip_str)
		return -1;
	
	var re = /^(\d+)\.(\d+)\.(\d+)\.(\d+)$/;
	if(re.test(ip_str)){
		var v1 = parseInt(RegExp.$1);
		var v2 = parseInt(RegExp.$2);
		var v3 = parseInt(RegExp.$3);
		var v4 = parseInt(RegExp.$4);
		
		if(v1 < 256 && v2 < 256 && v3 < 256 && v4 < 256)
			return v1*256*256*256+v2*256*256+v3*256+v4;
	}
	
	return -2;
}

function inet_ntoa(ip_num){
	var v1, v2, v3, v4;
	var ip_str = "";
	
	if(!ip_num || typeof(ip_num) != "number")
		return null;
	
	v1 = (ip_num&0xff000000)>>>24;
	v2 = (ip_num&0x00ff0000)>>>16;
	v3 = (ip_num&0x0000ff00)>>>8;
	v4 = (ip_num&0x000000ff);
	
	ip_str = v1+"."+v2+"."+v3+"."+v4;
	
	return ip_str;
}
</script>
</head>

<body onLoad="QKInternet_load_body();" onunload="" onKeyPress="submitenter(this,event)">
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<form method="post" name="form" action="/start_apply.htm" target="hidden_frame" onsubmit="return submitForm();">
<input type="hidden" name="current_page" value="QIS_lanip.htm">
<input type="hidden" name="next_page" value="QIS_wireless.htm">   
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="flag" value="dongle_mode">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_script" value="reboot">
<input type="hidden" name="action_wait" value="<% get_default_reboot_time(); %>">
<input type="hidden" name="modem_enable" value="<% nvram_get("modem_enable"); %>">
<input type="hidden" name="http_username" value="<% nvram_get("http_username"); %>">
<input type="hidden" name="http_passwd" value="" disabled>
<input type="hidden" name="wans_dualwan" value="wan usb">
<div class="QISmain" id="QISmain">
	<div class="formfonttitle" style="padding:6 0 0 10;">
		<div id="descTltle">
			<table width="100%">
				<tr>
					<td align="left">
						<div class="description_down" id="page_desc"><#menu5_4_4#></div>
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
	</div>

	<table id="tblsetting_1" class="QISform" border=0 align="center" cellpadding="5" cellspacing="0">
		<tr style="display:none">
			<th><#HSDPAConfig_hsdpa_enable_itemname#></th>
			<td>
				<input type="radio" value="1" tabindex="1" onclick="switch_modem_mode(document.form.modem_enable_option.value);reloadProfile();" name="modem_enable_radio" checked><#checkbox_Yes#>
				<input type="radio" value="0" tabindex="2" onclick="switch_modem_mode(0);reloadProfile();" name="modem_enable_radio" <% nvram_match("modem_enable", "0", "checked"); %>><#checkbox_No#>
			</td>
		</tr>

		<tr>
    		<th style="width:40%"><a class="hintstyle"  href="javascript:void(0);" onClick="openHint(21,9);"><#HSDPAConfig_Country_itemname#></a></th>
      		<td>
      			<select name="modem_country" class="input_option" tabindex="3" onchange="switch_modem_mode(document.form.modem_enable_option.value);reloadProfile();"></select>
			</td>
		</tr>

		<tr>
    		<th><a class="hintstyle"  href="javascript:void(0);" onClick="openHint(21,8);"><#HSDPAConfig_ISP_itemname#></a></th>
			<td>
      			<select name="modem_isp" class="input_option" tabindex="4" onchange="show_APN_list();"></select>
			</td>
		</tr>

		<tr>
			<th>
				<a class="hintstyle" href="javascript:void(0);" onclick="openHint(21,1);"><#menu5_4_4#></a>
			</th>
			<td>
				<select name="modem_enable_option" id="modem_enable_option" tabindex="5" class="input_option" onchange="switch_modem_mode(this.value);reloadProfile();">
					<option value="1" <% nvram_match("modem_enable", "1", "selected"); %>>WCDMA (UMTS)</option>
					<option value="2" <% nvram_match("modem_enable", "2", "selected"); %>>CDMA2000 (EVDO)</option>
					<option value="3" <% nvram_match("modem_enable", "3", "selected"); %>>TD-SCDMA</option>
					<option value="4" <% nvram_match("modem_enable", "4", "selected"); %>>WiMAX</option>
				</select>
				
				<br/><span id="hsdpa_hint" style="display:none;"><#HSDPAConfig_hsdpa_enable_hint2#></span>
			</td>
		</tr>

		 <tr>
			<th><a class="hintstyle"  href="javascript:void(0);" onClick="openHint(21,3);"><#HSDPAConfig_private_apn_itemname#></a></th>
			<td>
				<input id="modem_apn" type="text" value="" name="modem_apn" tabindex="6" class="input_20_table" autocorrect="off" autocapitalize="off"/>
     			<img id="pull_arrow" height="14px;" src="/images/arrow-down.gif" style="display:none;position:absolute;*margin-left:-3px;*margin-top:1px;" onclick="pullLANIPList(this);" title="<#select_device_name#>" onmouseover="over_var=1;" onmouseout="over_var=0;">
				<div id="ClientList_Block_PC" class="ClientList_Block_PC"></div>
			</td>
		</tr>

		<tr>
			<th><a class="hintstyle" href="javascript:void(0);" onClick="openHint(21,10);"><#HSDPAConfig_DialNum_itemname#></a></th>
			<td>
				<input id="modem_dialnum" name="modem_dialnum" tabindex="7" class="input_20_table" type="text" value="" autocorrect="off" autocapitalize="off"/>
			</td>
		</tr>
		
		<tr style="display:none;">
			<th><a class="hintstyle"  href="javascript:void(0);" onClick="openHint(21,2);"><#PIN_code#></a></th>
			<td>
				<input id="modem_pincode" name="modem_pincode" tabindex="8" class="input_20_table" type="password" maxLength="8" value="<% nvram_get("modem_pincode"); %>" autocomplete="off" autocorrect="off" autocapitalize="off"/>
				<br><span id="pincode_status" style="display:none;"><#pincode_wrong#></span>
			</td>
		</tr>
                          
		<tr>
			<th><a class="hintstyle"  href="javascript:void(0);" onClick="openHint(21,11);"><#HSDPAConfig_Username_itemname#></a></th>
			<td>
			<input id="modem_user" name="modem_user" tabindex="9" class="input_20_table" type="text" value="<% nvram_get("modem_user"); %>" autocomplete="off" autocorrect="off" autocapitalize="off"/>
			</td>
		</tr>
                          
		<tr>
			<th><a class="hintstyle"  href="javascript:void(0);" onClick="openHint(21,12);"><#PPPConnection_Password_itemname#></a></th>
			<td>
				<input id="modem_pass" name="modem_pass" tabindex="10" class="input_20_table" type="password" value="<% nvram_get("modem_pass"); %>" autocomplete="off" autocorrect="off" autocapitalize="off"/>
			</td>
		</tr>

		<tr>
			<th>E-mail</th>
			<td>
				<input id="modem_ttlsid" name="modem_ttlsid" tabindex="11" class="input_20_table" value="<% nvram_get("modem_ttlsid"); %>"/>
			</td>
		</tr>
                          
		<tr id="adapter_type">
			<th><a class="hintstyle"  href="javascript:void(0);" onClick="openHint(21,13);"><#HSDPAConfig_USBAdapter_itemname#></a></th>
			<td>
				<select name="Dev3G" id="shown_modems" class="input_option" disabled="disabled"></select>
			</td>
		</tr>
	</table>

	<div id="applyBtn" class="apply_gen" style="margin-top:20px">
		<input type="button" id="skipButton" value="<#CTL_Skip#>" class="button_gen" tabindex="13" onclick="goWireless();">
		<input type="button" id="nextButton" value="<#CTL_next#>" tabindex="12" class="button_gen" onclick="submitForm();">
		<img id="loadingIcon" style="display:none;" src="/images/InternetScan.gif">
		<span id="loadingNote" style="display:none;"><#Modem_connect_waiting#></span>
		<span id="loadingNote1m" style="display:none;"><#Modem_connect_waiting_1m#></span>
	</div>

	<fieldset class="theFieldset" id="theFieldset_apply" style="display:none;margin-top:10px">
		<div class="row">
			<a id="loadingIcon_iui" class="iuiA" onclick="submitForm();"><#CTL_Add_enrollee#></a>
		</div>
		<div class="row_end">
			<a class="iuiA" onclick="goWireless();"><#CTL_Skip#></a>
		</div>
	</fieldset>
</div>

<div id="Conn3GRetry" style="display:none;">
	<div>
		<p class="QISGeneralFont" style="font-size:20px;line-height:30px;">
			<#QKSet_detect_desc2#>: <span id="retryCount" style="color:#FC0"></span>
		</p>
	</div>
	<br>
</div>

<div id="Conn3GFail" style="display:none;">
	<div>
		<p class="QISGeneralFont" style="font-size:20px;line-height:30px;">
			<#HSDPAConfig_Conn3GFail#><!-- Unable to connect to the Internet, please re-enter the information, or double-check your account data with your ISP. -->
		</p>
	</div>
	<div class="apply_gen" id="resetField" style="margin-top:30px">
		<input type="button" value="<#CTL_Reset_OOB#>" onclick="reset3G();" class="button_gen_long" >
		<input type="button" value="<#QKSet_wireless_webtitle#>" onclick="goWireless();" class="button_gen_long">
	</div>

	<fieldset class="theFieldset" id="theFieldset" style="display:none;margin-top:10px">
		<div class="row">
			<a class="iuiA" onclick="reset3G();"><#CTL_Reset_OOB#></a>
		</div>
		<div class="row_end">
			<a class="iuiA" onclick="goWireless();"><#QKSet_wireless_webtitle#></a>
		</div>
	</fieldset>
</div>

<div id="IpConflict" style="display:none;">
	<div>
		<p class="QISGeneralFont" style="font-size:20px;line-height:30px;">
			<#web_redirect_reason6#>
			<br>
			<#web_redirect_case6_desc1#>&nbsp;<b id="newIp"></b>
			<br>
			<#web_redirect_case6_desc2#>
		</p>
	</div>
	<div class="apply_gen" style="margin-top:30px">
			<input type="button" value="<#CTL_Skip#>" class="button_gen" onclick="goWireless();">
			<input type="button" value="<#CTL_next#>" class="button_gen" onclick="document.getElementById('loadingIcon_IpConflict').style.display='';send_setting();">
			<img id="loadingIcon_IpConflict" style="display:none;" src="/images/InternetScan.gif">	
	</div>
</div>
</form>
</body>
