<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<head>     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<script type="text/javascript" src="/help.js"></script>
<script type="text/JavaScript" src="/state.js"></script>
<script type="text/javascript" src="/general.js"></script>
<script type="text/javascript" src="/alttxt.js"></script>
<script type="text/javascript" src="/validator.js"></script>
<script>
<% login_state_hook(); %>
var now_flag = '<% get_parameter("flag"); %>';
<% wan_get_parameter(); %>
var is_TW_sku = (ttc.search("TW") == -1) ? false : true;

function QKaccount_load_body(){
	parent.document.title = "<#Web_Title#> - <#QKSet_account_webtitle#>";
	if(parent.ISMOBILE){
		parent.set_step("internet_type");
		hideObjs();
		document.getElementById("QISmain").style.display = "none";
		document.getElementById("QISmain_m").style.display = "";		
	}
	else{
		parent.set_step("t2");
		hideLinkTag();
		flash_button();
		document.getElementById("descritpion_tail1").innerHTML = "<#qis_pppoe_desc2#>";
		if(is_TW_sku)		
			document.getElementById("isp_TW_desc").style.display = "";
		if(now_flag != "auto_way_pppoe")
			show_prev_button();					
		document.getElementById("nextButton").focus();
	}

	get_value_from_parent();
} 

function get_value_from_parent(){
	if(now_flag == "auto_way")
		document.form.flag.value = now_flag;
	
	if(now_flag == "auto_way_pppoe")
		document.form.wan_proto.value = "pppoe";
	else
		document.form.wan_proto.value = parent.document.QKform.wan_proto.value;
	
	document.form.wan_hwaddr_x.value = parent.document.QKform.wan_hwaddr_x.value;
	document.form.wan_pppoe_username.value = parent.document.QKform.wan_pppoe_username.value;
	document.form.wan_pppoe_passwd.value = parent.document.QKform.wan_pppoe_passwd.value;
	
	
	
	document.form.wan_ipaddr_x.value = parent.document.QKform.wan_ipaddr_x.value;
	document.form.wan_netmask_x.value = parent.document.QKform.wan_netmask_x.value;
	document.form.wan_gateway_x.value = parent.document.QKform.wan_gateway_x.value;
	
	document.form.wan_dns1_x.value = parent.document.QKform.wan_dns1_x.value;
	document.form.wan_dns2_x.value = parent.document.QKform.wan_dns2_x.value;
	
	document.form.wan_heartbeat_x.value = parent.document.QKform.wan_heartbeat_x.value;
	
	if(now_flag == "auto_way"){
		document.form.wan_dhcpenable_x.value = parent.document.QKform.wan_dhcpenable_x.value;
		document.form.wan_dnsenable_x.value = parent.document.QKform.wan_dnsenable_x.value;
	}
}

function show_prev_button(){
	if(now_flag == "auto_way"){
		document.form.prev_page.value = parent.document.QKform.prev_page.value;
		parent.document.QKform.prev_page.value = "/qis/QIS_internet_ip.htm";
	}
	else if(parent.document.getElementById("flag").value == "pppoe"){
		document.getElementById("prevButton").value = '<#menu5#>';
		
		document.form.prev_page.value = "/Advanced_WAN_Content.asp";
	}
}

function submitForm(o, s){
	if(parent.ISMOBILE){
		document.form.wan_pppoe_username.value = document.form.wan_pppoe_username_m.value;
		document.form.wan_pppoe_passwd.value = document.form.wan_pppoe_passwd_m.value;
		document.form.wan_hwaddr_x.value = document.form.wan_hwaddr_x_m.value;
	}

	if(document.form.wan_pppoe_username.value.length == 0){
		alert("<#QKSet_account_nameblank#>");
		document.form.wan_pppoe_username.select();
		document.form.wan_pppoe_username.focus();
		changeiuiBackground(0);
		return false;
	}
	if(!validator.string(document.form.wan_pppoe_username)){
		document.form.wan_pppoe_username.select();
		document.form.wan_pppoe_username.focus();
		changeiuiBackground(0);
		return false;
	}
	
	if(!validator.string(document.form.wan_pppoe_passwd)){
		document.form.wan_pppoe_passwd.select();
		document.form.wan_pppoe_passwd.focus();
		changeiuiBackground(0);
		return false;
	}

	if(!check_macaddr(document.form.wan_hwaddr_x,check_hwaddr_flag(document.form.wan_hwaddr_x))){
		document.form.wan_hwaddr_x.select();
		document.form.wan_hwaddr_x.focus();
		return false;
	}
	
	if(now_flag == "auto_way"){
		//parent.showLoading();
		simple_showLoading();
		
		document.form.wan_ipaddr_x.disabled = false;
		document.form.wan_netmask_x.disabled = false;
		document.form.wan_gateway_x.disabled = false;
		document.form.wan_dns1_x.disabled = false;
		document.form.wan_dns2_x.disabled = false;
		document.form.wan_heartbeat_x.disabled = false;
		
		document.getElementById("x_Setting").disabled = false;
		document.form.x_Setting.value = '<% nvram_get("x_Setting"); %>';		
		document.form.sw_mode.value = parent.document.QKform.sw_mode.value;
		
		if(parent.flag_manual)
			document.form.flag.value = "manual";
		else
			document.form.flag.value = "verify_detect";

		document.form.next_page.value = "/QIS_wizard.htm";	
		document.form.submit();
	}
	else if(document.form.wan_proto.value == 'pppoe' || document.form.wan_proto.value == ''){
		//parent.showLoading();
		simple_showLoading();

		// uinfi
		var original_switch_wantag = '<% nvram_get("switch_wantag"); %>';
		document.form.switch_wantag.value = parent.document.QKform.switch_wantag.value;
		document.form.switch_wan0tagid.value = parent.document.QKform.switch_wan0tagid.value;
		document.form.switch_wan0prio.value = parent.document.QKform.switch_wan0prio.value;
		document.form.switch_wan1tagid.value = parent.document.QKform.switch_wan1tagid.value;
		document.form.switch_wan1prio.value = parent.document.QKform.switch_wan1prio.value;
		document.form.switch_wan2tagid.value = parent.document.QKform.switch_wan2tagid.value;
		document.form.switch_wan2prio.value = parent.document.QKform.switch_wan2prio.value;
		document.form.switch_stb_x.value = parent.document.QKform.switch_stb_x.value;
		document.form.mr_enable_x.value = parent.document.QKform.mr_enable_x.value;
		document.form.emf_enable.value = parent.document.QKform.emf_enable.value;
		document.form.ttl_inc_enable.value = parent.document.QKform.ttl_inc_enable.value;
		if(original_switch_wantag != document.form.switch_wantag.value){
			/*
			document.form.action_script.value	= "reboot";
			document.form.action_wait.value	= eval("<% get_default_reboot_time(); %> + 10");
			document.getElementById("loadHint").style.display = "";
			document.getElementById("nextButton").style.display = "none";
			document.getElementById("prevButton").style.display = "none";
			*/
			var reboot_time = eval("<% get_default_reboot_time(); %> + 10");
			document.form.action_script.value = "saveNvram";
			document.form.action_wait.value = "0";
			parent.sysReboot = true;
			
			if(reboot_time > parent.rebootTime)
				parent.rebootTime = reboot_time;
		}

		document.getElementById("x_Setting").disabled = false;
		document.form.x_Setting.value = '<% nvram_get("x_Setting"); %>';
		document.form.sw_mode.value = parent.document.QKform.sw_mode.value;

		if(parent.flag_manual)
			document.form.flag.value = "manual";
		else
			document.form.flag.value = "verify_detect";

		document.form.next_page.value = "/QIS_wizard.htm";
		document.form.submit();
		if(original_switch_wantag != document.form.switch_wantag.value)
			setTimeout(function(){
				location.href = "/qis/QIS_wireless.htm";
			}, 500);
	}
	else if(document.form.wan_proto.value == 'pptp'|| document.form.wan_proto.value == 'l2tp'){
		document.form.next_page.value = "QIS_internet_ip.htm";
		
		parent.document.QKform.wan_hwaddr_x.value = document.form.wan_hwaddr_x.value;
		parent.document.QKform.wan_pppoe_username.value = document.form.wan_pppoe_username.value;
		parent.document.QKform.wan_pppoe_passwd.value = document.form.wan_pppoe_passwd.value;
		
		location.href = document.form.next_page.value;
		return false;	//do not submit form
	}
	else{
		changeiuiBackground(0);
		alert("System error!");	// no translate.
	}
}

function simple_showLoading(){
	document.getElementById("loadingIcon").style.display = "";
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		submitForm();
   	return false;
  }
	else
   	return true;
}
/* password item show or not */
function pass_checked(obj){
	switchType(obj, document.form.show_pass_1.checked, true);
}

function showMAC(){
	var tempMAC = "";
	document.form.wan_hwaddr_x.value = login_mac_str();
	document.form.wan_hwaddr_x.focus();
}

function showMAC_m(){
	var tempMAC = "";
	if(document.getElementById("toggleDNS").getAttribute("toggled") == "true"){	
		document.form.wan_hwaddr_x_m.value = login_mac_str();
		document.form.wan_hwaddr_x.value = login_mac_str();
	}
	else{
		document.form.wan_hwaddr_x_m.value = "";
	}
}

function check_macaddr(obj,flag){ //control hint of input mac address
	if(flag == 1){
		var childsel=document.createElement("div");
		childsel.setAttribute("id","check_mac");
		childsel.style.color="#FFCC00";
		obj.parentNode.appendChild(childsel);
		document.getElementById("check_mac").innerHTML="<#LANHostConfig_ManualDHCPMacaddr_itemdesc#>";		
		return false;
	}else if(flag == 2){
		var childsel=document.createElement("div");
		childsel.setAttribute("id","check_mac");
		childsel.style.color="#FFCC00";
		obj.parentNode.appendChild(childsel);
		document.getElementById("check_mac").innerHTML="<#IPConnection_x_illegal_mac#>";
		return false;
	}else{
		document.getElementById("check_mac") ? document.getElementById("check_mac").style.display="none" : true;
		return true;
	}
}

</script>                                          
</head>   

<body onLoad="QKaccount_load_body();" onunLoad="" onKeyPress="submitenter(this,event)">
<div id="navtxt" class="navtext" style="position:absolute; top:50px; left:-100px; visibility:hidden; font-family:Arial, Verdana"></div>
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<form method="post" name="form" action="/start_apply.htm" target="hidden_frame" onsubmit="return submitForm();" autocomplete="off">
<input type="hidden" name="prev_page" value="QIS_internet_type.htm">
<input type="hidden" name="current_page" value="QIS_internet_account.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="action_mode" value="apply">
<input type="hidden" name="action_script" value="restart_wan_if">
<input type="hidden" name="action_wait" value="5">
<input type="hidden" name="preferred_lang" value="<% nvram_get("preferred_lang"); %>">
<input type="hidden" name="wan_proto" value="">

<input type="hidden" name="wan_dhcpenable_x" value="1">
<input type="hidden" name="wan_ipaddr_x" value="" disabled>
<input type="hidden" name="wan_netmask_x" value="" disabled>
<input type="hidden" name="wan_gateway_x" value="" disabled>
<input type="hidden" name="wan_dnsenable_x" value="1">
<input type="hidden" name="wan_dns1_x" value="" disabled>
<input type="hidden" name="wan_dns2_x" value="" disabled>
<input type="hidden" name="wan_heartbeat_x" value="" disabled>
<input type="hidden" name="wan_unit" value="0">
<input type="hidden" name="x_Setting" id="x_Setting" value="" disabled>
<input type="hidden" name="sw_mode" value="">
<!-- unifi -->
<input type="hidden" name="switch_wantag" value="<% nvram_get("switch_wantag"); %>">
<input type="hidden" name="switch_wan0tagid" value="<% nvram_get("switch_wan0tagid"); %>">
<input type="hidden" name="switch_wan0prio" value="<% nvram_get("switch_wan0prio"); %>">
<input type="hidden" name="switch_wan1tagid" value="<% nvram_get("switch_wan1tagid"); %>">
<input type="hidden" name="switch_wan1prio" value="<% nvram_get("switch_wan1prio"); %>">
<input type="hidden" name="switch_wan2tagid" value="<% nvram_get("switch_wan2tagid"); %>">
<input type="hidden" name="switch_wan2prio" value="<% nvram_get("switch_wan2prio"); %>">
<input type="hidden" name="switch_stb_x" value="<% nvram_get("switch_stb_x"); %>">
<input type="hidden" name="mr_enable_x" value="<% nvram_get("mr_enable_x"); %>">
<input type="hidden" name="emf_enable" value="<% nvram_get("emf_enable"); %>">
<input type="hidden" name="ttl_inc_enable" value="<% nvram_get("ttl_inc_enable"); %>">

<div class="QISmain" id="QISmain">
		<div>
			<table width="100%">
				<tr>
					<td align="left">
						<div class="description_down"><#PPPConnection_UserName_sectionname#></div>
					</td>
					<!--td align="right">
						<img onclick="parent.gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'">
					</td-->
				</tr>
			</table>
		</div>
		<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
<br/>
<br/>
<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
  <tr>
	<th width="180"><span onmouseout="return nd();" onclick="openHint(7, 27);" style="cursor:help;"><#PPPConnection_UserName_itemname#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
	<td class="QISformtd">
	  <input type="text" name="wan_pppoe_username" maxlength="64" value="" tabindex="1" onkeypress="return validator.isString(this, event);" class="input_32_table" size="36" autocomplete="off" autocorrect="off" autocapitalize="off"/>
	</td>
  </tr>

  <tr>
	<th width="180"><span onmouseout="return nd();" onclick="openHint(7, 27);" style="cursor:help;"><#PPPConnection_Password_itemname#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png"></span></th>
	<td class="QISformtd">
	  <input type="password" id="wan_pppoe_passwd" name="wan_pppoe_passwd" maxlength="64" value="" tabindex="2" onkeypress="return validator.isString(this, event);" class="input_32_table" size="36" autocomplete="off" autocorrect="off" autocapitalize="off"/>	  
	</td>
  </tr>
	<tr>
		<th></th>
		<td>
			<input type="checkbox" name="show_pass_1" onclick="pass_checked(document.form.wan_pppoe_passwd);"><#QIS_show_pass#>
		</td>
	</tr>
	<tr>
	  <th width="185">
			<span onmouseout="return nd();" onclick="overlib('<#PPPConnection_x_MacAddressForISP_itemdesc#>', FIXX, 270, FIXY, 30);" style="cursor:help;">
				<#BOP_isp_mac_item#><img align="right" style="cursor:pointer;margin-top:-14px\9;" src="/images/New_ui/helpicon.png">
			</span>
		</th>
	  <td class="QISformtd">
		<input type="text" name="wan_hwaddr_x" tabindex="2" onkeypress="return validator.isHWAddr(this,event);" class="input_20_table" maxlength="17" value="" autocorrect="off" autocapitalize="off"/>
		&nbsp&nbsp&nbsp
		<input type="button" class="button_gen_long" tabindex="3" onclick="showMAC();" value="<#BOP_isp_MACclone#>">		
	  </td>
	</tr>
  <tr><td colspan=2>&nbsp;</td></tr>
  <tr>
  	<td colspan=2 class="QISformtd">
	  	<div id="descritpion_tail1"></div>
	  	<div id="isp_TW_desc" style="padding:10px 0px 10px 0px;line-height:15px;display:none;"><#QIS_SmartConn_ISPDesc_TW#></div>
		</td>
  </tr>
</table>

<div class="apply_gen" style="margin-top:30px">
  <input type="button" id="prevButton" value="<#CTL_prev#>" tabindex="4" onclick="gotoprev(document.form);" class="button_gen" align="center">
  <input type="submit" id="nextButton" value="<#CTL_next#>" tabindex="3" class="button_gen" align="center">
	<span id="loadHint" style="display:none"><#SAVE_note#></span>
	<img id="loadingIcon" style="display:none;" src="/images/InternetScan.gif"></span>
</div>
</div>

<div id="QISmain_m" style="display:none;">
	<div class="itemTitle"><#qis_pppoe_desc1#></div>
	<fieldset>
		<div id="DNSDiv">
			<div class="row">
				<label><#PPPConnection_UserName_itemname#></label>
				<input type="text" name="wan_pppoe_username_m" placeholder="" maxlength="64" value="" autocomplete="off" autocorrect="off" autocapitalize="off"/>
			</div>
			<div class="row">
				<label><#PPPConnection_Password_itemname#></label>
				<input name="wan_pppoe_passwd_m" type="text" placeholder="" maxlength="64" autocomplete="off" autocorrect="off" autocapitalize="off">
			</div>
			<div class="row">
				<label><#BOP_isp_MACclone#></label>
				<div id="toggleDNS" class="toggle" onclick="showMAC_m();" toggled="false">
					<span class="thumb"></span>
					<span class="toggleOn"><#checkbox_Yes#></span>
					<span class="toggleOff"><#checkbox_No#></span>
				</div>
			</div>

			<div class="row_end">
				<label>MAC Address:</label>
				<input name="wan_hwaddr_x_m" type="text" placeholder="" onkeypress="return validator.isHWAddr(this,event);" maxlength="17" autocorrect="off" autocapitalize="off">
			</div>
		</div>
	</fieldset>
	<br />
	<div><#qis_pppoe_desc2#></div>
	<br />
	<fieldset class="theFieldset" id="theFieldset">
		<div class="row_end">
			<a id="loadingIcon_iui" class="iuiA" onclick="changeiuiBackground(1);submitForm();"><#CTL_next#></a>
		</div>
	</fieldset>
</div>

</form> 
</body>
</html>
