<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<script type="text/javascript" src="/help.js"></script>
<script type="text/javascript" src="/qis/QISMobilePlugin.js"></script>
<link type="text/css" rel="stylesheet" href="/form_style.css">
<script type="text/JavaScript" src="/js/jquery.js"></script>
<script type="text/javascript">

<% start_autodet(); %>

var now_flag = '<% get_parameter("flag"); %>';
var wantype = '';
var wanstate = -1;
var wansbstate = -1;
var wanauxstate = -1;
var RetryCountDown = 5;
var successcase = 0;
var RetryCountDown_fail = 5;
var first_wanstate = -1;
var first_wansbstate = -1;
var first_wanauxstate = -1;
var second_wanstate = -1;
var second_wansbstate = -1;
var second_wanauxstate = -1;
var wan_wanstate = -1;
var wan_wansbstate = -1;
var wan_wanauxstate = -1;
var usb_wanstate = -1;
var usb_wansbstate = -1;
var usb_wanauxstate = -1;
var ewan_index = -1;
var usb_index = -1;
var wans_dualwan = '<% nvram_get("wans_dualwan"); %>'.split(" ");
var based_modelid = '<% nvram_get("productid"); %>';


function QKDetect_load_body(){
	parent.set_step("t1");
	parent.document.title = "<#Web_Title#> - <#QKSet_detect_sanglass#>";
	setTimeout("getWANStatus();", 3000);
	if(parent.ISMOBILE){
		hideObjs();
		document.getElementById("tblsetting_1").style.marginTop = "-30px";
		parent.set_step("");
	}

	if(based_modelid == "4G-AC55U")
	{
		for(var i = 0; i < wans_dualwan.length; i++){
			if (wans_dualwan[i] == 'wan')
				ewan_index = i;
			else if(wans_dualwan[i] == 'usb')
				usb_index = i;
		}
	}		
}

function getDualWANState(){
	if( ewan_index == 0 ){
		wan_wanstate = first_wanstate;
		wan_wansbstate = first_wansbstate;
		wan_wanauxstate = first_wanauxstate;
	}
	else if(ewan_index == 1){
		wan_wanstate = second_wanstate;
		wan_wansbstate = second_wansbstate;
		wan_wanauxstate = second_wanauxstate;
	}

	if( usb_index == 0 ){
		usb_wanstate = first_wanstate;
		usb_wansbstate = first_wansbstate;
		usb_wanauxstate = first_wanauxstate;
	}
	else if(usb_index == 1){
		usb_wanstate = second_wanstate;
		usb_wansbstate = second_wansbstate;
		usb_wanauxstate = second_wanauxstate;
	}
}

function getWANStatus(){

	$.ajax({
		url: '/result_of_get_changed_status_QIS.asp',
		dataType: 'script',
		
		error: function(xhr){
			--RetryCountDown_fail;
			if(RetryCountDown_fail < 1){
				alert("<#Disconnected#>!");
				refreshpage();
			}
			else
				getWANStatus();			
		},
		success: function(response){
			RetryCountDown_fail = 5;
			if(based_modelid == "4G-AC55U"){
				getDualWANState();			
			}

			if(wanstate == 6){
				setTimeout("getWANStatus();", 2000);
				return true;
			}

			if(wanstate == -1 || wanstate == 0 || wanstate == 1){
				if(wanauxstate == 3 && wanstate == 1){ // PPP_AUTH_FAIL
					alert("<#QKSet_Internet_Setup_fail_reason2#>");
					redirect_page("internet_account");
					return true;
				}
				else
					--RetryCountDown;

				if(RetryCountDown < 1){
					if(parent.ISMOBILE){
						document.getElementById("QISmain").style.display = "none";
						document.getElementById("QISmain_m").style.display = "";
					}
					else{
						if(confirm("<#QIS_detect_timeout#>")){
							RetryCountDown = 5;
							getWANStatus();
						}
						else{
							if(parent.hadPlugged("modem")){
								redirect_page("modem");
							}	
							else{
								redirect_page("fail");
							}
						}
					}
				}
				else
					setTimeout("getWANStatus();", 2000);
			}
			else if(wanstate == 4 && wansbstate == 4){
				parent.location.href = "/error_page.htm?flag=6";
			}
			else{
				if(wanauxstate != 1 && wanstate == 2){ //success case
					successcase++;
					if(successcase > 1){
						if(based_modelid == "4G-AC55U")
						{
							if(usb_wanstate == 2 && usb_wansbstate == 0 && usb_wanauxstate == 0){
								redirect_page("wireless");
							}
							else{
								redirect_page("dualconnect_status");
							}
						}
						else{	
							if(parent.hadPlugged("modem")){
								redirect_page("modem");
							}	
							else{
								redirect_page("wireless");
							}
						}
					}
					else
						setTimeout("getWANStatus();", 2000);
				}
				else{
					if(wanlink_type() == "dhcp" && now_flag != "resetModem")
						redirect_page("resetModem");
					else if(RetryCountDown > 0){
						--RetryCountDown;
						setTimeout("getWANStatus();", 2000);
					}
					else{
						if(parent.hadPlugged("modem")){
							redirect_page("modem");
						}	
						else{
							redirect_page("fail");
						}
					}
				}
			}
		}
	});
}

function rescan_m(){
	document.getElementById("QISmain").style.display = "";
	document.getElementById("QISmain_m").style.display = "none";
	RetryCountDown = 5;
	getWANStatus();
}

function redirect_page(redirect_flag){
	document.redirectForm.action = "/qis/QIS_"+redirect_flag+".htm";
	document.redirectForm.submit();
}
</script>
</head>

<body onLoad="QKDetect_load_body();">
<form method="post" name="form" action="" target="">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="current_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="action_script" value="">
<input type="hidden" name="action_wait" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get("preferred_lang"); %>">

<div class="QISmain" id="QISmain">
	<div id="descTltle" class="formfonttitle" style="padding:6 0 0 10;">
		<div>
			<table width="100%">
				<tr>
					<td align="left">
						<div class="description_down"><#QKSet_detect_desc2#></div>
					</td>
					<td align="right">
						<!--img onclick="parent.gotoIndex();" style="cursor:pointer;" align="right" title="Go to Home" src="/images/backtohome.png" onMouseOver="this.src='/images/backtohomeclick.png'" onMouseOut="this.src='/images/backtohome.png'"-->
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;" id="splitLine"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
	</div>
  <br/><br/>
	<table id="tblsetting_1" class="QISform" width="auto" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr>
		<td align="right">
			<img src="/images/InternetScan.gif"></span>
		</td>	  
		<td class="test_css">
			<strong><span><#QKSet_detect_waitdesc#></span></strong>
		</td>
	  </tr>
	</table>
</div>
</form>

<div style="display:none;" id="QISmain_m">
	<div><#QIS_detect_timeout#></div><br>
	<fieldset class="theFieldset">
		<div class="row">
			<a class="iuiA" onclick="rescan_m();"><#QKSet_detect_freshbtn#></a>
		</div>
		<div class="row_end" id="siteSurvey">
			<a class="iuiA" onclick="redirect_page('fail');"><#CTL_next#></a>
		</div>
	</fieldset>
</div>

<form method="post" name="redirectForm" action="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="prev_page" value="">
</form>
</body>
