<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>                                     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="shortcut icon" href="images/favicon.png">
<link rel="icon" href="images/favicon.png">
<title></title>
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="/qis/qis_style.css">
<link rel="stylesheet" type="text/css" href="/usp_style.css">
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript">
<% start_autodet(); %> // initial QIS detecting process.
<% wanlink(); %>
var hw_ver = '<% nvram_get("hardware_version"); %>';
function QKinternettype_load_body(){
	parent.document.title = "<#Web_Title#> - Welcome!";
	parent.set_step("t0");
		
	var check_desc1 = "<#QIS_welcome_feature1#>";	
	var check_desc2 = "<#QIS_welcome_feature2#>";	
	var check_desc3 = "<#QIS_welcome_feature3#>";	
	var check_desc4 = "<#QIS_welcome_feature4#>";	
		
	if(hw_ver.search("RTN12") != -1){	//MODELDEP : RT-N12
			var desc1_split = check_desc1.split("#ZVSPLITVZ#");
			var desc2_split = check_desc2.split("#ZVSPLITVZ#");
			var desc3_split = check_desc3.split("#ZVSPLITVZ#");
			var desc4_split = check_desc4.split("#ZVSPLITVZ#");						
			
			if( hw_ver.search("RTN12HP") != -1 	//RT-N12HP
					&& check_desc1.split("#ZVSPLITVZ#").length == 2
					&& check_desc2.split("#ZVSPLITVZ#").length == 2
					&& check_desc3.split("#ZVSPLITVZ#").length == 2
					&& check_desc4.split("#ZVSPLITVZ#").length == 2){
							document.getElementById("Productdesc_1").innerHTML = desc1_split[1];
							document.getElementById("Productdesc_2").innerHTML = desc2_split[1];
							document.getElementById("Productdesc_3").innerHTML = desc3_split[1];
							document.getElementById("Productdesc_4").innerHTML = desc4_split[1];
			}else{	// rest of RT-N12
							document.getElementById("Productdesc_1").innerHTML = desc1_split[0];
							document.getElementById("Productdesc_2").innerHTML = desc2_split[0];
							document.getElementById("Productdesc_3").innerHTML = desc3_split[0];
							document.getElementById("Productdesc_4").innerHTML = desc4_split[0];
			}	
	}else{
		document.getElementById("Productdesc_1").innerHTML = check_desc1;
		document.getElementById("Productdesc_2").innerHTML = check_desc2;
		document.getElementById("Productdesc_3").innerHTML = check_desc3;
		document.getElementById("Productdesc_4").innerHTML = check_desc4;
	}	
	
	document.getElementById("btn_next_step").focus();
}

function submitForm(mode){
	if(mode == 0)
		parent.flag_manual = 1;
	else if(mode == 3)
		parent.document.QKform.sw_mode.value = "3";	

	document.form.flag.value = "";
	document.form.action = "/qis/QIS_admin_pass.htm";
	document.form.submit();
}

function detect_if_wan_plug(flag){
	$.ajax({
		url: '/result_of_get_changed_status_QIS.asp',
		dataType: 'script',
		
		error: function(xhr){
			detect_if_wan_plug();		
		},
		success: function(response){
			if(autodet_state == 4){ // ethernet did not plug
				if(flag == null){
					document.getElementById("producticon").style.display = "none";
					document.getElementById("wan_unplug").style.display = "";
					document.getElementById("loadingIcon").style.display = "none";
					document.getElementById("ManualBtn").style.display = "";
				}
				setTimeout("update_wan_info(1);", 1000);
			}
			else if(autodet_state == 0){
				detect_if_wan_plug();
				document.getElementById("loadingIcon").style.display = "";
			}
			else
				submitForm(1);
		}
	});	
}

function update_wan_info(flag){
	$.ajax({
		url: '/start_autodet.asp',
		dataType: 'script',
		error: function(xhr){
			update_wan_info();		
		},
		success: function(response){
			if(flag == null){
				document.getElementById("ManualBtn").style.display = "none";
				document.getElementById("loadingIcon").style.display = "";
				setTimeout("detect_if_wan_plug();", 1000);
			}
			else{
				setTimeout("detect_if_wan_plug(1);", 1000);
			}
		}
	});	
}

function submitenter(myfield,e)
{	
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13){
		update_wan_info();
   	return false;
  }
	else
   	return true;
}
</script>
</head>  
<body onLoad="QKinternettype_load_body();" onunload="" onKeyPress="submitenter(this,event)">
<form method="post" name="form" action="/start_apply.htm">
<input type="hidden" name="current_page" value="QIS_welcome.htm">
<input type="hidden" name="next_page" value="">   
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="sw_mode" value="1">
<div class="QISmain">
		<div>
			<table width="730px">
				<tr>
					<td align="left">
						<span class="description_down"><#QIS_welcome_title#></span>
					</td>
					<td align="right">&nbsp;
					</td>
				</tr>
			</table>
		</div>
		<div style="margin:5px;"><img style="width: 720px; *width: 710px; height: 2px;" src="/images/New_ui/export/line_export.png"></div>
<br/>

<table style="margin-top:-40px;margin-left:20px;" width="98%" border=0 align="center" cellpadding="5" cellspacing="0">
	<tr>
		<td width="55%" colspan="2">
			<div id="productDesc" style="font-style:italic;">				
				<p style="font-size:20px;font-weight:bolder;margin-bottom:15px;"><#statusTitle_System#></p>
				<ul>		
					<li style="line-height:25px;" id="Productdesc_1"></li>
					<li style="line-height:25px;" id="Productdesc_2"></li>
					<li style="line-height:25px;" id="Productdesc_3"></li>
					<li style="line-height:25px;" id="Productdesc_4"></li>
				</ul>	
			</div>
		</td>

		<td width="45%" height="394">
			<img id="producticon" src="/images/Model_producticon.png">
			<div id="wan_unplug" style="display:none">
				<br>
				<img style="margin-top:-20px;margin-left:60px;*margin-left:70px;" src="/images/qis/border.png">
				<span>
					<div class="QISGeneralFont" style="color:#FC0;font-weight:bolder;margin-top:-330px;">
						<#web_redirect_suggestion1#>
					</div>
					<br>
					<img style="margin-left:65px;*margin-left:75px;" src="/images/WANunplug.png">
				<span>
			</div>
		</td>
	</tr>

	<tr>
		<td colspan="3">
			<p class="QISGeneralFont" style="margin-left:40px;"><#QIS_welcome_desc1#></p>
		</td>
	</tr>

	<tr>
		<td colspan="2" align="right">
			<input class="button_gen" id="btn_next_step" type="button" value="<#CTL_next#>" onclick="update_wan_info();">
			<img id="loadingIcon" style="display:none;" src="/images/InternetScan.gif">
		</td>
		<td>			
				<input id="ManualBtn" class="button_gen_long" type="button" value="<#Manual_Setting_btn#>" style="display:none;white-space:normal;" onclick="submitForm(0)">
		</td>			
		</td>
	</tr>	
</table>
</form>
</body> 
