body{         
	-webkit-text-size-adjust: none;
	color: #FFF;
	font-size:14px;
}
legend {	 	
	font-weight:bold;
	font-size:14px;
}
.LevelQIS {  
	margin-left: 0px;
	margin-top: 5px;
	margin-top: -15px \9;
	background-color:#21333e; /*#AAD1E0*/
}

.qis_title{
	background-image: url(/images/New_ui/title_bg.png);	/*0121*/
	width:998px;
	background-repeat:no-repeat;
}

.qis_title{
	height:19px;
	float:left;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-bottom:1px solid #CCC;
	line-height:19px;
}

.QISmain{
	font-size:14px;
	z-index:400;
	position:relative;
}

.QISform{
	font-size:13px;
}

.QISform thead{
	font-size:15px;
	line-height:20px;
}

.QISform th{
	padding-left:10px;
	font-size:13px;
	font-weight:normal;
	text-align:left; 
}
               
.QISform li{	
	margin-top:10px;
}

.QISform_finish{
	/* width:600px; */
	font-size:13px;
}
.QISform_finish thead{
	font-size:15px;
	line-height:20px;
	 	
}
.QISform_finish th{
	padding-left:10px;
	font-size:13px;
	font-weight:border;
	
	text-align:left; 
}              
.QISform_finish li{	
	margin-top:10px;
}
.QISform_finish td span{	
	color: #FFF;	
}

.QISform_wireless{
	/* width:600px; */
	font-size:14px;
	 
}

.QISform_wireless thead{
	font-size:15px;
	line-height:20px;
	 	
}

.QISform_wireless th{
	padding-left:10px;
	font-size:14px;
	font-weight:bolder;
	
	text-align:left; 
}
               
.QISform_wireless li{	
	margin-top:10px;
}

.QISform2{
	font-size:14px;
	 
	line-height:110%;
}

.QISform2 thead{
	font-size:13px;
	line-height:20px;
}

.QISform2 th{
	padding-left:10px;
	font-size:14px;
	font-weight:bolder;
	
	width:70%;
	text-align:right; 
	font-size:13px;
	line-height:20px;
}

.QISalert{	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}

.description_down{
	margin-left:10px;
	padding-left:5px;
	font-weight:bold;
	line-height:140%;	
}

.hackiframe{	/* iframe for Hack IE 6.0 to avoid select menu over DIV layer. */
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}
.auto_way{
 border:2px solid #CE1E1E;
 background-color:#FFFFCC;
}
.navtext {
	font-size:8pt; 
	border: 1px double #999;
	background-color: #FFC; 
	color: #003366;
	text-align:left;
	width:auto;
	padding:3px;
	line-height:150%;
}
.mode_desc{
	font-family:Georgia, Arial, sans-serif;
	font-size:8pt;
	color:#333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:130%;
	padding:2px;
}

.lefttabhead {margin-top:12px;width:190px;text-align:center;font-family:Verdana ;color: #94ccf2;background:url(/images/New_ui/lefttabhead.png) no-repeat;  font-weight:bold; padding-top:0px;	position:relative;}
.lefttabmidfocus {margin-top: -2px; width:203px;height: 52px;font-family:Verdana ;font-size : 12px;color: #94ccf2;background:url(/images/New_ui/lefttabdown_f.png) no-repeat;  font-weight:bold; padding-left:0px; position:relative;}
.lefttabmid {
	width:189px;
	height:52px;
	font-family:Verdana;
	font-size:14px;
	text-align:left;
	position:relative;
	margin-top: -2px;
	background: url(/images/New_ui/lefttabdown_n.png);
}

/* show loading */ 
.popup_bg{
	position:absolute;	
	margin: auto;
	top: 0;
	left: 0;
	width:1003px;
	height:303px;
	z-index:99;
	background-color: #444F53;
	filter:alpha(opacity=94);  /*IE5、IE5.5、IE6、IE7*/
	opacity: .94;  /*Opera9.0+、Firefox1.5+、Safari、Chrome*/
	background-repeat: repeat;
	visibility:hidden;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
}
.loadingBlock{
	filter:alpha(opacity=90);
	opacity:.90;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/PIE.htc);
	border-radius: 10px 10px 10px 10px;
	border: 0px;
	margin-top:200px;
	width:400px;
	font-size:20px;
	 
	font-weight:bolder;
	background-color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}

.dr_sweet_advise{
	filter:alpha(opacity=90);
	opacity:.90;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/PIE.htc);
	border-radius: 10px 10px 10px 10px;
	border: 0px;
	margin-top:200px;
	width:500px;
	font-size:20px;
	 
	background-color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}

.IPaddr_qis{
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	border: 2px inset #F4F4F4;
	width:170px;
	*width:175px;
	display: inline-block;
}
.IPaddr_qis input{
	border:0px solid #CCC;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	width:25px;
	text-align:center;
	margin:0px auto;
	ime-mode:disabled;
}

.QISGeneralFont{
	font-family: helvetica, Arial, sans-serif;
	font-size: 14px;
}

.contentM_qis{
	margin-top:-160px;
	position:relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.QIS_survey{
	text-align:left;
	 
	height:30px;
	font-family: Verdana;
	font-size:14px;
	/*background-color:#1f2d35;*/
	background-color:#2B373B;
	border-collapse: collapse;
}

.QIS_survey th{
	height:30px;
	border: 1px solid #334044;
	background-color:#151E21;
}

.QIS_survey td{
	color:#7EA2AE;
	height:30px;
	border: 1px solid #334044;
}

.apply_gen {
	text-align: center;
	background-color: transparent !important;;
	width: 100%;
	margin-top: 10px;
}

.mobileFieldset{
	position: relative;
	margin: 0 0 20px 0;
	padding: 0;
	background: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #999;
	font-size: 16px;
}
.iuiLink {
	background: url(/iui/listArrow.png) no-repeat right center;
	display: block;
	padding: 13px 32px 8px 10px;
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}
.iuiLink:hover {
	color: #FFF;
	cursor: pointer;
}
.theFieldset {
	position: relative;
	margin: 0 0 10px 0;
	padding: 0;
	background: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 0px solid #999;
	font-size: 16px;
}
.iuiA {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background: url(/iui/listArrow.png) no-repeat right center;
	display: block;
	padding: 13px 32px 8px 10px;
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}
.iuiA:hover {
	color: #FFF;
	cursor: pointer;
}
.iuiA_sel {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background: url(/iui/check.png) no-repeat right center;
	display: block;
	padding: 13px 32px 8px 10px;
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}
.iuiA_sel:hover {
	color: #FFF;
	cursor: pointer;
}
.iuiA_unsel {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: block;
	padding: 13px 32px 8px 10px;
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}
.iuiA_unsel:hover {
	color: #FFF;
	cursor: pointer;
}

.sel_check{
	margin-left: 82%;
	margin-top: -33px;
	width: 50px;
	display: block;
}
.iuiA_sel_check {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background: url(/iui/check.png) no-repeat 93% center;
	display: block;
	padding: 13px 32px 8px 10px;
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}
.iuiA_sel_check:hover {
	color: #FFF;
	cursor: pointer;
}
.iuiA_unsel_check {
 	width:82%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: block;
	padding: 13px 32px 8px 10px;
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}
.iuiA_unsel_check:hover {
	color: #FFF;
	cursor: pointer;
}

fieldset{
	position: relative;
	margin: 0 0 0px 0;
	padding: 0;
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 2px solid #FFF;
	font-size: 14px;
	border: 0px solid #999;
	background:rgba(255, 255, 255, 0.25) none repeat scroll 0 0 !important;
}
.row_end{
	position: relative;
	min-height: 42px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.row {
	position: relative;
	min-height: 42px;
	border-bottom: 1px solid #000;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.row > label, .row_end > label {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 0 0 14px;
	line-height: 42px;
	font-weight: bold;
	color: #FFF;
}
.row > input:not([type|="radio"]):not([type|="checkbox"]) , .row_end > input:not([type|="radio"]):not([type|="checkbox"]) {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	border: none;
	padding: 12px 10px 0 110px;
	height: 42px;
	background: none;
	text-align: right;
	font-size: 14px;
	width: 100%;
	color: #FFF;
}
.mobileHint{
	color:red;
	font-weight:bolder;
	float:left;
}
.test_css{
	padding-left:10px;
	font-size:14px;
	font-weight:bolder;
	color:#FFF;
}
.row > div, .row_end > div{
	right: 0;
	top: 0;
	position: absolute;
	color: #FFF;
	font-size: 15px;
	line-height: 45px;
	margin-right:5px
}
.itemTitle{
	margin-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	min-height: 20px;
}
/*
.iuiA[selected], .iuiA:active {
    background-color: #194fdb !important;
    background-repeat: no-repeat, repeat-x !important;
    background-position: right center, left top !important;
    color: #FFFFFF !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
*/
.row > .toggle, .row_end > .toggle {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 100px;
    height: 28px;
}

.toggle {
    border: 1px solid #888888;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-size: 19px;
    font-weight: bold;
    line-height: 30px;
}

.toggle[toggled="true"] {
  border: 1px solid #143fae;
	background: #194FDB repeat-x;
}
.toggleOn {
    display: none;
    position: absolute;
    width: 60px;
    text-align: center;
    left: 0;
    top: 0;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
		line-height: 30px;
}

.toggleOff {
    position: absolute;
    width: 60px;
    text-align: center;
    right: 0;
    top: 0;
    color: #FFF;
		line-height: 30px;
}

.toggle[toggled="true"] > .toggleOn {
    display: block;
}

.toggle[toggled="true"] > .toggleOff {
    display: none;
}

.thumb {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 40px;
  height: 28px;    
  border: 1px solid #888888;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
	background: white;
}

.toggle[toggled="true"] > .thumb {
    left: auto;
    right: -1px;
}
.qisMobileHint{
	font-size: 16px;
	font-weight: bold;
	color: red;
	min-height: 20px;
}