<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:v>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="shortcut icon" href="images/favicon.png">
<link rel="icon" href="images/favicon.png">
<title><#Web_Title#> - Quickly Internet Setup</title>
<link rel="stylesheet" type="text/css" href="/other.css">
<link rel="stylesheet" type="text/css" href="/qis/qis_style.css">
<link rel="stylesheet" type="text/css" href="index_style.css">
<link rel="stylesheet" type="text/css" href="form_style.css">
<style>
.banner1{
	width:998px;
	height:54px;
	background:url(images/New_ui/title_bg.png) 0 0 no-repeat;
	margin:0px auto;
}
</style>
<script type="text/JavaScript" src="/state.js"></script>
<script type="text/javascript" src="/popup.js"></script>
<script type="text/javascript" src="/detect.js"></script>
<script>
var targeturl = "/index.htm";
var firmver = '<% nvram_get("firmver"); %>';
var detect_status = '<% nvram_get("dsltmp_autodet_state"); %>';
var x_Setting = "<% nvram_get("x_Setting"); %>";
var w_Setting = "<% nvram_get("w_Setting"); %>";

function set_step(focus_id){
	if(focus_id == "t1" || focus_id == "t0")
		$("t1").className = "lefttabmidfocus";
	else
		$("t1").className = "lefttabmid";

	if(focus_id == "t2")
		$("t2").className = "lefttabmidfocus";
	else
		$("t2").className = "lefttabmid";

	if(focus_id == "t3")
		$("t3").className = "lefttabmidfocus";
	else
		$("t3").className = "lefttabmid";
}

function QIS_load_body(){
	var showCase;
	showCase = $("flag").value;

	winW_H();
	if(navigator.appName.indexOf("Microsoft") >= 0){
			$("contentM").width = "105%";
			$("contentM").style.marginLeft = "-45px";
	}
	
	if (x_Setting == "1" && w_Setting == "0") {
		with(document.redirectForm){	
			action = "/qis/QIS_wireless.htm";
			submit();
		}
		return;	
	}
	
	if (x_Setting == "0") {
		with(document.redirectForm){	
			action = "/qis/QIS_admin_pass.htm";
			submit();
		}
		return;
	}
	
	with(document.redirectForm){
		if ( (detect_status == "Detecting") || (detect_status == "wait_for_init") ||
			(detect_status == "initializing") || (detect_status == "up") || (detect_status == "down") ) {
			action = "/qis/QIS_detect.htm";
			submit();
		}
// since it is change to ajax
// no cable page is no longer required		
/*		
		else if ( detect_status == "down") {
			action = "/qis/QIS_no_cable.htm";
			submit();
		}
*/		
		else if ( (detect_status == "pppoe") || (detect_status == "pppoa") ) { //1:PPPoE, 2:PPPoA
			action = "/qis/QIS_ppp_cfg.htm";
			submit();
		}
		else if ( detect_status == "dhcp") { //2:MER
			action = "/qis/QIS_mer_cfg.htm";
			submit();
		}
		else if ( detect_status == "Fail") {
			action = "/qis/QIS_manual_setting.htm"; //QIS_fail.htm
			submit();
		}
		else {
			action = "/qis/QIS_manual_setting.htm"; //QIS_fail.htm
			submit();
		}
	}
}
</script>
</head>

<body class="LevelQIS" onload="QIS_load_body();">
<noscript>
	<div class="popup_bg" style="visibility:visible; z-index:999;">
		<div style="margin:200px auto; width:300px; background-color:#006699; color:#FFFFFF; line-height:150%; border:3px solid #FFF; padding:5px;"><#not_support_script#></p></div>
	</div>
</noscript>

<div id="LoadingBar" class="popup_bar_bg">
<table cellpadding="5" cellspacing="0" id="loadingBarBlock" class="loadingBarBlock" align="center">
	<tr>
		<td height="80">
		<div class="Bar_container">
			<span id="proceeding_img_text"></span>
			<div id="proceeding_img"></div>
		</div>
		<div style="margin:5px auto; width:85%;"><#APSurvey_msg_waiting_to_connect#> <span style="font-weight:bolder;" id="stassid"></span></div>
		</td>
	</tr>
</table>
<!--[if lte IE 6.5]><iframe class="hackiframe"></iframe><![endif]-->
</div>

<div id="Loading" class="popup_bg">
	<table cellpadding="5" cellspacing="0" id="loadingBlock" class="loadingBlock" align="center">
		<tr>
			<td width="20%" height="80" align="center"><img src="/images/loading.gif"></td>
			<td><span id="proceeding_main_txt"><#Main_alert_proceeding_desc4#></span><span id="proceeding_txt" style="color:#FFFFCC;"></span></td>
		</tr>
	</table>
<!--[if lte IE 6.5]><iframe class="hackiframe"></iframe><![endif]-->
</div>

<div id="hiddenMask" class="popup_bg">
	<table cellpadding="5" cellspacing="0" id="dr_sweet_advise" class="dr_sweet_advise" align="center">
		<tr>
		<td>
			<div class="drword" id="drword"><#Main_alert_proceeding_desc4#> <#Main_alert_proceeding_desc1#>...
				<br/>
				<br/>
	    </div>
		  <div class="drImg"><img src="images/alertImg.png"></div>
			<div style="height:70px; "></div>
		</td>
		</tr>
	</table>
</div>

<!--For content in ifame-->
<!--[if !lte IE 6]>-->
<div class="banner1" align="center"><img src="images/New_ui/asustitle.png" width="218" height="54" align="left"></div>
<!--<![endif]-->
<!--[if lte IE 6]>
<div class="banner1" align="center"><img src="images/New_ui/asustitle_ie6.png" width="218" height="54" align="left"></div>
<![endif]-->

<table width="998px" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td height="170px" width="998px" valign="top" background="/images/New_ui/midup_bg.png"></td>
	</tr>
</table>

<table width="998px"  border="0" align="center" cellpadding="0" cellspacing="0" background="/images/New_ui/middown_bg.png">
  <tr>
		<td style="width:218px;*width:263px;" valign="top">
			<div class="lefttabhead" style="margin-left:15px;margin-top:-130px;" id="option0"><table width="192px" height="37px"><tbody><tr><td><#QIS_title#></td></tr></tbody></table></div>
			<div class="lefttabmid" id="t1" style="margin-left:15px;"><table height="52px"><tbody><tr><td><img style="margin-left:3px;" border="0" src="/images/qis/qisStep1.png"></td><td><div style="width:120px;"><#QIS_step2#></div></td></tr></tbody></table></div>
			<div class="lefttabmid" id="t2" style="margin-left:15px;"><table height="52px"><tbody><tr><td><img style="margin-left:3px;" border="0" src="/images/qis/qisStep2.png"></td><td><div style="width:120px;"><#QIS_step3#></div></td></tr></tbody></table></div>
			<div class="lefttabmid" id="t3" style="margin-left:15px;"><table height="52px"><tbody><tr><td><img style="margin-left:3px;" border="0" src="/images/qis/qisStep3.png"></td><td><div style="width:120px;"><#QIS_step4#></div></td></tr></tbody></table></div>
		</td>

		<td>
      <div class="_contentM_qis"><iframe name="contentM" id="contentM" class="contentM_qis" scrolling="auto" width="99%" height="540" frameborder="0"></iframe></div>
    </td>
    <td width="8" height="365" valign="top"></td>
  </tr>

	<tr>
		<td height="27" colspan="3" style="background: url('/images/New_ui/bottom_bg.png') no-repeat">&nbsp;</td>
	</tr>
</table>

<form method="post" name="QKform">
	<!-- general -->
	<input type="hidden" name="flag" id="flag" value='<% get_parameter("flag"); %>'>
	<input type="hidden" name="prev_page" value="">
	<input type="hidden" name="current_page" value="/QIS_wizard.htm">
	<input type="hidden" name="next_page" value="">
	<input type="hidden" name="action_mode" value="apply">
	<input type="hidden" name="action_script" value="">
	<input type="hidden" name="action_wait" value="">
	<input type="hidden" name="modified" value="">
</form>

<form method="post" name="redirectForm" action="" target="contentM">
<input type="hidden" name="flag" value="">
<input type="hidden" name="prev_page" value="">
</form>
</body>
</html>

