.*
*.o
*.a
*.lo
*.la
*.d
stamp-h1
Makefile
config.h
config.log
config.status
doc/Makefile
libtool
libusb-config
libusb.pc
tests/Makefile
usb.h
tests/descriptor_test
tests/driver_name
tests/find_hubs
tests/find_mice
tests/get_resolution
tests/hub_strings
tests/id_test
tests/testlibusb
Doxyfile
INSTALL.libusb
README
libusb.spec
autom4te.cache
config.h.in~
