*.o
*.lo
*.log
*.pyc
*.patch
.deps
.libs
.memdump
COPYING
CVE-*
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bissect*
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/devhelp/Makefile
doc/devhelp/Makefile.in
doc/examples/.deps
doc/examples/Makefile
doc/examples/Makefile.in
doc/examples/io1
doc/examples/io2
doc/examples/parse1
doc/examples/parse2
doc/examples/parse3
doc/examples/parse4
doc/examples/reader1
doc/examples/reader2
doc/examples/reader3
doc/examples/reader4
doc/examples/testWriter
doc/examples/tree1
doc/examples/tree2
doc/examples/xpath1
doc/examples/xpath2
example/.deps
example/Makefile
example/Makefile.in
example/gjobread
include/Makefile
include/Makefile.in
include/libxml/Makefile
include/libxml/Makefile.in
include/libxml/xmlversion.h
install-sh
libtool
libxml-2.0-uninstalled.pc
libxml-2.0.pc
libxml2.la
libxml2.spec
list
ltmain.sh
log
missing
missing.lst
m4
python/.deps
python/.libs
python/Makefile
python/Makefile.in
python/gen_prog
python/libxml2-export.c
python/libxml2-py.c
python/libxml2-py.h
python/libxml2.py
python/libxml2class.py
python/libxml2class.txt
python/libxml2mod.la
python/tests/Makefile
python/tests/Makefile.in
python/tests/tmp.xml
runsuite
runtest
runxmlconf
runxmlconf.log
stamp-h1
tags
test.out
testAutomata
testC14N
testHTML
testModule
testReader
testRegexp
testRelax
testSAX
testSchemas
testThreads
testURI
testXPath
testapi
testapi.c.new
testchar
testdict
testdso.la
testlimits
testrecurse
tmp
tst.c
tst
xml2-config
xml2Conf.sh
xmlcatalog
xmlconf
xmllint
xstc/Makefile
xstc/Makefile.in
xstc/Tests
xstc/xsts-*.tar.gz
