*.o
*.a
*.so
*.lo
*.la
stamp-h1
.deps/
.libs/
config.log
config.status
Makefile
autom4te.cache
doc/examples/.deps/
doc/examples/io1
doc/examples/io2
doc/examples/parse1
doc/examples/parse2
doc/examples/parse3
doc/examples/parse4
doc/examples/reader1
doc/examples/reader2
doc/examples/reader3
doc/examples/reader4
doc/examples/testWriter
doc/examples/tree1
doc/examples/tree2
doc/examples/xpath1
doc/examples/xpath2
doc/xmlcatalog.1
doc/xmllint.1
example/gjobread
example/.deps/
runsuite
runtest
runxmlconf
testAutomata
testC14N
testHTML
testModule
testReader
testRegexp
testRelax
testSAX
testSchemas
testThreads
testURI
testXPath
testapi
testchar
testdict
testrecurse
xml2Conf.sh
xmlcatalog
xmllint
config.h
include/libxml/xmlversion.h
libtool
libxml-2.0-uninstalled.pc
libxml-2.0.pc
libxml2.spec
python/setup.py
python/.deps/
xml2-config
aclocal.m4
configure

