.*
*.o
*.a
*.lo
*.la
*.d
stamp-h1
Makefile
config.h
config.log
config.status
doc/Makefile
doc/libogg/Makefile
include/Makefile
include/ogg/Makefile
include/ogg/config_types.h
libtool
ogg-uninstalled.pc
ogg.pc
src/Makefile
src/test_bitwise
src/test_framing
