.*
*.o
*.a
*.lo
*.la
*.d
stamp-h1
Makefile
build/Makefile
config.h
config.log
config.status
doc/Makefile
doc/html/Makefile
doc/html/images/Makefile
doc/html/images/hw/Makefile
doc/html/ru/Makefile
examples/Makefile
examples/c/Makefile
examples/c/decode/Makefile
examples/c/decode/file/Makefile
examples/c/encode/Makefile
examples/c/encode/file/Makefile
examples/cpp/Makefile
examples/cpp/decode/Makefile
examples/cpp/decode/file/Makefile
examples/cpp/encode/Makefile
examples/cpp/encode/file/Makefile
include/FLAC++/Makefile
include/FLAC/Makefile
include/Makefile
include/share/Makefile
include/share/grabbag/Makefile
include/test_libs_common/Makefile
libtool
libtool-disable-static
m4/Makefile
man/Makefile
obj/Makefile
obj/debug/Makefile
obj/debug/bin/Makefile
obj/debug/lib/Makefile
obj/release/Makefile
obj/release/bin/Makefile
obj/release/lib/Makefile
src/Makefile
src/flac/Makefile
src/libFLAC++/Makefile
src/libFLAC++/flac++.pc
src/libFLAC/Makefile
src/libFLAC/flac.pc
src/libFLAC/ia32/Makefile
src/libFLAC/include/Makefile
src/libFLAC/include/private/Makefile
src/libFLAC/include/protected/Makefile
src/libFLAC/ppc/Makefile
src/libFLAC/ppc/as/Makefile
src/libFLAC/ppc/gas/Makefile
src/metaflac/Makefile
src/monkeys_audio_utilities/Makefile
src/monkeys_audio_utilities/flac_mac/Makefile
src/monkeys_audio_utilities/flac_ren/Makefile
src/plugin_common/Makefile
src/plugin_winamp2/Makefile
src/plugin_winamp2/include/Makefile
src/plugin_winamp2/include/winamp2/Makefile
src/plugin_xmms/Makefile
src/share/Makefile
src/share/getopt/Makefile
src/share/grabbag/Makefile
src/share/replaygain_analysis/Makefile
src/share/replaygain_synthesis/Makefile
src/share/replaygain_synthesis/include/Makefile
src/share/replaygain_synthesis/include/private/Makefile
src/share/utf8/Makefile
src/test_grabbag/Makefile
src/test_grabbag/cuesheet/Makefile
src/test_grabbag/picture/Makefile
src/test_libFLAC++/Makefile
src/test_libFLAC/Makefile
src/test_libs_common/Makefile
src/test_seeking/Makefile
src/test_streams/Makefile
test/Makefile
test/cuesheets/Makefile
test/flac-to-flac-metadata-test-files/Makefile
test/metaflac-test-files/Makefile
test/pictures/Makefile
