.*
*.o
*.a
*.lo
*.la
*.d
header
init.freebsd
init.linux
init.linuxsb
init.redhat
init.solaris
lpd.conf
ltmain
man/cancel.1
man/checkpc.8
man/lp.1
man/lpbanner.1
man/lpc.8
man/lpd.8
man/lpd.conf.5
man/lpd.perms.5
man/lpf.1
man/lpq.1
man/lpr.1
man/lprm.1
man/lprng_certs.1
man/lprng_index_certs.1
man/lpstat.1
man/monitor.1
man/pclbanner.1
man/printcap.5
man/psbanner.1
postinstall
postinstall.freebsd
postinstall.generic
postinstall.linux
postinstall.solaris
postremove
postremove.generic
postremove.solaris
preinstall.solaris
preremove
preremove.freebsd
preremove.generic
preremove.linux
preremove.solaris
src/defs.h
src/lpd
src/lpd.conf
src/lprng_certs
src/lprng_index_certs
