# The followings are a sample configuration for requiring the "stateless"
# DHCPv6 service.
interface ne0 {
	information-only;
};


# The followings are a sample configuration to be delegated an IPv6 prefix
# from an upstream service provider.  With this configuration dhcp6c will
# send solicit messages containing an IA_PD option, with an IAID 0, on to
# an upstream PPP link, ppp0.  After receiving some prefixes from a server,
# dhcp6c will then configure derived IPv6 prefixes with the SLA ID 1 on a
# local ethernet interface, ne0.  Note that the IAID for the id-assoc
# statement is 0 according to the default.

interface ppp0 {
        send ia-pd 0;
};

id-assoc pd {
        prefix-interface ne0 {
                sla-id 1;
        };
};
