.*
*.o
*.a
*.lo
*.la
*.d
*.so
stamp-h1
config.err
config.h
config.mak
libavcodec/libavcodec-uninstalled.pc
libavcodec/libavcodec.pc
libavcodec/libavcodec.so.52
libavcodec/libavcodec.ver
libavdevice/libavdevice-uninstalled.pc
libavdevice/libavdevice.pc
libavformat/libavformat-uninstalled.pc
libavformat/libavformat.pc
libavformat/libavformat.so.52
libavformat/libavformat.ver
libavutil/avconfig.h
libavutil/libavutil-uninstalled.pc
libavutil/libavutil.pc
libavutil/libavutil.so.50
libavutil/libavutil.ver
libswscale/libswscale-uninstalled.pc
libswscale/libswscale.pc
config.fate
libavfilter/libavfilter-uninstalled.pc
libavfilter/libavfilter.pc

