#
# general
#

.*.cmd
*~

#
# asuswrt
#

.config
.config.old
config_
mipsel-uclibc
config.log
config.status

#
# asuswrt test
#

libfoo_xref.txt
target.info
Makefile.2011-11-10
Makefile.org
Makefile.orig
Makefile_20111026
stamp-h1
