*.o
*.so
gui/Makefile
gui/tkpppoe
scripts/pppoe-connect
scripts/pppoe-init
scripts/pppoe-init-suse
scripts/pppoe-init-turbolinux
scripts/pppoe-setup
scripts/pppoe-start
scripts/pppoe-stop
src/Makefile
src/config.h
src/config.log
src/config.status
src/libevent/Makefile
src/plugin/
src/pppoe
src/pppoe-server
src/pppoe-sniff
src/pppoe-relay
