stamp-h1
config.log
*.o
*.lo
*.la
.deps
.libs
aclocal.m4
autom4te.cache
Makefile.in
Makefile
configure
config.h
config.status
config.guess
config.sub
depcomp
install-sh
ltmain.sh
m4/libtool.m4
missing
libtool
mkpkgng
pamgdb
bin/openpam_dump_policy/openpam_dump_policy
*.in
