*.o
*.a
*.so
*.lo
*.la
stamp-h1
.deps/
.libs/
config.h
Makefile
config.log
config.status
libtool
mpi/asm-syntax.h
mpi/mod-source-info.h
mpi/mpi-asm-defs.h
mpi/mpih-add1.c
mpi/mpih-lshift.c
mpi/mpih-mul1.c
mpi/mpih-mul2.c
mpi/mpih-mul3.c
mpi/mpih-rshift.c
mpi/mpih-sub1.c
mpi/sysdep.h
src/libgcrypt-config
src/versioninfo.rc
src/dumpsexp
src/hmac256
tests/ac
tests/ac-data
tests/ac-schemes
tests/aeswrap
tests/basic
tests/benchmark
tests/curves
tests/fips186-dsa
tests/fipsdrv
tests/hmac
tests/keygen
tests/keygrip
tests/mpitests
tests/pkcs1v2
tests/prime
tests/pubkey
tests/random
tests/register
tests/rsacvt
tests/t-kdf
tests/t-mpi-bit
tests/tsexp
tests/version
