*.o
*.a
*.so
*.lo
*.la
*.1
*.5
*.8
stamp-h1
.deps/
.libs/
config.h
Makefile
config.log
config.status
libtool
bin/ad/ad
bin/afppasswd/afppasswd
bin/cnid/cnid2_create
bin/misc/afpldaptest
bin/misc/fce
bin/misc/logger_test
bin/misc/netacnv
bin/uniconv/uniconv
config/pam/netatalk
contrib/macusers/macusers
contrib/shell_utils/apple_dump
contrib/shell_utils/asip-status.pl
distrib/config/netatalk-config
distrib/initscripts/netatalk.xml
distrib/initscripts/rc.bsd
distrib/initscripts/rc.debian
distrib/initscripts/rc.gentoo
distrib/initscripts/rc.netbsd
distrib/initscripts/rc.redhat
distrib/initscripts/rc.solaris
distrib/initscripts/rc.suse
distrib/initscripts/service.systemd
etc/afpd/afpd
etc/afpd/fce
etc/afpd/hash
etc/cnid_dbd/cnid_dbd
etc/cnid_dbd/cnid_metad
etc/cnid_dbd/dbd
etc/netatalk/netatalk
libevent/include/event2/event-config.h
libevent/libevent.pc
libevent/libevent_openssl.pc
libevent/libevent_pthreads.pc
libevent/sample/dns-example
libevent/sample/event-test
libevent/sample/hello-world
libevent/sample/http-server
libevent/sample/le-proxy
libevent/sample/signal-test
libevent/sample/time-test
libevent/test/bench
libevent/test/bench_cascade
libevent/test/bench_http
libevent/test/bench_httpclient
libevent/test/regress
libevent/test/rpcgen-attempted
libevent/test/test-changelist
libevent/test/test-eof
libevent/test/test-init
libevent/test/test-ratelim
libevent/test/test-time
libevent/test/test-weof
config.log-gp
etc/afpd/.goutputstream-E18JXW
etc/afpd/.goutputstream-QU86WW
etc/afpd/.goutputstream-V1K5WW
etc/afpd/Makefile-bp
config/afp.conf
libevent/autom4te.cache
doc/html.xsl
doc/man.xsl
doc/manual/manual.xml

