config.log
*.lo
*.o
*.la
examples/dict
examples/lzopack
Makefile
examples/overlap
examples/precomp
examples/precomp2
examples/simple
tests/align
tests/chksum
tests/Makefile
tests/promote
tests/sizes
.libs/
lzotest/lzotest
minilzo/testmini
.deps/
examples/.deps/
src/Makefile
config.h
libtool
