autom4te.cache
config.log
config.status
*.h
lib/charset.alias
lib/glthread/.dirstamp
lib/ref-add.sed
lib/ref-del.sed
lib/unistr/.dirstamp
lib/uniwidth/.dirstamp
po/Makefile.in
po/POTFILES
*.o
*.a
*Makefile
src/version.*
src/dd
*.deps
