.jqmWindow {
display: none;
position: fixed;
background: #888888;
padding-left:0px;
padding-right:2px;
}
.jqmOverlay { 
background-color: #FFF; 
}
* html .jqmWindow {
position: absolute;
top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');  
}
button.jqmClose {
background: none;
border: 0px solid #EAEAEB;
color: #000;
clear: right;
float: right;
padding: 0;
margin-top:5px;
margin-left:5px;
cursor: pointer;
font-size: 0.9em;
letter-spacing: 1px;
}
button.jqmClose:hover, 
button.jqmClose:active {
color: #FFF;
border: 0px solid #FFF;
}
#jqmTitle {
background: transparent;
color: #ffffff;
text-transform: capitalize;
height: 15px;
padding: 0px 5px 0px 5px;
vertical-align: middle;
font: bold 14px "宋体",Arial,sans-serif;
}
#jqmMsg {
background: #FF6666;
color: #ffffff;
text-transform: capitalize;
height: 15px;
padding: 5px 5px 0px 5px;
vertical-align: middle;
font: bold 14px "宋体",Arial,sans-serif;
display: none;
}
#jqmContent {
width: 100%;
height: 100%;
display: block;
clear: both;
margin:0px;
margin-top:0px;
background: #e8e8e8;
border: 1px solid #888888;
}